/****** Object:  Table [dbo].[TBL_MECHANIC_GROUPING]    Script Date: 22-06-2021 13:02:20 ******/
DROP TABLE IF EXISTS [dbo].[TBL_MECHANIC_GROUPING]
GO
/****** Object:  Table [dbo].[TBL_MECHANIC_GROUPING]    Script Date: 22-06-2021 13:02:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MECHANIC_GROUPING](
	[ID_MECHANIC_GROUPING] [int] IDENTITY(1,1) NOT NULL,
	[ID_MECHANIC_CONFIG_SETTINGS] [int] NULL,
	[ID_MEC_GROUP] [int] NULL
) ON [PRIMARY]
GO
