/****** Object:  Table [dbo].[TBL_MAS_ITEM_HEADER_RETURN]    Script Date: 11-03-2022 15:15:44 ******/
DROP TABLE IF EXISTS [dbo].[TBL_MAS_ITEM_HEADER_RETURN]
GO
/****** Object:  Table [dbo].[TBL_MAS_ITEM_HEADER_RETURN]    Script Date: 11-03-2022 15:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MAS_ITEM_HEADER_RETURN](
	[ID_RETURN_NUM] [int] IDENTITY(1,1) NOT NULL,
	[TOTAL_SALE_PRICE] [decimal](13, 2) NULL,
	[TOTAL_COST_PRICE] [decimal](13, 2) NULL,
	[RETURN_STATUS] [varchar](50) NULL,
	[ID_WO_PREFIX] [varchar](20) NULL,
	[ID_WO_NO] [varchar](50) NULL,
	[DT_RETURNED] [datetime] NULL,
	[DT_CREDITED] [datetime] NULL,
	[IS_CREDITED] [bit] NOT NULL,
	[DT_CREATED] [datetime] NOT NULL,
	[CREATED_BY] [varchar](20) NOT NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[DT_MODIFIED] [datetime] NULL,
	[ANNOTATION] [varchar](200) NULL,
 CONSTRAINT [PK_TBL_MAS_ITEM__HEADER_RETURN] PRIMARY KEY CLUSTERED 
(
	[ID_RETURN_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
