IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_WO_ORDER_STATUS]') AND type in (N'U'))
ALTER TABLE [dbo].[TBL_WO_ORDER_STATUS] DROP CONSTRAINT IF EXISTS [DF__TBL_WO_OR__FLG_U__651B35EE]
GO
/****** Object:  Table [dbo].[TBL_WO_ORDER_STATUS]    Script Date: 06-01-2021 18:34:35 ******/
DROP TABLE IF EXISTS [dbo].[TBL_WO_ORDER_STATUS]
GO
/****** Object:  Table [dbo].[TBL_WO_ORDER_STATUS]    Script Date: 06-01-2021 18:34:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_WO_ORDER_STATUS](
	[ID_ORDER_STATUS] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_STATUS_CODE] [varchar](10) NULL,
	[ORDER_STATUS_DESC] [varchar](50) NULL,
	[ORDER_STATUS_COLOR] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[DT_CREATED] [datetime] NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[DT_MODIFIED] [datetime] NULL,
	[FLG_USER_CREATED] [bit] NULL,
 CONSTRAINT [PK_TBL_WO_ORDER_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_WO_ORDER_STATUS] ADD  DEFAULT ((0)) FOR [FLG_USER_CREATED]
GO
