/****** Object:  Table [dbo].[TBL_APPOINTMENT_CONFIG_SETTINGS]    Script Date: 06-01-2021 18:43:41 ******/
DROP TABLE IF EXISTS [dbo].[TBL_APPOINTMENT_CONFIG_SETTINGS]
GO
/****** Object:  Table [dbo].[TBL_APPOINTMENT_CONFIG_SETTINGS]    Script Date: 06-01-2021 18:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_APPOINTMENT_CONFIG_SETTINGS](
	[ID_CONFIG_APPOINTMENT] [int] IDENTITY(1,1) NOT NULL,
	[LAST_APPOINTMENT_NUMBER] [int] NULL,
	[MINIMUM_APPOINTMENT_TIME] [int] NULL,
	[APPOINTMENT_START_TIME_HOUR] [varchar](20) NULL,
	[APPOINTMENT_START_TIME_MINUTES] [varchar](20) NULL,
	[APPOINTMENT_STOP_TIME_HOUR] [varchar](20) NULL,
	[APPOINTMENT_STOP_TIME_MINUTES] [varchar](20) NULL,
	[HISTORY_LIMIT] [int] NULL,
	[DISPLAY_SATSUN] [bit] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[DT_CREATED] [datetime] NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[DT_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_TBL_APPOINTMENT_CONFIG_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[ID_CONFIG_APPOINTMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
