IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_MECHANIC_CONFIG_SETTINGS]') AND type in (N'U'))
ALTER TABLE [dbo].[TBL_MECHANIC_CONFIG_SETTINGS] DROP CONSTRAINT IF EXISTS [FK_MECHANIC_CONFIG_SETTINGS]
GO
/****** Object:  Table [dbo].[TBL_MECHANIC_CONFIG_SETTINGS]    Script Date: 06-01-2021 18:49:57 ******/
DROP TABLE IF EXISTS [dbo].[TBL_MECHANIC_CONFIG_SETTINGS]
GO
/****** Object:  Table [dbo].[TBL_MECHANIC_CONFIG_SETTINGS]    Script Date: 06-01-2021 18:49:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MECHANIC_CONFIG_SETTINGS](
	[ID_MECHANIC_CONFIG_SETTINGS] [int] IDENTITY(1,1) NOT NULL,
	[MECHANIC_ID] [varchar](20) NOT NULL,
	[MECHANIC_NAME] [varchar](40) NULL,
	[ACTIVE_MEK] [bit] NULL,
	[PASSIVE_MEK] [bit] NULL,
	[ADMINISTRATION_MEK] [bit] NULL,
	[STANDARD_FROM_TIME] [datetime] NULL,
	[STANDARD_TO_TIME] [datetime] NULL,
	[MONDAY_FROM_TIME] [datetime] NULL,
	[MONDAY_TO_TIME] [datetime] NULL,
	[TUESDAY_FROM_TIME] [datetime] NULL,
	[TUESDAY_TO_TIME] [datetime] NULL,
	[WEDNESDAY_FROM_TIME] [datetime] NULL,
	[WEDNESDAY_TO_TIME] [datetime] NULL,
	[THURSDAY_FROM_TIME] [datetime] NULL,
	[THURSDAY_TO_TIME] [datetime] NULL,
	[FRIDAY_FROM_TIME] [datetime] NULL,
	[FRIDAY_TO_TIME] [datetime] NULL,
	[SATURDAY_FROM_TIME] [datetime] NULL,
	[SATURDAY_TO_TIME] [datetime] NULL,
	[SUNDAY_FROM_TIME] [datetime] NULL,
	[SUNDAY_TO_TIME] [datetime] NULL,
	[LUNCH_FROM_TIME] [datetime] NULL,
	[LUNCH_TO_TIME] [datetime] NULL,
	[ALT_STANDARD_FROM_TIME] [datetime] NULL,
	[ALT_STANDARD_TO_TIME] [datetime] NULL,
	[ALT_MONDAY_FROM_TIME] [datetime] NULL,
	[ALT_MONDAY_TO_TIME] [datetime] NULL,
	[ALT_TUESDAY_FROM_TIME] [datetime] NULL,
	[ALT_TUESDAY_TO_TIME] [datetime] NULL,
	[ALT_WEDNESDAY_FROM_TIME] [datetime] NULL,
	[ALT_WEDNESDAY_TO_TIME] [datetime] NULL,
	[ALT_THURSDAY_FROM_TIME] [datetime] NULL,
	[ALT_THURSDAY_TO_TIME] [datetime] NULL,
	[ALT_FRIDAY_FROM_TIME] [datetime] NULL,
	[ALT_FRIDAY_TO_TIME] [datetime] NULL,
	[ALT_SATURDAY_FROM_TIME] [datetime] NULL,
	[ALT_SATURDAY_TO_TIME] [datetime] NULL,
	[ALT_SUNDAY_FROM_TIME] [datetime] NULL,
	[ALT_SUNDAY_TO_TIME] [datetime] NULL,
	[ALT_LUNCH_FROM_TIME] [datetime] NULL,
	[ALT_LUNCH_TO_TIME] [datetime] NULL,
	[CREATED_BY] [varchar](30) NULL,
	[DT_CREATED] [datetime] NULL,
	[MODIFIED_BY] [varchar](30) NULL,
	[DT_MODIFIED] [datetime] NULL,
	[FLG_FLEX_TIME] [bit] NULL,
 CONSTRAINT [PK_MECHANIC_CONFIG_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[ID_MECHANIC_CONFIG_SETTINGS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_MECHANIC_CONFIG_SETTINGS]  WITH CHECK ADD  CONSTRAINT [FK_MECHANIC_CONFIG_SETTINGS] FOREIGN KEY([MECHANIC_ID])
REFERENCES [dbo].[TBL_MAS_USERS] ([ID_Login])
GO
ALTER TABLE [dbo].[TBL_MECHANIC_CONFIG_SETTINGS] CHECK CONSTRAINT [FK_MECHANIC_CONFIG_SETTINGS]
GO
