/****** Object:  Table [dbo].[TBL_APPOINTMENT_COLOR]    Script Date: 20-04-2021 17:00:31 ******/
DROP TABLE IF EXISTS [dbo].[TBL_APPOINTMENT_COLOR]
GO
/****** Object:  Table [dbo].[TBL_APPOINTMENT_COLOR]    Script Date: 20-04-2021 17:00:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_APPOINTMENT_COLOR](
	[ID_APPOINTMENT_COLOR] [int] IDENTITY(1,1) NOT NULL,
	[APPOINTMENT_COLOR_CODE] [varchar](10) NULL,
	[APPOINTMENT_COLOR__NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_APPOINTMENT_COLOR] PRIMARY KEY CLUSTERED 
(
	[ID_APPOINTMENT_COLOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
