/****** Object:  Table [dbo].[TBL_MECHANIC_LEAVE_TYPES]    Script Date: 06-01-2021 18:45:18 ******/
DROP TABLE IF EXISTS [dbo].[TBL_MECHANIC_LEAVE_TYPES]
GO
/****** Object:  Table [dbo].[TBL_MECHANIC_LEAVE_TYPES]    Script Date: 06-01-2021 18:45:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MECHANIC_LEAVE_TYPES](
	[ID_LEAVE_TYPES] [int] IDENTITY(1,1) NOT NULL,
	[LEAVE_CODE] [varchar](20) NOT NULL,
	[LEAVE_DESCRIPTION] [varchar](50) NOT NULL,
	[APPROVE_CODE] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](20) NULL,
	[DT_CREATED] [datetime] NULL,
	[MODIFIED_BY] [varchar](20) NULL,
	[DT_MODIFIED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LEAVE_TYPES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
