IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_MECHANIC_SETTINGS]') AND type in (N'U'))
ALTER TABLE [dbo].[TBL_MECHANIC_SETTINGS] DROP CONSTRAINT IF EXISTS [FK_MECHANIC_SETTINGS]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TBL_MECHANIC_SETTINGS]') AND type in (N'U'))
ALTER TABLE [dbo].[TBL_MECHANIC_SETTINGS] DROP CONSTRAINT IF EXISTS [FK_MEC_LEAVE_TYPES]
GO
/****** Object:  Table [dbo].[TBL_MECHANIC_SETTINGS]    Script Date: 06-01-2021 18:47:38 ******/
DROP TABLE IF EXISTS [dbo].[TBL_MECHANIC_SETTINGS]
GO
/****** Object:  Table [dbo].[TBL_MECHANIC_SETTINGS]    Script Date: 06-01-2021 18:47:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MECHANIC_SETTINGS](
	[ID_MECHANIC_SETTINGS] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOGIN] [varchar](20) NULL,
	[MECHANIC_NAME] [varchar](30) NULL,
	[FROM_DATE] [datetime] NULL,
	[FROM_TIME] [datetime] NULL,
	[TO_DATE] [datetime] NULL,
	[TO_TIME] [datetime] NULL,
	[LEAVE_CODE] [varchar](20) NULL,
	[LEAVE_REASON] [varchar](50) NULL,
	[COMMENTS] [varchar](60) NULL,
	[CREATED_BY] [varchar](30) NULL,
	[DT_CREATED] [datetime] NULL,
	[MODIFIED_BY] [varchar](30) NULL,
	[DT_MODIFIED] [datetime] NULL,
	[ID_LEAVE_TYPES] [int] NULL,
 CONSTRAINT [PK_MECHANIC_SETTINGS] PRIMARY KEY CLUSTERED 
(
	[ID_MECHANIC_SETTINGS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_MECHANIC_SETTINGS]  WITH CHECK ADD  CONSTRAINT [FK_MEC_LEAVE_TYPES] FOREIGN KEY([ID_LEAVE_TYPES])
REFERENCES [dbo].[TBL_MECHANIC_LEAVE_TYPES] ([ID_LEAVE_TYPES])
GO
ALTER TABLE [dbo].[TBL_MECHANIC_SETTINGS] CHECK CONSTRAINT [FK_MEC_LEAVE_TYPES]
GO
ALTER TABLE [dbo].[TBL_MECHANIC_SETTINGS]  WITH CHECK ADD  CONSTRAINT [FK_MECHANIC_SETTINGS] FOREIGN KEY([ID_LOGIN])
REFERENCES [dbo].[TBL_MAS_USERS] ([ID_Login])
GO
ALTER TABLE [dbo].[TBL_MECHANIC_SETTINGS] CHECK CONSTRAINT [FK_MECHANIC_SETTINGS]
GO
