/****** Object:  StoredProcedure [dbo].[USP_SPARES_CATEGORYGLOBAL_FETCH]    Script Date: 08-09-2021 16:16:42 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPARES_CATEGORYGLOBAL_FETCH]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPARES_CATEGORYGLOBAL_FETCH]    Script Date: 08-09-2021 16:16:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_SPARES_CATEGORYGLOBAL_FETCH]
@IV_SUPP_CURRENTNO AS VARCHAR(50)
AS
BEGIN
	 
	BEGIN
		SELECT DISTINCT	GSP.ID_ITEM_CATG,SPCAT.CATG_DESC
		FROM			TBL_SPR_GLOBALSPAREPART GSP
		INNER JOIN		TBL_MAS_ITEM_CATG SPCAT
		ON				GSP.ID_ITEM_CATG = SPCAT.ID_ITEM_CATG
		--AND				GSP.ID_MAKE=SPCAT.ID_MAKE
		AND				GSP.SUPP_CURRENTNO=SPCAT.SUPP_CURRENTNO
		WHERE			SPCAT.CATG_DESC IS NOT NULL
		AND				SPCAT.CATG_DESC != ''	
		AND				GSP.SUPP_CURRENTNO = @IV_SUPP_CURRENTNO		
		ORDER BY		SPCAT.CATG_DESC ASC
	END



END
GO
