/****** Object:  StoredProcedure [dbo].[USP_MODIFY_WO_HEAD]    Script Date: 27-01-2022 15:56:26 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_MODIFY_WO_HEAD]
GO
/****** Object:  StoredProcedure [dbo].[USP_MODIFY_WO_HEAD]    Script Date: 27-01-2022 15:56:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Anuj Dahal
-- Create date: 17-01-2022
-- Description:	To Modify Bargain API details in TBL_WO_HEADER table
--				To Modify XtraScheme API details  in TBL_WO_HEADER table
-- =============================================
CREATE PROCEDURE [dbo].[USP_MODIFY_WO_HEAD] 
	@MODE VARCHAR(20),
	@ID_WO_NO  VARCHAR(10),  
	@ID_PREFIX VARCHAR(3),
	@USER_ID   VARCHAR(20),
	@ID_BARGAIN varchar(200) NULL,
	@IS_BARGAIN_ACCEPTED bit NULL,
	@OV_RETVALUE   VARCHAR(15)   OUTPUT 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @MODE='BARGAINID'

	BEGIN
		UPDATE TBL_WO_HEADER 
		SET 
		ID_BARGAIN = @ID_BARGAIN ,
		MODIFIED_BY = @USER_ID ,
		DT_MODIFIED = GETDATE()
		WHERE ID_WO_NO = @ID_WO_NO AND ID_WO_PREFIX = @ID_PREFIX

		SET @OV_RETVALUE = 'UPDFLG'
	END

	ELSE IF @MODE='BARGAINFLAG'
	BEGIN
		UPDATE TBL_WO_HEADER 
		SET IS_BARGAIN_ACCEPTED = @IS_BARGAIN_ACCEPTED ,
		MODIFIED_BY=@USER_ID ,
		DT_MODIFIED=GETDATE()
		WHERE ID_WO_NO = @ID_WO_NO AND ID_WO_PREFIX = @ID_PREFIX

		SET @OV_RETVALUE = 'UPDFLG'
	END

	ELSE IF @MODE='XTRAID'
	BEGIN
		UPDATE TBL_WO_HEADER 
		SET ID_XTRASCHEME = @ID_BARGAIN ,
		MODIFIED_BY = @USER_ID ,
		DT_MODIFIED=GETDATE()
		WHERE ID_WO_NO = @ID_WO_NO AND ID_WO_PREFIX = @ID_PREFIX

		SET @OV_RETVALUE = 'UPDFLG'
	END
	ELSE IF @MODE='XTRAFLAG'
	BEGIN
		UPDATE TBL_WO_HEADER 
		SET IS_XTRASCHEME_ACCEPTED = @IS_BARGAIN_ACCEPTED ,
		MODIFIED_BY=@USER_ID ,DT_MODIFIED=GETDATE()
		WHERE ID_WO_NO = @ID_WO_NO AND ID_WO_PREFIX = @ID_PREFIX

		SET @OV_RETVALUE = 'UPDFLG'
	END
	ELSE
		SET @OV_RETVALUE = @@ERROR
END
GO
