/****** Object:  StoredProcedure [dbo].[USP_FETCH_APPOINTMENTS]    Script Date: 20-05-2021 10:53:05 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_APPOINTMENTS]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_APPOINTMENTS]    Script Date: 20-05-2021 10:53:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	To Fetch all the Appointments
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_APPOINTMENTS] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @LABEL_ID int ;
	 
	 SELECT @LABEL_ID= ID_ORDER_STATUS from TBL_WO_ORDER_STATUS where ORDER_STATUS_CODE='NA'
    -- Insert statements for procedure here
	SELECT IDENTITY(INT, 1, 1) AS APPOINTMENT_ID,ISNULL(APTDTL.START_DATE,APTHDR.START_DATE) AS START_DATE,APTHDR.SUBJECT,
	ISNULL(APTDTL.END_DATE,APTHDR.END_DATE) AS END_DATE, APTDTL.COLOR_ID AS LABEL,APTHDR.STATUS,APTDTL.RESOURCE_ID,APTHDR.CUSTOMER_FIRST_NAME,
	APTHDR.CUSTOMER_MIDDLE_NAME,APTHDR.CUSTOMER_LAST_NAME,APTDTL.RESOURCE_IDS,APTDTL.ID_APPOINTMENT_DETAILS AS ID_APT_DTL,
	APTDTL.APPOINTMENT_ID  AS ID_APT_HDR,APTDTL.START_TIME ,APTDTL.END_TIME ,APTHDR.CUSTOMER_NUMBER,APTHDR.VEHICLE_CH_NO,
	APTHDR.VEHICLE_REF_NO,APTHDR.VEHICLE_REG_NO,APTHDR.CUSTOMER_FIRM,APTHDR.ID_VEH_SEQ_WO,APTHDR.WO_VEH_MAK_MOD_MAP,APTHDR.WO_VEH_MOD,APTDTL.RESERVATION AS DESCRIPTION,
	--APTHDR.ID_WO_NO,APTDTL.ID_JOB,APTHDR.ID_WO_PREFIX 
	APTDTL.ID_WO_NO,APTDTL.ID_JOB,APTDTL.ID_WO_PREFIX 
	,APTDTL.IS_OVER_TIME, isnull(APTDTL.JOB_STATUS,'') JOB_STATUS,APTDTL.APT_SERIAL_NO,isnull(APTDTL.APT_SAPRE_PART_STATUS,1) AS APT_SAPRE_PART_STATUS,
	CASE 
		WHEN APTHDR.ID_WO_NO IS NOT NULL AND  APTDTL.ID_WO_NO IS NULL THEN 1
		ELSE  0
		END AS 'IS_ORDER'
	--	,
	--CASE 
	--	WHEN APTHDR.ID_WO_NO IS NOT NULL AND APTDTL.ID_WO_NO IS NULL THEN @LABEL_ID
	--	ELSE  APTHDR.LABEL
	--	END AS 'ALT_LABEL'
		
	INTO #TEMPDATA 
	FROM 
	TBL_APPOINTMENTS_HEADER APTHDR INNER JOIN 
	TBL_APPOINTMENT_DETAILS APTDTL  ON APTHDR.APPOINTMENT_ID = APTDTL.APPOINTMENT_ID 
	--APTHDR.CUSTOMER_FIRST_NAME+' '+APTHDR.CUSTOMER_MIDDLE_NAME+' '+APTHDR.CUSTOMER_LAST_NAME+ CHAR(13)+CHAR(10) +APTHDR.ID_VEH_SEQ_WO As DESCRIPTION
	SELECT * FROM #TEMPDATA where isnull(JOB_STATUS,'') NOT IN ('DEL','ONHOLD');
	DROP TABLE #TEMPDATA;
END
GO
