/****** Object:  StoredProcedure [dbo].[USP_DELETE_APPOINTMENT_DETAILS_EXT]    Script Date: 04-08-2022 16:25:01 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_DELETE_APPOINTMENT_DETAILS_EXT]
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_APPOINTMENT_DETAILS_EXT]    Script Date: 04-08-2022 16:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Anuj
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_DELETE_APPOINTMENT_DETAILS_EXT]
      @ID_APPOINTMENT_DETAILS INT = NULL
	  ,@APPOINTMENT_ID int = NULL
	  ,@MODIFIED_BY varchar(30)= NULL
	  ,@OV_RETVALUE VARCHAR(20) OUTPUT     
AS
BEGIN
        UPDATE TBL_APPOINTMENT_DETAILS SET JOB_STATUS ='DEL' ,MODIFIED_BY=@MODIFIED_BY,DT_MODIFIED=GETDATE()
        WHERE ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS

		DECLARE @ROWCOUNT int
		SELECT @ROWCOUNT = COUNT(*) FROM TBL_APPOINTMENT_DETAILS WHERE APPOINTMENT_ID =@APPOINTMENT_ID AND JOB_STATUS NOT IN('DEL')

		IF @ROWCOUNT= 0
			BEGIN
				UPDATE TBL_APPOINTMENTS_HEADER SET WO_STATUS ='DEL' ,DT_MODIFIED=GETDATE(),MODIFIED_BY=@MODIFIED_BY
				WHERE APPOINTMENT_ID = @APPOINTMENT_ID
			END

		SET @OV_RETVALUE = @@ERROR     
		SELECT @OV_RETVALUE

		IF @@ERROR = 0
		BEGIN
			SET @OV_RETVALUE = 'DELETED'
		END
		ELSE
		BEGIN
			SET @OV_RETVALUE = 'ERROR'
		END
END
GO
