/****** Object:  StoredProcedure [dbo].[USP_MODIFY_APPOINTMENT_DETAILS]    Script Date: 22-07-2021 16:20:19 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_MODIFY_APPOINTMENT_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_MODIFY_APPOINTMENT_DETAILS]    Script Date: 22-07-2021 16:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_MODIFY_APPOINTMENT_DETAILS]
	@START_DATE datetime,
	@END_DATE datetime,
	@ID_APPOINTMENT_DETAILS int,
	@RESOURCE_ID varchar(30),
	@RESOURCE_IDs varchar(max),
	@APT_SAPRE_PART_STATUS int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ResourceIds NVARCHAR(max)
	DECLARE @WORKFROM DATETIME
	DECLARE @WORKTO DATETIME
	DECLARE @LUNCHFROM DATETIME
	DECLARE @LUNCHTO DATETIME
	DECLARE @ISOVERTIME BIT =0
	DECLARE @DAYOFWEEK VARCHAR(MAX)
	DECLARE @STARTTIME AS TIME,@ENDTIME AS TIME,@WORKFROMTIME AS TIME,@WORKTOTIME AS TIME , @LUNCHFROMTIME AS TIME , @LUNCHTOTIME AS TIME

	DECLARE @APPOINTMENT_ID int = NULL
	DECLARE @TOT_JOB int
	DECLARE @ID_JOB int
	DECLARE @ID_WO_NO Varchar(10)
	DECLARE @ID_WO_PREFIX Varchar(3)
	DECLARE @MECH_NAME Varchar(40)

	SELECT @APPOINTMENT_ID = APPOINTMENT_ID FROM TBL_APPOINTMENT_DETAILS WHERE ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS 

	SELECT @ID_JOB =ID_JOB FROM TBL_APPOINTMENT_DETAILS WHERE APPOINTMENT_ID = @APPOINTMENT_ID 
		AND RESOURCE_ID=@RESOURCE_ID AND CAST(@START_DATE AS DATE)=CAST(START_DATE AS DATE) AND JOB_STATUS <>'DEL' and ID_APPOINTMENT_DETAILS <>@ID_APPOINTMENT_DETAILS

	SELECT @TOT_JOB=MAX(ISNULL(ID_JOB,0)) FROM TBL_APPOINTMENT_DETAILS WHERE APPOINTMENT_ID = @APPOINTMENT_ID AND JOB_STATUS <>'DEL' and ID_APPOINTMENT_DETAILS <>@ID_APPOINTMENT_DETAILS

	IF  (ISNULL(@ID_JOB,0)=0)
		BEGIN
			SET @ID_JOB=ISNULL(@TOT_JOB,0)+1
		END 

	BEGIN							
			SET @dayOfWeek=DATENAME(WEEKDAY, @START_DATE)
							
			IF @dayOfWeek='Sunday'
					Select @workFrom=SUNDAY_FROM_TIME,@workTo=SUNDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Monday'
					Select @workFrom=MONDAY_FROM_TIME,@workTo=MONDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Tuesday'
					Select @workFrom=TUESDAY_FROM_TIME,@workTo=TUESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Wednesday'
					Select @workFrom=WEDNESDAY_FROM_TIME,@workTo=WEDNESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Thursday'
					Select @workFrom=THURSDAY_FROM_TIME,@workTo=THURSDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Friday'
					Select @workFrom=FRIDAY_FROM_TIME,@workTo=FRIDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Saturday'
					Select @workFrom=SATURDAY_FROM_TIME,@workTo=SATURDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID



			SELECT @STARTTIME = CONVERT(VARCHAR(5), @START_DATE, 108) , @WORKFROMTIME=CONVERT(VARCHAR(5), @WORKFROM, 108), 
			@ENDTIME = CONVERT(VARCHAR(5), @END_DATE, 108) , @WORKTOTIME = CONVERT(VARCHAR(5), @WORKTO, 108) , @LUNCHFROMTIME = CONVERT(VARCHAR(5), @LUNCHFROM, 108),	
			@LUNCHTOTIME = CONVERT(VARCHAR(5), @LUNCHTO, 108)

			SELECT CONVERT(VARCHAR(5), @STARTTIME, 108) STARTTIME,CONVERT(VARCHAR(5), @ENDTIME, 108) ENDTIME,
			CONVERT(VARCHAR(5), @WORKFROMTIME, 108) WORKFROMTIME ,CONVERT(VARCHAR(5), @WORKTOTIME, 108) WORKTOTIME,
			CONVERT(VARCHAR(5), @LUNCHFROMTIME, 108)  LUNCHFROMTIME, CONVERT(VARCHAR(5), @LUNCHTOTIME, 108) LUNCHTOTIME

			IF (CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @workFromTime, 108)) OR (CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @workToTime, 108))
			BEGIN							
				--select 1
				SELECT @isOverTime=1 
			END
			--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) <= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN
			--	--select 2
			--	SELECT @isOverTime=1 
			--END
			--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN
			--	--select 3
			--	SELECT @isOverTime=1 
			--END
			--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN
			--	--select 4
			--	SELECT @isOverTime=1 
			--END
			--ELSE IF CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN				
			--	--select 5
			--	SELECT @isOverTime=1 
			--END
	
		END

    -- Insert statements for procedure here
	UPDATE TBL_APPOINTMENT_DETAILS
    SET 
	START_DATE = @START_DATE,
	END_DATE = @END_DATE,
	START_TIME = @START_DATE,
	END_TIME = @END_DATE,
	RESOURCE_ID = @RESOURCE_ID,
	RESOURCE_IDs = @RESOURCE_IDs ,
	IS_OVER_TIME = @isOverTime,
	DT_MODIFIED = GETDATE(),
	ID_JOB = @ID_JOB,
	APT_SAPRE_PART_STATUS=@APT_SAPRE_PART_STATUS
    WHERE ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS

	-- Mechanic Column Order Changes
		SELECT @ID_WO_NO = ISNULL(ID_WO_NO,''),@ID_WO_PREFIX = ISNULL(ID_WO_PREFIX,'') FROM TBL_APPOINTMENT_DETAILS WHERE APPOINTMENT_ID = @APPOINTMENT_ID AND ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS

	IF EXISTS (SELECT * FROM TBL_WO_HEADER WHERE ID_WO_NO = @ID_WO_NO and ID_WO_PREFIX = @ID_WO_PREFIX)
	BEGIN

		SELECT @MECH_NAME = First_Name +' '+ Last_Name FROM TBL_MAS_USERS WHERE ID_LOGIN = @RESOURCE_ID

		UPDATE TBL_WO_HEADER 
		SET MechId = @RESOURCE_ID , MechName = @MECH_NAME
		WHERE ID_WO_NO = @ID_WO_NO and ID_WO_PREFIX = @ID_WO_PREFIX
	END

	IF(@ID_WO_NO <> '')
	BEGIN
		IF EXISTS (SELECT * FROM TBL_WO_HEADER where ID_WO_NO=@ID_WO_NO and ID_WO_PREFIX=@ID_WO_PREFIX )
		UPDATE TBL_WO_HEADER SET ID_SPARE_STATUS=@APT_SAPRE_PART_STATUS where ID_WO_NO=@ID_WO_NO and ID_WO_PREFIX=@ID_WO_PREFIX
	END

	

END
GO
