/****** Object:  StoredProcedure [dbo].[USP_DELETE_GLOBALSPAREPART_NEW]    Script Date: 20-10-2021 16:30:14 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_DELETE_GLOBALSPAREPART_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETE_GLOBALSPAREPART_NEW]    Script Date: 20-10-2021 16:30:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[USP_DELETE_GLOBALSPAREPART_NEW]
 @ID_SUPPLIER			VARCHAR(30),
 @SUPP_CURRENTNO		VARCHAR(10),   
 @OV_RETVALUE			VARCHAR(20) OUTPUT  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS(SELECT * FROM TBL_SPR_GLOBALSPAREPART WHERE SUPP_CURRENTNO = @SUPP_CURRENTNO and ID_MAKE = @SUPP_CURRENTNO )
	BEGIN
		DELETE 
		FROM TBL_SPR_GLOBALSPAREPART
		WHERE SUPP_CURRENTNO = @SUPP_CURRENTNO AND
		ID_MAKE = @SUPP_CURRENTNO
		
		SET @OV_RETVALUE ='DELETED'

	END
	ELSE
	BEGIN
		SET @OV_RETVALUE='SPARE_DOESNOTEXIST'
	END	


END
GO
