/****** Object:  StoredProcedure [dbo].[USP_FETCH_VEHICLE_DETAILS]    Script Date: 11-08-2022 16:37:11 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_VEHICLE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_VEHICLE_DETAILS]    Script Date: 11-08-2022 16:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	To fetch vehicle details
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_VEHICLE_DETAILS]
@VEH_SEQ INT,
@VEH_REF_NO VARCHAR(20) =NULL,
@VEH_REG_NO VARCHAR(20) =NULL
AS

DECLARE @ID_VEH_SEQ as INT
DECLARE @ID_VEH_SEQ_COUNT as INT
DECLARE @VEH_REG_NO_COUNT as INT

IF @VEH_REF_NO IS NOT NULL --SEARCH FOR REFNO
	SET @ID_VEH_SEQ_COUNT = (SELECT COUNT(VEH_INTERN_NO) FROM TBL_MAS_VEHICLE WHERE VEH_INTERN_NO = @VEH_REF_NO)
ELSE IF @VEH_REG_NO IS NOT NULL --SEARCH FOR REGNO
	SET @ID_VEH_SEQ_COUNT = (SELECT COUNT(VEH_REG_NO) FROM TBL_MAS_VEHICLE WHERE VEH_REG_NO = @VEH_REG_NO)

--SET @ID_VEH_SEQ_COUNT = (SELECT COUNT(ID_VEH_SEQ) FROM TBL_MAS_VEHICLE WHERE ID_VEH_SEQ = @VEH_SEQ)
--SET @VEH_REG_NO_COUNT = (SELECT COUNT(VEH_REG_NO) FROM TBL_MAS_VEHICLE WHERE VEH_REG_NO = @VEH_REG_NO)

IF @ID_VEH_SEQ_COUNT > 0 AND @VEH_REF_NO IS NOT NULL
	SET @ID_VEH_SEQ = (SELECT ID_VEH_SEQ FROM TBL_MAS_VEHICLE WHERE VEH_INTERN_NO = @VEH_REF_NO)
ELSE IF @ID_VEH_SEQ_COUNT > 0 AND @VEH_REG_NO IS NOT NULL
	SET @ID_VEH_SEQ = (SELECT TOP 1 ID_VEH_SEQ  FROM TBL_MAS_VEHICLE WHERE VEH_REG_NO = @VEH_REG_NO ORDER BY ID_VEH_SEQ DESC)
ELSE IF @VEH_REF_NO IS NULL AND @VEH_REF_NO IS NULL
	SET @ID_VEH_SEQ = @VEH_SEQ

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT 
ID_VEH_SEQ,
VEH_REG_NO,
VEH_INTERN_NO,
VEH_VIN,
ID_MAKE_VEH,
ID_MODEL_VEH,
VEH_TYPE,
DT_VEH_ERGN,
VEH_MILEAGE,
DT_VEH_MIL_REGN,
VEH_HRS,
DT_VEH_HRS_ERGN,
ID_MODEL_RP,
VEH_MDL_YEAR,
ID_GROUP_VEH,
ID_CUSTOMER_VEH,
VEH_DRIVER,
VEH_MOBILE,
VEH_PHONE1,
VEH_DRV_IDEMIAL,
VEH_FLG_SERVICE_PLAN,
VEH_FLG_ADDON,
ID_SER_TYP,
ID_ADDON_LOCDEPT,
VEH_ANNOT,
ID_VAT_CD,
CERATED_BY,
DT_CREATED,
MODIFIED_BY,
DT_MODIFIED,
COST_PRICE,
SELL_PRICE,
VA_ACC_CODE,
PICK,
VAN_NUM,
VEH_REFNO,
VEH_NEW_USED,
VEH_STATUS,
VEH_MODEL_TYPE,
VEH_REGYEAR,
VEH_REG_DATE_NO,
VEH_LAST_REGDATE,
VEH_DEREG_DATE,
VEH_CATEGORY,
VEH_MACHINE_W_HOURS,
VEH_COLOR,
VEH_WARRANTY_CODE,
VEH_NET_WEIGHT,
VEH_TOT_WEIGHT,
VEH_PROJECT_NO,
VEH_LAST_CONTACT_DATE,
VEH_PRACTICAL_LOAD,
VEH_MAX_ROOF_LOAD,
VEH_EARLIER_REGNO_1,
VEH_EARLIER_REGNO_2,
VEH_EARLIER_REGNO_3,
VEH_EARLIER_REGNO_4,
VEH_NOTE,
VEH_MAKE_CODE,
VEH_RICAMBI_NO,
VEH_ENGINE_NO,
VEH_FUEL_CODE,
VEH_FUEL_CARD,
VEH_GEAR_BOX,
VEH_WAREHOUSE,
VEH_KEYNO,
VEH_DOOR_KEYNO,
VEH_CONTROL_FORM,
VEH_INTEROR_CODE,
VEH_PURCHASE_NO,
VEH_ADDON_GROUP,
DT_VEH_EXPECTED_IN,
VEH_TIRES,
VEH_SERVICE_CATEGORY,
VEH_NO_APPROVAL_NO,
VEH_EU_APPROVAL_NO,
VEH_PRODUCT_NO,
VEH_EL_CODE,
DT_VEH_TAKEN_IN,
VEH_TAKEN_IN_MILEAGE,
DT_VEH_DELIVERY,
VEH_DELIVERY_MILEAGE,
DT_VEH_SERVICE,
VEH_SERVICE_MILEAGE,
DT_VEH_CALL_IN,
VEH_CALL_IN_MILEAGE,
DT_VEH_CLEANED,
VEH_TECHDOC_NO,
VEH_LENGTH,
VEH_WIDTH,
VEH_NOISE,
VEH_EFFECT_KW,
VEH_PISTON_DISPLACEMENT,
VEH_ROUNDS_PER_MIN,
VEH_USED_IMPORTED,       
VEH_PRESSURE_MECH_BRAKES,
VEH_TOWBAR,              
VEH_SERVICE_BOOK,
DT_LAST_PKK_APPROVED,    
DT_NEXT_PKK,             
DT_LAST_PKK_INVOICED,   
VEH_CALL_IN_SERVICE,     
VEH_CALL_IN_MONTH,       
VEH_CALL_IN_SERVICE_MILEAGE,      
VEH_DO_NOT_CALL_PKK,     
VEH_DEVIATIONS_PKK,     
VEH_YEARLY_MILAGE,       
VEH_RADIO_CODE,          
VEH_START_IMMOBILIZER,   
VEH_QTY_KEYS,            
VEH_KEYTAG_NO,
VEH_SALESPRICE_NET,		
VEH_SALARY,		
VEH_SALES_EQUIPMENT,		
VEH_REG_COSTS,		
VEH_DISCOUNT,		
VEH_NET_SALESPRICE,		
VEH_FIX_COST,		
VEH_ASSIST_SALE,		
VEH_COST_AFTER_SALE,		
VEH_CONTRIBUTION_TODAY,		
VEH_SALESPRICE_GROSS,		
VEH_REG_FEE,		
VEH_VAT,	
VEH_TOTAL_AMOUNT,		
VEH_WRECKING_AMOUNT,		
VEH_YEARLY_FEE,		
VEH_INSURANCE,		
VEH_COSTPRICE_NET,		
VEH_INSURANCE_BONUS,	
VEH_COST_SALE,	
VEH_COST_BEFORE_SALE,		
VEH_SALES_PROVISION,	
VEH_COMMIT_DAYS,	
VEH_ADDED_INTERESTS,	
VEH_COST_EQUIPMENT,
VEH_TOTAL_COST,
VEH_CREDITNOTE_NO,
DT_CREDITNOTE,
VEH_INVOICE_NO,
DT_INVOICE,
DT_REBUY,
VEH_REBUY_PRICE,
VEH_COST_PER_KM,
VEH_TURNOVER,
VEH_PROGRESS,
VEH_AXLE1,
VEH_AXLE2,
VEH_AXLE3,
VEH_AXLE4,
VEH_AXLE5,
VEH_AXLE6,
VEH_AXLE7,
VEH_AXLE8,
VEH_TRAILER_DESC,
VEH_STD_TIRE_FRONT,
VEH_STD_TIRE_BACK,
VEH_MINLI_FRONT,
VEH_MINLI_BACK,
VEH_MIN_INPRESS_FRONT,
VEH_MIN_INPRESS_BACK,
VEH_STD_RIM_FRONT,
VEH_STD_RIM_BACK,
VEH_MIN_SPEED_FRONT,
VEH_MIN_SPEED_BACK,
VEH_MAX_TRACK_FRONT,
VEH_MAX_TRACK_BACK,
VEH_ALLOWABLE_WEIGHT_FRONT,
VEH_ALLOWABLE_WEIGHT_BACK,
VEH_QTY_AXLES,
VEH_OPERATIVE_AXLES,
VEH_DRIVE_WHEEL,
VEH_TRAILER_WEIGHT_W_BRAKES,
VEH_TRAILER_WEIGHT_WO_BRAKES,
VEH_MAX_LOAD_TOWBAR,
VEH_LENGTH_TO_TOWBAR,
VEH_TOTAL_TRAILER_WEIGHT,
VEH_SEATS,
DT_VALID_FROM,
VEH_EU_VERSION,
VEH_EU_VARIANT,
VEH_EURONORM,
VEH_CO2_EMISSION,
VEH_MAKE_PARTICLE_FILTER,
VEH_CHASSI,
VEH_IDENTITY,
VEH_CERTIFICATE,
VEH_ANNOTATIONS,
ISNULL(OWNER_CUST_ID,'') AS OWNER_CUST_ID,
ISNULL(BUYER_CUST_ID,'') AS BUYER_CUST_ID,
ISNULL(LEASING_CUST_ID,'') AS LEASING_CUST_ID,
ISNULL(DRIVER_CUST_ID,'') AS DRIVER_CUST_ID,

--Newly Added 02-08-2022
DT_VEH_PKK,
DT_VEH_PKK_AFTER,
DT_VEH_PER_SERVICE,
DT_VEH_RENTAL_CAR,
DT_VEH_MOIST_CTRL,
DT_VEH_TECTYL

 FROM TBL_MAS_VEHICLE 
 WHERE ID_VEH_SEQ = @ID_VEH_SEQ
END
GO
