/****** Object:  StoredProcedure [dbo].[USP_WO_LOAD_SPARES_LIST]    Script Date: 25-11-2021 12:27:26 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_WO_LOAD_SPARES_LIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_WO_LOAD_SPARES_LIST]    Script Date: 25-11-2021 12:27:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*************************************** Application: MSG *************************************************************            
* Module : New Work Order           
* File name : USP_WO_LOAD_SPARES_LIST          
* Purpose : To load all the spares based on given criteria in pop-up          
* Author : M.Thiyagarajan,Swapnil Roy (modified USP_WO_LOAD_SPARES)  
* Date  : 27.10.2006 (USP_WO_LOAD_SPARES), 3.11.2016 (USP_WO_LOAD_SPARES_LIST)          
*********************************************************************************************************************/            
/*********************************************************************************************************************              
I/P : -- Input Parameters            
O/P : -- Output Parameters            
Error Code            
Description            
 INT.VerNO : NOV21.0             
********************************************************************************************************************/            
--'*********************************************************************************'*********************************              
--'* Modified History :                 
--'* S.No  RFC No/Bug ID   Date        Author             Description               
--*#0001#     3010,3142    12/07/07    M.Thiyagarajan    Discount calculation has added          
--'    Bug #3112     14/Jul/07          Dhanu                    Fixed            
--'*********************************************************************************'*********************************              
          
CREATE  PROC [dbo].[USP_WO_LOAD_SPARES_LIST]           
(           
 @iv_ItemDesc AS varchar(100),          
 @IV_ID_CUST  VARCHAR(10) ,              
 @IV_ID_VEH  VARCHAR(10) ,              
 @IV_USERID  VARCHAR(20),  
 @SP_MAKE XML = '<ROOT><MAKE><ID_MAKE>20001</ID_MAKE></MAKE></ROOT>',  --removed from the page    '<ROOT><MAKE><ID_MAKE></ID_MAKE></MAKE></ROOT>'
 @SP_SUPPLIER XML = '<ROOT><SUPPLIER><ID_SUPPLIER>697</ID_SUPPLIER></SUPPLIER></ROOT>',  
 @SP_LOCATION XML = '<ROOT><LOCATION><LOC>Lager</LOC></LOCATION></ROOT>',  
 @StockItem bit,   
 @flg_stockitem_status bit,  
 @flg_nonstockitem_status bit  
)          
AS            
BEGIN           
--ADDED VMSSANTHOSH 09-APR-2008        
--DEFAULT WAREHOUSE        
DECLARE @WAREHOUSEID INT   
DECLARE @DEPTID INT   
DECLARE @SUBID INT   
DECLARE @USE_ALL_SPARE_SRCH VARCHAR(10)      
   
 /*EXTRACT MAKE, SUPPLIER & LOCATION*/  
 DECLARE @HDOCMAKE INT      
 EXEC SP_XML_PREPAREDOCUMENT @HDOCMAKE OUTPUT, @SP_MAKE      
      
 DECLARE @TABLE_MAKE_LIST TABLE      
 (      
  ROWNUM INT,   
  ID_MAKE VARCHAR(10)     
 )        
 INSERT INTO @TABLE_MAKE_LIST       
  
 SELECT  ROW_NUMBER() OVER(ORDER BY ID_MAKE) AS 'ROWNUM',ID_MAKE FROM OPENXML (@HDOCMAKE,'/ROOT/MAKE',2)      
 WITH   (ID_MAKE VARCHAR(10))      
 --SELECT * FROM @TABLE_MAKE_LIST  
 DELETE FROM @TABLE_MAKE_LIST WHERE ISNULL(ID_MAKE,'')=''  
  
 DECLARE @HDOCSUPP INT      
 EXEC SP_XML_PREPAREDOCUMENT @HDOCSUPP OUTPUT, @SP_SUPPLIER      
      
 DECLARE @TABLE_SUPP_LIST TABLE      
 (      
  ROWNUM INT,   
  ID_SUPPLIER VARCHAR(10)     
 )        
 INSERT INTO @TABLE_SUPP_LIST       
 SELECT ROW_NUMBER() OVER(ORDER BY ID_SUPPLIER) AS 'ROWNUM',ID_SUPPLIER FROM OPENXML (@HDOCSUPP,'/ROOT/SUPPLIER',2)      
 WITH   (ID_SUPPLIER VARCHAR(10))      
 --SELECT * FROM @TABLE_SUPP_LIST  
 DELETE FROM @TABLE_SUPP_LIST WHERE ISNULL(ID_SUPPLIER,'')=''  
  

	/*Replacing ID_SUPPLIER with SUPP_CURRENTNO*/ 
	UPDATE @TABLE_SUPP_LIST  SET ID_SUPPLIER = SUP.SUPP_CURRENTNO
	FROM @TABLE_SUPP_LIST LS
	INNER JOIN 
	TBL_MAS_SUPPLIER SUP ON SUP.ID_SUPPLIER = LS.ID_SUPPLIER

 DECLARE @HDOCLOC INT      
 EXEC SP_XML_PREPAREDOCUMENT @HDOCLOC OUTPUT, @SP_LOCATION      
      
 DECLARE @TABLE_LOC_LIST TABLE      
 (      
  ROWNUM INT,   
  LOC VARCHAR(10)     
 )        
 INSERT INTO @TABLE_LOC_LIST       
 SELECT ROW_NUMBER() OVER(ORDER BY LOC) AS 'ROWNUM',LOC FROM OPENXML (@HDOCLOC,'/ROOT/LOCATION',2)      
 WITH   (LOC VARCHAR(10))      
 --SELECT * FROM @TABLE_LOC_LIST  
 DELETE FROM @TABLE_LOC_LIST WHERE ISNULL(LOC,'')=''  
/***********************************/  
       
SELECT @WAREHOUSEID=ID_WAREHOUSE , @DEPTID= ID_DEPARTMENT,@SUBID = ID_Subsidery_User  FROM TBL_MAS_USERS         
INNER JOIN TBL_SPR_DEPT_WH ON ID_DEPARTMENT =ID_DEPT_USER AND FLG_DEFAULT=1 WHERE ID_LOGIN = @IV_USERID    
  
SELECT @USE_ALL_SPARE_SRCH = USE_ALL_SPARE_SEARCH FROM TBL_MAS_WO_CONFIGURATION WHERE ID_DEPT_WO = @DEPTID AND ID_SUBSIDERY_WO = @SUBID      
--SELECT @USE_ALL_SPARE_SRCH  
--ADDED END   
  Declare @SQL  Nvarchar(MAX)    
  Declare @SQL1  varchar(7000)   
  Declare @SQL2  varchar(7000)   
  Declare @SQL3  varchar(7000)  
  Declare @SQL4  varchar(7000)  
  Declare @SQL5  varchar(7000)   
  
  Declare @Make_SQL  Nvarchar(MAX)  
  Declare @Supp_SQL  Nvarchar(MAX)  
  Declare @Loc_SQL  Nvarchar(MAX)  
  
   set @SQL  = ''                
                  
 -- set @sql = 'select WO_NUMBER from Vw_WorkOrder_Header where  WO_NUMBER LIKE ''' + @IV_WOINFOTXT + '%'''                
                  
  set @sql = 'Select'                
  set @sql = @sql + ' ID_ITEM,'        
  --Bug ID:-Replacement Issue      
  --Date :- 18-july- 2008          
  --Desc :- ID_REPLACEMENT is required, to check whether replacement      
  -- has been created for spare parts           
  set @sql = @sql + 'CASE WHEN ID_ITEM IS NOT NULL THEN      
(SELECT TOP 1 ID_REPLACEMENT FROM TBL_SPR_REPLACEMENT REP      
WHERE REP.THIS_ID_ITEM=ID_ITEM AND        
REP.THIS_SUPP_CURRENTNO=ITEM.ID_MAKE        
) ELSE '''' END AS ID_REPLACE,'        
  --change end      
  set @sql = @sql + ' ITEM_DESC,'                
  set @sql = @sql + ' ID_UNIT_ITEM,'                
  set @sql = @sql + ' ID_ITEM_CATG,'                
  set @sql = @sql + ' ITEM.ID_MAKE,'                
  set @sql = @sql + ' CASE WHEN ID_ITEM_CATG IS NOT NULL THEN'                
  set @sql = @sql + '     (SELECT CATG_DESC  FROM  TBL_MAS_ITEM_CATG  CATG  '                
  set @sql = @sql + '   WHERE CATG.ID_ITEM_CATG = ITEM.ID_ITEM_CATG)'                
  set @sql = @sql + ' ELSE '''''                
  set @sql = @sql + '  END AS CAT_DESC,'                
  set @sql = @sql + ' CASE WHEN ITEM.ID_MAKE IS NOT NULL THEN'                
  set @sql = @sql + '  (SELECT ISNULL(ID_MAKE + ''   -   '' + ID_MAKE_NAME,'''') FROM TBL_MAS_MAKE MAKE'                
  set @sql = @sql + '   WHERE MAKE.ID_MAKE = ITEM.ID_MAKE)'                
  set @sql = @sql + ' ELSE '''''                
  set @sql = @sql + '  END AS MAKE,'                
  set @sql = @sql + ' ITEM_AVAIL_QTY   , '                
  set @sql = @sql + ' ITEM_REORDER_LEVEL, '     
    
  --Bug ID:-Flag Back Order Issue    
  --Date :- 18-july- 2008          
  --Desc :- FLG_ALLOW_BCKORD is required, to check whether BACKORDER SHOULD CREATE OR NOT      
  set @sql = @sql + ' FLG_ALLOW_BCKORD, '   
   
      
     
         
  set @sql = @sql + ' JOBI_DIS_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=0),'           
  
  set @sql = @sql + ' JOBI_DIS_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=1),'                      
  set @sql = @sql + ' JOBI_VAT_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '''
  
    
      
),'';'') where idx=0),'      
          
       
  set @sql = @sql + ' JOBI_VAT_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '''),'';'') where idx=1),
  
    
      
'          
-------------------------------ZSL Changes End-------------------------------------        
        
  set @sql = @sql + ' ITEM_PRICE, 0 AS JOBI_DELIVER_QTY,0 AS JOBI_BO_QTY,COST_PRICE1 AS COST_PRICE,DIS.DISCOUNTCODE AS DISC_CODE_SELL,DIS2.DISCOUNTCODE AS DISC_CODE_BUY,LOCATION,'                
 -- ****************************************  
 -- Modified Date : 18th November 2008,15th February 2010  
 -- Bug No      : 4332, Item and make should be there to search  
  set @sql = @sql + ' ID_ITEM + ''-'' + ITEM_DESC AS IDESC,'    
  set @sql = @sql + ' ID_ITEM + ''#|'' + ITEM.ID_MAKE AS I_ITEM,'   
  set @sql = @sql + ' ID_WH_ITEM  AS ID_WH_ITEM,'     
  set @sql = @sql + ' ENV_ID_ITEM,'     
  set @sql = @sql + ' ENV_ID_MAKE,'     
  set @sql = @sql + ' ISNULL(ENV_ID_WAREHOUSE,0) AS ENV_ID_WAREHOUSE,'     
  set @sql = @sql + ' ISNULL(FLG_EFD,0) AS FLG_EFD, '     
  set @sql = @sql + ' ISNULL(DISCOUNT,0) AS DISCOUNT,'    
  set @sql = @sql + ' ITEM.SUPP_CURRENTNO AS SUPP_CURRENTNO ' 
 -- ********** End Of Modification **********  
  set @sql = @sql + '  FROM '                
  set @sql = @sql + ' TBL_MAS_ITEM_MASTER ITEM '    
  set @sql = @sql + ' left outer JOIN TBL_SPR_DISCOUNTCODE DIS ON DIS.DISCOUNTCODE=convert(varchar(20),ITEM.ITEM_DISC_CODE )   left outer JOIN TBL_SPR_DISCOUNTCODE DIS2 ON DIS2.DISCOUNTCODE=ITEM.ITEM_DISC_CODE_BUY'   
  set @sql = @sql + ' WHERE (ID_ITEM like ''' + @iv_ItemDesc + '%'' and not ITEM_DESC LIKE''' + @iv_ItemDesc + '%'')'              
  --set @sql = @sql + ' WHERE (ID_ITEM like ''' + @iv_ItemDesc + '%'')'         
--ADDED VMSSANTHOSH 09-APR-2008        
  SET @SQL = @SQL + ' AND ID_WH_ITEM = '+ convert(varchar(20),@WAREHOUSEID)   
  --SET @SQL = @SQL + 'ORDER BY ID_ITEM '   
    
    
    
  set @SQL1 = 'Select'                
  set @SQL1 = @SQL1 + ' ID_ITEM,'        
  set @SQL1 = @SQL1 + 'CASE WHEN ID_ITEM IS NOT NULL THEN      
(SELECT TOP 1 ID_REPLACEMENT FROM TBL_SPR_REPLACEMENT REP      
WHERE REP.THIS_ID_ITEM=ID_ITEM AND        
REP.THIS_SUPP_CURRENTNO=ITEM.ID_MAKE         
) ELSE '''' END AS ID_REPLACE,'        
  --change end      
  set @SQL1 = @SQL1 + ' ITEM_DESC,'                
  set @SQL1 = @SQL1 + ' ID_UNIT_ITEM,'                
  set @SQL1 = @SQL1 + ' ID_ITEM_CATG,'                
  set @SQL1 = @SQL1 + ' ITEM.ID_MAKE,'                
  set @SQL1 = @SQL1 + ' CASE WHEN ID_ITEM_CATG IS NOT NULL THEN'                
  set @SQL1 = @SQL1 + '     (SELECT CATG_DESC  FROM  TBL_MAS_ITEM_CATG  CATG  '                
  set @SQL1 = @SQL1 + '   WHERE CATG.ID_ITEM_CATG = ITEM.ID_ITEM_CATG)'                
  set @SQL1 = @SQL1 + ' ELSE '''''                
  set @SQL1 = @SQL1 + '  END AS CAT_DESC,'                
  set @SQL1 = @SQL1 + ' CASE WHEN ITEM.ID_MAKE IS NOT NULL THEN'                
  set @SQL1 = @SQL1 + '  (SELECT ISNULL(ID_MAKE + ''   -   '' + ID_MAKE_NAME,'''') FROM TBL_MAS_MAKE MAKE'                
  set @SQL1 = @SQL1 + '   WHERE MAKE.ID_MAKE = ITEM.ID_MAKE)'                
  set @SQL1 = @SQL1 + ' ELSE '''''                
  set @SQL1 = @SQL1 + '  END AS MAKE,'                
  set @SQL1 = @SQL1 + ' ITEM_AVAIL_QTY   , '                
  set @SQL1 = @SQL1 + ' ITEM_REORDER_LEVEL, '     
  set @SQL1 = @SQL1 + ' FLG_ALLOW_BCKORD, '   
    
  set @SQL1 = @SQL1 + ' JOBI_DIS_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=0),'         
    
  set @SQL1 = @SQL1 + ' JOBI_DIS_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=1),'                      
  set @SQL1 = @SQL1 + ' JOBI_VAT_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '
''  
      
),'';'') where idx=0),'      
          
  set @SQL1 = @SQL1 + ' JOBI_VAT_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '''),'';'') where idx=1
),  
      
'          
  
        
  set @SQL1 = @SQL1 + ' ITEM_PRICE, 0 AS JOBI_DELIVER_QTY,0 AS JOBI_BO_QTY,COST_PRICE1 AS COST_PRICE,DIS.DISCOUNTCODE AS DISC_CODE_SELL,DIS2.DISCOUNTCODE AS DISC_CODE_BUY,LOCATION,'                
  set @SQL1 = @SQL1 + ' ID_ITEM + ''-'' + ITEM_DESC AS IDESC,'    
  set @SQL1 = @SQL1 + ' ID_ITEM + ''#|'' + ITEM.ID_MAKE AS I_ITEM,'    
  set @SQL1 = @SQL1 + ' ID_WH_ITEM  AS ID_WH_ITEM,'  
  set @sql1 = @sql1 + ' ENV_ID_ITEM,'     
  set @sql1 = @sql1 + ' ENV_ID_MAKE,'     
  set @sql1 = @sql1 + ' ISNULL(ENV_ID_WAREHOUSE,0) AS ENV_ID_WAREHOUSE,'     
  set @sql1 = @sql1 + ' ISNULL(FLG_EFD,0) as FLG_EFD, ' 
  set @sql1 = @sql1 + ' ISNULL(DISCOUNT,0) as DISCOUNT ,'   
  set @sql1 = @sql1 + ' ITEM.SUPP_CURRENTNO AS SUPP_CURRENTNO '    
  set @SQL1 = @SQL1 + '  FROM'                
  set @SQL1 = @SQL1 + ' TBL_MAS_ITEM_MASTER ITEM '    
  set @SQL1 = @SQL1 + ' left outer JOIN TBL_SPR_DISCOUNTCODE DIS ON DIS.DISCOUNTCODE=convert(varchar(20),ITEM.ITEM_DISC_CODE )   left outer JOIN TBL_SPR_DISCOUNTCODE DIS2 ON DIS2.DISCOUNTCODE=ITEM.ITEM_DISC_CODE_BUY'   
  set @SQL1 = @SQL1 + ' WHERE (ITEM_DESC like ''' + @iv_ItemDesc + '%'' and not ID_ITEM LIKE''' + @iv_ItemDesc + '%'')'              
  SET @SQL1 = @SQL1 + ' AND ID_WH_ITEM = '+ convert(varchar(20),@WAREHOUSEID)   
  --SET @SQL1 = @SQL1 + 'ORDER BY ID_ITEM '    
    
    
    
  SET @SQL2 = 'Select'       
  set @SQL2 = @SQL2 + ' ID_ITEM,'        
  set @SQL2 = @SQL2 + 'CASE WHEN ID_ITEM IS NOT NULL THEN      
(SELECT TOP 1 ID_REPLACEMENT FROM TBL_SPR_REPLACEMENT REP      
WHERE REP.THIS_ID_ITEM=ID_ITEM AND        
REP.THIS_SUPP_CURRENTNO=ITEM.ID_MAKE        
) ELSE '''' END AS ID_REPLACE,'        
      
  set @SQL2 = @SQL2 + ' ITEM_DESC,'                
  set @SQL2 = @SQL2 + ' ID_UNIT_ITEM,'                
  set @SQL2 = @SQL2 + ' ID_ITEM_CATG,'                
  set @SQL2 = @SQL2 + ' ITEM.ID_MAKE,'                
  set @SQL2 = @SQL2 + ' CASE WHEN ID_ITEM_CATG IS NOT NULL THEN'                
  set @SQL2 = @SQL2 + '     (SELECT CATG_DESC  FROM  TBL_MAS_ITEM_CATG  CATG  '                
  set @SQL2 = @SQL2 + '   WHERE CATG.ID_ITEM_CATG = ITEM.ID_ITEM_CATG)'                
  set @SQL2 = @SQL2 + ' ELSE '''''                
  set @SQL2 = @SQL2 + '  END AS CAT_DESC,'                
  set @SQL2 = @SQL2 + ' CASE WHEN ITEM.ID_MAKE IS NOT NULL THEN'                
  set @SQL2 = @SQL2 + '  (SELECT ISNULL(ID_MAKE + ''   -   '' + ID_MAKE_NAME,'''') FROM TBL_MAS_MAKE MAKE'                
  set @SQL2 = @SQL2 + '   WHERE MAKE.ID_MAKE = ITEM.ID_MAKE)'                
  set @SQL2 = @SQL2 + ' ELSE '''''                
  set @SQL2 = @SQL2 + '  END AS MAKE,'                
  set @SQL2 = @SQL2 + ' ITEM_AVAIL_QTY   , '                
  set @SQL2 = @SQL2 + ' ITEM_REORDER_LEVEL, '     
  set @SQL2 = @SQL2 + ' FLG_ALLOW_BCKORD, '   
    
  set @SQL2 = @SQL2 + ' JOBI_DIS_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=0),'        
     
  set @SQL2 = @SQL2 + ' JOBI_DIS_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=1),'                      
  set @SQL2 = @SQL2 + ' JOBI_VAT_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '
''  
      
),'';'') where idx=0),'      
          
  set @SQL2 = @SQL2 + ' JOBI_VAT_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '''),'';'') where idx=1
),  
      
'          
       
  set @SQL2 = @SQL2 + ' ITEM_PRICE, 0 AS JOBI_DELIVER_QTY,0 AS JOBI_BO_QTY,COST_PRICE1 AS COST_PRICE,DIS.DISCOUNTCODE AS DISC_CODE_SELL,DIS2.DISCOUNTCODE AS DISC_CODE_BUY,LOCATION,'                
  set @SQL2 = @SQL2 + ' ID_ITEM + ''-'' + ITEM_DESC AS IDESC,'    
  set @SQL2 = @SQL2 + ' ID_ITEM + ''#|'' + ITEM.ID_MAKE AS I_ITEM,'  
  set @SQL2 = @SQL2 + ' ID_WH_ITEM  AS ID_WH_ITEM,'  
  set @sql2 = @sql2 + ' ENV_ID_ITEM,'     
  set @sql2 = @sql2 + ' ENV_ID_MAKE,'     
  set @sql2 = @sql2 + ' ISNULL(ENV_ID_WAREHOUSE,0) AS ENV_ID_WAREHOUSE,'     
  set @sql2 = @sql2 + ' ISNULL(FLG_EFD,0) as FLG_EFD, '       
  set @sql2 = @sql2 + ' ISNULL(DISCOUNT,0) as DISCOUNT,'       
  set @sql2 = @sql2 + ' ITEM.SUPP_CURRENTNO AS SUPP_CURRENTNO '    
  set @SQL2 = @SQL2 + '  FROM '                
  set @SQL2 = @SQL2 + ' TBL_MAS_ITEM_MASTER ITEM '    
  set @SQL2 = @SQL2 + ' left outer JOIN TBL_SPR_DISCOUNTCODE DIS ON DIS.DISCOUNTCODE=convert(varchar(20),ITEM.ITEM_DISC_CODE )    left outer JOIN TBL_SPR_DISCOUNTCODE DIS2 ON DIS2.DISCOUNTCODE=ITEM.ITEM_DISC_CODE_BUY'   
  set @SQL2 = @SQL2 + ' WHERE ( ID_ITEM like ''' + @iv_ItemDesc + '%'' and  ITEM_DESC LIKE''' + @iv_ItemDesc + '%'')'              
  SET @SQL2 = @SQL2 + ' AND ID_WH_ITEM = '+ convert(varchar(20),@WAREHOUSEID)   
  --SET @SQL2 = @SQL2 + 'ORDER BY ID_ITEM '     
     
/****Select Make, Supplier and Location************/  
IF ((SELECT COUNT(*) FROM @TABLE_MAKE_LIST) > 0)  
BEGIN  
 DECLARE @MC INT  
 DECLARE @MI INT = 1  
 SELECT @MC=COUNT(*) FROM @TABLE_MAKE_LIST  
 SET @Make_SQL = ' AND ('   
 WHILE (@MI<=@MC)  
  BEGIN  
  SET @Make_SQL = @Make_SQL + '  ITEM.ID_MAKE = ''' + (SELECT ID_MAKE FROM @TABLE_MAKE_LIST WHERE ROWNUM= @MI) + ''''  
  SET @MI=@MI+1  
  IF @MC>1 AND @MI<=@MC  
   BEGIN  
    SET @Make_SQL = @Make_SQL + '  OR '  
   END  
  ELSE  
   BEGIN  
    SET @Make_SQL = @Make_SQL + '  ) '  
   END  
 END  
END  
  
IF ((SELECT COUNT(*) FROM @TABLE_SUPP_LIST) > 0)  
BEGIN  
 DECLARE @SC INT  
 DECLARE @SI INT = 1  
 SELECT @SC=COUNT(*) FROM @TABLE_SUPP_LIST  
 SET @Supp_SQL = ' AND ('   
 WHILE (@SI<=@SC)  
  BEGIN  
  SET @Supp_SQL = @Supp_SQL + '  ITEM.SUPP_CURRENTNO = ''' + (SELECT ID_SUPPLIER FROM @TABLE_SUPP_LIST WHERE ROWNUM= @SI) + ''''  
  SET @SI=@SI+1  
  IF @SC>1 AND @SI<=@SC  
   BEGIN  
    SET @Supp_SQL = @Supp_SQL + '  OR '  
   END  
  ELSE  
   BEGIN  
    SET @Supp_SQL = @Supp_SQL + '  ) '  
   END  
 END  
END  
  
IF ((SELECT COUNT(*) FROM @TABLE_LOC_LIST) > 0)  
BEGIN  
 DECLARE @LC INT  
 DECLARE @LI INT = 1  
 SELECT @LC=COUNT(*) FROM @TABLE_LOC_LIST  
 SET @Loc_SQL = ' AND ('   
 WHILE (@LI<=@LC)  
  BEGIN  
  SET @Loc_SQL = @Loc_SQL + '  ITEM.LOCATION = ''' + (SELECT LOC FROM @TABLE_LOC_LIST WHERE ROWNUM= @LI) + ''''  
  SET @LI=@LI+1  
  IF @LC>1 AND @LI<=@LC  
   BEGIN  
    SET @Loc_SQL = @Loc_SQL + '  OR '  
   END  
  ELSE  
   BEGIN  
    SET @Loc_SQL = @Loc_SQL + '  ) '  
   END  
 END  
END  
  
  
  
  
/********************************/  
  
  
/********Stock flags*************/  
  
  Declare @Stock_SQL  Nvarchar(MAX)  
  Declare @Stockitem_SQL  Nvarchar(MAX)  
  Declare @Nonstockitem_SQL  Nvarchar(MAX)  
  
IF ISNULL(@StockItem,0)=1  
BEGIN  
 SET @Stock_SQL =' AND ISNULL(ITEM.ITEM_AVAIL_QTY,0) > 0 '  
END  
IF ISNULL(@flg_stockitem_status,0)=1 AND ISNULL(@flg_nonstockitem_status,0)=0  
BEGIN  
 SET @Stockitem_SQL =' AND ISNULL(ITEM.FLG_STOCKITEM_STATUS,0) = 1 '  
END  
IF ISNULL(@flg_nonstockitem_status,0)=1 AND ISNULL(@flg_stockitem_status,0)=0  
BEGIN  
 SET @Nonstockitem_SQL =' AND ISNULL(ITEM.FLG_STOCKITEM_STATUS,0) = 0 '  
END  
  
/*********************************/  
  
  
  
 IF (ISNULL(@USE_ALL_SPARE_SRCH,0)  = '1')   
  BEGIN  
    
  
   
   
   set @SQL3 = 'Select'                
   set @SQL3 = @SQL3 + ' ID_ITEM,'        
   set @SQL3 = @SQL3 + 'CASE WHEN ID_ITEM IS NOT NULL THEN      
 (SELECT TOP 1 ID_REPLACEMENT FROM TBL_SPR_REPLACEMENT REP      
WHERE REP.THIS_ID_ITEM=ID_ITEM AND        
REP.THIS_SUPP_CURRENTNO=ITEM.ID_MAKE          
 ) ELSE '''' END AS ID_REPLACE,'        
   --change end      
   set @SQL3 = @SQL3 + ' ITEM_DESC,'                
   set @SQL3 = @SQL3 + ' ID_UNIT_ITEM,'                
   set @SQL3 = @SQL3 + ' ID_ITEM_CATG,'                
   set @SQL3 = @SQL3 + ' ITEM.ID_MAKE,'                
   set @SQL3 = @SQL3 + ' CASE WHEN ID_ITEM_CATG IS NOT NULL THEN'                
   set @SQL3 = @SQL3 + '     (SELECT CATG_DESC  FROM  TBL_MAS_ITEM_CATG  CATG  '                
   set @SQL3 = @SQL3 + '   WHERE CATG.ID_ITEM_CATG = ITEM.ID_ITEM_CATG)'                
   set @SQL3 = @SQL3 + ' ELSE '''''                
   set @SQL3 = @SQL3 + '  END AS CAT_DESC,'                
   set @SQL3 = @SQL3 + ' CASE WHEN ITEM.ID_MAKE IS NOT NULL THEN'                
   set @SQL3 = @SQL3 + '  (SELECT ISNULL(ID_MAKE + ''   -   '' + ID_MAKE_NAME,'''') FROM TBL_MAS_MAKE MAKE'                
   set @SQL3 = @SQL3 + '   WHERE MAKE.ID_MAKE = ITEM.ID_MAKE)'                
   set @SQL3 = @SQL3 + ' ELSE '''''                
   set @SQL3 = @SQL3 + '  END AS MAKE,'                
   set @SQL3 = @SQL3 + ' ITEM_AVAIL_QTY   , '                
   set @SQL3 = @SQL3 + ' ITEM_REORDER_LEVEL, '     
   set @SQL3 = @SQL3 + ' FLG_ALLOW_BCKORD, '   
     
   set @SQL3 = @SQL3 + ' JOBI_DIS_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=0),'        
     
   set @SQL3 = @SQL3 + ' JOBI_DIS_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=1),'                      
   set @SQL3 = @SQL3 + ' JOBI_VAT_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + 
'''  
       
 ),'';'') where idx=0),'      
           
   set @SQL3 = @SQL3 + ' JOBI_VAT_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '''),'';'') where idx=
1),  
       
 '          
  
         
   set @SQL3 = @SQL3 + ' ITEM_PRICE, 0 AS JOBI_DELIVER_QTY,0 AS JOBI_BO_QTY,COST_PRICE1 AS COST_PRICE,DIS.DISCOUNTCODE AS DISC_CODE_SELL,DIS2.DISCOUNTCODE AS DISC_CODE_BUY,LOCATION,'                
   set @SQL3 = @SQL3 + ' ID_ITEM + ''-'' + ITEM_DESC AS IDESC,'    
   set @SQL3 = @SQL3 + ' ID_ITEM + ''#|'' + ITEM.ID_MAKE AS I_ITEM,'    
   set @sql3 = @sql3 + ' ID_WH_ITEM  AS ID_WH_ITEM,'  
   set @sql3 = @sql3 + ' ENV_ID_ITEM,'     
   set @sql3 = @sql3 + ' ENV_ID_MAKE,'     
   set @sql3 = @sql3 + ' ISNULL(ENV_ID_WAREHOUSE,0) AS ENV_ID_WAREHOUSE,'     
   set @sql3 = @sql3 + ' ISNULL(FLG_EFD,0) as FLG_EFD, '     
   set @sql3 = @sql3 + ' ISNULL(DISCOUNT,0) as DISCOUNT, '   
   set @sql3 = @sql3 + ' ITEM.SUPP_CURRENTNO AS SUPP_CURRENTNO '    
   set @SQL3 = @SQL3 + '  FROM'                
   set @SQL3 = @SQL3 + ' TBL_MAS_ITEM_MASTER ITEM '    
   set @SQL3 = @SQL3 + ' left outer JOIN TBL_SPR_DISCOUNTCODE DIS ON DIS.DISCOUNTCODE=convert(varchar(20),ITEM.ITEM_DISC_CODE )    left outer JOIN TBL_SPR_DISCOUNTCODE DIS2 ON DIS2.DISCOUNTCODE=ITEM.ITEM_DISC_CODE_BUY'   
   set @SQL3 = @SQL3 + ' WHERE (ID_ITEM like ''' + '%' + @iv_ItemDesc + '%'' and not ITEM_DESC LIKE''' + '%'+ @iv_ItemDesc + '%''and not ID_ITEM LIKE''' + @iv_ItemDesc + '%''and not ITEM_DESC LIKE''' + @iv_ItemDesc + '%'')'              
   SET @SQL3 = @SQL3 + ' AND ID_WH_ITEM = '+ convert(varchar(20),@WAREHOUSEID)   
     
     
   set @SQL4 = 'Select'                
   set @SQL4 = @SQL4 + ' ID_ITEM,'        
   set @SQL4 = @SQL4 + 'CASE WHEN ID_ITEM IS NOT NULL THEN      
 (SELECT TOP 1 ID_REPLACEMENT FROM TBL_SPR_REPLACEMENT REP      
WHERE REP.THIS_ID_ITEM=ID_ITEM AND        
REP.THIS_SUPP_CURRENTNO=ITEM.ID_MAKE         
 ) ELSE '''' END AS ID_REPLACE,'        
   --change end      
   set @SQL4 = @SQL4 + ' ITEM_DESC,'                
   set @SQL4 = @SQL4 + ' ID_UNIT_ITEM,'                
   set @SQL4 = @SQL4 + ' ID_ITEM_CATG,'                
   set @SQL4 = @SQL4 + ' ITEM.ID_MAKE,'                
   set @SQL4 = @SQL4 + ' CASE WHEN ID_ITEM_CATG IS NOT NULL THEN'                
   set @SQL4 = @SQL4 + '     (SELECT CATG_DESC  FROM  TBL_MAS_ITEM_CATG  CATG  '                
   set @SQL4 = @SQL4 + '   WHERE CATG.ID_ITEM_CATG = ITEM.ID_ITEM_CATG)'                
   set @SQL4 = @SQL4 + ' ELSE '''''                
   set @SQL4 = @SQL4 + '  END AS CAT_DESC,'                
   set @SQL4 = @SQL4 + ' CASE WHEN ITEM.ID_MAKE IS NOT NULL THEN'                
   set @SQL4 = @SQL4 + '  (SELECT ISNULL(ID_MAKE + ''   -   '' + ID_MAKE_NAME,'''') FROM TBL_MAS_MAKE MAKE'                
   set @SQL4 = @SQL4 + '   WHERE MAKE.ID_MAKE = ITEM.ID_MAKE)'                
   set @SQL4 = @SQL4 + ' ELSE '''''                
   set @SQL4 = @SQL4 + '  END AS MAKE,'                
   set @SQL4 = @SQL4 + ' ITEM_AVAIL_QTY   , '                
   set @SQL4 = @SQL4 + ' ITEM_REORDER_LEVEL, '     
   set @SQL4 = @SQL4 + ' FLG_ALLOW_BCKORD, '   
     
   set @SQL4 = @SQL4 + ' JOBI_DIS_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=0),'        
     
   set @SQL4 = @SQL4 + ' JOBI_DIS_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=1),'                      
   set @SQL4 = @SQL4 + ' JOBI_VAT_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + 
'''  
       
 ),'';'') where idx=0),'      
           
   set @SQL4 = @SQL4 + ' JOBI_VAT_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '''),'';'') where idx=
1),  
       
 '          
  
         
   set @SQL4 = @SQL4 + ' ITEM_PRICE, 0 AS JOBI_DELIVER_QTY,0 AS JOBI_BO_QTY,COST_PRICE1 AS COST_PRICE,DIS.DISCOUNTCODE AS DISC_CODE_SELL,DIS2.DISCOUNTCODE AS DISC_CODE_BUY,LOCATION,'                
   set @SQL4 = @SQL4 + ' ID_ITEM + ''-'' + ITEM_DESC AS IDESC,'    
   set @SQL4 = @SQL4 + ' ID_ITEM + ''#|'' + ITEM.ID_MAKE AS I_ITEM,'  
   set @sql4 = @sql4 + ' ID_WH_ITEM  AS ID_WH_ITEM,'  
   set @SQL4 = @SQL4 + ' ENV_ID_ITEM,'     
   set @SQL4 = @SQL4 + ' ENV_ID_MAKE,'     
   set @SQL4 = @SQL4 + ' ISNULL(ENV_ID_WAREHOUSE,0) AS ENV_ID_WAREHOUSE,'     
   set @SQL4 = @SQL4 + ' ISNULL(FLG_EFD,0) as FLG_EFD, '       
   set @SQL4 = @SQL4 + ' ISNULL(DISCOUNT,0) as DISCOUNT, '    
   set @SQL4 = @SQL4 + ' ITEM.SUPP_CURRENTNO AS SUPP_CURRENTNO '    
   set @SQL4 = @SQL4 + '  FROM'                
   set @SQL4 = @SQL4 + ' TBL_MAS_ITEM_MASTER ITEM '    
   set @SQL4 = @SQL4 + ' left outer JOIN TBL_SPR_DISCOUNTCODE DIS ON DIS.DISCOUNTCODE=convert(varchar(20),ITEM.ITEM_DISC_CODE )    left outer JOIN TBL_SPR_DISCOUNTCODE DIS2 ON DIS2.DISCOUNTCODE=ITEM.ITEM_DISC_CODE_BUY'   
   set @SQL4 = @SQL4 + ' WHERE (ITEM_DESC like ''' + '%'+   @iv_ItemDesc + '%'' and not ID_ITEM LIKE''' + '%'+  @iv_ItemDesc + '%''and not ID_ITEM LIKE''' + @iv_ItemDesc + '%''and not ITEM_DESC LIKE''' + @iv_ItemDesc + '%'')'              
   SET @SQL4 = @SQL4 + ' AND ID_WH_ITEM = '+ convert(varchar(20),@WAREHOUSEID)    
     
   SET @SQL5 = 'Select'       
   set @SQL5 = @SQL5 + ' ID_ITEM,'        
   set @SQL5 = @SQL5 + 'CASE WHEN ID_ITEM IS NOT NULL THEN      
 (SELECT TOP 1 ID_REPLACEMENT FROM TBL_SPR_REPLACEMENT REP      
WHERE REP.THIS_ID_ITEM=ID_ITEM AND        
REP.THIS_SUPP_CURRENTNO=ITEM.ID_MAKE         
 ) ELSE '''' END AS ID_REPLACE,'        
       
   set @SQL5 = @SQL5 + ' ITEM_DESC,'                
   set @SQL5 = @SQL5 + ' ID_UNIT_ITEM,'                
   set @SQL5 = @SQL5 + ' ID_ITEM_CATG,'                
   set @SQL5 = @SQL5 + ' ITEM.ID_MAKE,'                
   set @SQL5 = @SQL5 + ' CASE WHEN ID_ITEM_CATG IS NOT NULL THEN'                
   set @SQL5 = @SQL5 + '     (SELECT CATG_DESC  FROM  TBL_MAS_ITEM_CATG  CATG  '                
   set @SQL5 = @SQL5 + '   WHERE CATG.ID_ITEM_CATG = ITEM.ID_ITEM_CATG)'                
   set @SQL5 = @SQL5 + ' ELSE '''''                
   set @SQL5 = @SQL5 + '  END AS CAT_DESC,'                
   set @SQL5 = @SQL5 + ' CASE WHEN ITEM.ID_MAKE IS NOT NULL THEN'                
   set @SQL5 = @SQL5 + '  (SELECT ISNULL(ID_MAKE + ''   -   '' + ID_MAKE_NAME,'''') FROM TBL_MAS_MAKE MAKE'                
   set @SQL5 = @SQL5 + '   WHERE MAKE.ID_MAKE = ITEM.ID_MAKE)'                
   set @SQL5 = @SQL5 + ' ELSE '''''                
   set @SQL5 = @SQL5 + '  END AS MAKE,'                
   set @SQL5 = @SQL5 + ' ITEM_AVAIL_QTY   , '                
   set @SQL5 = @SQL5 + ' ITEM_REORDER_LEVEL, '     
   set @SQL5 = @SQL5 + ' FLG_ALLOW_BCKORD, '   
     
   set @SQL5 = @SQL5 + ' JOBI_DIS_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=0),'        
     
   set @SQL5 = @SQL5 + ' JOBI_DIS_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETDISCPERC (''' + isnull(@IV_USERID,'') +''',''' + isnull(@IV_ID_CUST,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM),'';'') where idx=1),'                      
   set @SQL5 = @SQL5 + ' JOBI_VAT_PER = (select cast(value1 as numeric(5,2)) from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + 
'''  
       
 ),'';'') where idx=0),'      
           
   set @SQL5 = @SQL5 + ' JOBI_VAT_SEQ = (select value1 from dbo.fn_Split(DBO.FN_GETVATPERC (''' + isnull(@IV_ID_CUST,'') + ''',''' + isnull(@IV_ID_VEH,'') + ''',ITEM.ID_ITEM,ITEM.ID_MAKE,ITEM.ID_WH_ITEM,''' + isnull(@IV_USERID,'') + '''),'';'') where idx=
1),  
       
 '          
        
   set @SQL5 = @SQL5 + ' ITEM_PRICE, 0 AS JOBI_DELIVER_QTY,0 AS JOBI_BO_QTY,COST_PRICE1 AS COST_PRICE,DIS.DISCOUNTCODE AS DISC_CODE_SELL,DIS2.DISCOUNTCODE AS DISC_CODE_BUY,LOCATION,'                
   set @SQL5 = @SQL5 + ' ID_ITEM + ''-'' + ITEM_DESC AS IDESC,'    
   set @SQL5 = @SQL5 + ' ID_ITEM + ''#|'' + ITEM.ID_MAKE AS I_ITEM,'  
   set @sql5 = @sql5 + ' ID_WH_ITEM  AS ID_WH_ITEM,'      
   set @SQL5 = @SQL5 + ' ENV_ID_ITEM,'     
   set @SQL5 = @SQL5 + ' ENV_ID_MAKE,'     
   set @SQL5 = @SQL5 + ' ISNULL(ENV_ID_WAREHOUSE,0) AS ENV_ID_WAREHOUSE,'     
   set @SQL5 = @SQL5 + ' ISNULL(FLG_EFD,0) as FLG_EFD, '   
   set @SQL5 = @SQL5 + ' ISNULL(DISCOUNT,0) as DISCOUNT, '    
   set @SQL5 = @SQL5 + ' ITEM.SUPP_CURRENTNO AS SUPP_CURRENTNO '    
   set @SQL5 = @SQL5 + '  FROM '                
   set @SQL5 = @SQL5 + ' TBL_MAS_ITEM_MASTER ITEM '    
   set @SQL5 = @SQL5 + ' left outer JOIN TBL_SPR_DISCOUNTCODE DIS ON DIS.DISCOUNTCODE=convert(varchar(20),ITEM.ITEM_DISC_CODE )    left outer JOIN TBL_SPR_DISCOUNTCODE DIS2 ON DIS2.DISCOUNTCODE=ITEM.ITEM_DISC_CODE_BUY'   
   set @SQL5 = @SQL5 + ' WHERE ( ID_ITEM like ''' + '%'+   @iv_ItemDesc + '%'' and  ITEM_DESC LIKE''' + '%'+   @iv_ItemDesc + '%''and not ID_ITEM LIKE''' + @iv_ItemDesc + '%''and not ITEM_DESC LIKE''' + @iv_ItemDesc + '%'')'              
   SET @SQL5 = @SQL5 + ' AND ID_WH_ITEM = '+ convert(varchar(20),@WAREHOUSEID)   
  
  
      IF ((SELECT COUNT(*) FROM @TABLE_MAKE_LIST) > 0)  
  BEGIN      
   SET @SQL = @SQL+@Make_SQL  
   SET @SQL1 = @SQL1+@Make_SQL  
   SET @SQL2 = @SQL2+@Make_SQL  
   SET @SQL3 = @SQL3+@Make_SQL  
   SET @SQL4 = @SQL4+@Make_SQL  
   SET @SQL5 = @SQL5+@Make_SQL  
  END  
  
      IF ((SELECT COUNT(*) FROM @TABLE_SUPP_LIST) > 0)  
  BEGIN      
   SET @SQL = @SQL+@Supp_SQL  
   SET @SQL1 = @SQL1+@Supp_SQL  
   SET @SQL2 = @SQL2+@Supp_SQL  
   SET @SQL3 = @SQL3+@Supp_SQL  
   SET @SQL4 = @SQL4+@Supp_SQL  
   SET @SQL5 = @SQL5+@Supp_SQL  
  END  
  
      IF ((SELECT COUNT(*) FROM @TABLE_LOC_LIST) > 0)  
  BEGIN      
   SET @SQL = @SQL+@Loc_SQL  
   SET @SQL1 = @SQL1+@Loc_SQL  
   SET @SQL2 = @SQL2+@Loc_SQL  
   SET @SQL3 = @SQL3+@Loc_SQL  
   SET @SQL4 = @SQL4+@Loc_SQL  
   SET @SQL5 = @SQL5+@Loc_SQL  
  END  
       
   IF ISNULL(@StockItem,0)=1  
   BEGIN  
   SET @SQL = @SQL+@Stock_SQL  
   SET @SQL1 = @SQL1+@Stock_SQL  
   SET @SQL2 = @SQL2+@Stock_SQL  
   SET @SQL3 = @SQL3+@Stock_SQL  
   SET @SQL4 = @SQL4+@Stock_SQL  
   SET @SQL5 = @SQL5+@Stock_SQL  
   END  
   IF ISNULL(@flg_stockitem_status,0)=1 AND ISNULL(@flg_nonstockitem_status,0)=0  
   BEGIN  
   SET @SQL = @SQL+@Stockitem_SQL  
   SET @SQL1 = @SQL1+@Stockitem_SQL  
   SET @SQL2 = @SQL2+@Stockitem_SQL  
   SET @SQL3 = @SQL3+@Stockitem_SQL  
   SET @SQL4 = @SQL4+@Stockitem_SQL  
   SET @SQL5 = @SQL5+@Stockitem_SQL  
   END  
   IF ISNULL(@flg_nonstockitem_status,0)=1 AND ISNULL(@flg_stockitem_status,0)=0  
   BEGIN  
   SET @SQL = @SQL+@Nonstockitem_SQL  
   SET @SQL1 = @SQL1+@Nonstockitem_SQL  
   SET @SQL2 = @SQL2+@Nonstockitem_SQL  
   SET @SQL3 = @SQL3+@Nonstockitem_SQL  
   SET @SQL4 = @SQL4+@Nonstockitem_SQL  
   SET @SQL5 = @SQL5+@Nonstockitem_SQL  
   END  
  
  
      set @SQL= @SQL+' UNION ALL ' +@SQL1 +' UNION ALL ' +@SQL2 +' UNION ALL '+@SQL3  
      +' UNION ALL '+ @SQL4  
      +' UNION ALL '+ @SQL5  
  
  
    
  END   
ELSE  
  BEGIN  
    
   
    set @SQL= @SQL+' UNION ALL ' +@SQL1 +' UNION ALL ' +@SQL2   
 IF ((SELECT COUNT(*) FROM @TABLE_MAKE_LIST) > 0)  
  BEGIN      
   SET @SQL = @SQL+@Make_SQL  
   SET @SQL1 = @SQL1+@Make_SQL  
   SET @SQL2 = @SQL2+@Make_SQL  
  END  
  
      IF ((SELECT COUNT(*) FROM @TABLE_SUPP_LIST) > 0)  
  BEGIN      
   SET @SQL = @SQL+@Supp_SQL  
   SET @SQL1 = @SQL1+@Supp_SQL  
   SET @SQL2 = @SQL2+@Supp_SQL  
  END  
  
      IF ((SELECT COUNT(*) FROM @TABLE_LOC_LIST) > 0)  
  BEGIN      
   SET @SQL = @SQL+@Loc_SQL  
   SET @SQL1 = @SQL1+@Loc_SQL  
   SET @SQL2 = @SQL2+@Loc_SQL  
  END  
    IF ISNULL(@StockItem,0)=1  
   BEGIN  
   SET @SQL = @SQL+@Stock_SQL  
   SET @SQL1 = @SQL1+@Stock_SQL  
   SET @SQL2 = @SQL2+@Stock_SQL  
   END  
   IF ISNULL(@flg_stockitem_status,0)=1 AND ISNULL(@flg_nonstockitem_status,0)=0  
   BEGIN  
   SET @SQL = @SQL+@Stockitem_SQL  
   SET @SQL1 = @SQL1+@Stockitem_SQL  
   SET @SQL2 = @SQL2+@Stockitem_SQL  
   END  
   IF ISNULL(@flg_nonstockitem_status,0)=1 AND ISNULL(@flg_stockitem_status,0)=0  
   BEGIN  
   SET @SQL = @SQL+@Nonstockitem_SQL  
   SET @SQL1 = @SQL1+@Nonstockitem_SQL  
   SET @SQL2 = @SQL2+@Nonstockitem_SQL  
   END  
  
  END  
       
  Execute(@SQL)   
  print @SQL  
  
 EXEC SP_XML_REMOVEDOCUMENT @HDOCMAKE    
 EXEC SP_XML_REMOVEDOCUMENT @HDOCSUPP  
 EXEC SP_XML_REMOVEDOCUMENT @HDOCLOC  
              
END    
  
             
/*            
EXEC usp_WO_LOAD_SPARES '','78','1','admin'            
EXEC usp_WO_LOAD_SPARES '%','10005','3','admin'           
select * from TBL_MAS_ITEM_MASTER WHERE ITEM_DESC LIKE 'P'            
            
Select ID_ITEM,ITEM_DESC,ID_UNIT_ITEM,ID_ITEM_CATG,ID_MAKE,            
CASE WHEN ID_ITEM_CATG IS NOT NULL THEN             
(SELECT CATG_DESC  FROM  TBL_MAS_ITEM_CATG  CATG  where CATG.ID_ITEM_CATG = ITEM.ID_ITEM_CATG)            
ELSE '' END AS CAT_DESC,            
CASE WHEN ID_MAKE IS NOT NULL THEN            
(SELECT ISNULL(ID_MAKE + '   -   ' + ID_MAKE_NAME,'') FROM TBL_MAS_MAKE MAKE              
WHERE MAKE.ID_MAKE = ITEM.ID_MAKE) ELSE '' END AS MAKE,ITEM_AVAIL_QTY,ITEM_REORDER_LEVEL,ITEM_PRICE               
from TBL_MAS_ITEM_MASTER ITEM WHERE ITEM_DESC LIKE 'P%'            
          
*/            
            
  

GO
