/****** Object:  StoredProcedure [dbo].[USP_UPD_CPSP_RETURN_ORDERS]    Script Date: 11-03-2022 15:41:30 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_UPD_CPSP_RETURN_ORDERS]
GO
/****** Object:  StoredProcedure [dbo].[USP_UPD_CPSP_RETURN_ORDERS]    Script Date: 11-03-2022 15:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Praveen
-- Create date: <Create Date,,>
-- Description:	To Update the Cost Price,Sales Price of the Spares in ReturnOrder and Local Spare Part Registry
-- =============================================
CREATE PROCEDURE [dbo].[USP_UPD_CPSP_RETURN_ORDERS]
@IV_RETURN_NO INT,
@IV_ID_ITEM_RET_NO INT,
@IV_USERID VARCHAR(50),
@IV_ID_ITEM VARCHAR(50),
@IV_COST_PRICE DECIMAL(13,2),
@IV_SALES_PRICE DECIMAL(13,2),
@IV_SUPP_CURRENT_NO VARCHAR(50),
@IV_WEB_SPAREPARTD_ID VARCHAR(100),
@OV_RETVAL VARCHAR(50) OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF EXISTS (SELECT * FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @IV_ID_ITEM AND SUPP_CURRENTNO = @IV_SUPP_CURRENT_NO)
	BEGIN
		UPDATE TBL_MAS_ITEM_MASTER
		SET 
		ITEM_PRICE = @IV_SALES_PRICE,
		COST_PRICE1 = @IV_COST_PRICE,
		MODIFIED_BY = @IV_USERID,
		DT_MODIFIED = GETDATE(),
		WEB_SPAREPART_ID = @IV_WEB_SPAREPARTD_ID -- is the new column from webservice response
		WHERE ID_ITEM = @IV_ID_ITEM AND SUPP_CURRENTNO = @IV_SUPP_CURRENT_NO
	
			
		IF EXISTS(SELECT * FROM TBL_MAS_ITEM_DETAILS_RETURN WHERE ID_ITEM_DETAILS_RETURN = @IV_ID_ITEM_RET_NO )
		  BEGIN
			UPDATE TBL_MAS_ITEM_DETAILS_RETURN
			SET
			COST_PRICE = @IV_COST_PRICE,
			SALE_PRICE = @IV_SALES_PRICE,
			MODIFIED_BY = @IV_USERID,
			DT_MODIFIED = GETDATE()
			WHERE ID_ITEM_DETAILS_RETURN = @IV_ID_ITEM_RET_NO
		END

		-- TO UPDATE TOTAL COST PRICE , TOTAL SALES PRICE IN TBL_MAS_ITEM_HEADER_RETURN
	
		;WITH IR AS
			(SELECT ID_RETURN_NUM,ID_ITEM,
					Sum(COST_PRICE) OVER (partition BY ID_RETURN_NUM) AS TOTALCOSTPRICEDETAILS ,
					Sum(SALE_PRICE) OVER (partition BY ID_RETURN_NUM) AS TOTALSALESPRICEDETAILS 
			FROM TBL_MAS_ITEM_DETAILS_RETURN
			) 	
		UPDATE IH  
		SET 
		TOTAL_COST_PRICE = IR.TOTALCOSTPRICEDETAILS,
		TOTAL_SALE_PRICE = IR.TOTALSALESPRICEDETAILS
		FROM TBL_MAS_ITEM_HEADER_RETURN IH 
		INNER JOIN IR ON IH.ID_RETURN_NUM = IR.ID_RETURN_NUM
		WHERE IH.ID_RETURN_NUM = @IV_RETURN_NO
		
		IF @@ERROR <> 0 	
			SET @OV_RETVAL = 'FAILED'
		ELSE
			SET @OV_RETVAL= 'UPDATED'

	END 
	ELSE
	BEGIN 
		SET @OV_RETVAL= 'SPARE_NOTEXISTS'
	END 


END
GO
