/****** Object:  StoredProcedure [dbo].[USP_RPT_RETURN_SPARE_HEADER]    Script Date: 11-03-2022 15:31:13 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_RPT_RETURN_SPARE_HEADER]
GO
/****** Object:  StoredProcedure [dbo].[USP_RPT_RETURN_SPARE_HEADER]    Script Date: 11-03-2022 15:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Praveen
-- Create date: <Create Date,,>
-- Description:	To display the Header info of Return Spare Report
-- =============================================
CREATE PROCEDURE [dbo].[USP_RPT_RETURN_SPARE_HEADER]
@IV_RETURN_NO VARCHAR(50),
@IV_USERID VARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON
	DECLARE @SUBID INT,@DEPTID INT ,@STOCK_SUPPID INT,@ID_WO_NO VARCHAR(50),@ID_WO_PREFIX VARCHAR(50)
	DECLARE @SUPP_STOCKID VARCHAR(20),@SUPP_DEALER_NO  VARCHAR(50),@USER_NAME VARCHAR(100),@USER_MOBILE VARCHAR(30)
	DECLARE @SUB_NAME VARCHAR(50),@SUB_PHONE VARCHAR(50),@SUB_FAX VARCHAR(50),@SUB_EMAIL VARCHAR(50),@SUB_ADDRESS VARCHAR(30),@SUB_ZIPCODE VARCHAR(50),@ANNOT VARCHAR(200)

	-- Update the status to Returned when the Report is printed
	IF EXISTS(SELECT * FROM TBL_MAS_ITEM_HEADER_RETURN WHERE ID_RETURN_NUM = @IV_RETURN_NO)
	BEGIN
		UPDATE TBL_MAS_ITEM_HEADER_RETURN
		SET 
		RETURN_STATUS ='RETURNED',
		DT_RETURNED = GETDATE(),
		MODIFIED_BY = @IV_USERID,
		DT_MODIFIED = GETDATE()
		WHERE ID_RETURN_NUM = @IV_RETURN_NO AND IS_CREDITED = 0
	END

    -- Insert statements for procedure here
	 SELECT @SUBID = ID_Subsidery_User , @DEPTID = ID_Dept_User , @USER_NAME = First_Name +' '+ Last_Name , @USER_MOBILE = Mobileno FROM TBL_MAS_USERS WHERE ID_Login = @IV_USERID

	 SELECT @STOCK_SUPPID = STOCK_SUPPLIER_ID FROM TBL_MAS_WO_CONFIGURATION WHERE ID_SUBSIDERY_WO = @SUBID AND ID_DEPT_WO = @DEPTID

	 SELECT @SUPP_STOCKID = SUPPLIER_STOCK_ID , @SUPP_DEALER_NO = DEALER_NO_SPARE FROM TBL_MAS_SUPPLIER WHERE ID_SUPPLIER = @STOCK_SUPPID

	 --SELECT [USER_ID],SENDER_SMS,SENDER_MAIL,SMS_OPERATOR_LINK FROM TBL_MAS_SMS_CONFIG

	 SELECT @SUB_NAME = SS_Name , @SUB_PHONE = SS_Phone_Mobile,@SUB_FAX = SS_Fax,@SUB_EMAIL = ID_EMAIL_SUBSID ,@SUB_ADDRESS = isnull(SS_Address1,'')+' '+isnull(SS_Address2,''),@SUB_ZIPCODE = SS_ID_Zipcode FROM TBL_MAS_SUBSIDERY WHERE ID_Subsidery = @SUBID

	 SELECT @ID_WO_PREFIX = ID_WO_PREFIX , @ID_WO_NO = ID_WO_NO,@ANNOT = ANNOTATION FROM TBL_MAS_ITEM_HEADER_RETURN WHERE ID_RETURN_NUM = @IV_RETURN_NO 
	  
	-- SELECT THE CUSTOMER ,SUPP DEALER NO , PHONE ETC...

	SELECT @SUPP_DEALER_NO AS SUPP_DEALER_NO , @SUB_NAME AS SUB_NAME , @SUB_PHONE AS SUB_PHONE ,@SUB_FAX AS SUB_FAX,@SUB_EMAIL AS SUB_EMAIL,
	@USER_NAME AS CONTACT_PERSON , @USER_MOBILE AS CONTACT_MOBILE,@SUB_ADDRESS AS SUB_ADDR , @SUB_ZIPCODE AS SUB_ZIP,@ANNOT AS ANNOTATION
		

END
GO
