/****** Object:  StoredProcedure [dbo].[USP_SAVE_RETURN_SPARES]    Script Date: 11-03-2022 15:19:41 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SAVE_RETURN_SPARES]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_RETURN_SPARES]    Script Date: 11-03-2022 15:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Praveen
-- Create date: <Create Date,,>
-- Description:	To save the Returned Spares in TBL_MAS_ITEM_HEADER_RETURN AND TBL_MAS_ITEM_DETAILS_RETURN
-- =============================================
CREATE PROCEDURE [dbo].[USP_SAVE_RETURN_SPARES]
@IV_ID_ITEM VARCHAR(50),
@IV_ITEM_DESC VARCHAR(100),
@IV_QTY_RETURNED int,
@IV_SALE_PRICE decimal(13, 2) ,
@IV_COST_PRICE decimal(13, 2) ,
@IV_SUPPLIER_NO varchar(50) ,
@IV_ID_WO_PREFIX VARCHAR(20) ,
@IV_ID_WO_NO VARCHAR(50) ,
@IV_USERID VARCHAR(50) ,
@OV_RETVALUE VARCHAR(50) OUTPUT ,
@OV_ITEM_RETURN_NUM  INT OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @ID_RETURN_NUM INT = 0

	IF EXISTS (SELECT * FROM TBL_MAS_ITEM_HEADER_RETURN WHERE ISNULL(RETURN_STATUS,'OPEN') ='OPEN')
	BEGIN
		SELECT @ID_RETURN_NUM = ID_RETURN_NUM FROM TBL_MAS_ITEM_HEADER_RETURN WHERE ISNULL(RETURN_STATUS,'OPEN') ='OPEN'
	END

	-- IF THERE IS NO OPEN HEADER RECORD THEN CREATE A NEW HEADER RECORD , ELSE ADD DETAILS TO THE OPEN HEADER RECORD
	IF @ID_RETURN_NUM = 0
	BEGIN
		INSERT INTO TBL_MAS_ITEM_HEADER_RETURN(
		TOTAL_SALE_PRICE,TOTAL_COST_PRICE,RETURN_STATUS,ID_WO_PREFIX,ID_WO_NO,IS_CREDITED,DT_CREATED,CREATED_BY) 
		SELECT @IV_SALE_PRICE,@IV_COST_PRICE,'OPEN',@IV_ID_WO_PREFIX,@IV_ID_WO_NO,0,GETDATE(),@IV_USERID

		SELECT @ID_RETURN_NUM = @@IDENTITY

	END 

	-- Insert Return Spare details into the Details table
	BEGIN
		INSERT INTO TBL_MAS_ITEM_DETAILS_RETURN
		(ID_RETURN_NUM,ID_ITEM,ITEM_DESC,QTY_RETURNED,SALE_PRICE,COST_PRICE,SUPPLIER_NO,ID_WO_PREFIX,ID_WO_NO,DT_CREATED,CREATED_BY)
		SELECT @ID_RETURN_NUM,@IV_ID_ITEM,@IV_ITEM_DESC,@IV_QTY_RETURNED,@IV_SALE_PRICE,@IV_COST_PRICE,@IV_SUPPLIER_NO,@IV_ID_WO_PREFIX,@IV_ID_WO_NO,GETDATE(),@IV_USERID
	END

	-- Updating the Last WorkOrder Number from where the spares was returned
	
		IF EXISTS(SELECT * FROM TBL_MAS_ITEM_HEADER_RETURN WHERE ID_RETURN_NUM = @ID_RETURN_NUM )
		BEGIN	
			UPDATE TBL_MAS_ITEM_HEADER_RETURN
			SET 
			ID_WO_PREFIX = @IV_ID_WO_PREFIX,
			ID_WO_NO = @IV_ID_WO_NO,
			DT_MODIFIED = GETDATE(),
			MODIFIED_BY = @IV_USERID
			WHERE ID_RETURN_NUM = @ID_RETURN_NUM
		END

	-- TO UPDATE TOTAL COST PRICE , TOTAL SALES PRICE IN TBL_MAS_ITEM_HEADER_RETURN
	
	;WITH IR AS
     (SELECT ID_RETURN_NUM,ID_ITEM,
             Sum(COST_PRICE) OVER (partition BY ID_RETURN_NUM) AS TOTALCOSTPRICEDETAILS ,
			 Sum(SALE_PRICE) OVER (partition BY ID_RETURN_NUM) AS TOTALSALESPRICEDETAILS 
      FROM TBL_MAS_ITEM_DETAILS_RETURN
     ) 	
	UPDATE IH  
	SET 
	TOTAL_COST_PRICE = IR.TOTALCOSTPRICEDETAILS,
	TOTAL_SALE_PRICE = IR.TOTALSALESPRICEDETAILS
	FROM TBL_MAS_ITEM_HEADER_RETURN IH 
	INNER JOIN IR ON IH.ID_RETURN_NUM = IR.ID_RETURN_NUM
	WHERE IH.ID_RETURN_NUM = @ID_RETURN_NUM


	IF @@ERROR = 0      
    BEGIN  
		SET @OV_RETVALUE = 'SUCCESS'  
		SET @OV_ITEM_RETURN_NUM = @ID_RETURN_NUM
    END   
   ElSE  
    BEGIN  
		SET @OV_RETVALUE = 'FAIL'  
    END 


END
GO
