/****** Object:  StoredProcedure [dbo].[USP_FETCH_ALL_APPOINTMENTS]    Script Date: 04-08-2022 16:26:58 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_ALL_APPOINTMENTS]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_ALL_APPOINTMENTS]    Script Date: 04-08-2022 16:26:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	To Fetch all the Appointments based on the date and the flag
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_ALL_APPOINTMENTS] 
	@IV_USER_ID VARCHAR(30),
	@IV_SEL_DATETIME DATETIME,
	@IV_IS_HISTORY BIT
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @LABEL_ID int ;
	 
	 SELECT @LABEL_ID= ID_ORDER_STATUS from TBL_WO_ORDER_STATUS where ORDER_STATUS_CODE='NA'
	SELECT IDENTITY(INT, 1, 1) AS APPOINTMENT_ID,ISNULL(APTDTL.START_DATE,APTHDR.START_DATE) AS START_DATE,APTHDR.SUBJECT,
	ISNULL(APTDTL.END_DATE,APTHDR.END_DATE) AS END_DATE, APTDTL.COLOR_ID AS LABEL,APTHDR.STATUS,APTDTL.RESOURCE_ID,APTHDR.CUSTOMER_FIRST_NAME,
	APTHDR.CUSTOMER_MIDDLE_NAME,APTHDR.CUSTOMER_LAST_NAME,APTDTL.RESOURCE_IDS,APTDTL.ID_APPOINTMENT_DETAILS AS ID_APT_DTL,
	APTDTL.APPOINTMENT_ID  AS ID_APT_HDR,APTDTL.START_TIME ,APTDTL.END_TIME ,APTHDR.CUSTOMER_NUMBER,APTHDR.VEHICLE_CH_NO,
	APTHDR.VEHICLE_REF_NO,APTHDR.VEHICLE_REG_NO,APTHDR.CUSTOMER_FIRM,APTHDR.ID_VEH_SEQ_WO,APTHDR.WO_VEH_MAK_MOD_MAP,APTHDR.WO_VEH_MOD,APTDTL.RESERVATION AS DESCRIPTION,
	APTDTL.ID_WO_NO,APTDTL.ID_JOB,APTDTL.ID_WO_PREFIX 
	,APTDTL.IS_OVER_TIME, isnull(APTDTL.JOB_STATUS,'') JOB_STATUS,APTDTL.APT_SERIAL_NO,isnull(APTDTL.APT_SAPRE_PART_STATUS,1) AS APT_SAPRE_PART_STATUS,
	CASE 
		WHEN APTHDR.ID_WO_NO IS NOT NULL AND  APTDTL.ID_WO_NO IS NULL THEN 1
		ELSE  0
	END AS 'IS_ORDER',

	--Newly Added 25-07-2022
	APTHDR.CUSTOMER_FIRST_NAME+' '+APTHDR.CUSTOMER_MIDDLE_NAME+' '+APTHDR.CUSTOMER_LAST_NAME AS CUSTOMER_FULL_NAME,
	ISNULL(APTDTL.ID_WO_PREFIX,'')+ ISNULL(APTDTL.ID_WO_NO,'') AS WO_NUMBER,
	(ISNULL(USR.FIRST_NAME,'') +' '+ ISNULL(USR.LAST_NAME,'')) AS 'MECHANIC NAME' ,APS.APPOINTMENT_STATUS_CODE,(ISNULL(VEH.ID_MAKE_VEH,'') +' ' + ISNULL(VEH.VEH_TYPE,'')) AS 'VEHICLE'
	,CONVERT(varchar(10),APTDTL.APPOINTMENT_ID) +' - '+ CONVERT(varchar(10),APTDTL.APT_SERIAL_NO) AS APT_ID_DIS
	INTO #TEMPDATA1 
	FROM 
	TBL_APPOINTMENTS_HEADER APTHDR 
	INNER JOIN TBL_APPOINTMENT_DETAILS APTDTL  ON APTHDR.APPOINTMENT_ID = APTDTL.APPOINTMENT_ID 
	INNER JOIN TBL_MAS_USERS USR ON USR.ID_LOGIN = APTDTL.RESOURCE_ID
	INNER JOIN TBL_APPOINTMENT_STATUS APS ON APS.ID_APPOINTMENT_STATUS = APTHDR.STATUS
	INNER JOIN TBL_MAS_VEHICLE VEH ON VEH.VEH_REG_NO = APTHDR.VEHICLE_REG_NO
	IF @IV_IS_HISTORY = 1
	BEGIN
		SELECT * FROM #TEMPDATA1 where isnull(JOB_STATUS,'') NOT IN ('DEL','ONHOLD') AND START_DATE BETWEEN convert(date,@IV_SEL_DATETIME) AND convert(date, getdate());
	END
	ELSE
	BEGIN
		SELECT * FROM #TEMPDATA1 where isnull(JOB_STATUS,'') NOT IN ('DEL','ONHOLD') AND START_DATE >= convert(date, getdate());
	END
	
	DROP TABLE #TEMPDATA1;
END
GO
