/****** Object:  StoredProcedure [dbo].[USP_CONFIG_ZIPCODE_FETCHALL]    Script Date: 04-05-2022 15:17:52 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_CONFIG_ZIPCODE_FETCHALL]
GO
/****** Object:  StoredProcedure [dbo].[USP_CONFIG_ZIPCODE_FETCHALL]    Script Date: 04-05-2022 15:17:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_CONFIG_ZIPCODE_FETCHALL]        
(        
 @OV_RETVALUE VARCHAR(20) OUTPUT        
)        
AS         
BEGIN 
DECLARE @DT_CREA AS DATETIME
DECLARE @DT_MOD AS DATETIME
DECLARE @FLAG AS VARCHAR(10)        
 
SELECT @DT_CREA = MAX(DT_CREATED) FROM TBL_MAS_ZIPCODE 
SELECT @DT_MOD = MAX(DT_MODIFIED) FROM TBL_MAS_ZIPCODE 

IF (@DT_CREA > @DT_MOD )
begin
    SET @FLAG = 'TRUE'
end
ELSE
begin
    SET @FLAG = 'FALSE'
end

IF @FLAG = 'TRUE' 
BEGIN
SELECT         
   ZIP_ZIPCODE AS ZIPCODE,          
      CASE WHEN ZIP_ID_COUNTRY IS NOT NULL THEN          
   (SELECT DESCRIPTION FROM TBL_MAS_CONFIG_DETAILS     
    WHERE ID_PARAM  = TBL_MAS_ZIPCODE.ZIP_ID_COUNTRY)           
      ELSE          
       ''          
      END AS COUNTRY,          
      CASE WHEN ZIP_ID_STATE IS NOT NULL THEN          
   (SELECT DESCRIPTION FROM TBL_MAS_CONFIG_DETAILS     
    WHERE ID_PARAM = TBL_MAS_ZIPCODE.ZIP_ID_STATE)           
      END AS STATE,          
      ZIP_CITY AS CITY,      
CREATED_BY,      
DT_CREATED,      
MODIFIED_BY,      
DT_MODIFIED       
  FROM     
   TBL_MAS_ZIPCODE   
  WHERE     
   ZIP_ZIPCODE IS NOT NULL ORDER BY DT_CREATED DESC 
END
ELSE
BEGIN
SELECT       
   ZIP_ZIPCODE AS ZIPCODE,          
      CASE WHEN ZIP_ID_COUNTRY IS NOT NULL THEN          
   (SELECT DESCRIPTION FROM TBL_MAS_CONFIG_DETAILS     
    WHERE ID_PARAM  = TBL_MAS_ZIPCODE.ZIP_ID_COUNTRY)           
      ELSE          
       ''          
      END AS COUNTRY,          
      CASE WHEN ZIP_ID_STATE IS NOT NULL THEN          
   (SELECT DESCRIPTION FROM TBL_MAS_CONFIG_DETAILS     
    WHERE ID_PARAM = TBL_MAS_ZIPCODE.ZIP_ID_STATE)           
      END AS STATE,          
      ZIP_CITY AS CITY,      
CREATED_BY,      
DT_CREATED,      
MODIFIED_BY,      
DT_MODIFIED       
  FROM     
   TBL_MAS_ZIPCODE    
  WHERE     
   ZIP_ZIPCODE IS NOT NULL ORDER BY DT_MODIFIED DESC  
END

 SET @OV_RETVALUE = '0'        
-- END        
-- ELSE        
--  SET @OV_RETVALUE = 'FETFLG'  -- NO RECORDS FOUND        
 SELECT ID_PARAM,DESCRIPTION FROM TBL_MAS_CONFIG_DETAILS WHERE ID_CONFIG = 'CURRENCY'      
    
 SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='TIMEFORMAT'    
 SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='UNITTIMING'    
    
 SELECT ID_PARAM,     
   DESCRIPTION     
 FROM TBL_MAS_CONFIG_DETAILS     
 WHERE ID_PARAM = (SELECT TYPECODE     
      FROM TBL_MAS_DEFSETTINGS     
      WHERE [TYPE] ='CURRENCY')
    
--'================== Begin =======================================
--	'Modified Date  :   25-Aug-2008
--	'Fixed Bug Id   :   3074
	SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='MINSPILTS'
--'================== END =========================================

--MODIFIED DATE: 01 OCT 2008
--COMMENTS: USE SUB-REPAIR CODE
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USESUBREPC'
--END OF MODIFICATION
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USEDAYPLAN'

SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USEJOBCARD'

SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='EDITSTDTIM'

SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='VIEWGARSUM'
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='MONASSTAT'
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='VEHREGNDP'
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USEINVPDF'
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USEDYNCLKT'
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USEDBS'
SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USEAPPROVE'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='USEMECGRID'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='SORTBYLOC'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='VLDSTDTIME'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='EDTCHGTIME'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='VLDMILEAGE'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='SAVEUPDDP'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='INT-NOTE'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='GRP-SP-BO'
SELECT isnull(DESCRIPTION,'False')as DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_CONFIG ='DISWOSPARE' 

 SET @OV_RETVALUE = '0'      
     
 SET @OV_RETVALUE = @@error    
 SELECT @OV_RETVALUE       
    
     
       
END        
    
    
/*    
USP_CONFIG_ZIPCODE_FETCHALL ''    
    
 SELECT ID_PARAM,DESCRIPTION FROM TBL_MAS_CONFIG_DETAILS WHERE ID_CONFIG = 'CURRENCY'      
 SELECT ID_PARAM,     
   DESCRIPTION     
 FROM TBL_MAS_CONFIG_DETAILS     
 WHERE ID_PARAM = (SELECT TYPECODE     
      FROM TBL_MAS_DEFSETTINGS     
      WHERE [TYPE] ='CURRENCY')    
    
SELECT * FROM TBL_MAS_ZIPCODE    

declare @p as varchar(20)
exec [USP_CONFIG_ZIPCODE_FETCHALL] @p output
select @p
    
*/  



GO
