/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_SEARCH_NEW]    Script Date: 08-09-2021 16:22:02 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPAREPART_SEARCH_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_SEARCH_NEW]    Script Date: 08-09-2021 16:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_SPAREPART_SEARCH_NEW]
	@ID_SEARCH VARCHAR(255) ,  
	@IV_LOCALGLOBAL VARCHAR(50)  ,
	@IV_SUPP_CURRENTNO VARCHAR(50) = NULL
AS
BEGIN
	IF @IV_LOCALGLOBAL ='LOCAL'
  BEGIN
		SELECT [ID_ITEM],[ITEM_DESC],[ITEM_DESC_NAME2],[ID_UNIT_ITEM]
			  ,[ID_MAKE],[ID_ITEM_MODEL],[ID_ITEM_CATG],[ID_SUPPLIER_ITEM],[ITEM_AVAIL_QTY],[ID_WH_ITEM],[ITEM_REORDER_LEVEL]
			  ,[ITEM_DISC_CODE],[ITEM_DISC_CODE_BUY],[BASIC_PRICE],[ITEM_PRICE],[COST_PRICE1],[NET_PRICE]
			  ,[LOCATION],[PACKAGE_QTY],[ID_VAT_CODE],[ACCOUNT_CODE],[FLG_ALLOW_BCKORD],[FLG_CALC_PRICE]
			  ,[FLG_CNT_STOCK],[FLG_DUTY],[CREATED_BY],[DT_CREATED],[MODIFIED_BY],[DT_MODIFIED],[Class_Code]
			  ,[ID_SPCATEGORY],[AVG_PRICE],[QTY_NOT_DELIVERED],[QTY_BO_SUPPLIER],[LAST_BUY_PRICE],[DT_LAST_BUY]
			  ,[MIN_STOCK],[MAX_STOCK],[MIN_PURCHASE],[MAX_PURCHASE],[CONSUMPTION_ESTIMATED],[FLG_BLOCK_AUTO_ORD]
			  ,[TD_CALC],[FLG_STOCKITEM],[VA_EXCHANGE_VEH],[VA_ORDER_COST],[FLG_STOCKITEM_STATUS],[ENV_ID_ITEM]
			  ,[ENV_ID_MAKE],[ENV_ID_WAREHOUSE],[FLG_EFD],[ALT_LOCATION],[ANNOTATION],[FLG_VAT_INCL],[FLG_OBTAIN_SPARE]
			  ,[FLG_OBSOLETE_SPARE],[FLG_AUTOADJUST_PRICE],[FLG_LABELS],[FLG_ALLOW_DISCOUNT],[DISCOUNT],[LAST_COST_PRICE] ,[SUPP_CURRENTNO]
		  FROM [dbo].[TBL_MAS_ITEM_MASTER]
		  WHERE  (ID_ITEM like '%' + @ID_SEARCH + '%' or ITEM_DESC like '%' + @ID_SEARCH + '%' or LOCATION like '%' + @ID_SEARCH + '%' or ID_SUPPLIER_ITEM like '%' + @ID_SEARCH + '%' )
		  and SUPP_CURRENTNO = @IV_SUPP_CURRENTNO
  END
  ELSE IF @IV_LOCALGLOBAL ='GLOBAL'
  BEGIN
  
		SELECT [ID_ITEM],[ITEM_DESC],[ITEM_DESC_NAME2],[ID_UNIT_ITEM]
			  ,[ID_MAKE],[ID_ITEM_MODEL],[ID_ITEM_CATG],
			  [ITEM_REORDER_LEVEL]
			  ,[ITEM_DISC_CODE],[ITEM_DISC_CODE_BUY],[BASIC_PRICE],[ITEM_PRICE],[COST_PRICE1],[NET_PRICE]
			  [PACKAGE_QTY],[ID_VAT_CODE],[ACCOUNT_CODE],[FLG_CALC_PRICE]
			  ,[ID_SPCATEGORY],[FLG_DUTY],[CREATED_BY],[DT_CREATED],[MODIFIED_BY],[DT_MODIFIED],
			  [SUPP_CURRENTNO]
		  FROM [dbo].[TBL_SPR_GLOBALSPAREPART]
			WHERE (ID_ITEM like '%' + @ID_SEARCH + '%' or ITEM_DESC like '%' + @ID_SEARCH + '%' )
			and SUPP_CURRENTNO = @IV_SUPP_CURRENTNO

  END
END
GO
