/****** Object:  StoredProcedure [dbo].[USP_SPR_SPAREPARTNOCHECK_NEW]    Script Date: 08-09-2021 16:19:42 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPR_SPAREPARTNOCHECK_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_SPAREPARTNOCHECK_NEW]    Script Date: 08-09-2021 16:19:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_SPR_SPAREPARTNOCHECK_NEW]
(
	@IV_WHNAMEFROM		VARCHAR(50)	= NULL,
	@IV_WHNAMETO		VARCHAR(50)	= NULL,
	--@IV_MAKE			VARCHAR(10) = NULL, 
	@SUPP_CURRENTNO		VARCHAR(50) = NULL, 
	@IV_CATFROM			VARCHAR(50) = NULL,
	@IV_CATTO			VARCHAR(50) = NULL,
	@IV_SPAREIDFROM		VARCHAR(50)	= NULL,
	@IV_SPAREIDTO		VARCHAR(50)	= NULL,
	@IV_LOCALGLOBAL		VARCHAR(20)	= NULL,
	@OV_FROM			VARCHAR(200) OUTPUT,
	@OV_TO				VARCHAR(200) OUTPUT
)
AS
BEGIN
DECLARE @QRYSTR AS VARCHAR(1000)

	IF(((@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) OR (@IV_WHNAMEFROM IS NULL AND @IV_WHNAMETO IS NULL))
		AND @SUPP_CURRENTNO IS NOT NULL AND  @IV_CATFROM IS NULL AND @IV_CATTO IS NULL)
	BEGIN
		IF @IV_LOCALGLOBAL = 'LOCAL' AND @IV_SPAREIDFROM IS NOT NULL
		BEGIN
			IF EXISTS (SELECT ID_ITEM FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @IV_SPAREIDFROM)
			BEGIN
				IF NOT EXISTS(SELECT MAS.ID_ITEM 
					FROM		TBL_MAS_ITEM_MASTER MAS					 
					INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH 
					ON			MAS.ID_WH_ITEM=WH.ID_WH 					
					WHERE		SUPP_CURRENTNO = @SUPP_CURRENTNO 					
					AND			WH.WH_NAME = @IV_WHNAMEFROM AND	MAS.ID_ITEM=@IV_SPAREIDFROM) 
				BEGIN
					SELECT @OV_FROM = 'Out of Range From'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_FROM = 'Invalid item From'
			END
		END
		IF @IV_LOCALGLOBAL = 'LOCAL' AND @IV_SPAREIDTO IS NOT NULL
		BEGIN	
			IF EXISTS (SELECT ID_ITEM FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @IV_SPAREIDTO)
			BEGIN  
				IF NOT EXISTS(SELECT MAS.ID_ITEM FROM TBL_MAS_ITEM_MASTER MAS					
					INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH 
					ON			MAS.ID_WH_ITEM=WH.ID_WH
					WHERE		SUPP_CURRENTNO = @SUPP_CURRENTNO 
					AND			WH.WH_NAME = @IV_WHNAMETO AND MAS.ID_ITEM=@IV_SPAREIDTO) 
				BEGIN
					SELECT @OV_TO = 'Out of Range To'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_TO = 'Invalid item To'
			END
		END
		IF @IV_LOCALGLOBAL = 'GLOBAL' AND @IV_SPAREIDFROM IS NOT NULL
		BEGIN	 
			IF EXISTS (SELECT ID_ITEM FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @IV_SPAREIDFROM)			
			BEGIN
				IF NOT EXISTS(SELECT ID_ITEM FROM TBL_SPR_GLOBALSPAREPART GLOBAL
					WHERE SUPP_CURRENTNO = @SUPP_CURRENTNO  AND	GLOBAL.ID_ITEM=@IV_SPAREIDFROM)
				BEGIN
					SELECT @OV_FROM = 'Out of Range From'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_FROM = 'Invalid item From'
			END
		END
		IF @IV_LOCALGLOBAL = 'GLOBAL' AND @IV_SPAREIDTO IS NOT NULL	
		BEGIN
			IF EXISTS (SELECT ID_ITEM FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @IV_SPAREIDTO)
			BEGIN
				IF NOT EXISTS (SELECT ID_ITEM
					FROM TBL_SPR_GLOBALSPAREPART GLOBAL
						WHERE	SUPP_CURRENTNO = @SUPP_CURRENTNO  AND GLOBAL.ID_ITEM=@IV_SPAREIDTO) 
				BEGIN
					SELECT @OV_TO = 'Out of Range To'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_TO = 'Invalid item To'
			END
		END
	END
	
	IF(((@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) OR (@IV_WHNAMEFROM IS NULL AND @IV_WHNAMETO IS NULL))
		AND @SUPP_CURRENTNO IS NOT NULL AND (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL))
	BEGIN
		IF @IV_LOCALGLOBAL = 'LOCAL' AND @IV_SPAREIDFROM IS NOT NULL
		BEGIN
			IF EXISTS (SELECT ID_ITEM FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @IV_SPAREIDFROM)
			BEGIN
				IF NOT EXISTS(SELECT MAS.ID_ITEM FROM TBL_MAS_ITEM_MASTER MAS
					INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH ON MAS.ID_WH_ITEM=WH.ID_WH
					INNER JOIN	TBL_MAS_ITEM_CATG CAT ON MAS.ID_ITEM_CATG=CAT.ID_ITEM_CATG  
				WHERE	MAS.SUPP_CURRENTNO = @SUPP_CURRENTNO  AND	WH.WH_NAME = @IV_WHNAMEFROM 
					AND	CAT.CATG_DESC = @IV_CATFROM AND	MAS.ID_ITEM=@IV_SPAREIDFROM)
				BEGIN
					SELECT @OV_FROM = 'Out of Range From'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_FROM = 'Invalid item From'
			END
		END
		IF @IV_LOCALGLOBAL = 'LOCAL' AND @IV_SPAREIDTO IS NOT NULL	
		BEGIN
			IF EXISTS (SELECT ID_ITEM FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @IV_SPAREIDTO)
			BEGIN  
				IF NOT EXISTS(SELECT MAS.ID_ITEM FROM TBL_MAS_ITEM_MASTER MAS
					INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH ON MAS.ID_WH_ITEM=WH.ID_WH
					INNER JOIN	TBL_MAS_ITEM_CATG CAT ON MAS.ID_ITEM_CATG=CAT.ID_ITEM_CATG 
					WHERE	MAS.SUPP_CURRENTNO = @SUPP_CURRENTNO AND	WH.WH_NAME = @IV_WHNAMETO 
					AND		CAT.CATG_DESC = @IV_CATTO AND MAS.ID_ITEM=@IV_SPAREIDTO)
				BEGIN
					SELECT @OV_TO = 'Out of Range To'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_TO = 'Invalid item To'
			END
		END
		IF @IV_LOCALGLOBAL = 'GLOBAL' AND @IV_SPAREIDFROM IS NOT NULL
		BEGIN	 
			IF EXISTS (SELECT ID_ITEM FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @IV_SPAREIDFROM)			
			BEGIN
				IF NOT EXISTS(SELECT ID_ITEM FROM TBL_SPR_GLOBALSPAREPART GLOBAL
					INNER JOIN	TBL_MAS_ITEM_CATG CAT ON GLOBAL.ID_ITEM_CATG=CAT.ID_ITEM_CATG 
					WHERE	GLOBAL.SUPP_CURRENTNO = @SUPP_CURRENTNO
					AND		CAT.CATG_DESC = @IV_CATFROM AND GLOBAL.ID_ITEM=@IV_SPAREIDFROM)
				BEGIN
					SELECT @OV_FROM = 'Out of Range From'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_FROM = 'Invalid item From'
			END
		END
		IF @IV_LOCALGLOBAL = 'GLOBAL' AND @IV_SPAREIDTO IS NOT NULL
		BEGIN	
			IF EXISTS (SELECT ID_ITEM FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @IV_SPAREIDTO)
			BEGIN
				IF NOT EXISTS (SELECT ID_ITEM
					FROM	TBL_SPR_GLOBALSPAREPART GLOBAL
					INNER JOIN	TBL_MAS_ITEM_CATG CAT 
					ON		GLOBAL.ID_ITEM_CATG=CAT.ID_ITEM_CATG 
					WHERE	GLOBAL.SUPP_CURRENTNO = @SUPP_CURRENTNO
					AND		CAT.CATG_DESC = @IV_CATTO AND GLOBAL.ID_ITEM=@IV_SPAREIDTO)
				BEGIN
					SELECT @OV_TO = 'Out of Range To'
				END
			END
			ELSE
			BEGIN
				SELECT @OV_TO = 'Invalid item To'
			END
		END
	END
END











GO
