/****** Object:  StoredProcedure [dbo].[USP_SPR_SPAREPARTCATG_UPDATE]    Script Date: 16-05-2022 18:24:26 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPR_SPAREPARTCATG_UPDATE]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_SPAREPARTCATG_UPDATE]    Script Date: 16-05-2022 18:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Praveen
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================  
    
CREATE PROCEDURE [dbo].[USP_SPR_SPAREPARTCATG_UPDATE]
(
 @ID_ITEM_CATG VARCHAR(30),
 @ID_DISCOUNTCODEBUY INT,
 @ID_DISCOUNTCODESELL INT,
 @ID_SUPPLIER INT,
 @SUPP_CURRENTNO VARCHAR(50),  
 @CATEGORY VARCHAR(50),
 @DESCRIPTION VARCHAR(100),
 @INITIALCLASSCODE VARCHAR(50),
 @VATCODE VARCHAR(100),
 @ACCOUNTCODE VARCHAR(50),
 @FLG_ALLOWBO BIT,
 @FLG_COUNTSTOCK BIT,
 @FLG_ALLOWCLASS BIT,
 @MODIFIEDBY VARCHAR(20),
 @ISSUCCESS BIT OUTPUT,
 @ERRMSG VARCHAR(100) OUTPUT
 
 )
AS
BEGIN
	--IF EXISTS(SELECT * FROM TBL_MAS_ITEM_CATG WHERE SUPP_CURRENTNO = @SUPP_CURRENTNO AND CATG_DESC = @CATEGORY)
	IF EXISTS(SELECT * FROM TBL_MAS_ITEM_CATG WHERE ID_ITEM_CATG = @ID_ITEM_CATG)
	BEGIN			
			BEGIN TRY					
					UPDATE TBL_MAS_ITEM_CATG
					SET 
						ID_DISCOUNTCODEBUY =@ID_DISCOUNTCODEBUY,
						ID_DISCOUNTCODESELL = @ID_DISCOUNTCODESELL,
						ID_SUPPLIER = @ID_SUPPLIER,			
						DESCRIPTION = @DESCRIPTION,
						INITIALCLASSCODE = @INITIALCLASSCODE,
						VATCODE = @VATCODE,
						ACCOUNTCODE = @ACCOUNTCODE,
						FLG_ALLOWBO = @FLG_ALLOWBO,
						FLG_COUNTSTOCK = @FLG_COUNTSTOCK,
						FLG_ALLOWCLASS = @FLG_ALLOWCLASS, 
						MODIFIED_BY = @MODIFIEDBY,
						DT_MODIFIED = GETDATE(),
						SUPP_CURRENTNO = @SUPP_CURRENTNO
					WHERE ID_ITEM_CATG = @ID_ITEM_CATG

					--WHERE SUPP_CURRENTNO = @SUPP_CURRENTNO
					--	AND CATG_DESC = @CATEGORY	
						
					SET @ISSUCCESS = 1
					SET @ERRMSG = ''
			END TRY	
			BEGIN CATCH
				SET @ISSUCCESS = 0
				SELECT @ERRMSG = ERROR_MESSAGE()
		END CATCH	
	END
	ELSE
	BEGIN
			SET @ISSUCCESS = 0
			SELECT @ERRMSG = 'Record  Not Modified Succesfully.'
	END		
END










GO
