/****** Object:  StoredProcedure [dbo].[USP_UPD_CP_SP_Spares]    Script Date: 29-03-2022 00:35:53 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_UPD_CP_SP_Spares]
GO
/****** Object:  StoredProcedure [dbo].[USP_UPD_CP_SP_Spares]    Script Date: 29-03-2022 00:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Praveen
-- Create date: <Create Date,,>
-- Description:	To update the CostPrice,SalesPrice of the sparepart 
-- =============================================
CREATE PROCEDURE [dbo].[USP_UPD_CP_SP_Spares]
@IV_ID_ITEM VARCHAR(50),
@IV_SUPP_CURR_NO VARCHAR(50),
@IV_SALES_PRICE DECIMAL(13,2),
@IV_COST_PRICE  DECIMAL(13,2),
@IV_SPAREPART_ID VARCHAR(50), -- this is new column to save the sparepart id from webservice response
@IV_USERID VARCHAR(50),
@IV_ID_WH INT,
@OV_RETVALUE VARCHAR(50) OUTPUT

AS
BEGIN

	DECLARE @FREIGHT_PER_BELOW AS SMALLINT
	DECLARE @FREIGHT_PER_ABOVE AS SMALLINT
	DECLARE @FREIGHT_LIMIT AS SMALLINT
	DECLARE @NET_PRICE AS DECIMAL(13,2)

	IF EXISTS (SELECT  * FROM TBL_MAS_SUPPLIER WHERE SUPP_CURRENTNO = @IV_SUPP_CURR_NO)
	BEGIN
		SELECT @FREIGHT_PER_BELOW= ISNULL(FREIGHT_PERC_BELOW,0),@FREIGHT_PER_ABOVE= ISNULL(FREIGHT_PERC_ABOVE,0) ,@FREIGHT_LIMIT= ISNULL(FREIGHT_LIMIT,0)  FROM TBL_MAS_SUPPLIER WHERE SUPP_CURRENTNO = @IV_SUPP_CURR_NO
	END

	IF(@IV_COST_PRICE > @FREIGHT_LIMIT)
	BEGIN
		SELECT @NET_PRICE= @IV_COST_PRICE + ((@FREIGHT_PER_ABOVE * @IV_COST_PRICE) / 100)
	END
	ELSE
	BEGIN
		SELECT @NET_PRICE= @IV_COST_PRICE + ((@FREIGHT_PER_BELOW * @IV_COST_PRICE) / 100)
	END

	IF EXISTS (SELECT  * FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @IV_ID_ITEM AND SUPP_CURRENTNO = @IV_SUPP_CURR_NO AND ID_WH_ITEM = @IV_ID_WH )
	BEGIN
		UPDATE TBL_MAS_ITEM_MASTER 
		SET 
		ITEM_PRICE = @IV_SALES_PRICE,--Brutto
		COST_PRICE1 = @IV_COST_PRICE,--Netto
		MODIFIED_BY = @IV_USERID,
		DT_MODIFIED = GETDATE(),
		WEB_SPAREPART_ID = @IV_SPAREPART_ID, -- is the new column from webservice response
		--Newly added 18-03-2022
		BASIC_PRICE = @IV_SALES_PRICE,
		NET_PRICE = @NET_PRICE
		WHERE ID_ITEM = @IV_ID_ITEM AND 
		SUPP_CURRENTNO = @IV_SUPP_CURR_NO
		AND ID_WH_ITEM = @IV_ID_WH

		IF @@ERROR <> 0 	
			SET @OV_RETVALUE = 'FAILED'
		ELSE
			SET @OV_RETVALUE= 'UPDATED'

	END
	ELSE
	BEGIN 
		SET @OV_RETVALUE= 'SPARE_NOTEXISTS'
	END 



END
GO
