USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_INSERT]    Script Date: 20.05.2020 08.43.24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_SPAREPART_INSERT] 
(
    @ID_ITEM varchar(30),		-- Required
	@ID_MAKE varchar(10),		-- Required
	@ID_WH_ITEM int,			-- Required
	@ID_ITEM_CATG varchar(10),	-- Required
    @ITEM_DESC varchar(100)	= NULL,
    @ITEM_DESC_NAME2 varchar(100)	= NULL,
    @ID_UNIT_ITEM varchar(10)	= NULL,
    @ID_ITEM_MODEL varchar(10)	= NULL,

    @ID_SUPPLIER_ITEM int = NULL,
    @ITEM_AVAIL_QTY decimal(15,2)	= NULL,
    @ITEM_REORDER_LEVEL int	= NULL,
    @ITEM_DISC_CODE int	= NULL,
    @ITEM_DISC_CODE_BUY varchar(10)	= NULL,
    @BASIC_PRICE varchar(20)	= NULL,
    @ITEM_PRICE varchar(20)	= NULL,
	@COST_PRICE1 varchar(20)	= NULL,
    @NET_PRICE varchar(20)	= NULL,
    @LOCATION varchar(20)	= NULL,
    @PACKAGE_QTY int	= NULL,
    @ID_VAT_CODE varchar(10)	= NULL,
    @ACCOUNT_CODE varchar(20)	= NULL,
    @FLG_ALLOW_BCKORD bit	= NULL,
    @FLG_CALC_PRICE bit	= NULL,
    @FLG_CNT_STOCK bit	= NULL,
    @FLG_DUTY bit	= NULL,
    @CREATED_BY varchar(20)	= NULL,
    --@DT_CREATED datetime	= NULL,
    @MODIFIED_BY varchar(20)	= NULL,
    --@DT_MODIFIED datetime	= NULL,
    @Class_Code varchar(50)	= NULL,
    @ID_SPCATEGORY int	= NULL,
    @AVG_PRICE varchar(20)	= NULL,
	@DEPOSITREFUND_ID_ITEM varchar(100)	= NULL,
	@DEPOSITREFUND_SUPP_CURRENTNO varchar(100)	= NULL,
    @QTY_NOT_DELIVERED decimal(12,2)	= NULL,
    @QTY_BO_SUPPLIER decimal(12,2)	= NULL,
    @LAST_BUY_PRICE decimal(13,2)	= NULL,
    @DT_LAST_BUY datetime	= NULL,
    @MIN_STOCK decimal(13,2)	= NULL,
    @MAX_STOCK decimal(13,2)	= NULL,
	@MIN_PURCHASE decimal(13,2)	= NULL,
	@MAX_PURCHASE decimal(13,2)	= NULL,
	@CONSUMPTION_ESTIMATED decimal(13,2)	= NULL,
    @FLG_BLOCK_AUTO_ORD bit = 0,
    @TD_CALC bit = 0,
    @FLG_STOCKITEM bit = 0,
    @VA_EXCHANGE_VEH bit = 0,
    @VA_ORDER_COST bit = 0,
    @FLG_STOCKITEM_STATUS bit = 0,
    @ENV_ID_ITEM varchar(50)	= NULL,
    @ENV_ID_MAKE varchar(10)	= NULL,
    @ENV_ID_WAREHOUSE int	= NULL,
    @FLG_EFD bit = 0,
    @ALT_LOCATION varchar(50)	= NULL,
    @ANNOTATION varchar(150)	= NULL,
    @FLG_VAT_INCL bit = 0,
    @FLG_OBTAIN_SPARE bit = 0,
    @FLG_OBSOLETE_SPARE bit = 0,
    @FLG_AUTOADJUST_PRICE bit = 0,
    @FLG_LABELS bit = 0,
    @FLG_ALLOW_DISCOUNT bit = 0,
    @DISCOUNT decimal(18,0)	= NULL,
    @LAST_COST_PRICE decimal(20,2)	= NULL,
    @TEXT varchar(200)	= NULL,
    @FLG_AUTO_ARRIVAL bit	= 0,
    @FLG_REPLACEMENT_PURCHASE bit = 0,
    @FLG_SAVE_TO_NONSTOCK bit = 0,
    @WEIGHT varchar(50)	= NULL,
	@BARCODE_NUMBER varchar(1000) = NULL,
	@RETVAL					varchar(10) OUTPUT,
	@RETSPARE				varchar(15) OUTPUT 
)

AS
BEGIN

DECLARE @DT_CREATED DATETIME = getdate()
DECLARE @DT_MODIFIED DATETIME = getdate()
--DECLARE @ID_ITEM_CATG INT = (SELECT TOP 1 ID_ITEM_CATG FROM TBL_MAS_ITEM_CATG WHERE ID_MAKE = @ID_MAKE ORDER BY ID_ITEM_CATG ASC)


SET @BASIC_PRICE = ISNULL(REPLACE(@BASIC_PRICE,',', '.'), '0.00')
SET @ITEM_PRICE =  ISNULL(REPLACE(@ITEM_PRICE,',', '.'), '0.00')
SET @COST_PRICE1 = ISNULL(REPLACE(@COST_PRICE1,',', '.'), '0.00')
SET @NET_PRICE = ISNULL(REPLACE(@NET_PRICE,',', '.'), '0.00')
SET @AVG_PRICE = ISNULL(REPLACE(@AVG_PRICE,',', '.'), '0.00')
SET @MIN_STOCK = ISNULL(REPLACE(@MIN_STOCK,',', '.'), '0.00')
SET @MAX_PURCHASE = ISNULL(REPLACE(@MAX_PURCHASE,',', '.'), '0.00')
SET @MIN_PURCHASE = ISNULL(REPLACE(@MIN_PURCHASE,',', '.'), '0.00')
SET @CONSUMPTION_ESTIMATED = ISNULL(REPLACE(@CONSUMPTION_ESTIMATED,',', '.'), '0.00')

PRINT @ID_ITEM

-- Insert Statement if customer does not exist
IF NOT EXISTS (SELECT * FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @ID_ITEM and ID_MAKE = @ID_MAKE and ID_WH_ITEM = @ID_WH_ITEM) AND LEN(@ID_ITEM) > 0
BEGIN
	INSERT INTO [dbo].[TBL_MAS_ITEM_MASTER]
				([ID_ITEM]
      ,[ITEM_DESC]
      ,[ITEM_DESC_NAME2]
      ,[ID_UNIT_ITEM]
      ,[ID_MAKE]
      ,[ID_ITEM_MODEL]
      ,[ID_ITEM_CATG]
      ,[ID_SUPPLIER_ITEM]
      ,[ITEM_AVAIL_QTY]
      ,[ID_WH_ITEM]
      ,[ITEM_REORDER_LEVEL]
      ,[ITEM_DISC_CODE]
      ,[ITEM_DISC_CODE_BUY]
      ,[BASIC_PRICE]
      ,[ITEM_PRICE]
      ,[COST_PRICE1]
      ,[NET_PRICE]
      ,[LOCATION]
      ,[PACKAGE_QTY]
      ,[ID_VAT_CODE]
      ,[ACCOUNT_CODE]
      ,[FLG_ALLOW_BCKORD]
      ,[FLG_CALC_PRICE]
      ,[FLG_CNT_STOCK]
      ,[FLG_DUTY]
      ,[CREATED_BY]
      ,[DT_CREATED]
     -- ,[MODIFIED_BY]
     -- ,[DT_MODIFIED]
      ,[Class_Code]
      ,[ID_SPCATEGORY]
      ,[AVG_PRICE]
      ,[QTY_NOT_DELIVERED]
      ,[QTY_BO_SUPPLIER]
      ,[LAST_BUY_PRICE]
      ,[DT_LAST_BUY]
      ,[MIN_STOCK]
      ,[MAX_PURCHASE]
	  ,[MIN_PURCHASE]
      ,[CONSUMPTION_ESTIMATED]
      ,[FLG_BLOCK_AUTO_ORD]
      ,[TD_CALC]
      ,[FLG_STOCKITEM]
      ,[VA_EXCHANGE_VEH]
      ,[VA_ORDER_COST]
      ,[FLG_STOCKITEM_STATUS]
      ,[ENV_ID_ITEM]
      ,[ENV_ID_MAKE]
      ,[ENV_ID_WAREHOUSE]
      ,[FLG_EFD]
      ,[ALT_LOCATION]
      ,[ANNOTATION]
      ,[FLG_VAT_INCL]
      ,[FLG_OBTAIN_SPARE]
      ,[FLG_OBSOLETE_SPARE]
      ,[FLG_AUTOADJUST_PRICE]
      ,[FLG_LABELS]
      ,[FLG_ALLOW_DISCOUNT]
      ,[DISCOUNT]
      ,[LAST_COST_PRICE]
      ,[TEXT]
      ,[FLG_AUTO_ARRIVAL]
      ,[FLG_REPLACEMENT_PURCHASE]
      ,[FLG_SAVE_TO_NONSTOCK]
      ,[WEIGHT]
	  ,[DEPOSITREFUND_ID_ITEM]
	  ,[DEPOSITREFUND_SUPP_CURRENTNO]
	  ,SUPP_CURRENTNO
	  ,BARCODE_NUMBER)
			VALUES
				(@ID_ITEM ,
    @ITEM_DESC ,
    @ITEM_DESC_NAME2 ,
    @ID_UNIT_ITEM ,
    @ID_MAKE ,
    @ID_ITEM_MODEL ,
    @ID_ITEM_CATG ,
    @ID_SUPPLIER_ITEM ,
    @ITEM_AVAIL_QTY ,
    @ID_WH_ITEM ,
    @ITEM_REORDER_LEVEL ,
    @ITEM_DISC_CODE ,
    @ITEM_DISC_CODE_BUY ,
    @BASIC_PRICE ,
    @ITEM_PRICE ,
	@COST_PRICE1 ,
    @NET_PRICE ,
    @LOCATION ,
    @PACKAGE_QTY ,
    @ID_VAT_CODE ,
    @ACCOUNT_CODE ,
    @FLG_ALLOW_BCKORD ,
    @FLG_CALC_PRICE ,
    @FLG_CNT_STOCK ,
    @FLG_DUTY ,
    @CREATED_BY ,
    @DT_CREATED ,
   -- @MODIFIED_BY ,
   -- @DT_MODIFIED ,
    @Class_Code ,
    @ID_SPCATEGORY ,
    @AVG_PRICE ,
    @QTY_NOT_DELIVERED ,
    @QTY_BO_SUPPLIER ,
    @LAST_BUY_PRICE ,
    @DT_LAST_BUY ,
    @MIN_STOCK ,
    @MAX_PURCHASE ,
	@MIN_PURCHASE,
	@CONSUMPTION_ESTIMATED,
    @FLG_BLOCK_AUTO_ORD ,
    @TD_CALC ,
    @FLG_STOCKITEM ,
    @VA_EXCHANGE_VEH ,
    @VA_ORDER_COST ,
    @FLG_STOCKITEM_STATUS ,
    @ENV_ID_ITEM ,
    @ENV_ID_MAKE ,
    @ENV_ID_WAREHOUSE,
    @FLG_EFD ,
    @ALT_LOCATION ,
    @ANNOTATION ,
    @FLG_VAT_INCL ,
    @FLG_OBTAIN_SPARE ,
    @FLG_OBSOLETE_SPARE ,
    @FLG_AUTOADJUST_PRICE ,
    @FLG_LABELS ,
    @FLG_ALLOW_DISCOUNT ,
    @DISCOUNT ,
    @LAST_COST_PRICE ,
    @TEXT ,
    @FLG_AUTO_ARRIVAL ,
    @FLG_REPLACEMENT_PURCHASE ,
    @FLG_SAVE_TO_NONSTOCK ,
    @WEIGHT,
	@DEPOSITREFUND_ID_ITEM,
	@DEPOSITREFUND_SUPP_CURRENTNO,
	@ID_MAKE ,
	@BARCODE_NUMBER
			)
		SET @RETVAL = 'INSFLG'
END
ELSE IF EXISTS (SELECT * FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @ID_ITEM and ID_MAKE=@ID_MAKE and ID_WH_ITEM = @ID_WH_ITEM) 
BEGIN
	UPDATE [dbo].[TBL_MAS_ITEM_MASTER]
	SET
		[ID_ITEM]= @ID_ITEM,				
		[ITEM_DESC]= @ITEM_DESC,
		[ITEM_DESC_NAME2]= @ITEM_DESC_NAME2,
		[ID_UNIT_ITEM]= @ID_UNIT_ITEM,
		[ID_MAKE]= @ID_MAKE,
		[ID_ITEM_MODEL]= @ID_ITEM_MODEL,
		[ID_ITEM_CATG]= @ID_ITEM_CATG,
		[ID_SUPPLIER_ITEM]= @ID_SUPPLIER_ITEM,
		[ITEM_AVAIL_QTY]= @ITEM_AVAIL_QTY,
--		[ID_WH_ITEM]= @ID_WH_ITEM,
--		[ITEM_REORDER_LEVEL]= @ITEM_REORDER_LEVEL,
--		[ITEM_DISC_CODE]= @ITEM_DISC_CODE,
		[ITEM_DISC_CODE_BUY]= @ITEM_DISC_CODE_BUY,
		[BASIC_PRICE]= @BASIC_PRICE,
		[ITEM_PRICE]= @ITEM_PRICE,
		[COST_PRICE1]= @COST_PRICE1,
		[NET_PRICE]= @NET_PRICE,
		[AVG_PRICE]=@AVG_PRICE,
		[LOCATION]= @LOCATION,
		[PACKAGE_QTY]= @PACKAGE_QTY,
		[ID_VAT_CODE]= @ID_VAT_CODE,
		[ACCOUNT_CODE]= @ACCOUNT_CODE,
		[FLG_ALLOW_BCKORD]= @FLG_ALLOW_BCKORD,
		[FLG_CALC_PRICE]= @FLG_CALC_PRICE,
		[FLG_CNT_STOCK]= @FLG_CNT_STOCK,
		[FLG_DUTY]= @FLG_DUTY,
--		[CREATED_BY]= @CREATED_BY,
--		[DT_CREATED]= @DT_CREATED,
		[MODIFIED_BY]= @MODIFIED_BY,
		[DT_MODIFIED]= @DT_MODIFIED,
--		[Class_Code]= @Class_Code,
--		[ID_SPCATEGORY]= @ID_SPCATEGORY,
--		[AVG_PRICE]= @AVG_PRICE,
--		[QTY_NOT_DELIVERED]= @QTY_NOT_DELIVERED,
--		[QTY_BO_SUPPLIER]= @QTY_BO_SUPPLIER,
--		[LAST_BUY_PRICE]= @LAST_BUY_PRICE,
--		[DT_LAST_BUY]= @DT_LAST_BUY,
		[MIN_STOCK]= @MIN_STOCK,
		[MAX_PURCHASE]= @MAX_PURCHASE,
		[MIN_PURCHASE]= @MIN_PURCHASE,
		[CONSUMPTION_ESTIMATED]= @CONSUMPTION_ESTIMATED,
		
		[FLG_BLOCK_AUTO_ORD]= @FLG_BLOCK_AUTO_ORD,
		[TD_CALC]= @TD_CALC,
		[FLG_STOCKITEM]= @FLG_STOCKITEM,
--		[VA_EXCHANGE_VEH]= @VA_EXCHANGE_VEH,
--		[VA_ORDER_COST]= @VA_ORDER_COST,
--		[FLG_STOCKITEM_STATUS]= @FLG_STOCKITEM_STATUS,
		[ENV_ID_ITEM]= @ENV_ID_ITEM,
		[ENV_ID_MAKE]= @ENV_ID_MAKE,
		[ENV_ID_WAREHOUSE]= @ENV_ID_WAREHOUSE,
		[FLG_EFD]= @FLG_EFD,
		[ALT_LOCATION]= @ALT_LOCATION,
		[ANNOTATION]= @ANNOTATION,
		[FLG_VAT_INCL]= @FLG_VAT_INCL,
		[FLG_OBTAIN_SPARE]= @FLG_OBTAIN_SPARE,
		[FLG_OBSOLETE_SPARE]= @FLG_OBSOLETE_SPARE,
		[FLG_AUTOADJUST_PRICE]= @FLG_AUTOADJUST_PRICE,
		[FLG_LABELS]= @FLG_LABELS,
		[FLG_ALLOW_DISCOUNT]= @FLG_ALLOW_DISCOUNT,
		[DISCOUNT]= @DISCOUNT,
		--[LAST_COST_PRICE]= @LAST_COST_PRICE,
		[TEXT]= @TEXT,
		[FLG_AUTO_ARRIVAL]= @FLG_AUTO_ARRIVAL,
		[FLG_REPLACEMENT_PURCHASE]= @FLG_REPLACEMENT_PURCHASE,
		[FLG_SAVE_TO_NONSTOCK]= @FLG_SAVE_TO_NONSTOCK,
		[WEIGHT]= @WEIGHT,
		[DEPOSITREFUND_ID_ITEM] = @DEPOSITREFUND_ID_ITEM,
		DEPOSITREFUND_SUPP_CURRENTNO = @DEPOSITREFUND_SUPP_CURRENTNO,
		[SUPP_CURRENTNO]= @ID_MAKE
		, BARCODE_NUMBER = @BARCODE_NUMBER			
	WHERE 
		ID_ITEM = @ID_ITEM and ID_MAKE = @ID_MAKE and ID_WH_ITEM = @ID_WH_ITEM
	SET @RETVAL = 'UPDFLG'
	END
	SET @RETSPARE = @ID_ITEM
END

PRINT @RETVAL