/****** Object:  StoredProcedure [dbo].[USP_REP_PACKAGE_FETCH_DETAILS_WO]    Script Date: 24-02-2022 10:35:00 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_REP_PACKAGE_FETCH_DETAILS_WO]
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_PACKAGE_FETCH_DETAILS_WO]    Script Date: 24-02-2022 10:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_REP_PACKAGE_FETCH_DETAILS_WO]
(
	@ID_RPKG_SEQ int,
	@JOB_ID varchar(50)
)
AS
BEGIN

	SELECT 
	RSM.ID_ITEM_JOB,
	RSM.LINE_DESCRIPTION,
	RSM.RP_QTY, 
	LINE_TYPE,
	RSM.SUPP_CURRENTNO,
	RSM.ID_ITEM_CATG,
	RSM.RP_ITEM_PRICE,
	RSM.RP_TOTAL_PRICE,
	IM.ITEM_AVAIL_QTY AS 'ITEM_AVAIL_QTY',
	IM.ID_WH_ITEM AS 'ID_WH_ITEM'
	FROM TBL_MAS_REP_SPARE_MAPPING RSM
	LEFT OUTER JOIN TBL_MAS_ITEM_MASTER IM
	ON RSM.ID_ITEM_JOB= IM.ID_ITEM
	WHERE RSM.ID_RP_CODE = @JOB_ID 
	AND RSM.ID_RPKG_SEQ=@ID_RPKG_SEQ
	
	ORDER BY ID_SPARE_SEQ ASC 
	
END
GO
