/****** Object:  StoredProcedure [dbo].[USP_FETCH_ORDER_LIST]    Script Date: 27-04-2021 12:37:46 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_ORDER_LIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_ORDER_LIST]    Script Date: 27-04-2021 12:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	To Fetch the Orders based on Customer and Vehicle
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_ORDER_LIST] 
@ID_CUST_WO varchar(30),
@ID_VEH_SEQ_WO int ,
@ID_APT_HDR int,
@ID_APT_DTL int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	

	DECLARE @IS_ORDER int,@ID_WO_NUM  varchar(20),@ID_WO_PREFIX  varchar(20)

	SELECT  @IS_ORDER =
	CASE
		WHEN APTHDR.ID_WO_NO IS NOT NULL AND  APTDTL.ID_WO_NO IS NULL THEN 1
		ELSE  0
	END 
	from TBL_APPOINTMENTS_HEADER APTHDR INNER JOIN TBL_APPOINTMENT_DETAILS APTDTL  ON APTHDR.APPOINTMENT_ID = APTDTL.APPOINTMENT_ID WHERE ID_APPOINTMENT_DETAILS=@ID_APT_DTL


	SELECT  @ID_WO_NUM=ID_WO_NO,@ID_WO_PREFIX=ID_WO_PREFIX FROM TBL_APPOINTMENTS_HEADER WHERE APPOINTMENT_ID=@ID_APT_HDR
	IF(@IS_ORDER = 1)
	BEGIN
		SELECT WH.ID_WO_NO,WH.ID_WO_PREFIX,WO_STATUS,ID_CUST_WO,WO_CUST_NAME,ID_VEH_SEQ_WO,WO_VEH_REG_NO,WO_VEH_INTERN_NO FROM TBL_WO_HEADER WH where ID_WO_NO=@ID_WO_NUM
	END

	ELSE
	BEGIN
		SELECT WH.ID_WO_NO,WH.ID_WO_PREFIX,WO_STATUS,ID_CUST_WO,WO_CUST_NAME,ID_VEH_SEQ_WO,WO_VEH_REG_NO,WO_VEH_INTERN_NO FROM TBL_WO_HEADER WH where WH.ID_CUST_WO = @ID_CUST_WO 
		AND WH.WO_STATUS NOT IN('INV','PINV','RINV') AND ID_VEH_SEQ_WO = @ID_VEH_SEQ_WO

	END

END
GO
