/****** Object:  StoredProcedure [dbo].[USP_MAS_FETCH_TEMPLATE_CONFIGURATION_NEW]    Script Date: 22-04-2022 10:49:08 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_MAS_FETCH_TEMPLATE_CONFIGURATION_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_MAS_FETCH_TEMPLATE_CONFIGURATION_NEW]    Script Date: 22-04-2022 10:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_MAS_FETCH_TEMPLATE_CONFIGURATION_NEW]
@TEMPLATE_ID INT,
@File_Type varchar(20),
@File_Name varchar(50),
@LANGUAGE VARCHAR(20) = NULL

AS
BEGIN
	-- gets the parameter details for a template
	
	SELECT TEMPLATE_ID,FILE_TYPE,[FILE_NAME],TEMPLATE_NAME,CHARACTER_SET,DECIMAL_DELIMITER,THOUSANDS_DELIMITER,DATE_FORMAT,TIME_FORMAT,FILE_MODE,DELIMITER,DELIMITER_OTHER,DESCRIPTION,INSERT_BY,INSERT_DATE,UPDATED_BY,UPDATE_DATE,FLG_BL_SPACS,BLAN_SPACS,
	ORDER_PRE_LEN,ORDER_SERIES_LEN,JOB_ID_LEN FROM TBL_MAS_TEMPLATE_CONFIGURATION	
	WHERE FILE_TYPE =@File_Type AND [FILE_NAME]=@File_NAME AND TEMPLATE_ID = @TEMPLATE_ID

	-- Gets the list of Configurations for a selected template
	SELECT DISTINCT TBL_MAS_FIELD_NAMES.FIELD_ID,CASE LANG_NAME WHEN 'ENGLISH' THEN FIELD_NAME ELSE TBL_ML_CTRL_DETAILS.CAPTION END AS FIELD_NAME,FIELD_NAME AS FIELD_NAME_ENG ,POSITION_FROM,FIELD_LENGTH,ORDER_IN_FILE,DECIMAL_DIVIDE,TBL_MAS_FIELD_CONFIGURATION.FIXED_VALUE,IS_MANDATORY,IS_DECIMAL_DIVIDE, TBL_MAS_FIELD_NAMES.FIELD_MAXLENGTH,FIELD_TYPE,FIELD_ORDER,ISNULL(TBL_MAS_FIELD_CONFIGURATION.FIELD_ENCLOSING_CH,'')AS ENCLOSING_CHAR
	,ISNULL(TBL_MAS_FIELD_NAMES.IS_VAT_CHECK,0)AS IS_VAT_CHECK,
	TBL_MAS_FIELD_CONFIGURATION.AR_VAT_FREE,TBL_MAS_FIELD_CONFIGURATION.AR_VAT_PAYING,TBL_MAS_FIELD_CONFIGURATION.GL_VAT_FREE,TBL_MAS_FIELD_CONFIGURATION.GL_VAT_PAYING
	FROM TBL_MAS_FIELD_NAMES
	INNER JOIN TBL_ML_SCREEN_DETAILS ON TBL_MAS_FIELD_NAMES.[FILE_NAME] = TBL_ML_SCREEN_DETAILS.SCRN_NAME AND 
	TBL_MAS_FIELD_NAMES.CONTROL_ID = TBL_ML_SCREEN_DETAILS.CNTRLNAME
	INNER JOIN TBL_ML_CTRL_DETAILS ON TBL_ML_SCREEN_DETAILS.ID_SCRNO =TBL_ML_CTRL_DETAILS.ID_SCRNO
	INNER JOIN TBL_MAS_LANGUAGE ON TBL_MAS_LANGUAGE.ID_LANG =TBL_ML_CTRL_DETAILS.ID_LANG AND (LANG_NAME =@Language OR @LANGUAGE IS NULL)
	LEFT JOIN TBL_MAS_FIELD_CONFIGURATION ON TBL_MAS_FIELD_NAMES.FIELD_ID = TBL_MAS_FIELD_CONFIGURATION.FIELD_ID AND (TEMPLATE_ID = @TEMPLATE_ID)
	WHERE FILE_TYPE =@File_Type AND [FILE_NAME]=@File_NAME 
	ORDER BY FIELD_ORDER

	-- Gets the list of Condtions for a selected template
	--SELECT FIELD_CONDITION_ID,TEMPLATE_ID,TBL_MAS_FIELD_CONDITIONS.FIELD_ID,FIELD_NAME,POSITION_FROM,FIELD_LENGTH,ORDER_IN_FILE,CONDITION_VALUE FROM TBL_MAS_FIELD_CONDITIONS
	--INNER JOIN TBL_MAS_FIELD_NAMES ON TBL_MAS_FIELD_NAMES.FIELD_ID = TBL_MAS_FIELD_CONDITIONS.FIELD_ID
	--WHERE TEMPLATE_ID = @TEMPLATE_ID


	SELECT FIELD_CONDITION_ID,TEMPLATE_ID,TBL_MAS_FIELD_CONDITIONS.FIELD_ID,CASE LANG_NAME WHEN 'ENGLISH' THEN FIELD_NAME ELSE TBL_ML_CTRL_DETAILS.CAPTION END AS FIELD_NAME,POSITION_FROM,FIELD_LENGTH,ORDER_IN_FILE,CONDITION_VALUE FROM TBL_MAS_FIELD_CONDITIONS

	INNER JOIN TBL_MAS_FIELD_NAMES ON TBL_MAS_FIELD_NAMES.FIELD_ID = TBL_MAS_FIELD_CONDITIONS.FIELD_ID
	INNER JOIN TBL_ML_SCREEN_DETAILS ON TBL_MAS_FIELD_NAMES.[FILE_NAME] = TBL_ML_SCREEN_DETAILS.SCRN_NAME AND 
	TBL_MAS_FIELD_NAMES.CONTROL_ID = TBL_ML_SCREEN_DETAILS.CNTRLNAME
	INNER JOIN TBL_ML_CTRL_DETAILS ON TBL_ML_SCREEN_DETAILS.ID_SCRNO =TBL_ML_CTRL_DETAILS.ID_SCRNO
	INNER JOIN TBL_MAS_LANGUAGE ON TBL_MAS_LANGUAGE.ID_LANG =TBL_ML_CTRL_DETAILS.ID_LANG AND (LANG_NAME =@LANGUAGE OR @LANGUAGE IS NULL)
	WHERE TEMPLATE_ID = @TEMPLATE_ID
END
GO
