/****** Object:  StoredProcedure [dbo].[USP_SAVE_LESSE_CUSTOMER_API]    Script Date: 19-07-2021 18:48:40 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SAVE_LESSE_CUSTOMER_API]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_LESSE_CUSTOMER_API]    Script Date: 19-07-2021 18:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_SAVE_LESSE_CUSTOMER_API]
@ID_CUSTOMER   VARCHAR(10)	= NULL,
@LEASINGTAKER_NAME VARCHAR(50)=NULL,
@LEASINGTAKER_LASTNAME VARCHAR(50)=NULL,
@LEASINGTAKER_FIRSTNAME VARCHAR(50)=NULL,
@LEASINGTAKER_MIDDLENAME VARCHAR(50)=NULL,
@LEASINGTAKER_BIRTH_NO VARCHAR(50)=NULL,
@LEASINGTAKER_ADDRESSE VARCHAR(50)=NULL,
@LEASINGTAKER_POSTNR VARCHAR(50)=NULL,
@LEASINGTAKER_POSTSTED VARCHAR(50)=NULL,
@ORG_NR INT, -- 6 digits : Private Person , 9 digits : Organization No
@CREATEDBY VARCHAR(30),
@RETVAL	VARCHAR(10) OUTPUT,
@RETCUST VARCHAR(10) OUTPUT  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @VALIDATE BIT = 1
	DECLARE @isCompany BIT = 0


   --SELECT top 1 * FROM TBL_MAS_CUSTOMER_TEMPLATE
    DECLARE @CURRENT_YEAR int=CAST(FORMAT(GETDATE(), 'yy') as INT) --select FORMAT(GETDATE(), 'yy') AS yy
   DECLARE @BORN_YEAR int
   DECLARE @BORN_MONTH varchar(4)
   DECLARE @BORN_DATE varchar(4)
   DECLARE @DOB as varchar(10)
   DECLARE @CUSTOMER_DOB date=NULL

   IF len(cast(@ORG_NR as int)) = 9
	BEGIN
	SET @isCompany =1
	SET @LEASINGTAKER_LASTNAME=@LEASINGTAKER_NAME
   END
   ELSE
   BEGIN
		IF len(cast(@LEASINGTAKER_BIRTH_NO as int)) = 5
			BEGIN
				SET @LEASINGTAKER_BIRTH_NO = '0'+ @LEASINGTAKER_BIRTH_NO
			END
			SET @BORN_MONTH =SUBSTRING(@LEASINGTAKER_BIRTH_NO, 3, 2)
			SET @BORN_DATE =SUBSTRING(@LEASINGTAKER_BIRTH_NO, 1, 2)
		SET @BORN_YEAR=CAST(SUBSTRING(@LEASINGTAKER_BIRTH_NO, 5, 6) as INT)
		IF( @BORN_YEAR >= @CURRENT_YEAR)
		BEGIN
			SET @DOB=@BORN_DATE+@BORN_MONTH+'19'+CAST(@BORN_YEAR AS varchar)
			--SELECT '19'+CAST(@BORN_YEAR AS varchar(6))
		END
		ELSE
			SET @DOB=@BORN_DATE+@BORN_MONTH+'20'+CAST(@BORN_YEAR AS varchar)

			SET @CUSTOMER_DOB= cast(right(@DOB, 4)+substring(@DOB, 3, 2)+left(@DOB, 2) as date)
	   END


   IF @ID_CUSTOMER IS NULL OR @ID_CUSTOMER = ''
	BEGIN
		DECLARE @START_NUM INT =  (SELECT TOP 1 CUST_START_NO FROM TBL_MAS_CUST_CONFIG WHERE DT_EFF_FROM <= GETDATE() ORDER BY DT_EFF_FROM DESC) 
		DECLARE @NEXT_NUM INT = (SELECT TOP 1 t1.ID_CUSTOMER+1 FROM TBL_MAS_CUSTOMER t1 WHERE NOT EXISTS(SELECT * FROM TBL_MAS_CUSTOMER t2 where t2.ID_CUSTOMER = t1.ID_CUSTOMER + 1) and ID_CUSTOMER > @START_NUM ORDER BY CAST(t1.ID_CUSTOMER As INT))
		SET @ID_CUSTOMER = @NEXT_NUM
		IF LEN(@NEXT_NUM) = 0
		BEGIN
			SET @ID_CUSTOMER = @START_NUM
		END
	END
	
	PRINT @ID_CUSTOMER
	
	IF LEN(@LEASINGTAKER_LASTNAME) < 2
	BEGIN
		SET @VALIDATE = 0
	END

	DECLARE @CUST_LAGER bit =1
	DECLARE @CUST_VERKSTED bit =1
	DECLARE @CUST_BILSALG bit =0

	IF NOT EXISTS (SELECT * FROM TBL_MAS_CUSTOMER WHERE ID_CUSTOMER = @ID_CUSTOMER) AND @VALIDATE = 1 AND LEN(@ID_CUSTOMER) > 0
	BEGIN
	
		INSERT INTO Tbl_mas_Customer(ID_Customer,CUST_NAME,CUST_GEN_TYPE,ID_CUST_GROUP,CUST_CONTACT_PERSON,ID_CUST_REG_CD,ID_CUST_PC_CODE,ID_CUST_DISC_CD,CUST_SSN_NO,CUST_DRIV_LICNO,CUST_PHONE_OFF,
		CUST_PHONE_HOME,CUST_PHONE_MOBILE,CUST_FAX,CUST_ID_EMAIL,CUST_REMARKS,CUST_PERM_ADD1,CUST_PERM_ADD2,ID_CUST_PERM_ZIPCODE,CUST_BILL_ADD1,CUST_BILL_ADD2,ID_CUST_BILL_ZIPCODE,CUST_ACCOUNT_NO,
		ID_CUST_PAY_TYPE,ID_CUST_CURRENCY,CUST_CREDIT_LIMIT,CUST_UNUTIL_CREDIT,ID_CUST_WARN,ID_CUST_PAY_TERM,FLG_CUST_INACTIVE,FLG_CUST_ADV,FLG_CUST_FACTORING,FLG_CUST_BATCHINV,FLG_CUST_NOCREDIT,
		CREATED_BY,DT_CREATED,MODIFIED_BY,DT_MODIFIED,CUST_BALANCE,IsSameAddress,IsExported,CUST_HOURLYPRICE,COSTPRICE,CUST_GARAGEMAT,CUST_SUB,CUST_DEP,CUST_INV_EMAIL,CUST_FIRST_NAME,CUST_MIDDLE_NAME,
		CUST_LAST_NAME,CUST_COUNTRY,CUST_VISIT_ADDRESS,CUST_MAIL_ADDRESS,CUST_PHONE_ALT,CUST_HOMEPAGE,CUST_NOTES,FLG_PRIVATE_COMP,FLG_EINVOICE,FLG_ORDCONF_EMAIL,FLG_COSTPRICE,FLG_CUST_IGNOREINV,
		FLG_INV_EMAIL,FLG_HOURLY_ADD,FLG_NO_INVOICEFEE,FLG_BANKGIRO,FLG_NO_ADDITIONAL_COST,FLG_NO_HISTORY_PUBLISH,FLG_NO_GM,FLG_NO_ENV_FEE,FLG_PROSPECT,CUST_DISC_GENERAL,CUST_DISC_LABOUR,CUST_DISC_SPARES,
		CUST_NO_EMPLOYEES,CUST_ENIRO_ID,DT_CUST_BORN,CUST_COMPANY_NO,CUST_COMPANY_DESCRIPTION,CUST_COUNTRY_FLG,CUST_LAGER,CUST_VERKSTED,CUST_BILSALG)
		SELECT @ID_CUSTOMER,case when @isCompany=1 then @LEASINGTAKER_LASTNAME else @LEASINGTAKER_FIRSTNAME+' '+@LEASINGTAKER_MIDDLENAME+' '+@LEASINGTAKER_LASTNAME end,CUST_GEN_TYPE,ID_CUST_GROUP,CUST_CONTACT_PERSON,ID_CUST_REG_CD,ID_CUST_PC_CODE,ID_CUST_DISC_CD,CASE when @isCompany=1 then CAST(@ORG_NR as varchar(20)) else '' end,CUST_DRIV_LICNO,CUST_PHONE_OFF,CUST_PHONE_HOME,CUST_PHONE_MOBILE,
		CUST_FAX,CUST_ID_EMAIL,CUST_REMARKS,@LEASINGTAKER_ADDRESSE,CUST_PERM_ADD2,@LEASINGTAKER_POSTNR,CUST_BILL_ADD1,CUST_BILL_ADD2,ID_CUST_BILL_ZIPCODE,CUST_ACCOUNT_NO,ID_CUST_PAY_TYPE,ID_CUST_CURRENCY
		,CUST_CREDIT_LIMIT,CUST_UNUTIL_CREDIT,ID_CUST_WARN,ID_CUST_PAY_TERM,FLG_CUST_INACTIVE,FLG_CUST_ADV,FLG_CUST_FACTORING,FLG_CUST_BATCHINV,FLG_CUST_NOCREDIT,@CREATEDBY,GETDATE()
		,MODIFIED_BY,DT_MODIFIED,CUST_BALANCE,IsSameAddress,IsExported,CUST_HOURLYPRICE,COSTPRICE,CUST_GARAGEMAT,CUST_SUB,CUST_DEP,CUST_INV_EMAIL,@LEASINGTAKER_FIRSTNAME,@LEASINGTAKER_MIDDLENAME,
		@LEASINGTAKER_LASTNAME,CUST_COUNTRY,CUST_VISIT_ADDRESS,CUST_MAIL_ADDRESS,CUST_PHONE_ALT,CUST_HOMEPAGE,CUST_NOTES,@isCompany,FLG_EINVOICE,FLG_ORDCONF_EMAIL,FLG_COSTPRICE,
		FLG_CUST_IGNOREINV,FLG_INV_EMAIL,FLG_HOURLY_ADD,FLG_NO_INVOICEFEE,FLG_BANKGIRO,FLG_NO_ADDITIONAL_COST,FLG_NO_HISTORY_PUBLISH,FLG_NO_GM,FLG_NO_ENV_FEE,FLG_PROSPECT,
		CUST_DISC_GENERAL,CUST_DISC_LABOUR,CUST_DISC_SPARES,CUST_NO_EMPLOYEES,CUST_ENIRO_ID,
		--@LEASINGTAKER_BIRTH_NO,
		@CUSTOMER_DOB,
		CUST_COMPANY_NO,CUST_COMPANY_DESCRIPTION,CUST_COUNTRY_FLG,@CUST_LAGER,@CUST_VERKSTED,@CUST_BILSALG
		FROM TBL_MAS_CUSTOMER_TEMPLATE								
		

		SET @RETCUST = @ID_CUSTOMER
		SET @RETVAL = 'INSFLG'

	END

	IF @VALIDATE = 0
	BEGIN
		SET @RETVAL = 'ERRFLG'
	END




END
GO
