USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_FETCH_ITEMS]    Script Date: 04.11.2020 15.35.54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[USP_SPR_PO_FETCH_ITEMS]
(
	@NUMBER VARCHAR(50),
	@SUPP_CURRENTNO VARCHAR(50) 
)
AS
BEGIN
	

   SELECT [ID_PO]		
      
      ,POITEM.[POPREFIX]
	  ,POITEM.[PONUMBER]
      ,POITEM.[ID_ITEM]
      ,POITEM.[ITEM_CATG_DESC]
	  ,POITEM.[ITEM_DESC]
	  ,POITEM.[ID_ITEM_CATG]
      ,POITEM.[ORDERQTY]
      ,POITEM.[DELIVERED_QTY]
      ,POITEM.[REMAINING_QTY]
	  ,POITEM.COST_PRICE1
	  ,POITEM.[NET_PRICE]
	  ,POITEM.[ITEM_PRICE]
	  ,POITEM.[BASIC_PRICE]
      ,POITEM.[TOTALCOST]
      ,POITEM.[BACKORDERQTY]
      ,POITEM.[ID_WOITEM_SEQ]
      ,POITEM.[CONFIRMQTY]
	  ,POITEM.[REST_FLG]
      ,POITEM.[CREATED_BY]
      ,POITEM.[MODIFIED_BY]
      ,POITEM.[DT_CREATED]
      ,POITEM.[DT_MODIFIED]
      ,POITEM.[DELIVERED]
      ,POITEM.[ANNOTATION]
	  ,POITEM.SUPP_CURRENTNO
	  ,(SELECT ISNULL(ITEM_AVAIL_QTY,0) FROM TBL_MAS_ITEM_MASTER IM WHERE IM.ID_ITEM = POITEM.ID_ITEM AND IM.SUPP_CURRENTNO = @SUPP_CURRENTNO AND IM.ID_ITEM_CATG = POITEM.ID_ITEM_CATG) AS ITEM_AVAIL_QTY
	  ,(SELECT ISNULL(ITEM_DISC_CODE_BUY,0) FROM TBL_MAS_ITEM_MASTER IM WHERE IM.ID_ITEM = POITEM.ID_ITEM AND IM.SUPP_CURRENTNO = @SUPP_CURRENTNO AND IM.ID_ITEM_CATG = POITEM.ID_ITEM_CATG) AS ITEM_DISC_CODE_BUY
	  ,(SELECT ISNULL(LOCATION, 'Ukjent') FROM TBL_MAS_ITEM_MASTER IM WHERE IM.ID_ITEM = POITEM.ID_ITEM AND IM.SUPP_CURRENTNO = @SUPP_CURRENTNO AND IM.ID_ITEM_CATG = POITEM.ID_ITEM_CATG) AS LOCATION
	  ,(SELECT COALESCE(SUM(REMAINING_QTY),0) FROM TBL_SPR_PO_ITEM WHERE ID_ITEM = POITEM.ID_ITEM AND SUPP_CURRENTNO=@SUPP_CURRENTNO AND ID_ITEM_CATG=POITEM.ID_ITEM_CATG and POH.FINISHED=0 AND PONUMBER <> @NUMBER) AS INDELIVERY
	  ,(SELECT ID_WO_PREFIX FROM TBL_WO_JOB_DETAIL JD WHERE JD.ID_WOITEM_SEQ = POITEM.ID_WOITEM_SEQ) AS ID_WO_PREFIX
	  ,(SELECT ID_WO_NO FROM TBL_WO_JOB_DETAIL JD WHERE JD.ID_WOITEM_SEQ = POITEM.ID_WOITEM_SEQ) AS ID_WO_NO
	  
	  ,ISNULL(POITEM.BASIC_PRICE - ((POITEM.BASIC_PRICE * (SELECT DISCPERCOST FROM TBL_SPR_DISCOUNTMATRIXBUY WHERE SUPP_CURRENTNO = @SUPP_CURRENTNO AND ID_ORDERTYPE = (SELECT ID_ORDERTYPE FROM TBL_SPR_PO_HEADER WHERE NUMBER = @NUMBER) AND DISCOUNTCODE=(SELECT ISNULL(ITEM_DISC_CODE_BUY,0) FROM TBL_MAS_ITEM_MASTER IM WHERE IM.ID_ITEM = POITEM.ID_ITEM AND IM.SUPP_CURRENTNO = @SUPP_CURRENTNO AND IM.ID_ITEM_CATG = POITEM.ID_ITEM_CATG))) / 100), -1) AS COST_PRICE
  FROM [TBL_SPR_PO_ITEM] AS POITEM
  INNER JOIN TBL_SPR_PO_HEADER POH ON POH.NUMBER = POITEM.PONUMBER 
  WHERE PONUMBER = @NUMBER
 	
	
END