/****** Object:  StoredProcedure [dbo].[USP_PROCESS_APPOINTMENT_DETAILS]    Script Date: 11-06-2021 18:29:34 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_PROCESS_APPOINTMENT_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROCESS_APPOINTMENT_DETAILS]    Script Date: 11-06-2021 18:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_PROCESS_APPOINTMENT_DETAILS] 
	   @Action VARCHAR(30)
      ,@ID_APPOINTMENT_DETAILS INT = NULL
      ,@START_DATE DateTime = NULL
	  ,@START_TIME DateTime= NULL
	  ,@END_DATE DateTime = NULL
	  ,@END_TIME DateTime = NULL
      ,@TEXT VARCHAR(30) = NULL
	  ,@RESERVATION VARCHAR(50) = NULL
	  ,@SEARCH VARCHAR(30) = NULL
	  ,@APPOINTMENT_ID int = NULL
	  ,@RESOURCE_ID varchar(max)= NULL
	  ,@CREATED_BY varchar(30)= NULL,

	  --NEWLY ADDED
	  @COLOR_CODE varchar(40)= NULL,
	  @JOB_STATUS_ID int=NULL,

	  --27-04-2021
	  @TEXT_LINE1 varchar(50)= NULL,
	  @TEXT_LINE2 varchar(50)= NULL,
	  @TEXT_LINE3 varchar(50)= NULL,
	  @TEXT_LINE4 varchar(50)= NULL,
	  @TEXT_LINE5 varchar(50)= NULL,

	  --29-04-2021
	  @SPARE_PART_STATUS int = NULL
AS
BEGIN
	
    SET NOCOUNT ON;
 
	DECLARE @ResourceIds NVARCHAR(max)
	DECLARE @WORKFROM DATETIME
	DECLARE @WORKTO DATETIME
	DECLARE @LUNCHFROM DATETIME
	DECLARE @LUNCHTO DATETIME
	DECLARE @ISOVERTIME BIT =0
	DECLARE @DAYOFWEEK VARCHAR(MAX)
	DECLARE @TOT_JOB int
	DECLARE @ID_JOB int
	DECLARE @STARTTIME AS TIME,@ENDTIME AS TIME,@WORKFROMTIME AS TIME,@WORKTOTIME AS TIME , @LUNCHFROMTIME AS TIME , @LUNCHTOTIME AS TIME
	--DECLARE @OLD_APT_SERIAL int
	DECLARE @APT_SERIAL int


	SET @ResourceIds ='<ResourceIds><ResourceId Type="System.String" Value="'+ @RESOURCE_ID   +'"/></ResourceIds>'

	select @ID_JOB =ID_JOB from TBL_APPOINTMENT_DETAILS where APPOINTMENT_ID=@APPOINTMENT_ID 
		and RESOURCE_ID=@RESOURCE_ID and cast(@START_DATE as date)=cast(START_DATE as date) and JOB_STATUS <>'DEL' and ID_APPOINTMENT_DETAILS <> @ID_APPOINTMENT_DETAILS

	select @TOT_JOB=max(isnull(ID_JOB,0)) from TBL_APPOINTMENT_DETAILS where APPOINTMENT_ID=@APPOINTMENT_ID and JOB_STATUS <>'DEL' and ID_APPOINTMENT_DETAILS <> @ID_APPOINTMENT_DETAILS
		if  (isnull(@ID_JOB,0)=0)
			begin
				set @ID_JOB=isnull(@TOT_JOB,0)+1
			end 
	--select @APT_SERIAL =isnull(APT_SERIAL_NO,0) from TBL_APPOINTMENT_DETAILS where APPOINTMENT_ID=@APPOINTMENT_ID and RESOURCE_ID=@RESOURCE_ID and JOB_STATUS <>'DEL'
	select @APT_SERIAL=count(isnull(APT_SERIAL_NO,0)) from TBL_APPOINTMENT_DETAILS where APPOINTMENT_ID=@APPOINTMENT_ID 
		begin
			set @APT_SERIAL=isnull(@APT_SERIAL,0)+1
		end
		
		DECLARE @COLOR_ID int

			IF EXISTS (SELECT * FROM TBL_APPOINTMENT_COLOR WHERE APPOINTMENT_COLOR_CODE=@COLOR_CODE)
				BEGIN
					SELECT @COLOR_ID=ID_APPOINTMENT_COLOR,@COLOR_CODE=APPOINTMENT_COLOR_CODE FROM TBL_APPOINTMENT_COLOR WHERE APPOINTMENT_COLOR_CODE=@COLOR_CODE
				END
							
      --INSERT
      IF @Action = 'INSERT'
      BEGIN

	  DECLARE @ID_APT_DTL int
	  --select @ID_JOB=COUNT(ID_APPOINTMENT_DETAILS) from TBL_APPOINTMENT_DETAILS where APPOINTMENT_ID=@APPOINTMENT_ID --ORDER BY DT_CREATED DESC

		  /* INSERT INTO TBL_APPOINTMENT_DETAILS (START_DATE,START_TIME,END_DATE,END_TIME,TEXT,RESERVATION,SEARCH,APPOINTMENT_ID,RESOURCE_ID,RESOURCE_IDs,DT_CREATED,CREATED_BY,ID_JOB,JOB_STATUS)
            VALUES (@START_DATE,@START_TIME,@END_DATE,@END_TIME,@TEXT,@RESERVATION,@SEARCH,@APPOINTMENT_ID,@RESOURCE_ID,@ResourceIds,GETDATE(),@CREATED_BY,@ID_JOB+1,'')*/


		   INSERT INTO TBL_APPOINTMENT_DETAILS (START_DATE,START_TIME,END_DATE,END_TIME,TEXT,RESERVATION,SEARCH,APPOINTMENT_ID,RESOURCE_ID,RESOURCE_IDs,DT_CREATED,CREATED_BY,ID_JOB,JOB_STATUS,APT_SERIAL_NO,COLOR_ID,COLOR_CODE,TEXT_LINE1,TEXT_LINE2,TEXT_LINE3,TEXT_LINE4,TEXT_LINE5,APT_SAPRE_PART_STATUS)
            VALUES (@START_DATE,@START_TIME,@END_DATE,@END_TIME,@TEXT,@RESERVATION,@SEARCH,@APPOINTMENT_ID,@RESOURCE_ID,@ResourceIds,GETDATE(),@CREATED_BY,@ID_JOB,'',@APT_SERIAL,@COLOR_ID,@COLOR_CODE,@TEXT_LINE1,@TEXT_LINE2,@TEXT_LINE3,@TEXT_LINE4,@TEXT_LINE5,@SPARE_PART_STATUS)

			SELECT  @ID_APT_DTL =@@IDENTITY

				BEGIN							
						SET @dayOfWeek=DATENAME(WEEKDAY, @START_DATE)
							
						IF @dayOfWeek='Sunday'
								Select @workFrom=SUNDAY_FROM_TIME,@workTo=SUNDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Monday'
								Select @workFrom=MONDAY_FROM_TIME,@workTo=MONDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Tuesday'
								Select @workFrom=TUESDAY_FROM_TIME,@workTo=TUESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Wednesday'
								Select @workFrom=WEDNESDAY_FROM_TIME,@workTo=WEDNESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Thursday'
								Select @workFrom=THURSDAY_FROM_TIME,@workTo=THURSDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Friday'
								Select @workFrom=FRIDAY_FROM_TIME,@workTo=FRIDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Saturday'
								Select @workFrom=SATURDAY_FROM_TIME,@workTo=SATURDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID



						SELECT @STARTTIME = CONVERT(VARCHAR(5), @START_DATE, 108) , @WORKFROMTIME=CONVERT(VARCHAR(5), @WORKFROM, 108), 
						@ENDTIME = CONVERT(VARCHAR(5), @END_DATE, 108) , @WORKTOTIME = CONVERT(VARCHAR(5), @WORKTO, 108) , @LUNCHFROMTIME = CONVERT(VARCHAR(5), @LUNCHFROM, 108),	
						@LUNCHTOTIME = CONVERT(VARCHAR(5), @LUNCHTO, 108)

						SELECT CONVERT(VARCHAR(5), @STARTTIME, 108) STARTTIME,CONVERT(VARCHAR(5), @ENDTIME, 108) ENDTIME,
						CONVERT(VARCHAR(5), @WORKFROMTIME, 108) WORKFROMTIME ,CONVERT(VARCHAR(5), @WORKTOTIME, 108) WORKTOTIME,
						CONVERT(VARCHAR(5), @LUNCHFROMTIME, 108)  LUNCHFROMTIME, CONVERT(VARCHAR(5), @LUNCHTOTIME, 108) LUNCHTOTIME

						IF (CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @workFromTime, 108)) OR (CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @workToTime, 108))
						BEGIN							
							--select 1
							SELECT @isOverTime=1 
						END
						--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) <= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN
						--	--select 2
						--	SELECT @isOverTime=1 
						--END
						--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN
						--	--select 3
						--	SELECT @isOverTime=1 
						--END
						--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN
						--	--select 4
						--	SELECT @isOverTime=1 
						--END
						--ELSE IF CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN				
						--	--select 5
						--	SELECT @isOverTime=1 
						--END
	
					END


			UPDATE TBL_APPOINTMENT_DETAILS SET IS_OVER_TIME =@isOverTime  WHERE ID_APPOINTMENT_DETAILS=@ID_APT_DTL

      END
 
      --UPDATE
      IF @Action = 'UPDATE'
      BEGIN
            UPDATE TBL_APPOINTMENT_DETAILS
            SET START_DATE = @START_DATE,START_TIME=@START_TIME ,END_DATE = @END_DATE,END_TIME=@END_TIME, TEXT = @TEXT, RESERVATION = @RESERVATION, SEARCH=@SEARCH,
			APPOINTMENT_ID = @APPOINTMENT_ID ,RESOURCE_ID=@RESOURCE_ID,RESOURCE_IDs = @ResourceIds,MODIFIED_BY=@CREATED_BY,DT_MODIFIED=GETDATE(),ID_JOB = @ID_JOB,
			--NEW
			COLOR_CODE=@COLOR_CODE,COLOR_ID=@COLOR_ID,

			--24-04-2021
			TEXT_LINE1=@TEXT_LINE1,TEXT_LINE2=@TEXT_LINE2,TEXT_LINE3=@TEXT_LINE3,TEXT_LINE4=@TEXT_LINE4,TEXT_LINE5=@TEXT_LINE5

            WHERE ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS

			BEGIN							
						SET @dayOfWeek=DATENAME(WEEKDAY, @START_DATE)
							
						IF @dayOfWeek='Sunday'
								Select @workFrom=SUNDAY_FROM_TIME,@workTo=SUNDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Monday'
								Select @workFrom=MONDAY_FROM_TIME,@workTo=MONDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Tuesday'
								Select @workFrom=TUESDAY_FROM_TIME,@workTo=TUESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Wednesday'
								Select @workFrom=WEDNESDAY_FROM_TIME,@workTo=WEDNESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Thursday'
								Select @workFrom=THURSDAY_FROM_TIME,@workTo=THURSDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Friday'
								Select @workFrom=FRIDAY_FROM_TIME,@workTo=FRIDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
							ELSE IF @dayOfWeek='Saturday'
								Select @workFrom=SATURDAY_FROM_TIME,@workTo=SATURDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID



						SELECT @STARTTIME = CONVERT(VARCHAR(5), @START_DATE, 108) , @WORKFROMTIME=CONVERT(VARCHAR(5), @WORKFROM, 108), 
						@ENDTIME = CONVERT(VARCHAR(5), @END_DATE, 108) , @WORKTOTIME = CONVERT(VARCHAR(5), @WORKTO, 108) , @LUNCHFROMTIME = CONVERT(VARCHAR(5), @LUNCHFROM, 108),	
						@LUNCHTOTIME = CONVERT(VARCHAR(5), @LUNCHTO, 108)

						SELECT CONVERT(VARCHAR(5), @STARTTIME, 108) STARTTIME,CONVERT(VARCHAR(5), @ENDTIME, 108) ENDTIME,
						CONVERT(VARCHAR(5), @WORKFROMTIME, 108) WORKFROMTIME ,CONVERT(VARCHAR(5), @WORKTOTIME, 108) WORKTOTIME,
						CONVERT(VARCHAR(5), @LUNCHFROMTIME, 108)  LUNCHFROMTIME, CONVERT(VARCHAR(5), @LUNCHTOTIME, 108) LUNCHTOTIME

						IF (CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @workFromTime, 108)) OR (CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @workToTime, 108))
						BEGIN							
							--select 1
							SELECT @isOverTime=1 
						END
						--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) <= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN
						--	--select 2
						--	SELECT @isOverTime=1 
						--END
						--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN
						--	--select 3
						--	SELECT @isOverTime=1 
						--END
						--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN
						--	--select 4
						--	SELECT @isOverTime=1 
						--END
						--ELSE IF CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
						--BEGIN				
						--	--select 5
						--	SELECT @isOverTime=1 
						--END
	
					END

					UPDATE TBL_APPOINTMENT_DETAILS SET IS_OVER_TIME =@isOverTime  WHERE ID_APPOINTMENT_DETAILS=@ID_APPOINTMENT_DETAILS
      END
 
      --DELETE
      IF @Action = 'DELETE'
      BEGIN
            UPDATE TBL_APPOINTMENT_DETAILS SET JOB_STATUS ='DEL' ,MODIFIED_BY=@CREATED_BY,DT_MODIFIED=GETDATE()
            WHERE ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS

			DECLARE @ROWCOUNT int
			SELECT @ROWCOUNT = COUNT(*) FROM TBL_APPOINTMENT_DETAILS WHERE APPOINTMENT_ID =@APPOINTMENT_ID AND JOB_STATUS NOT IN('DEL')

			IF @ROWCOUNT= 0
				BEGIN
					UPDATE TBL_APPOINTMENTS_HEADER SET WO_STATUS ='DEL' ,DT_MODIFIED=GETDATE(),MODIFIED_BY=@CREATED_BY
					WHERE APPOINTMENT_ID = @APPOINTMENT_ID
				END
      END
	  IF @Action = 'UPDATE_JOB_STATUS'
      BEGIN
	  DECLARE @APPOINTMENT_COLOR varchar(40)
	  DECLARE @APPOINTMENT_COLOR_ID int
			SELECT @APPOINTMENT_COLOR=ORDER_STATUS_COLOR from TBL_WO_ORDER_STATUS where ID_ORDER_STATUS=@JOB_STATUS_ID
			SELECT @APPOINTMENT_COLOR_ID=ID_APPOINTMENT_COLOR FROM TBL_APPOINTMENT_COLOR WHERE APPOINTMENT_COLOR_CODE = @APPOINTMENT_COLOR

			UPDATE TBL_APPOINTMENT_DETAILS SET COLOR_CODE=@APPOINTMENT_COLOR, COLOR_ID=@APPOINTMENT_COLOR_ID WHERE ID_APPOINTMENT_DETAILS=@ID_APPOINTMENT_DETAILS

	  END

	DECLARE @ID_WO_NO Varchar(10)
	DECLARE @ID_WO_PREFIX Varchar(3)
	DECLARE @MECH_NAME VARCHAR(40)

	-- Mechanic Column Order Changes
	SELECT @ID_WO_NO = ISNULL(ID_WO_NO,''),@ID_WO_PREFIX = ISNULL(ID_WO_PREFIX,'') FROM TBL_APPOINTMENT_DETAILS WHERE APPOINTMENT_ID = @APPOINTMENT_ID --AND ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS

	IF EXISTS (SELECT * FROM TBL_WO_HEADER WHERE ID_WO_NO = @ID_WO_NO and ID_WO_PREFIX = @ID_WO_PREFIX)
	BEGIN

		SELECT @MECH_NAME = First_Name +' '+ Last_Name FROM TBL_MAS_USERS WHERE ID_LOGIN = @RESOURCE_ID

		UPDATE TBL_WO_HEADER 
		SET MechId = @RESOURCE_ID,MechName = @MECH_NAME
		WHERE ID_WO_NO = @ID_WO_NO and ID_WO_PREFIX = @ID_WO_PREFIX
	END
END
GO
