/****** Object:  StoredProcedure [dbo].[USP_SPR_GLOBALPRICE_UPDATE_NEW]    Script Date: 15-09-2021 14:07:34 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPR_GLOBALPRICE_UPDATE_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_GLOBALPRICE_UPDATE_NEW]    Script Date: 15-09-2021 14:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*************************************** Application: MSG *************************************************************
* Module	: SPAREPARTS
* File name	: USP_SPR_GLOBALPRICE_UPDATE_NEW.PRC
* Purpose	: TO UPDATE PRICES ON GLOBAL SPARE TABLE AND INSERT INTO TBL_MAS_PRICE TABLE
* Author	: SWAPNIL ROY
* Date		: 02.09.2021
*********************************************************************************************************************/
/*********************************************************************************************************************  
I/P : -- Input Parameters
O/P :-- Output Parameters
Error Code
Description
INT.VerNO :  
********************************************************************************************************************/
--'*********************************************************************************'*********************************
--'* Modified History	:   
--'* S.No 	RFC No/Bug ID			Date	     		Author		Description	
--*#0001#

--'*********************************************************************************'*********************************

CREATE PROCEDURE [dbo].[USP_SPR_GLOBALPRICE_UPDATE_NEW]
(
	@SUPP_CURRENTNO	VARCHAR(50)		= NULL, 
	@IV_CATFROM			VARCHAR(50)		= NULL,
	@IV_CATTO			VARCHAR(50)		= NULL,
	@IV_SPAREIDFROM		VARCHAR(30)		= NULL,
	@IV_SPAREIDTO		VARCHAR(30)		= NULL,
	@IV_DISCODEBUYFROM	VARCHAR(50)		= NULL,
	@IV_DISCODEBUYTO	VARCHAR(50)		= NULL,  
	@IV_MARKUPSELL		DECIMAL(13,2)	= 0.0,
	@IV_MARKUPCOST		DECIMAL(13,2)	= 0.0,
	@IV_MARKUPNET		DECIMAL(13,2)	= 0.0,
	@IV_MARKUPBASIC		DECIMAL(13,2)	= 0.0,
	@IV_COSTPRICEFROM	VARCHAR(50)		= NULL,
	@IV_CALCBLOCK		BIT				= 0,
	@IV_ADJUSTCOST		BIT				= 0,
	@IV_ADJUSTSP		BIT				= 0,
	@IV_ROUNDING		BIT				= 0,
	@IV_ROUNDING_50		BIT				= 0,
	@IV_CREATEDBY		VARCHAR(20)		= NULL,
	@IV_MODIFIEDBY		VARCHAR(20)		= NULL,
	@ISSUCCESS			BIT				OUTPUT,
	@ERRMSG				VARCHAR(2000)	OUTPUT,
	@COUNTVAR			INT				OUTPUT
)
AS
BEGIN

	BEGIN TRY
		
		DECLARE @COUNT INT

		DECLARE @FETCH_GLOBAL TABLE 
		(
				ROWNUM INT,
				ID_ITEM_CATG VARCHAR(30),
				ID_ITEM VARCHAR(30),
				ITEM_DISC_CODE_BUY VARCHAR(30),
				BASIC_PRICE DECIMAL(13,2),
				ITEM_PRICE DECIMAL(13,2),
				COST_PRICE1 DECIMAL(13,2),
				NET_PRICE DECIMAL(13,2),
				FLG_CALC_PRICE BIT
		)

			DECLARE @ROUND_FACTOR INT
			IF @IV_ROUNDING	= 1
				IF @IV_ROUNDING_50 = 1
					SET @ROUND_FACTOR = 50
				ELSE 
					SET @ROUND_FACTOR = 100
			ELSE
				SET @ROUND_FACTOR = 1
		
			DECLARE @QRYSTR VARCHAR(MAX) = ''
			DECLARE @PARAM VARCHAR(MAX) = ''
			DECLARE @COND VARCHAR(MAX) = 'WHERE GLOBAL.SUPP_CURRENTNO = '''+@SUPP_CURRENTNO+'''' 
			SET @QRYSTR = 'SELECT DISTINCT	ROW_NUMBER() OVER(ORDER BY ID_ITEM) AS ''ROWNUM'',GLOBAL.ID_ITEM_CATG,GLOBAL.ID_ITEM,GLOBAL.ITEM_DISC_CODE_BUY,
									BASIC_PRICE,ITEM_PRICE,COST_PRICE1,NET_PRICE,
									FLG_CALC_PRICE 
						FROM		TBL_SPR_GLOBALSPAREPART GLOBAL '

			IF @IV_CATFROM IS NOT NULL 
			BEGIN
				SET @PARAM = @PARAM + ' INNER JOIN TBL_MAS_ITEM_CATG CAT ON GLOBAL.ID_ITEM_CATG=CAT.ID_ITEM_CATG '
				SET @COND = @COND + ' AND CAT.CATG_DESC BETWEEN ''' + @IV_CATFROM + ''' AND ''' + @IV_CATTO + ''''
			END

			IF @IV_SPAREIDFROM IS NOT NULL 
			BEGIN
				SET @COND = @COND + ' AND ID_ITEM BETWEEN ''' + @IV_SPAREIDFROM + ''' AND ''' + @IV_SPAREIDTO + ''''
			END

			IF @IV_DISCODEBUYFROM IS NOT NULL 
			BEGIN
				SET @PARAM = @PARAM + ' LEFT  JOIN	TBL_SPR_DISCOUNTMATRIXBUY DMB ON DMB.DISCOUNTCODE = cast(GLOBAL.ITEM_DISC_CODE_BUY as varchar(20)) '
				SET @COND = @COND + ' AND ITEM_DISC_CODE_BUY BETWEEN ''' + @IV_DISCODEBUYFROM + ''' AND ''' + @IV_DISCODEBUYTO + ''''
			END

			IF @IV_CALCBLOCK = 0
			BEGIN
				SET @COND = @COND + ' AND FLG_CALC_PRICE = 1'
			END



			SET @QRYSTR = @QRYSTR + @PARAM + @COND

			PRINT @QRYSTR

			INSERT INTO @FETCH_GLOBAL
			 EXEC(@QRYSTR)

		--SELECT * FROM @FETCH_GLOBAL ORDER BY ROWNUM



		UPDATE TBL_SPR_GLOBALSPAREPART
		SET ITEM_PRICE = ISNULL(ROUND((ITEM_PRICE + ((@IV_MARKUPSELL/100) * ITEM_PRICE))/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0)	,
		NET_PRICE = ISNULL(ROUND((NET_PRICE + (@IV_MARKUPNET/100) * NET_PRICE)/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0),
		COST_PRICE1 = ISNULL(ROUND((COST_PRICE1 + (@IV_MARKUPCOST/100) * COST_PRICE1)/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0),
		BASIC_PRICE = ISNULL(ROUND((BASIC_PRICE + (@IV_MARKUPBASIC/100) * BASIC_PRICE)/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0)
		,MODIFIED_BY = @IV_MODIFIEDBY,
		DT_MODIFIED = GETDATE()
		WHERE ID_ITEM IN (SELECT ID_ITEM FROM @FETCH_GLOBAL)

		INSERT INTO TBL_SPR_PRICE(
		ID_GLOBALSPAREPART, SUPP_CURRENTNO, SELLPRICEPER, COSTPRICEPER, BASICPRICEPER, NETPRICEPER, IS_ROUNDED, ROUNDED_TO_FIFTY, CALCULATEBLOCK,CREATED_BY,DT_CREATED)	
		SELECT ID_ITEM,@SUPP_CURRENTNO,@IV_MARKUPSELL, @IV_MARKUPCOST, @IV_MARKUPBASIC,@IV_MARKUPNET,@IV_ROUNDING,@IV_ROUNDING_50,@IV_CALCBLOCK,@IV_CREATEDBY,GETDATE()
		 FROM  @FETCH_GLOBAL


		SELECT @COUNT = COUNT(*) FROM @FETCH_GLOBAL
		/*
		SELECT T.ROWNUM,G.ID_ITEM_CATG,G.ID_ITEM,G.ITEM_DISC_CODE_BUY,G.BASIC_PRICE,G.ITEM_PRICE,G.COST_PRICE1,G.NET_PRICE,G.FLG_CALC_PRICE
		 FROM  @FETCH_GLOBAL T
		INNER JOIN TBL_SPR_GLOBALSPAREPART G
		ON T.ID_ITEM = G.ID_ITEM
		ORDER BY ROWNUM
		*/

		SET @COUNTVAR = @COUNT
		SET @ISSUCCESS = 1
		SELECT @ERRMSG = ''
	END TRY
	BEGIN CATCH
		SET @ISSUCCESS = 0
		SELECT @ERRMSG = ERROR_MESSAGE()
	END CATCH
END
GO
