USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_SEARCH_ONLY_SPAREPART]    Script Date: 26.05.2020 08:26:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
ALTER PROCEDURE [dbo].[USP_SPAREPART_SEARCH_ONLY_SPAREPART]   
@ID_ITEM VARCHAR(255)


AS  

BEGIN

	SELECT * FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @ID_ITEM

END
