/****** Object:  StoredProcedure [dbo].[USP_FETCH_MECH_HOLIDAYS]    Script Date: 18-03-2021 21:21:08 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_MECH_HOLIDAYS]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_MECH_HOLIDAYS]    Script Date: 18-03-2021 21:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_MECH_HOLIDAYS]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM TBL_MECHANIC_CONFIG_SETTINGS REST INNER JOIN 
	TBL_MECHANIC_SETTINGS TS ON TS.ID_LOGIN = REST.MECHANIC_ID 
	--WHERE CAST(FROM_DATE AS DATE) >= CAST(GETDATE() AS DATE)




	-- Fetches the Mechanics details of those configured
	SELECT DISTINCT REST.MECHANIC_ID,REST.MECHANIC_NAME FROM TBL_MECHANIC_CONFIG_SETTINGS REST INNER JOIN 
	TBL_MECHANIC_SETTINGS TS ON TS.ID_LOGIN = REST.MECHANIC_ID 



	---FOR MULTIPLE DAY HOLIDAYS

	
	DECLARE  @TEMP_HOLIDAY TABLE(
	ID_MECHANIC_SETTINGS INT,
	ID_LOGIN varchar(50),
	MECHANIC_NAME varchar(50),
	FROM_DATE datetime,		--this is From date holiday
	FROM_TIME datetime,		--this is From time holiday  
	TO_DATE datetime,		--this is To date holiday	
	TO_TIME datetime,		--this is To time holiday
	LEAVE_CODE  varchar(30),
	LEAVE_REASON varchar(50),
	COMMENTS varchar(60),
	CREATED_BY  varchar(30),
	DT_CREATED DATETIME,
	ID_LEAVE_TYPES  INT
	)

	INSERT INTO @TEMP_HOLIDAY
	SELECT TS.ID_MECHANIC_SETTINGS,TS.ID_LOGIN,TS.MECHANIC_NAME,TS.FROM_DATE,TS.FROM_TIME,TS.TO_DATE,TS.TO_TIME,TS.LEAVE_CODE,TS.LEAVE_REASON,TS.COMMENTS,TS.CREATED_BY,TS.DT_CREATED,TS.ID_LEAVE_TYPES 
	FROM TBL_MECHANIC_CONFIG_SETTINGS REST INNER JOIN 
	TBL_MECHANIC_SETTINGS TS ON TS.ID_LOGIN = REST.MECHANIC_ID ;

	WITH E00(Number) AS (SELECT 1 UNION ALL SELECT 1)
    ,E02(Number) AS (SELECT 1 FROM E00 a, E00 b)
    ,E04(Number) AS (SELECT 1 FROM E02 a, E02 b)
	,E08(Number) AS (SELECT 1 FROM E04 a, E04 b)
    ,CTE_Numbers(Number) AS (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL) ) FROM E08)

SELECT
    T.ID_MECHANIC_SETTINGS
    ,CASE WHEN CA.Number0 = 0
    THEN FROM_TIME
    ELSE DATEADD(day, CA.Number0, CAST(T.FROM_TIME as date))
    END AS NEW_DATE_FROM
    ,
	
	CASE WHEN CA.Number0 = DATEDIFF(day, T.FROM_TIME, T.TO_TIME)
    THEN TO_TIME
    ELSE
		DATEADD(Minute,-1,
			CAST(
				DATEADD(day, CA.Number0 + 1, CAST(T.FROM_TIME as date)) as datetime)
				)
    END AS NEW_DATE_TO
	into #templist
FROM
    @TEMP_HOLIDAY AS T
    CROSS APPLY
    (
        SELECT CTE_Numbers.Number - 1 AS Number0
        FROM CTE_Numbers
        WHERE CTE_Numbers.Number <= DATEDIFF(day, T.FROM_TIME, T.TO_TIME) + 1
    ) AS CA
	
ORDER BY
    ID_MECHANIC_SETTINGS
    ,NEW_DATE_FROM
;

	SELECT H.ID_MECHANIC_SETTINGS,H.ID_LOGIN AS MECHANIC_ID, H.ID_LOGIN,H.MECHANIC_NAME,
	--H.FROM_DATE,H.FROM_TIME,H.TO_DATE,H.TO_TIME,
	T.NEW_DATE_FROM AS FROM_DATE,T.NEW_DATE_FROM AS FROM_TIME,T.NEW_DATE_TO AS TO_DATE,T.NEW_DATE_TO AS TO_TIME,
	H.LEAVE_CODE,H.LEAVE_REASON,H.COMMENTS,H.CREATED_BY,H.DT_CREATED,H.ID_LEAVE_TYPES, T.* 
	FROM #TEMPLIST  T
	INNER JOIN @TEMP_HOLIDAY H ON H.ID_MECHANIC_SETTINGS=T.ID_MECHANIC_SETTINGS
	DROP TABLE #TEMPLIST



END
GO
