/****** Object:  StoredProcedure [dbo].[USP_FETCH_MECHANIC_DETAILS]    Script Date: 27-04-2021 12:06:14 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_MECHANIC_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_MECHANIC_DETAILS]    Script Date: 27-04-2021 12:06:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	To Fetch Mechanic configured Timings
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_MECHANIC_DETAILS]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @MEC_TYPE varchar(max) ='Regular'
	SELECT u.id_login  as ResourceID,u.First_Name +' '+ u.Last_Name As ResourceName INTO #TEMPDATA2 from tbl_mas_users u where (u.Flg_Mechanic = 1 and isnull(u.FLG_MECH_INACTIVE,'')=0) OR (u.Flg_Resource=1 AND isnull(FLG_MECH_INACTIVE,'')=1);
	SELECT RES.ResourceID,RES.ResourceName,MCS.MECHANIC_ID,MCS.STANDARD_FROM_TIME,MCS.STANDARD_TO_TIME,MCS.MONDAY_FROM_TIME,MCS.MONDAY_TO_TIME,MCS.TUESDAY_FROM_TIME,MCS.TUESDAY_TO_TIME,MCS.WEDNESDAY_FROM_TIME,MCS.WEDNESDAY_TO_TIME,MCS.THURSDAY_FROM_TIME,MCS.THURSDAY_TO_TIME,MCS.FRIDAY_FROM_TIME,MCS.FRIDAY_TO_TIME,MCS.SATURDAY_FROM_TIME,MCS.SATURDAY_TO_TIME,MCS.SUNDAY_FROM_TIME,MCS.SUNDAY_TO_TIME,MCS.LUNCH_FROM_TIME,MCS.LUNCH_TO_TIME,
	MCS.ALT_STANDARD_FROM_TIME,MCS.ALT_STANDARD_TO_TIME,MCS.ALT_MONDAY_FROM_TIME,MCS.ALT_MONDAY_TO_TIME,MCS.ALT_TUESDAY_FROM_TIME,MCS.ALT_TUESDAY_TO_TIME,MCS.ALT_WEDNESDAY_FROM_TIME,MCS.ALT_WEDNESDAY_TO_TIME,MCS.ALT_THURSDAY_FROM_TIME,MCS.ALT_THURSDAY_TO_TIME,MCS.ALT_FRIDAY_FROM_TIME,MCS.ALT_FRIDAY_TO_TIME,MCS.ALT_SATURDAY_FROM_TIME,MCS.ALT_SATURDAY_TO_TIME,MCS.ALT_SUNDAY_FROM_TIME,MCS.ALT_SUNDAY_TO_TIME,MCS.ALT_LUNCH_FROM_TIME,MCS.ALT_LUNCH_TO_TIME,
	--CASE  when RES.ResourceID in ('pv24','lv25') then 'Painter'  when RES.ResourceID ='lv39' then 'Service' else 'Regular'  end As 'MEC_TYPE'
	isNull(MCS.MEC_GROUP_NAME,'Regular') As 'MEC_TYPE'
	from #TEMPDATA2 RES INNER JOIN tbl_mechanic_config_Settings MCS ON MCS.MECHANIC_ID = RES.RESOURCEID where mcs.ACTIVE_MEK=1;DROP TABLE  #TEMPDATA2;

	select  distinct isNull(MEC_GROUP_NAME,'Regular') As MEC_GROUP_NAME  from TBL_MECHANIC_CONFIG_SETTINGS where ACTIVE_MEK=1
END
GO
