/****** Object:  StoredProcedure [dbo].[USP_SPR_LOCALPRICE_UPDATE_NEW]    Script Date: 15-09-2021 14:05:39 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPR_LOCALPRICE_UPDATE_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_LOCALPRICE_UPDATE_NEW]    Script Date: 15-09-2021 14:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*************************************** Application: CARS *************************************************************
* Module	: SPAREPARTS
* File name	: USP_SPR_LOCALPRICE_UPDATE_NEW.PRC
* Purpose	: TO UPDATE PRICES ON LOCAL SPARE TABLE AND INSERT INTO TBL_MAS_PRICE TABLE
* Author	: SWAPNIL ROY
* Date		: 06.09.2021
*********************************************************************************************************************/


CREATE PROCEDURE [dbo].[USP_SPR_LOCALPRICE_UPDATE_NEW]
(
	@SUPP_CURRENTNO	VARCHAR(50)		= NULL, 
	@IV_CATFROM			VARCHAR(50)		= NULL,
	@IV_CATTO			VARCHAR(50)		= NULL,
	@IV_SPAREIDFROM		VARCHAR(30)		= NULL,
	@IV_SPAREIDTO		VARCHAR(30)		= NULL,
	@IV_DISCODEBUYFROM	VARCHAR(50)		= NULL,
	@IV_DISCODEBUYTO	VARCHAR(50)		= NULL,
	@IV_WHNAMEFROM			VARCHAR(50)		= NULL, 
	@IV_WHNAMETO			VARCHAR(50)		= NULL,
	@IV_CLASSCODEFROM		VARCHAR(50)		= NULL, 
	@IV_CLASSCODETO			VARCHAR(50)		= NULL, 
	@IV_LOCFROM				VARCHAR(20)		= NULL, 
	@IV_LOCTO				VARCHAR(20)		= NULL,	
	@IV_MARKUPSELL		DECIMAL(13,2)	= 0.0,
	@IV_MARKUPCOST		DECIMAL(13,2)	= 0.0,
	@IV_MARKUPNET		DECIMAL(13,2)	= 0.0,
	@IV_MARKUPBASIC		DECIMAL(13,2)	= 0.0,
	@IV_COSTPRICEFROM	VARCHAR(50)		= NULL,
	@IV_CALCBLOCK		BIT				= 0,
	@IV_ADJUSTCOST		BIT				= 0,
	@IV_ADJUSTSP		BIT				= 0,
	@IV_ROUNDING		BIT				= 0,
	@IV_ROUNDING_50		BIT				= 0,
	@IV_CREATEDBY		VARCHAR(20)		= NULL,
	@IV_MODIFIEDBY		VARCHAR(20)		= NULL,
	@ISSUCCESS			BIT				OUTPUT,
	@ERRMSG				VARCHAR(2000)	OUTPUT,
	@COUNTVAR			INT				OUTPUT
)
AS
BEGIN

	BEGIN TRY
		
		DECLARE @COUNT INT

		DECLARE @FETCH_LOCAL TABLE 
		(
				ROWNUM INT,
				ID_ITEM_CATG VARCHAR(30),
				ID_ITEM VARCHAR(30),
				ITEM_DISC_CODE_BUY VARCHAR(30),
				BASIC_PRICE DECIMAL(13,2),
				ITEM_PRICE DECIMAL(13,2),
				COST_PRICE1 DECIMAL(13,2),
				NET_PRICE DECIMAL(13,2),
				FLG_CALC_PRICE BIT,
				ID_WH_ITEM INT
		)

			DECLARE @ROUND_FACTOR INT
			IF @IV_ROUNDING	= 1
				IF @IV_ROUNDING_50 = 1
					SET @ROUND_FACTOR = 50
				ELSE 
					SET @ROUND_FACTOR = 100
			ELSE
				SET @ROUND_FACTOR = 1

			DECLARE @QRYSTR VARCHAR(MAX) = ''
			DECLARE @PARAM VARCHAR(MAX) = ''
			DECLARE @COND VARCHAR(MAX) = 'WHERE LOCAL.SUPP_CURRENTNO = '''+@SUPP_CURRENTNO+'''' 
			SET @QRYSTR = 'SELECT DISTINCT	ROW_NUMBER() OVER(ORDER BY ID_ITEM) AS ''ROWNUM'',LOCAL.ID_ITEM_CATG,LOCAL.ID_ITEM,LOCAL.ITEM_DISC_CODE_BUY,
									BASIC_PRICE,ITEM_PRICE,COST_PRICE1,NET_PRICE,
									FLG_CALC_PRICE,LOCAL.ID_WH_ITEM 
						FROM		TBL_MAS_ITEM_MASTER LOCAL '

			IF @IV_CATFROM IS NOT NULL 
			BEGIN
				SET @PARAM = @PARAM + ' INNER JOIN TBL_MAS_ITEM_CATG CAT ON LOCAL.ID_ITEM_CATG=CAT.ID_ITEM_CATG '
				SET @COND = @COND + ' AND CAT.CATG_DESC BETWEEN ''' + @IV_CATFROM + ''' AND ''' + @IV_CATTO + ''''
			END

			IF @IV_SPAREIDFROM IS NOT NULL 
			BEGIN
				SET @COND = @COND + ' AND ID_ITEM BETWEEN ''' + @IV_SPAREIDFROM + ''' AND ''' + @IV_SPAREIDTO + ''''
			END

			IF @IV_DISCODEBUYFROM IS NOT NULL 
			BEGIN
				SET @PARAM = @PARAM + ' LEFT  JOIN	TBL_SPR_DISCOUNTMATRIXBUY DMB ON DMB.DISCOUNTCODE = cast(LOCAL.ITEM_DISC_CODE_BUY as varchar(20)) '
				SET @COND = @COND + ' AND ITEM_DISC_CODE_BUY BETWEEN ''' + @IV_DISCODEBUYFROM + ''' AND ''' + @IV_DISCODEBUYTO + ''''
			END

			IF @IV_WHNAMEFROM IS NOT NULL 
			BEGIN
				SET @PARAM = @PARAM + ' LEFT  JOIN	TBL_MAS_ITEM_WAREHOUSE WH ON WH.ID_WH = LOCAL.ID_WH_ITEM '
				SET @COND = @COND + ' AND WH.WH_Name BETWEEN ''' + @IV_WHNAMEFROM + ''' AND ''' + @IV_WHNAMETO + ''''
			END

			IF @IV_CLASSCODEFROM IS NOT NULL 
			BEGIN
				SET @COND = @COND + ' AND Class_Code BETWEEN ''' + @IV_CLASSCODEFROM + ''' AND ''' + @IV_CLASSCODETO + ''''
			END

			IF @IV_LOCFROM IS NOT NULL 
			BEGIN
				SET @COND = @COND + ' AND LOCATION BETWEEN ''' + @IV_LOCFROM + ''' AND ''' + @IV_LOCTO + ''''
			END

			IF @IV_CALCBLOCK = 0
			BEGIN
				SET @COND = @COND + ' AND FLG_CALC_PRICE = 1'
			END

			SET @QRYSTR = @QRYSTR + @PARAM + @COND

			PRINT @QRYSTR

			INSERT INTO @FETCH_LOCAL
			 EXEC(@QRYSTR)

		--SELECT * FROM @FETCH_LOCAL ORDER BY ROWNUM

		UPDATE TBL_MAS_ITEM_MASTER
		SET ITEM_PRICE = ISNULL(ROUND((ITEM_PRICE + ((@IV_MARKUPSELL/100) * ITEM_PRICE))/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0)	,
		NET_PRICE = ISNULL(ROUND((NET_PRICE + (@IV_MARKUPNET/100) * NET_PRICE)/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0),
		COST_PRICE1 = ISNULL(ROUND((COST_PRICE1 + (@IV_MARKUPCOST/100) * COST_PRICE1)/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0),
		BASIC_PRICE = ISNULL(ROUND((BASIC_PRICE + (@IV_MARKUPBASIC/100) * BASIC_PRICE)/@ROUND_FACTOR,2) * @ROUND_FACTOR,0.0)
		,MODIFIED_BY = @IV_MODIFIEDBY,
		DT_MODIFIED = GETDATE()
		WHERE ID_ITEM+SUPP_CURRENTNO IN (SELECT ID_ITEM+@SUPP_CURRENTNO FROM @FETCH_LOCAL)

		INSERT INTO TBL_SPR_PRICE(
		ID_LOCALSPAREPART, SUPP_CURRENTNO, SELLPRICEPER, COSTPRICEPER, BASICPRICEPER, NETPRICEPER, IS_ROUNDED, ROUNDED_TO_FIFTY, CALCULATEBLOCK,CREATED_BY,DT_CREATED,ID_LOCALWAREHOUSE)	
		SELECT ID_ITEM,@SUPP_CURRENTNO,@IV_MARKUPSELL, @IV_MARKUPCOST, @IV_MARKUPBASIC,@IV_MARKUPNET,@IV_ROUNDING,@IV_ROUNDING_50,@IV_CALCBLOCK,@IV_CREATEDBY,GETDATE(),ID_WH_ITEM
		 FROM  @FETCH_LOCAL

		SELECT @COUNT = COUNT(*) FROM @FETCH_LOCAL
		/*
		SELECT T.ROWNUM,G.ID_ITEM_CATG,G.ID_ITEM,G.ITEM_DISC_CODE_BUY,G.BASIC_PRICE,G.ITEM_PRICE,G.COST_PRICE1,G.NET_PRICE,G.FLG_CALC_PRICE
		 FROM  @FETCH_LOCAL T
		INNER JOIN TBL_MAS_ITEM_MASTER G
		ON T.ID_ITEM = G.ID_ITEM
		ORDER BY ROWNUM
		*/

		SET @COUNTVAR = @COUNT
		SET @ISSUCCESS = 1
		SELECT @ERRMSG = ''
	END TRY
	BEGIN CATCH
		SET @ISSUCCESS = 0
		SELECT @ERRMSG = ERROR_MESSAGE()
	END CATCH
END
GO
