/****** Object:  StoredProcedure [dbo].[USP_CONFIG_ROLE_UPDATE]    Script Date: 17-06-2022 16:18:21 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_CONFIG_ROLE_UPDATE]
GO
/****** Object:  StoredProcedure [dbo].[USP_CONFIG_ROLE_UPDATE]    Script Date: 17-06-2022 16:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_CONFIG_ROLE_UPDATE]  
	(  
		@IV_ROLEID					INT,
  		@IV_NM_ROLE					VARCHAR(50) ,
		@IV_ID_SUBSIDERY_ROLE		INT,
		@IV_ID_DEPT_ROLE			INT,
		@IV_ID_SCR_START_ROLE       INT,
		@IV_FLG_SYSADMIN			BIT,
		@IV_FLG_SUBSIDADMIN			BIT,
		@IV_FLG_DEPTADMIN			BIT,
		@IV_USERID					VARCHAR(20),
		@IV_STATUS					VARCHAR(20) OUTPUT,
		@IV_FLG_NBK					BIT,
		@IV_FLG_ACCOUNTING			BIT,
		@IV_FLG_SPAREPARTORDER		BIT
	  )  
AS  
BEGIN  
	DECLARE @COUNT	INT
	DECLARE @SUB	INT
	DECLARE @DEP	INT
	DECLARE @START	INT
	
	SET @IV_STATUS=0
	IF	@IV_ID_SUBSIDERY_ROLE=0
		SET @SUB=NULL
	ELSE
		SET @SUB=@IV_ID_SUBSIDERY_ROLE
	IF @IV_ID_DEPT_ROLE=0
		SET @DEP=NULL
	ELSE
		SET @DEP=@IV_ID_DEPT_ROLE
	--CHECKING THE ROLE USED OR NOT
	SELECT	@COUNT=COUNT(*)  
	FROM	TBL_MAS_ROLE_ACCESS
	WHERE	ID_ROLE_ACCESS=@IV_ROLEID
	--IF ROLE USED THEN CHECK THE START SCREEN EXITS OR NOT
	IF @COUNT>0 
	SELECT	@START=COUNT(*)  
	FROM	TBL_MAS_ROLE_ACCESS
	WHERE	ID_ROLE_ACCESS=@IV_ROLEID	AND
			ID_SCR_UTIL=@IV_ID_SCR_START_ROLE
	IF @START=0
	BEGIN
			set @IV_STATUS='NOSCREEN'
print @IV_STATUS
			RETURN 
	END
		UPDATE	TBL_MAS_ROLE
		SET		NM_ROLE=@IV_NM_ROLE,
				ID_SUBSIDERY_ROLE= @SUB,
				ID_DEPT_ROLE=@DEP,
				ID_SCR_START_ROLE=@IV_ID_SCR_START_ROLE,
				FLG_SYSADMIN=@IV_FLG_SYSADMIN,
				FLG_SUBSIDADMIN=@IV_FLG_SUBSIDADMIN,
				FLG_DEPTADMIN=@IV_FLG_DEPTADMIN,
				MODIFIED_BY=@IV_USERID,
				DT_MODIFIED=getdate(),
				FLG_NBK = @IV_FLG_NBK,
				FLG_ACCOUNTING	= @IV_FLG_ACCOUNTING ,
				FLG_SPAREPARTORDER = @IV_FLG_SPAREPARTORDER 
		WHERE	ID_ROLE=@IV_ROLEID
print @IV_STATUS
END 
/*

DECLARE  @OUT varchar(10)
EXEC USP_CONFIG_ROLE_UPDATE
'<ROOT>
<ROLE><ID_ROLE>110</ID_ROLE><ADMIN>True</ADMIN><SUBADMIN>True</SUBADMIN><DEPTADMIN>False</DEPTADMIN></ROLE>
</ROOT>','admin',@OUT

DECLARE  @OUT varchar(10)
EXEC USP_CONFIG_ROLE_UPDATE 81,'mak',1,1,144,1,0,0,'admin',@OUT




*/
GO
