/****** Object:  StoredProcedure [dbo].[USP_SAVE_APPOINTMENT_STATUS]    Script Date: 11-06-2021 18:37:53 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SAVE_APPOINTMENT_STATUS]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_APPOINTMENT_STATUS]    Script Date: 11-06-2021 18:37:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_SAVE_APPOINTMENT_STATUS]
@MODE Varchar(10),
@ID_APPT_STATUS INT=0,
@APPT_STATUS_CODE Varchar(30),
@APPT_STATUS_COLOR Varchar(50),
@USER	Varchar(50),
@RES_OUTPUT Varchar(50)='ERROR' OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;
	IF(@MODE='I')
	BEGIN
		IF NOT EXISTS(SELECT APPOINTMENT_STATUS_CODE FROM TBL_APPOINTMENT_STATUS WHERE APPOINTMENT_STATUS_CODE=@APPT_STATUS_CODE)
		BEGIN
			INSERT INTO TBL_APPOINTMENT_STATUS(APPOINTMENT_STATUS_CODE,APPOINTMENT_STATUS_COLOR,CREATED_BY,DT_CREATED)
			VALUES(@APPT_STATUS_CODE,@APPT_STATUS_COLOR,@USER,GETDATE())
			SET @RES_OUTPUT ='INSERTED'
		END
		ELSE
		BEGIN
			SET @RES_OUTPUT ='ALREADYEXISTS'
		END
	END
	ELSE IF(@MODE='U')
	  BEGIN
		IF EXISTS(SELECT APPOINTMENT_STATUS_CODE FROM TBL_APPOINTMENT_STATUS WHERE ID_APPOINTMENT_STATUS=@ID_APPT_STATUS)
			BEGIN
			--NEED TO CHECK IF NOT USED IN ANY WORK ORDER WE SHOULD BE ABLE TO CHANGE THIS STATUS CODE AND CHECK

			   UPDATE TBL_APPOINTMENT_STATUS SET
			   APPOINTMENT_STATUS_COLOR=@APPT_STATUS_COLOR,
			   MODIFIED_BY=@USER,
			   DT_MODIFIED=GETDATE()
			   WHERE ID_APPOINTMENT_STATUS = @ID_APPT_STATUS

			   SET @RES_OUTPUT ='UPDATED'
			END
	  END
	  ELSE IF(@MODE='D')
	  BEGIN
		DELETE TBL_APPOINTMENT_STATUS
		WHERE ID_APPOINTMENT_STATUS = @ID_APPT_STATUS 

		SET @RES_OUTPUT ='DELETED'
	  END

    
END
GO
