/****** Object:  StoredProcedure [dbo].[USP_ADD_MECHANIC_CONFIG_SETTINGS]    Script Date: 22-06-2021 13:11:04 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_ADD_MECHANIC_CONFIG_SETTINGS]
GO
/****** Object:  StoredProcedure [dbo].[USP_ADD_MECHANIC_CONFIG_SETTINGS]    Script Date: 22-06-2021 13:11:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

CREATE PROCEDURE [dbo].[USP_ADD_MECHANIC_CONFIG_SETTINGS] 
	@MECHANIC_ID varchar(20),
	@MECHANIC_NAME varchar(40),
	@ACTIVE_MEK bit,
	@PASSIVE_MEK bit,
	@ADMINISTRATION_MEK bit,
	@STANDARD_FROM_TIME datetime,
	@STANDARD_TO_TIME datetime,
	@MONDAY_FROM_TIME datetime,
	@MONDAY_TO_TIME datetime,
	@TUESDAY_FROM_TIME datetime,
	@TUESDAY_TO_TIME datetime,
	@WEDNESDAY_FROM_TIME datetime,
	@WEDNESDAY_TO_TIME datetime,
	@THURSDAY_FROM_TIME datetime,
	@THURSDAY_TO_TIME datetime,
	@FRIDAY_FROM_TIME datetime,
	@FRIDAY_TO_TIME datetime,
	@SATURDAY_FROM_TIME datetime,
	@SATURDAY_TO_TIME datetime,
	@SUNDAY_FROM_TIME datetime,
	@SUNDAY_TO_TIME datetime,
	@LUNCH_FROM_TIME datetime,
	@LUNCH_TO_TIME datetime,
	@ALT_STANDARD_FROM_TIME datetime,
	@ALT_STANDARD_TO_TIME datetime,
	@ALT_MONDAY_FROM_TIME datetime,
	@ALT_MONDAY_TO_TIME datetime,
	@ALT_TUESDAY_FROM_TIME datetime,
	@ALT_TUESDAY_TO_TIME datetime,
	@ALT_WEDNESDAY_FROM_TIME datetime,
	@ALT_WEDNESDAY_TO_TIME datetime,
	@ALT_THURSDAY_FROM_TIME datetime,
	@ALT_THURSDAY_TO_TIME datetime,
	@ALT_FRIDAY_FROM_TIME datetime,
	@ALT_FRIDAY_TO_TIME datetime,
	@ALT_SATURDAY_FROM_TIME datetime,
	@ALT_SATURDAY_TO_TIME datetime,
	@ALT_SUNDAY_FROM_TIME datetime,
	@ALT_SUNDAY_TO_TIME datetime,
	@ALT_LUNCH_FROM_TIME datetime,
	@ALT_LUNCH_TO_TIME datetime,
	@FLG_FLEX_TIME bit,
	@USER_NAME varchar(30),
	@ID_MEC_GROUP int =NULL,
	@MEC_GROUP_NAME varchar(MAX)= NULL,
	@ID_MEC_GROUPINGS varchar(max)= NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ID_MECH_CONFIG_SETTINGS int
	IF EXISTS(SELECT MECHANIC_ID FROM TBL_MECHANIC_CONFIG_SETTINGS WHERE  MECHANIC_ID=@MECHANIC_ID)
	BEGIN
		UPDATE TBL_MECHANIC_CONFIG_SETTINGS SET 
		ACTIVE_MEK = @ACTIVE_MEK,
		PASSIVE_MEK = @PASSIVE_MEK,
		ADMINISTRATION_MEK = @ADMINISTRATION_MEK,
		STANDARD_FROM_TIME = @STANDARD_FROM_TIME,
		STANDARD_TO_TIME = @STANDARD_TO_TIME ,
		MONDAY_FROM_TIME  = @MONDAY_FROM_TIME,
		MONDAY_TO_TIME = @MONDAY_TO_TIME ,
		TUESDAY_FROM_TIME  = @TUESDAY_FROM_TIME,
		TUESDAY_TO_TIME = @TUESDAY_TO_TIME ,
		WEDNESDAY_FROM_TIME = @WEDNESDAY_FROM_TIME ,
		WEDNESDAY_TO_TIME =@WEDNESDAY_TO_TIME ,
		THURSDAY_FROM_TIME = @THURSDAY_FROM_TIME ,
		THURSDAY_TO_TIME = @THURSDAY_TO_TIME ,
		FRIDAY_FROM_TIME  = @FRIDAY_FROM_TIME ,
		FRIDAY_TO_TIME  = @FRIDAY_TO_TIME ,
		SATURDAY_FROM_TIME  = @SATURDAY_FROM_TIME ,
		SATURDAY_TO_TIME  = @SATURDAY_TO_TIME ,
		SUNDAY_FROM_TIME  = @SUNDAY_FROM_TIME ,
		SUNDAY_TO_TIME  = @SUNDAY_TO_TIME ,
		LUNCH_FROM_TIME  = @LUNCH_FROM_TIME ,
		LUNCH_TO_TIME  = @LUNCH_TO_TIME ,
		ALT_STANDARD_FROM_TIME  = @ALT_STANDARD_FROM_TIME ,
		ALT_STANDARD_TO_TIME  = @ALT_STANDARD_TO_TIME ,
		ALT_MONDAY_FROM_TIME  = @ALT_MONDAY_FROM_TIME ,
		ALT_MONDAY_TO_TIME  = @ALT_MONDAY_TO_TIME ,
		ALT_TUESDAY_FROM_TIME  = @ALT_TUESDAY_FROM_TIME ,
		ALT_TUESDAY_TO_TIME  = @ALT_TUESDAY_TO_TIME ,
		ALT_WEDNESDAY_FROM_TIME  = @ALT_WEDNESDAY_FROM_TIME ,
		ALT_WEDNESDAY_TO_TIME  = @ALT_WEDNESDAY_TO_TIME ,
		ALT_THURSDAY_FROM_TIME  = @ALT_THURSDAY_FROM_TIME ,
		ALT_THURSDAY_TO_TIME  = @ALT_THURSDAY_TO_TIME ,
		ALT_FRIDAY_FROM_TIME  = @ALT_FRIDAY_FROM_TIME ,
		ALT_FRIDAY_TO_TIME  = @ALT_FRIDAY_TO_TIME ,
		ALT_SATURDAY_FROM_TIME = @ALT_SATURDAY_FROM_TIME ,
		ALT_SATURDAY_TO_TIME = @ALT_SATURDAY_TO_TIME ,
		ALT_SUNDAY_FROM_TIME = @ALT_SUNDAY_FROM_TIME ,
		ALT_SUNDAY_TO_TIME = @ALT_SUNDAY_TO_TIME ,
		ALT_LUNCH_FROM_TIME = @ALT_LUNCH_FROM_TIME ,
		ALT_LUNCH_TO_TIME = @ALT_LUNCH_TO_TIME ,
		MODIFIED_BY= @USER_NAME ,
		FLG_FLEX_TIME=@FLG_FLEX_TIME,
		ID_MEC_GROUP=@ID_MEC_GROUP,
		MEC_GROUP_NAME=@MEC_GROUP_NAME,
		DT_MODIFIED = GETDATE()
		--WHERE MECHANIC_NAME =@MECHANIC_NAME
		WHERE MECHANIC_ID=@MECHANIC_ID

		SELECT @ID_MECH_CONFIG_SETTINGS=ID_MECHANIC_CONFIG_SETTINGS FROM TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@MECHANIC_ID
	END
	ELSE
	BEGIN
	
		 INSERT INTO TBL_MECHANIC_CONFIG_SETTINGS(
	MECHANIC_ID,
	MECHANIC_NAME ,
	ACTIVE_MEK,
	PASSIVE_MEK ,
	ADMINISTRATION_MEK,
	STANDARD_FROM_TIME ,
	STANDARD_TO_TIME  ,
	MONDAY_FROM_TIME  ,
	MONDAY_TO_TIME  ,
	TUESDAY_FROM_TIME  ,
	TUESDAY_TO_TIME  ,
	WEDNESDAY_FROM_TIME  ,
	WEDNESDAY_TO_TIME  ,
	THURSDAY_FROM_TIME  ,
	THURSDAY_TO_TIME  ,
	FRIDAY_FROM_TIME  ,
	FRIDAY_TO_TIME  ,
	SATURDAY_FROM_TIME  ,
	SATURDAY_TO_TIME  ,
	SUNDAY_FROM_TIME  ,
	SUNDAY_TO_TIME  ,
	LUNCH_FROM_TIME  ,
	LUNCH_TO_TIME  ,
	ALT_STANDARD_FROM_TIME  ,
	ALT_STANDARD_TO_TIME  ,
	ALT_MONDAY_FROM_TIME  ,
	ALT_MONDAY_TO_TIME  ,
	ALT_TUESDAY_FROM_TIME  ,
	ALT_TUESDAY_TO_TIME  ,
	ALT_WEDNESDAY_FROM_TIME  ,
	ALT_WEDNESDAY_TO_TIME  ,
	ALT_THURSDAY_FROM_TIME  ,
	ALT_THURSDAY_TO_TIME  ,
	ALT_FRIDAY_FROM_TIME  ,
	ALT_FRIDAY_TO_TIME  ,
	ALT_SATURDAY_FROM_TIME ,
	ALT_SATURDAY_TO_TIME ,
	ALT_SUNDAY_FROM_TIME ,
	ALT_SUNDAY_TO_TIME ,
	ALT_LUNCH_FROM_TIME ,
	ALT_LUNCH_TO_TIME ,
	CREATED_BY,
	FLG_FLEX_TIME,
	ID_MEC_GROUP,
	MEC_GROUP_NAME,
	DT_CREATED
	
	)
	VALUES(
	@MECHANIC_ID,
	@MECHANIC_NAME ,
	@ACTIVE_MEK,
	@PASSIVE_MEK ,
	@ADMINISTRATION_MEK,
	@STANDARD_FROM_TIME ,
	@STANDARD_TO_TIME  ,
	@MONDAY_FROM_TIME  ,
	@MONDAY_TO_TIME  ,
	@TUESDAY_FROM_TIME  ,
	@TUESDAY_TO_TIME  ,
	@WEDNESDAY_FROM_TIME  ,
	@WEDNESDAY_TO_TIME  ,
	@THURSDAY_FROM_TIME  ,
	@THURSDAY_TO_TIME  ,
	@FRIDAY_FROM_TIME  ,
	@FRIDAY_TO_TIME  ,
	@SATURDAY_FROM_TIME  ,
	@SATURDAY_TO_TIME  ,
	@SUNDAY_FROM_TIME  ,
	@SUNDAY_TO_TIME  ,
	@LUNCH_FROM_TIME  ,
	@LUNCH_TO_TIME  ,
	@ALT_STANDARD_FROM_TIME  ,
	@ALT_STANDARD_TO_TIME  ,
	@ALT_MONDAY_FROM_TIME  ,
	@ALT_MONDAY_TO_TIME  ,
	@ALT_TUESDAY_FROM_TIME  ,
	@ALT_TUESDAY_TO_TIME  ,
	@ALT_WEDNESDAY_FROM_TIME  ,
	@ALT_WEDNESDAY_TO_TIME  ,
	@ALT_THURSDAY_FROM_TIME  ,
	@ALT_THURSDAY_TO_TIME  ,
	@ALT_FRIDAY_FROM_TIME  ,
	@ALT_FRIDAY_TO_TIME  ,
	@ALT_SATURDAY_FROM_TIME ,
	@ALT_SATURDAY_TO_TIME ,
	@ALT_SUNDAY_FROM_TIME ,
	@ALT_SUNDAY_TO_TIME ,
	@ALT_LUNCH_FROM_TIME ,
	@ALT_LUNCH_TO_TIME ,
	@USER_NAME,
	@FLG_FLEX_TIME,
	@ID_MEC_GROUP,
	@MEC_GROUP_NAME,
	GETDATE()
	)

		 SELECT @ID_MECH_CONFIG_SETTINGS = @@IDENTITY
	END

	--select * INTO #TEMP1 from dbo.FNSPLIT(@ID_MEC_GROUPINGS,';');
	--delete from TBL_MECHANIC_GROUPING where ID_MECHANIC_CONFIG_SETTINGS=@ID_MECH_CONFIG_SETTINGS

	--DROP TABLE #TEMP1;

	DECLARE @Temp1 Table(
		ID_Mech_Group int
	)

	INSERT INTO @TEMP1(ID_MECH_GROUP) SELECT ITEM FROM DBO.FNSPLIT(@ID_MEC_GROUPINGS,';');
	IF EXISTS(SELECT ID_MECHANIC_CONFIG_SETTINGS FROM TBL_MECHANIC_GROUPING WHERE ID_MECHANIC_CONFIG_SETTINGS=@ID_MECH_CONFIG_SETTINGS)
	BEGIN
		DELETE FROM TBL_MECHANIC_GROUPING WHERE ID_MECHANIC_CONFIG_SETTINGS=@ID_MECH_CONFIG_SETTINGS;
	END
	
	INSERT INTO TBL_MECHANIC_GROUPING(ID_MECHANIC_CONFIG_SETTINGS,ID_MEC_GROUP)
	SELECT @ID_MECH_CONFIG_SETTINGS,ID_MECH_GROUP 
	FROM @TEMP1 


END
GO
