/****** Object:  StoredProcedure [dbo].[USP_SPARES_DISCODEBUYGLOBAL_FETCH]    Script Date: 08-09-2021 16:18:13 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPARES_DISCODEBUYGLOBAL_FETCH]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPARES_DISCODEBUYGLOBAL_FETCH]    Script Date: 08-09-2021 16:18:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_SPARES_DISCODEBUYGLOBAL_FETCH]
@IV_CATFROM			VARCHAR(50)	= NULL,
@IV_CATTO			VARCHAR(50)	= NULL,
@IV_SPAREIDFROM		VARCHAR(30) = NULL,
@IV_SPAREIDTO		VARCHAR(30) = NULL,
@IV_SUPP_CURRENTNO  VARCHAR(50) = NULL
AS
BEGIN

	DECLARE @QRYSTR VARCHAR(1000)	

	DECLARE 
		@CATFROM	AS VARCHAR(50),
		@CATTO		AS VARCHAR(50),
		@SIDFROM	AS VARCHAR(50),
		@SIDTO		AS VARCHAR(50)
		
	SET @CATFROM	=	ISNULL(@IV_CATFROM,(SELECT MIN(CATG_DESC) FROM TBL_MAS_ITEM_CATG)) 
	SET @CATTO		=	ISNULL(@IV_CATTO,(SELECT MAX(CATG_DESC) FROM TBL_MAS_ITEM_CATG))
	SET @SIDFROM	=	ISNULL(@IV_SPAREIDFROM,(SELECT MIN(ID_ITEM) FROM TBL_SPR_GLOBALSPAREPART))
	SET @SIDTO		=	ISNULL(@IV_SPAREIDTO,(SELECT MAX(ID_ITEM) FROM TBL_SPR_GLOBALSPAREPART))

	IF @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL
	BEGIN
		SELECT DISTINCT	ITEM_DISC_CODE_BUY
		FROM			TBL_SPR_GLOBALSPAREPART
		WHERE			ITEM_DISC_CODE_BUY IS NOT NULL
		AND				ITEM_DISC_CODE_BUY != ''
		AND				SUPP_CURRENTNO = @IV_SUPP_CURRENTNO
		ORDER BY		ITEM_DISC_CODE_BUY ASC
	END
	IF @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL
	BEGIN
		SELECT DISTINCT GSP.ITEM_DISC_CODE_BUY
		FROM			TBL_SPR_GLOBALSPAREPART AS GSP 
		--INNER JOIN		TBL_MAS_MAKE AS MAKE 
		--ON				GSP.ID_MAKE = MAKE.ID_MAKE 
		INNER JOIN		TBL_MAS_ITEM_CATG AS CAT 
		ON				GSP.ID_ITEM_CATG = CAT.ID_ITEM_CATG
		WHERE			GSP.ITEM_DISC_CODE_BUY != ''
		AND				GSP.SUPP_CURRENTNO = @IV_SUPP_CURRENTNO
		ORDER BY		GSP.ITEM_DISC_CODE_BUY ASC
			 
	END
	ELSE IF (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL) AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL
	BEGIN
		SET @QRYSTR = 'SELECT DISTINCT GSP.ITEM_DISC_CODE_BUY
					FROM			TBL_SPR_GLOBALSPAREPART AS GSP 
					--INNER JOIN		TBL_MAS_MAKE AS MAKE 
					--ON				GSP.ID_MAKE = MAKE.ID_MAKE 
					INNER JOIN		TBL_MAS_ITEM_CATG AS CAT 
					ON				GSP.ID_ITEM_CATG = CAT.ID_ITEM_CATG
					WHERE			ITEM_DISC_CODE_BUY IS NOT NULL
					AND				GSP.ITEM_DISC_CODE_BUY != '''''				

	
					SET @QRYSTR = @QRYSTR + ' AND CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''''

					IF @IV_SUPP_CURRENTNO IS NOT NULL
					BEGIN
					   SET @QRYSTR = @QRYSTR + ' AND GSP.SUPP_CURRENTNO = '''+ @IV_SUPP_CURRENTNO+'''' 
					END

					SET @QRYSTR = @QRYSTR + ' ORDER BY GSP.ITEM_DISC_CODE_BUY ASC'

			EXEC(@QRYSTR)
			PRINT @QRYSTR 	

	END
	ELSE IF (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL) AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)

	BEGIN
		SET @QRYSTR = 'SELECT DISTINCT GSP.ITEM_DISC_CODE_BUY
					FROM			TBL_SPR_GLOBALSPAREPART AS GSP 
					--INNER JOIN		TBL_MAS_MAKE AS MAKE 
					--ON				GSP.ID_MAKE = MAKE.ID_MAKE 
					INNER JOIN		TBL_MAS_ITEM_CATG AS CAT 
					ON				GSP.ID_ITEM_CATG = CAT.ID_ITEM_CATG
					WHERE			ITEM_DISC_CODE_BUY IS NOT NULL
					AND				GSP.ITEM_DISC_CODE_BUY != '''''					


				SET @QRYSTR = @QRYSTR + ' AND CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''''

				SET @QRYSTR = @QRYSTR + ' AND GSP.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''''

				IF @IV_SUPP_CURRENTNO IS NOT NULL
				BEGIN
					SET @QRYSTR = @QRYSTR + ' AND GSP.SUPP_CURRENTNO = '''+ @IV_SUPP_CURRENTNO+'''' 
				END

				SET @QRYSTR = @QRYSTR + ' ORDER BY GSP.ITEM_DISC_CODE_BUY ASC'

		EXEC(@QRYSTR)
		PRINT @QRYSTR 

	END
	ELSE IF @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)
	BEGIN
		SET @QRYSTR = 'SELECT DISTINCT GSP.ITEM_DISC_CODE_BUY
					FROM			TBL_SPR_GLOBALSPAREPART AS GSP 
					--INNER JOIN		TBL_MAS_MAKE AS MAKE 
					--ON				GSP.ID_MAKE = MAKE.ID_MAKE 
					INNER JOIN		TBL_MAS_ITEM_CATG AS CAT 
					ON				GSP.ID_ITEM_CATG = CAT.ID_ITEM_CATG
					WHERE			ITEM_DISC_CODE_BUY IS NOT NULL
					AND				GSP.ITEM_DISC_CODE_BUY != '''''					


				SET @QRYSTR = @QRYSTR + ' AND GSP.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''''

				IF @IV_SUPP_CURRENTNO IS NOT NULL
				BEGIN
					SET @QRYSTR = @QRYSTR + ' AND GSP.SUPP_CURRENTNO = '''+ @IV_SUPP_CURRENTNO+'''' 
				END

				SET @QRYSTR = @QRYSTR + ' ORDER BY GSP.ITEM_DISC_CODE_BUY ASC'

		EXEC(@QRYSTR)
		PRINT @QRYSTR
	END


END
GO
