/****** Object:  StoredProcedure [dbo].[USP_SAVE_GLOBAL_ENV_FEES]    Script Date: 03-11-2021 12:01:05 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SAVE_GLOBAL_ENV_FEES]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_GLOBAL_ENV_FEES]    Script Date: 03-11-2021 12:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_SAVE_GLOBAL_ENV_FEES]
@SUPP_CURR_NO varchar(30),
@CREATED_BY varchar(30),
@DESC_NEW varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		INSERT INTO TBL_SPR_GLOBALSPAREPART
		(ID_ITEM,ITEM_DESC_NAME2,ID_UNIT_ITEM,ITEM_DESC,ID_MAKE,ID_ITEM_MODEL,ID_ITEM_CATG,ITEM_REORDER_LEVEL,ITEM_DISC_CODE,ITEM_DISC_CODE_BUY,
		BASIC_PRICE,ITEM_PRICE,COST_PRICE1,NET_PRICE,PACKAGE_QTY,ID_VAT_CODE,ACCOUNT_CODE,FLG_CALC_PRICE,FLG_DUTY,CREATED_BY,DT_CREATED,
		ID_CURRENCY,ID_SPCATEGORY,SUPP_CURRENTNO,BARCODE_NUMBER,IS_SPARE_P)
		SELECT 
		ID_ITEM +'A',
		NULL, --ITEM_DESC_NAME2,
		NULL,
		@DESC_NEW,
		@SUPP_CURR_NO, --SUPP_CURRENTNO,
		ID_ITEM_MODEL,
		ID_ITEM_CATG,
		ITEM_REORDER_LEVEL,
		ITEM_DISC_CODE,
		ITEM_DISC_CODE_BUY,
		CAST(REPLACE( TRIM(SUBSTRING(ITEM_DESC_NAME2, CHARINDEX(':', ITEM_DESC_NAME2)+1, LEN(ITEM_DESC_NAME2))), ',', '.') AS DECIMAL(13,2)) , --BASIC_PRICE,
		CAST(REPLACE( TRIM(SUBSTRING(ITEM_DESC_NAME2, CHARINDEX(':', ITEM_DESC_NAME2)+1, LEN(ITEM_DESC_NAME2))), ',', '.') AS DECIMAL(13,2)) , --ITEM_PRICE,
		COST_PRICE1,
		CAST(REPLACE( TRIM(SUBSTRING(ITEM_DESC_NAME2, CHARINDEX(':', ITEM_DESC_NAME2)+1, LEN(ITEM_DESC_NAME2))), ',', '.') AS DECIMAL(13,2)),  --NET_PRICE,
		PACKAGE_QTY,
		ID_VAT_CODE,
		ACCOUNT_CODE,
		FLG_CALC_PRICE,
		FLG_DUTY,
		@CREATED_BY,
		GETDATE(),
		ID_CURRENCY,
		ID_SPCATEGORY,
		SUPP_CURRENTNO,
		BARCODE_NUMBER,
		IS_SPARE_P
		FROM TBL_SPR_GLOBALSPAREPART  TSG
		WHERE ITEM_DESC_NAME2 IS NOT NULL AND ITEM_DESC_NAME2 <> ''  
		AND IS_SPARE_P IS NULL 
		AND IS_SPARE_A IS NULL
		AND CHARINDEX('PANT:',ITEM_DESC_NAME2) > 0
		AND SUPP_CURRENTNO = @SUPP_CURR_NO
		AND ID_ITEM <> ID_ITEM + 'P'
		--AND ID_ITEM <> ID_ITEM + 'A'
		--AND ID_ITEM <> (SELECT ID_ITEM  FROM TBL_SPR_GLOBALSPAREPART TG  WHERE TG.ID_ITEM = TSG.ID_ITEM +'A')
		AND ITEM_DESC <> @DESC_NEW

		UPDATE TBL_SPR_GLOBALSPAREPART SET IS_SPARE_A=1 
		WHERE ITEM_DESC_NAME2 IS NOT NULL AND ITEM_DESC_NAME2 <> ''  AND IS_SPARE_P IS NULL AND IS_SPARE_A IS NULL AND CHARINDEX('PANT:',ITEM_DESC_NAME2) > 0
		AND SUPP_CURRENTNO = @SUPP_CURR_NO
		AND ID_ITEM <> ID_ITEM + 'P'

END
GO
