/****** Object:  StoredProcedure [dbo].[USP_SAVE_WO_TEXTLINES]    Script Date: 24-08-2022 19:27:54 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SAVE_WO_TEXTLINES]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_WO_TEXTLINES]    Script Date: 24-08-2022 19:27:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_SAVE_WO_TEXTLINES]
@ID_WO_NO VARCHAR(50),
@ID_WO_PREFIX  VARCHAR(50),
@ID_USER VARCHAR(50),
@MESSAGE  VARCHAR(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   /*How to get the serial No of the last Job to insert a new textline after the customer Accepts Bargain Offer */
DECLARE  @AllLines TABLE(
ID_WO_NO VARCHAR(30),
ID_WO_PREFIX VARCHAR(30),
LineType VARCHAR(30),
WO_LineNo INt,
JOB_NO INT
) 

-- To get all the Spare and Text Lines
INSERT INTO @AllLines(ID_WO_NO,ID_WO_PREFIX,LineType ,WO_LineNo,JOB_NO) 
SELECT DISTINCT w.ID_WO_NO,w.ID_WO_PREFIX, 
CASE WHEN (ID_ITEM_JOB IS NOT NULL AND ID_MAKE_JOB IS NOT NULL) THEN 'S' 
	 WHEN (ID_ITEM_JOB IS NULL AND ID_MAKE_JOB IS NULL) THEN 'T' 
	 END as LineType,jdet.SL_NO as WO_LineNo,det.ID_JOB --,wdet.SL_NO as Lab_LineNo
FROM  TBL_WO_HEADER w 
INNER JOIN TBL_WO_DETAIL det on det.ID_WO_NO= w.ID_WO_NO and det.ID_WO_PREFIX= w.ID_WO_PREFIX
INNER JOIN TBL_WO_JOB_DETAIL jdet on jdet.ID_WO_NO= w.ID_WO_NO and jdet.ID_WO_PREFIX= w.ID_WO_PREFIX AND jdet.ID_WODET_SEQ_JOB = det.ID_WODET_SEQ
WHERE w.ID_WO_NO= @ID_WO_NO and w.ID_WO_PREFIX= @ID_WO_PREFIX


-- To get all the Labour Lines
INSERT INTO @AllLines(ID_WO_NO,ID_WO_PREFIX,LineType ,WO_LineNo,JOB_NO) 
SELECT DISTINCT w.ID_WO_NO,w.ID_WO_PREFIX, 'L' as LineType,wdet.SL_NO as WO_LineNo,det.ID_JOB --,wdet.SL_NO as Lab_LineNo
FROM  TBL_WO_HEADER w 
INNER JOIN TBL_WO_DETAIL det on det.ID_WO_NO= w.ID_WO_NO and det.ID_WO_PREFIX= w.ID_WO_PREFIX
INNER JOIN TBL_WO_LABOUR_DETAIL wdet on wdet.ID_WODET_SEQ = det.ID_WODET_SEQ 
WHERE w.ID_WO_NO= @ID_WO_NO and w.ID_WO_PREFIX= @ID_WO_PREFIX

--SELECT * FROM @AllLines ORDER BY WO_LineNo 

DECLARE @Line_No INT , @WO_JOB_NO INT,@WO_DET_SEQ INT,@WO_DEBITOR_SEQ INT,@ID_CUST_WO VARCHAR(50)

Select @Line_No = WO_LineNo + 1 from @AllLines  order by WO_LineNo 
Select @WO_JOB_NO = MAX(JOB_NO)   from  @AllLines  --group by JOB_NO
Select @Line_No,@WO_JOB_NO

SELECT @WO_DET_SEQ = ID_WODET_SEQ FROM TBL_WO_DETAIL WD WHERE WD.ID_WO_NO= @ID_WO_NO AND WD.ID_WO_PREFIX= @ID_WO_PREFIX AND ID_JOB = @WO_JOB_NO
SELECT @WO_DEBITOR_SEQ = ID_DBT_SEQ FROM TBL_WO_DEBITOR_DETAIL w WHERE w.ID_WO_NO= @ID_WO_NO and w.ID_WO_PREFIX= @ID_WO_PREFIX   AND ID_JOB_ID = @WO_JOB_NO
SELECT @ID_CUST_WO = ID_CUST_WO FROM TBL_WO_HEADER WD WHERE WD.ID_WO_NO= @ID_WO_NO AND WD.ID_WO_PREFIX= @ID_WO_PREFIX

SELECT @WO_DET_SEQ as WO_DET_SEQ,@WO_DEBITOR_SEQ as WO_DEBITOR_SEQ,@ID_CUST_WO as ID_CUST_WO

INSERT INTO TBL_WO_JOB_DETAIL (
ID_WODET_SEQ_JOB,ID_WO_NO,ID_WO_PREFIX,ID_MAKE_JOB,ID_ITEM_CATG_JOB,ID_ITEM_JOB,JOBI_ORDER_QTY,JOBI_DELIVER_QTY,JOBI_BO_QTY,JOBI_SELL_PRICE,JOBI_DIS_PER,JOBI_DIS_CD,JOBI_VAT_PER,ORDER_LINE_TEXT,
CREATED_BY,DT_CREATED,JOB_VAT_ACCCODE,JOB_VAT,job_spares_accountcode,ID_MAKE,ID_WAREHOUSE,ID_CUST_WO,TD_CALC,[TEXT],ITEM_DESC,[STATUS],PICKINGLIST_PREV_PRINTED,DELIVERYNOTE_PREV_PRINTED,
ID_DBT_SEQ,JOBI_COST_PRICE,PICKINGLIST_PREV_PICKED,SPARE_TYPE,FLG_FORCE_VAT,FLG_EDIT_SP,EXPORT_TYPE,SL_NO,SPARE_DISCOUNT
) VALUES
(
	@WO_DET_SEQ,@ID_WO_NO,@ID_WO_PREFIX,NULL,NULL,NULL,0,0,0,0,0,NULL,0,'',@ID_USER,GETDATE(),NULL,NULL,NULL,NULL,1 ,@ID_CUST_WO,1,@MESSAGE,'',NULL,0,0,@WO_DEBITOR_SEQ ,
	0,0,'ORD',0,0,'',@Line_No,0
)

END
GO
