/****** Object:  StoredProcedure [dbo].[USP_SAVE_WORK_ORDER_STATUS]    Script Date: 06-01-2021 19:40:12 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SAVE_WORK_ORDER_STATUS]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_WORK_ORDER_STATUS]    Script Date: 06-01-2021 19:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	To Add/Edit/Delete WO Order Status
--			  : FLG_USER_CREATED - Existing Work Order Statuses should not be deleted - 0
-- =============================================
CREATE PROCEDURE [dbo].[USP_SAVE_WORK_ORDER_STATUS]
@MODE Varchar(10),
@ID_ORDER_STATUS INT=0,
@ORDER_STATUS_CODE Varchar(10),
@ORDER_STATUS_DESC Varchar(50),
@ORDER_STATUS_COLOR Varchar(50),
@USER	Varchar(50),
@RES_OUTPUT Varchar(50)='ERROR' OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  IF(@MODE='I')
  BEGIN
		IF NOT EXISTS(SELECT ORDER_STATUS_CODE FROM TBL_WO_ORDER_STATUS WHERE ORDER_STATUS_CODE=@ORDER_STATUS_CODE)
		BEGIN
			INSERT INTO TBL_WO_ORDER_STATUS(ORDER_STATUS_CODE,ORDER_STATUS_DESC,ORDER_STATUS_COLOR,CREATED_BY,DT_CREATED,FLG_USER_CREATED)
			VALUES(@ORDER_STATUS_CODE,@ORDER_STATUS_DESC,@ORDER_STATUS_COLOR,@USER,GETDATE(),1)

			--Need to Insert into TBL_DATA_CTRL_DETAILS for every record inserted to this table
				IF NOT EXISTS(SELECT * FROM TBL_DATA_CTRL_DETAILS C
								INNER JOIN TBL_DATA_SCREEN_DETAILS S ON S.ID_SCRNO = C.ID_SCRNO
								WHERE S.SCRN_NAME LIKE '%WOHEAD%' AND CNTRLNAME = 'CMBSTATUS' AND 
								ID_LANG =3 AND CTRL_VALUE=@ORDER_STATUS_CODE )
				BEGIN
					INSERT INTO TBL_DATA_CTRL_DETAILS(ID_SCRNO,ID_GRP,ID_LANG,Ctrl_value,CAPTION,CREATED_BY,DT_CREATED)
					SELECT ID_SCRNO,ID_GRP,3,@ORDER_STATUS_CODE,@ORDER_STATUS_DESC,@USER,GETDATE()
					FROM TBL_DATA_SCREEN_DETAILS S 
					WHERE  S.SCRN_NAME LIKE '%wohead%' AND CNTRLNAME = 'CmbStatus' 
				END

			SET @RES_OUTPUT ='INSERTED'
		END
		ELSE
		BEGIN
			SET @RES_OUTPUT ='ALREADYEXISTS'
		END

  END
  ELSE IF(@MODE='U')
  BEGIN
	IF EXISTS(SELECT ORDER_STATUS_CODE FROM TBL_WO_ORDER_STATUS WHERE ID_ORDER_STATUS=@ID_ORDER_STATUS)
		BEGIN
		--NEED TO CHECK IF NOT USED IN ANY WORK ORDER WE SHOULD BE ABLE TO CHANGE THIS STATUS CODE AND CHECK

		   UPDATE TBL_WO_ORDER_STATUS SET 
		   ORDER_STATUS_DESC=@ORDER_STATUS_DESC,
		   ORDER_STATUS_COLOR=@ORDER_STATUS_COLOR,
		   MODIFIED_BY=@USER,
		   DT_MODIFIED=GETDATE()
		   WHERE ID_ORDER_STATUS = @ID_ORDER_STATUS

		   SET @RES_OUTPUT ='UPDATED'
		END
  END
  ELSE IF(@MODE='D')
  BEGIN

		IF EXISTS (SELECT * FROM TBL_WO_ORDER_STATUS WHERE ID_ORDER_STATUS=@ID_ORDER_STATUS)
		BEGIN 
		      --NEED TO CHECK IF ALREADY ANY WORK ORDER EXISTS USING THIS STATUS CODE THEN WE SHOULD NOT DELETE 

			  IF EXISTS(SELECT ID_WO_NO FROM TBL_WO_HEADER WHERE WO_STATUS = @ORDER_STATUS_CODE) --  CHECK IF ORDER STATUS IS USED IN ANY ORDER -- Chances that already few order status can be used and changed
				  BEGIN
					SET @RES_OUTPUT ='STATUS_USED'
				  END
			  ELSE IF EXISTS(SELECT ORDER_STATUS_CODE FROM TBL_WO_ORDER_STATUS WHERE ID_ORDER_STATUS = @ID_ORDER_STATUS AND FLG_USER_CREATED = 0) -- already existing statuses should not be deleted
			      BEGIN
					SET @RES_OUTPUT ='STATUS_USED'
				  END
			  ELSE
				  BEGIN
					  DELETE TBL_WO_ORDER_STATUS
					  WHERE ID_ORDER_STATUS = @ID_ORDER_STATUS AND ORDER_STATUS_CODE = @ORDER_STATUS_CODE

					  SET @RES_OUTPUT ='DELETED'
				  END
			  
		END
  END

END
GO
