/****** Object:  StoredProcedure [dbo].[USP_IMPORT_BGP_DATA]    Script Date: 01-09-2022 11:42:40 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_IMPORT_BGP_DATA]
GO
/****** Object:  StoredProcedure [dbo].[USP_IMPORT_BGP_DATA]    Script Date: 01-09-2022 11:42:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:
-- Create date: <Create Date,,>
-- Description:	To import bilglassportal data
-- =============================================
CREATE PROCEDURE [dbo].[USP_IMPORT_BGP_DATA]
@IV_ARTICLE_NUM VARCHAR(50),
@IV_ARTICLE_DESC VARCHAR(50),
@IV_QUANTITY DECIMAL(13,2),
@IV_UNIT_PRICE DECIMAL(13,2),
@IV_COST_PRICE DECIMAL(13,2),
@IV_DISCOUNT DECIMAL(13,2),
@IV_CREATEDBY VARCHAR(50),
@IV_ID_WO_PREFIX VARCHAR(50) NULL,
@IV_ID_WO_NO VARCHAR(50) NULL,
@IV_RESULT VARCHAR(50) OUTPUT  -- 1 = Success , 0 = Error

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	      
		DECLARE @WAREHOUSEID INT   
		DECLARE @DEPTID INT   
		DECLARE @SUBID INT   
		DECLARE @USE_ALL_SPARE_SRCH VARCHAR(10)      
   
       
       
		SELECT @WAREHOUSEID=ID_WAREHOUSE , @DEPTID= ID_DEPARTMENT,@SUBID = ID_Subsidery_User  FROM TBL_MAS_USERS         
		INNER JOIN TBL_SPR_DEPT_WH ON ID_DEPARTMENT =ID_DEPT_USER AND FLG_DEFAULT=1 WHERE ID_LOGIN = @IV_CREATEDBY    

		DECLARE @ID_ITEM VARCHAR(50)=  @IV_ARTICLE_NUM
		DECLARE @ID_JOB INT
	
		select @ID_ITEM

    	-- ADD THE NEW SPARE TO LOCAL SPARE TABLE
		IF NOT EXISTS(SELECT ID_ITEM FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @ID_ITEM AND ID_WH_ITEM = @WAREHOUSEID)
		BEGIN
			INSERT INTO TBL_MAS_ITEM_MASTER
			( ID_ITEM,ITEM_DESC,ITEM_DESC_NAME2,ID_UNIT_ITEM,ID_MAKE,ID_ITEM_MODEL,ID_ITEM_CATG,ID_SUPPLIER_ITEM,ITEM_AVAIL_QTY,ID_WH_ITEM,ITEM_REORDER_LEVEL,ITEM_DISC_CODE,ITEM_DISC_CODE_BUY,
			  BASIC_PRICE,ITEM_PRICE,COST_PRICE1,NET_PRICE,LOCATION,PACKAGE_QTY,ID_VAT_CODE,ACCOUNT_CODE,FLG_ALLOW_BCKORD,FLG_CALC_PRICE,FLG_CNT_STOCK,FLG_DUTY,CREATED_BY,DT_CREATED,
			  Class_Code,ID_SPCATEGORY,AVG_PRICE,QTY_NOT_DELIVERED,QTY_BO_SUPPLIER,LAST_BUY_PRICE,DT_LAST_BUY,MIN_STOCK,MAX_STOCK,FLG_BLOCK_AUTO_ORD,TD_CALC,FLG_STOCKITEM,VA_EXCHANGE_VEH,VA_ORDER_COST,
			  FLG_STOCKITEM_STATUS,ENV_ID_ITEM,ENV_ID_MAKE,ENV_ID_WAREHOUSE,FLG_EFD,ALT_LOCATION,ANNOTATION,FLG_VAT_INCL,FLG_OBTAIN_SPARE,FLG_OBSOLETE_SPARE,FLG_AUTOADJUST_PRICE,FLG_LABELS,FLG_ALLOW_DISCOUNT,
			  DISCOUNT,LAST_COST_PRICE,TEXT,FLG_AUTO_ARRIVAL,FLG_REPLACEMENT_PURCHASE,FLG_SAVE_TO_NONSTOCK,WEIGHT,SUPP_CURRENTNO,MAX_PURCHASE,MIN_PURCHASE,CONSUMPTION_ESTIMATED,SUBNR_ID_ITEM,SUBNR_SUPP_CURRENTNO,
			  BARCODE_NUMBER,DEPOSITREFUND_ID_ITEM,DEPOSITREFUND_SUPP_CURRENTNO
			)			
			 SELECT  @ID_ITEM,@IV_ARTICLE_DESC,
			 ITEM_DESC_NAME2,ID_UNIT_ITEM,ID_MAKE,ID_ITEM_MODEL,ID_ITEM_CATG,ID_SUPPLIER_ITEM,
			 @IV_QUANTITY, --@IV_BEHOLDNIND,
			 ID_WH_ITEM,ITEM_REORDER_LEVEL,ITEM_DISC_CODE,ITEM_DISC_CODE_BUY,
			  BASIC_PRICE,@IV_UNIT_PRICE,@IV_COST_PRICE,NET_PRICE,LOCATION,PACKAGE_QTY,ID_VAT_CODE,ACCOUNT_CODE,FLG_ALLOW_BCKORD,FLG_CALC_PRICE,FLG_CNT_STOCK,FLG_DUTY,@IV_CREATEDBY,GETDATE(),
			  Class_Code,ID_SPCATEGORY,AVG_PRICE,QTY_NOT_DELIVERED,QTY_BO_SUPPLIER,LAST_BUY_PRICE,DT_LAST_BUY,MIN_STOCK,MAX_STOCK,FLG_BLOCK_AUTO_ORD,TD_CALC,FLG_STOCKITEM,VA_EXCHANGE_VEH,VA_ORDER_COST,
			  FLG_STOCKITEM_STATUS,ENV_ID_ITEM,ENV_ID_MAKE,ENV_ID_WAREHOUSE,FLG_EFD,ALT_LOCATION,ANNOTATION,FLG_VAT_INCL,FLG_OBTAIN_SPARE,FLG_OBSOLETE_SPARE,FLG_AUTOADJUST_PRICE,FLG_LABELS,FLG_ALLOW_DISCOUNT,
			  DISCOUNT,LAST_COST_PRICE,TEXT,FLG_AUTO_ARRIVAL,FLG_REPLACEMENT_PURCHASE,FLG_SAVE_TO_NONSTOCK,WEIGHT,SUPP_CURRENTNO,MAX_PURCHASE,MIN_PURCHASE,CONSUMPTION_ESTIMATED,SUBNR_ID_ITEM,SUBNR_SUPP_CURRENTNO,
			  BARCODE_NUMBER,DEPOSITREFUND_ID_ITEM,DEPOSITREFUND_SUPP_CURRENTNO
			 FROM TBL_MAS_ITEM_MASTER 
			 WHERE ID_ITEM ='BG'  -- DEFAULT SPARE PART

			 SET @IV_RESULT = 1
		END
		ELSE
		BEGIN
		   UPDATE TBL_MAS_ITEM_MASTER
		   SET 
		   ITEM_AVAIL_QTY = ISNULL(ITEM_AVAIL_QTY,0) + ISNULL(@IV_QUANTITY,0) , 
		   ITEM_PRICE = @IV_UNIT_PRICE,DT_MODIFIED = GETDATE(),MODIFIED_BY = @IV_CREATEDBY
		   WHERE ID_ITEM = @ID_ITEM AND ID_WH_ITEM = @WAREHOUSEID

		    SET @IV_RESULT = 1
		END

		-- ADD THE NEW SPARE TO GLOBAL SPARE TABLE
		IF NOT EXISTS(SELECT ID_ITEM FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @ID_ITEM)
		BEGIN
			INSERT INTO TBL_SPR_GLOBALSPAREPART
			(
				ID_ITEM,ITEM_DESC_NAME2,ID_UNIT_ITEM,ITEM_DESC,ID_MAKE,ID_ITEM_MODEL,ID_ITEM_CATG,ITEM_REORDER_LEVEL,ITEM_DISC_CODE,ITEM_DISC_CODE_BUY,BASIC_PRICE,ITEM_PRICE,COST_PRICE1,NET_PRICE,
				PACKAGE_QTY,ID_VAT_CODE,ACCOUNT_CODE,FLG_CALC_PRICE,FLG_DUTY,CREATED_BY,DT_CREATED,ID_CURRENCY,ID_SPCATEGORY,SUPP_CURRENTNO,BARCODE_NUMBER
			)
			SELECT
				@ID_ITEM,ITEM_DESC_NAME2,ID_UNIT_ITEM,@IV_ARTICLE_DESC,ID_MAKE,ID_ITEM_MODEL,ID_ITEM_CATG,ITEM_REORDER_LEVEL,ITEM_DISC_CODE,ITEM_DISC_CODE_BUY,BASIC_PRICE,@IV_UNIT_PRICE,COST_PRICE1,NET_PRICE,
				1,ID_VAT_CODE,ACCOUNT_CODE,FLG_CALC_PRICE,FLG_DUTY,@IV_CREATEDBY,GETDATE(),ID_CURRENCY,ID_SPCATEGORY,SUPP_CURRENTNO,BARCODE_NUMBER
			FROM TBL_SPR_GLOBALSPAREPART
			WHERE ID_ITEM = 'BG' -- DEFAULT SPARE PART

			 SET @IV_RESULT = 1
		END
		ELSE
		BEGIN
		   UPDATE TBL_SPR_GLOBALSPAREPART
		   SET PACKAGE_QTY = 1 , ITEM_PRICE = @IV_UNIT_PRICE , DT_MODIFIED = GETDATE(),MODIFIED_BY = @IV_CREATEDBY
		   WHERE ID_ITEM = @ID_ITEM 

		    SET @IV_RESULT = 1
		END
		
		
		--SET @IV_RESULT = 1



END
GO
