/****** Object:  StoredProcedure [dbo].[USP_SAVE_APPOINTMENT_CONFIG_SETTINGS]    Script Date: 27-04-2021 11:57:57 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SAVE_APPOINTMENT_CONFIG_SETTINGS]
GO
/****** Object:  StoredProcedure [dbo].[USP_SAVE_APPOINTMENT_CONFIG_SETTINGS]    Script Date: 27-04-2021 11:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: 04-12-2020
-- Description:	To Save Appointment Config Settings
-- =============================================
CREATE PROCEDURE [dbo].[USP_SAVE_APPOINTMENT_CONFIG_SETTINGS]
@ID_CONFIG_APPOINTMENT INT = 0,
@LAST_APPOINTMENT_NUMBER INT,
@MINIMUM_APPOINTMENT_TIME INT,
@APPOINTMENT_START_TIME_HOUR VARCHAR(20),
@APPOINTMENT_START_TIME_MINUTES VARCHAR(20),
@APPOINTMENT_STOP_TIME_HOUR VARCHAR(20),
@APPOINTMENT_STOP_TIME_MINUTES VARCHAR(20),
@HISTORY_LIMIT INT,
@DISPLAY_SATSUN BIT,
@USER	Varchar(50),
@MECHANIC_PER_PAGE INT,
@CTRL_BY_STD bit,
@CTRL_BY_MEC bit,
@CTRL_BY_STATUS bit,
@SHOW_ONHOLD_ONLOAD bit,
@RES_OUTPUT Varchar(50)='ERROR' OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS(SELECT * FROM TBL_APPOINTMENT_CONFIG_SETTINGS)
	BEGIN
		UPDATE TBL_APPOINTMENT_CONFIG_SETTINGS
		SET 
		LAST_APPOINTMENT_NUMBER = @LAST_APPOINTMENT_NUMBER,
		MINIMUM_APPOINTMENT_TIME  = @MINIMUM_APPOINTMENT_TIME,
		APPOINTMENT_START_TIME_HOUR = @APPOINTMENT_START_TIME_HOUR,
		APPOINTMENT_START_TIME_MINUTES = @APPOINTMENT_START_TIME_MINUTES,
		APPOINTMENT_STOP_TIME_HOUR = @APPOINTMENT_STOP_TIME_HOUR,
		APPOINTMENT_STOP_TIME_MINUTES = @APPOINTMENT_STOP_TIME_MINUTES,
		HISTORY_LIMIT = @HISTORY_LIMIT,
		DISPLAY_SATSUN = @DISPLAY_SATSUN,
		MECHANIC_PER_PAGE=@MECHANIC_PER_PAGE,
		CTRL_BY_STANDARD=@CTRL_BY_STD,
		CTRL_BY_STATUS=@CTRL_BY_STATUS,
		CTRL_BY_MECHANIC=@CTRL_BY_MEC,
		SHOW_ONHOLD_ON_LOAD=@SHOW_ONHOLD_ONLOAD,
		MODIFIED_BY = @USER,
		DT_MODIFIED = GETDATE()
		--WHERE ID_CONFIG_APPOINTMENT = @ID_CONFIG_APPOINTMENT

		SET @RES_OUTPUT ='UPDATED'
	END
	ELSE 
	BEGIN
		INSERT INTO TBL_APPOINTMENT_CONFIG_SETTINGS(LAST_APPOINTMENT_NUMBER,MINIMUM_APPOINTMENT_TIME,APPOINTMENT_START_TIME_HOUR,APPOINTMENT_START_TIME_MINUTES,
					APPOINTMENT_STOP_TIME_HOUR,APPOINTMENT_STOP_TIME_MINUTES,HISTORY_LIMIT,DISPLAY_SATSUN,CREATED_BY,DT_CREATED,MECHANIC_PER_PAGE,CTRL_BY_STANDARD,CTRL_BY_STATUS,CTRL_BY_MECHANIC,SHOW_ONHOLD_ON_LOAD)
		VALUES (@LAST_APPOINTMENT_NUMBER,@MINIMUM_APPOINTMENT_TIME,@APPOINTMENT_START_TIME_HOUR,@APPOINTMENT_START_TIME_MINUTES,@APPOINTMENT_STOP_TIME_HOUR,
		@APPOINTMENT_STOP_TIME_MINUTES,@HISTORY_LIMIT,@DISPLAY_SATSUN,@USER,GETDATE(),@MECHANIC_PER_PAGE,@CTRL_BY_STD,@CTRL_BY_STATUS,@CTRL_BY_MEC,@SHOW_ONHOLD_ONLOAD)

		SET @RES_OUTPUT ='INSERTED'
	END


END
GO
