/****** Object:  StoredProcedure [dbo].[USP_PROCESS_APPOINTMENTS_HEADER]    Script Date: 18-03-2021 21:25:24 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_PROCESS_APPOINTMENTS_HEADER]
GO
/****** Object:  StoredProcedure [dbo].[USP_PROCESS_APPOINTMENTS_HEADER]    Script Date: 18-03-2021 21:25:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_PROCESS_APPOINTMENTS_HEADER] 
	@ACTION VARCHAR(10),
	@APPOINTMENT_ID int ,
	@APPOINTMENT_TYPE int NULL,
	@START_DATE smalldatetime NULL,
	@END_DATE smalldatetime NULL,
	@SUBJECT nvarchar(50) NULL,
	@DESCRIPTION nvarchar(max) NULL,
	@STATUS int NULL,
	@LABEL int NULL,
	--@RESOURCE_ID int NULL,
	@RESOURCE_IDs nvarchar(max) NULL,
	@CUSTOMER_FIRST_NAME varchar(30) NULL,
	@CUSTOMER_MIDDLE_NAME varchar(30) NULL,
	@CUSTOMER_LAST_NAME varchar(30) NULL,
	@CUSTOMER_NUMBER varchar(30) NULL,
	@CUSTOMER_FIRM bit NULL,
	@VEHICLE_REG_NO varchar(30) NULL,
	@VEHICLE_REF_NO varchar(30) NULL,
	@VEHICLE_CH_NO varchar(30) NULL,
	@VEHICLE_RENTAL_CAR bit NULL,
	@VEHICLE_PERIODIC_CHECK bit NULL,
	@VEHICLE_PERIODIC_SERVICE bit NULL,
	@ID_VEH_SEQ_WO int NULL,
	@WO_VEH_MAK_MOD_MAP int NULL,
	@WO_VEH_MOD varchar(50),
	@USER varchar(50),
	@LATEST_ID INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	--DECLARE @LATEST_ID int
    --INSERT
      IF @ACTION = 'INSERT'
      BEGIN
	  DECLARE @NALABEL int
	  SELECT @NALABEL=ID_ORDER_STATUS FROM TBL_WO_ORDER_STATUS WHERE ORDER_STATUS_CODE='NA';
            INSERT INTO TBL_APPOINTMENTS_HEADER (
			APPOINTMENT_TYPE ,
			START_DATE ,
			END_DATE ,
			SUBJECT ,
			DESCRIPTION ,
			STATUS ,
			LABEL ,
			--RESOURCE_ID ,
			RESOURCE_IDs ,
			CUSTOMER_FIRST_NAME ,
			CUSTOMER_MIDDLE_NAME ,
			CUSTOMER_LAST_NAME ,
			CUSTOMER_NUMBER ,
			CUSTOMER_FIRM ,
			VEHICLE_REG_NO ,
			VEHICLE_REF_NO ,
			VEHICLE_CH_NO ,
			VEHICLE_RENTAL_CAR ,
			VEHICLE_PERIODIC_CHECK ,
			VEHICLE_PERIODIC_SERVICE ,
			ID_VEH_SEQ_WO ,
			WO_VEH_MAK_MOD_MAP,
			WO_VEH_MOD,
			CREATED_BY,
			DT_CREATED
			)
			
            VALUES (
			
			@APPOINTMENT_TYPE ,
			@START_DATE ,
			@END_DATE ,
			@SUBJECT ,
			@DESCRIPTION ,
			@STATUS ,
			@NALABEL ,
			--@RESOURCE_ID ,
			@RESOURCE_IDs ,
			@CUSTOMER_FIRST_NAME ,
			@CUSTOMER_MIDDLE_NAME ,
			@CUSTOMER_LAST_NAME ,
			@CUSTOMER_NUMBER ,
			@CUSTOMER_FIRM ,
			@VEHICLE_REG_NO ,
			@VEHICLE_REF_NO ,
			@VEHICLE_CH_NO ,
			@VEHICLE_RENTAL_CAR ,
			@VEHICLE_PERIODIC_CHECK ,
			@VEHICLE_PERIODIC_SERVICE ,
			@ID_VEH_SEQ_WO ,
			@WO_VEH_MAK_MOD_MAP,
			@WO_VEH_MOD,
			@USER,
			GETDATE()
			)

			SELECT @LATEST_ID=@@IDENTITY

			UPDATE TBL_APPOINTMENT_CONFIG_SETTINGS SET LAST_APPOINTMENT_NUMBER=@LATEST_ID
      END
 
      --UPDATE
      IF @Action = 'UPDATE'
      BEGIN
            UPDATE TBL_APPOINTMENTS_HEADER
            SET 
			APPOINTMENT_TYPE =@APPOINTMENT_TYPE,
			START_DATE = @START_DATE,
			END_DATE = @END_DATE,
			SUBJECT  = @SUBJECT,
			DESCRIPTION  = @DESCRIPTION,
			STATUS  = @STATUS,
			LABEL  = @LABEL,
			--RESOURCE_ID  = @RESOURCE_ID,
			RESOURCE_IDs  = @RESOURCE_IDs,
			CUSTOMER_FIRST_NAME  = @CUSTOMER_FIRST_NAME,
			CUSTOMER_MIDDLE_NAME  = @CUSTOMER_MIDDLE_NAME,
			CUSTOMER_LAST_NAME  = @CUSTOMER_LAST_NAME,
			CUSTOMER_NUMBER  = @CUSTOMER_NUMBER,
			CUSTOMER_FIRM  = @CUSTOMER_FIRM,
			VEHICLE_REG_NO  = @VEHICLE_REG_NO,
			VEHICLE_REF_NO  = @VEHICLE_REF_NO,
			VEHICLE_CH_NO  = @VEHICLE_CH_NO,
			VEHICLE_RENTAL_CAR  = @VEHICLE_RENTAL_CAR,
			VEHICLE_PERIODIC_CHECK  = @VEHICLE_PERIODIC_CHECK,
			VEHICLE_PERIODIC_SERVICE = @VEHICLE_PERIODIC_SERVICE,
			ID_VEH_SEQ_WO =@ID_VEH_SEQ_WO,
			WO_VEH_MAK_MOD_MAP= @WO_VEH_MAK_MOD_MAP,
			WO_VEH_MOD= @WO_VEH_MOD,
			MODIFIED_BY=@USER,
			DT_MODIFIED=GETDATE()
            WHERE APPOINTMENT_ID = @APPOINTMENT_ID

			SELECT @LATEST_ID=@APPOINTMENT_ID
      END
 
      --DELETE
      IF @Action = 'DELETE'
      BEGIN
            --DELETE FROM TBL_APPOINTMENTS_HEADER
            --WHERE APPOINTMENT_ID = @APPOINTMENT_ID

			SELECT @LATEST_ID=@APPOINTMENT_ID
      END
END
GO
