/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_FETCH_RPT_ALL_SPR]    Script Date: 29-03-2022 10:38:51 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPR_PO_FETCH_RPT_ALL_SPR]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_FETCH_RPT_ALL_SPR]    Script Date: 29-03-2022 10:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Anuj
-- Create date: <Create Date,,>
-- Description:	Generation of PO report for all Spares
-- =============================================
CREATE PROCEDURE [dbo].[USP_SPR_PO_FETCH_RPT_ALL_SPR]
	@PO_NUMBER VARCHAR(30),
	@IV_USERID VARCHAR(50)
AS
BEGIN
	DECLARE @SUBID INT,@SUB_NAME VARCHAR(50),@SUB_PHONE VARCHAR(50),@SUB_ADDRESS VARCHAR(30),@SUB_ZIPCODE VARCHAR(50),@SUB_ORG_NO varchar(60)
	SELECT @SUBID = ID_Subsidery_User  FROM TBL_MAS_USERS WHERE ID_Login = @IV_USERID
	SELECT @SUB_NAME = SS_Name , @SUB_PHONE = SS_Phone_Mobile,@SUB_ADDRESS = isnull(SS_Address1,'')+' '+isnull(SS_Address2,''),@SUB_ZIPCODE = SS_ID_Zipcode ,@SUB_ORG_NO=SS_ORGANIZATIONNO FROM TBL_MAS_SUBSIDERY WHERE ID_Subsidery = @SUBID

	SELECT  
			poi.PONUMBER as PONUMBER,
			poi.ID_ITEM as ID_ITEM,
			im.ITEM_DESC as ITEM_DESC,
			im.LOCATION as LOCATION,
			(SELECT isnull(ID_WO_PREFIX,'') FROM TBL_WO_JOB_DETAIL JD WHERE JD.ID_WOITEM_SEQ = poi.ID_WOITEM_SEQ) AS ID_WO_PREFIX,
			(SELECT isnull(ID_WO_NO,'') FROM TBL_WO_JOB_DETAIL JD WHERE JD.ID_WOITEM_SEQ = poi.ID_WOITEM_SEQ) AS ID_WO_NO,
			im.ITEM_AVAIL_QTY as ITEM_AVAIL_QTY,
			poi.ORDERQTY as ORDERQTY,
			poi.DELIVERED_QTY as DELIVERED_QTY,
			--poi.DELIVERED_QTY + im.ITEM_AVAIL_QTY as NEW_AVAIL_QTY,
			im.ITEM_AVAIL_QTY as NEW_AVAIL_QTY,
			im.LAST_COST_PRICE as LAST_COST_PRICE,
			poi.COST_PRICE1 as COST_PRICE1,
			poi.ITEM_PRICE as ITEM_PRICE,
			isNull(poi.COST_PRICE1,0) * isNull(poi.DELIVERED_QTY,0) AS TOTAL_COST_PRICE,
			--SUM(poi.DELIVERED_QTY) AS DELIVERED_QTY_SUM,
			ISNULL(poi.ITEM_PRICE,0) * isNull(poi.DELIVERED_QTY,0) AS TOTAL_ITEM_PRICE,
			sup.SUP_Name AS SUP_NAME,
			sup.SUPP_CURRENTNO AS SUPP_CURRENTNO,
			@SUB_NAME As SUB_NAME,
			@SUB_ADDRESS AS SUB_ADDRESS,
			@SUB_ZIPCODE AS SUB_ZIPCODE,
			@SUB_ORG_NO AS SUB_ORG_NO
			from TBL_SPR_PO_ITEM poi
			inner join TBL_MAS_ITEM_MASTER im on im.ID_ITEM = poi.ID_ITEM AND im.SUPP_CURRENTNO=poi.SUPP_CURRENTNO
			inner join TBL_MAS_SUPPLIER sup ON sup.SUPP_CURRENTNO = poi.SUPP_CURRENTNO
			
			--left outer join tbl_WO_Job_Detail job on job.ID_WOITEM_SEQ = poi.ID_WOITEM_SEQ

		where PONUMBER = @PO_NUMBER
		
END
GO
