/****** Object:  StoredProcedure [dbo].[USP_FETCH_MECHANIC_DETAILS_NEW]    Script Date: 22-06-2021 13:09:34 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_MECHANIC_DETAILS_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_MECHANIC_DETAILS_NEW]    Script Date: 22-06-2021 13:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	To Fetch Mechanic configured Timings
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_MECHANIC_DETAILS_NEW]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	--DECLARE @MEC_TYPE varchar(max) ='Regular'
	
	SELECT u.id_login  as ResourceID,u.First_Name +' '+ u.Last_Name As ResourceName INTO #TEMPDATA2 from tbl_mas_users u where (u.Flg_Mechanic = 1 and isnull(u.FLG_MECH_INACTIVE,'')=0) OR (u.Flg_Resource=1 AND isnull(FLG_MECH_INACTIVE,'')=1);

	SELECT  RES.ResourceID  As 'NResourceID',concat(RES.ResourceID,'_',MCG.MEC_GROUP_NAME) as 'ResourceID', RES.ResourceName,MCS.MECHANIC_ID,MCS.STANDARD_FROM_TIME,MCS.STANDARD_TO_TIME,MCS.MONDAY_FROM_TIME,MCS.MONDAY_TO_TIME,MCS.TUESDAY_FROM_TIME,MCS.TUESDAY_TO_TIME,MCS.WEDNESDAY_FROM_TIME,MCS.WEDNESDAY_TO_TIME,MCS.THURSDAY_FROM_TIME,MCS.THURSDAY_TO_TIME,MCS.FRIDAY_FROM_TIME,MCS.FRIDAY_TO_TIME,MCS.SATURDAY_FROM_TIME,MCS.SATURDAY_TO_TIME,MCS.SUNDAY_FROM_TIME,MCS.SUNDAY_TO_TIME,MCS.LUNCH_FROM_TIME,MCS.LUNCH_TO_TIME,
	MCS.ALT_STANDARD_FROM_TIME,MCS.ALT_STANDARD_TO_TIME,MCS.ALT_MONDAY_FROM_TIME,MCS.ALT_MONDAY_TO_TIME,MCS.ALT_TUESDAY_FROM_TIME,MCS.ALT_TUESDAY_TO_TIME,MCS.ALT_WEDNESDAY_FROM_TIME,MCS.ALT_WEDNESDAY_TO_TIME,MCS.ALT_THURSDAY_FROM_TIME,MCS.ALT_THURSDAY_TO_TIME,MCS.ALT_FRIDAY_FROM_TIME,MCS.ALT_FRIDAY_TO_TIME,MCS.ALT_SATURDAY_FROM_TIME,MCS.ALT_SATURDAY_TO_TIME,MCS.ALT_SUNDAY_FROM_TIME,MCS.ALT_SUNDAY_TO_TIME,MCS.ALT_LUNCH_FROM_TIME,MCS.ALT_LUNCH_TO_TIME,
	--CASE  when RES.ResourceID in ('pv24','lv25') then 'Painter'  when RES.ResourceID ='lv39' then 'Service' else 'Regular'  end As 'MEC_TYPE'
	isNull(MCG.MEC_GROUP_NAME,'Regular') As 'MEC_TYPE' --into #TEMPDATA3
	
	from #TEMPDATA2 RES 
	INNER JOIN tbl_mechanic_config_Settings MCS ON MCS.MECHANIC_ID = RES.RESOURCEID 
	left outer join TBL_MECHANIC_GROUPING MG on MG.ID_MECHANIC_CONFIG_SETTINGS = MCS.ID_MECHANIC_CONFIG_SETTINGS
	left outer join TBL_MECHANIC_GROUP MCG on MCG.ID_MEC_GROUP = MG.ID_MEC_GROUP
	where mcs.ACTIVE_MEK=1;

	DROP TABLE  #TEMPDATA2;--DROP TABLE  #TEMPDATA3;

	--Take the distinct Mechanic Group from table TBL_MECHANIC_GROUPING instead of TBL_MECHANIC_CONFIG_SETTINGS
	--select  distinct isNull(MEC_GROUP_NAME,'Regular') As MEC_GROUP_NAME  from TBL_MECHANIC_CONFIG_SETTINGS where ACTIVE_MEK=1
		select distinct MCG.MEC_GROUP_NAME from TBL_MECHANIC_GROUPING MG inner join TBL_MECHANIC_GROUP MCG on MG.ID_MEC_GROUP=MCG.ID_MEC_GROUP 
		inner join tbl_mechanic_config_Settings MCS on MG.ID_MECHANIC_CONFIG_SETTINGS=MCS.ID_MECHANIC_CONFIG_SETTINGS where MCS.ACTIVE_MEK=1
END
GO
