/****** Object:  StoredProcedure [dbo].[USP_FETCH_ALL_USERMENU]    Script Date: 04-08-2022 16:27:57 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_ALL_USERMENU]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_ALL_USERMENU]    Script Date: 04-08-2022 16:27:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Praveen
-- Create date: <Create Date,,>
-- Description:	To fetch all the Menu data
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_ALL_USERMENU]
@IV_ID_LOGIN  VARCHAR(20)  ,    
@IV_LANGUAGENAME VARCHAR(50) 
AS
BEGIN        
  
	DECLARE @IV_LANGUAGEID AS INT  , @ID_ROLE INT 
   
	
	SELECT @ID_ROLE = ID_ROLE_User FROM TBL_MAS_USERS WHERE ID_Login = @IV_ID_LOGIN

	SELECT   
		@IV_LANGUAGEID = ID_LANG   
	FROM  
		TBL_MAS_LANGUAGE   
	WHERE   
		LTRIM(RTRIM(UPPER(LANG_NAME))) = LTRIM(RTRIM(UPPER(@IV_LANGUAGENAME)))  
  
	DECLARE @IV_LANGUAGEIDENG AS INT  
   
	SELECT   
		@IV_LANGUAGEIDENG = ID_LANG   
	FROM  
		TBL_MAS_LANGUAGE   
	WHERE   
		LTRIM(RTRIM(UPPER(LANG_NAME))) = LTRIM(RTRIM(UPPER('ENGLISH')))  
    
	DECLARE @COUNT INT      
	SELECT @COUNT = COUNT(MOD.ID_SCR)          
	FROM   TBL_MAS_USERS  MUSERS,          
		TBL_MAS_ROLE_ACCESS ROLEACC,          
        TBL_UTIL_MOD_DETAILS MOD,    
		TBL_UTIL_LANG_DETAILS LANGDETAILS            
	WHERE           
		MUSERS.ID_LOGIN     = @IV_ID_LOGIN          
			AND  MUSERS.ID_ROLE_USER = ROLEACC.ID_ROLE_ACCESS          
			AND  ROLEACC.ID_SCR_UTIL = MOD.ID_SCR  AND  FLG ='TRUE'     
			AND  LANGDETAILS.ID_SCR  = MOD.ID_SCR     
			AND  LANGDETAILS.ID_LANG = @IV_LANGUAGEID     
			
					   
	IF @COUNT <> 0   
	
		-- To display all the screens
		SELECT  
			MOD.ID_SCR AS MENUID,     
			CASE WHEN TBLLANG.TEXT = '' THEN 
				LANGDETAILS.LANG_DESCRIPTION
			ELSE
				ISNULL(TBLLANG.TEXT, LANGDETAILS.LANG_DESCRIPTION)        
			END
			AS TEXT,  
			MOD.NAME_URL      AS DESCRIPTION,          
			MOD.MODULE_LEVEL  AS PARENTID,
			MOD.NAME_MODULE,
			con.Menu_Order AS MENU_ORDER,
			con.Menu_header_id AS HEADER_ID,
			CASE WHEN MOD.ID_SCR in
			(
				SELECT 
				TBL_UTIL_MOD_DETAILS.ID_SCR     
				FROM 
				TBL_UTIL_MOD_DETAILS     
				LEFT JOIN TBL_UTIL_LANG_DETAILS ON TBL_UTIL_LANG_DETAILS.ID_SCR = TBL_UTIL_MOD_DETAILS.ID_SCR AND ID_LANG = @IV_LANGUAGEID
				WHERE 
				MODULE_LEVEL IS NOT NULL    
				AND TBL_UTIL_MOD_DETAILS.ID_SCR NOT IN(     
				SELECT 
					CASE WHEN ID_SCR_UTIL IS NULL THEN -1 ELSE ID_SCR_UTIL END
				FROM  
					TBL_MAS_ROLE_ACCESS     
				WHERE 
					ID_ROLE_ACCESS =  @ID_ROLE ) 
				--AND FLG=1    
				--ORDER BY NAME_MODULE   
			
			) THEN 0 ELSE 1			
			END AS 'ENABLED'

			FROM TBL_UTIL_MOD_DETAILS MOD		
		Left Outer join
				(
					SELECT          
						MOD1.ID_SCR  AS MENUID1,          
						LANGDETAILS.LANG_DESCRIPTION  AS TEXT
					FROM	TBL_MAS_USERS       MUSERS,          
							TBL_MAS_ROLE_ACCESS ROLEACC,          
							TBL_UTIL_MOD_DETAILS MOD1  ,    
							TBL_UTIL_LANG_DETAILS LANGDETAILS      
					WHERE           
						MUSERS.ID_LOGIN = @IV_ID_LOGIN          
						AND  MUSERS.ID_ROLE_USER = ROLEACC.ID_ROLE_ACCESS          
						AND  ROLEACC.ID_SCR_UTIL = MOD1.ID_SCR  AND  FLG ='TRUE'     
						AND  LANGDETAILS.ID_SCR  = MOD1.ID_SCR     
						AND  LANGDETAILS.ID_LANG = @IV_LANGUAGEID
				) AS TBLLANG ON MENUID1 = MOD.ID_SCR,
				TBL_UTIL_LANG_DETAILS LANGDETAILS ,
				 TBL_MENU_CONFIG CON

		WHERE 
		LANGDETAILS.ID_SCR  = MOD.ID_SCR 
		AND LANGDETAILS.ID_LANG = @IV_LANGUAGEIDENG 
		AND CON.NAME_MODULE = MOD.NAME_MODULE AND isNULL(CON.DISPLAYED,0) = 1
      	ORDER BY  con.Menu_Order  , MENUID
	ELSE       
		SELECT          
			MOD.ID_SCR AS MENUID,          
		   MOD.NAME_SCR  AS TEXT,          
		   MOD.NAME_URL  AS DESCRIPTION,          
		   MOD.MODULE_LEVEL  AS PARENTID        
        FROM TBL_UTIL_MOD_DETAILS MOD      
        WHERE NAME_SCR='LOGOUT'      
END       
GO
