USE [CARSDEV]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_CREATE_POHEADER]    Script Date: 26.03.2020 15:08:30 ******/
/*
	 THIS PROCEDURE INSERTS 


*/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
ALTER PROCEDURE [dbo].[USP_SPR_PO_IMPORT_LIST_INSERT]  
(  
	
	@USER VARCHAR(50), /*CURRENT USER WHO CREATES/UPDATES*/

	@ID_ITEM VARCHAR(50),
	@ID_ITEM_CATG VARCHAR(50),
	@SUPP_CURRENTNO INT,	
	@WAREHOUSE INT,
	@QUANTITY DECIMAL(18,2),
	@PURCHASE_TYPE VARCHAR(50),
	@MODULE VARCHAR(MAX),
	@ORDERPREFIX VARCHAR(MAX),
	@ORDERNUMBER VARCHAR(MAX),
	@ORDERLINE VARCHAR(MAX),                       
	@ORDERSEQ INT,           
	@FLG_IMPORTED BIT
	 		 
) 
AS  
  
BEGIN  

	DECLARE @ID_DEPT INT
	 	
	SET @ID_DEPT = (SELECT ID_Dept_User FROM TBL_MAS_USERS WHERE ID_Login=@USER)
	
	INSERT INTO [TBL_SPR_PO_IMPORT_LIST]  
	(  
	 ID_ITEM ,
	 ID_ITEM_CATG ,
	 SUPP_CURRENTNO ,
	 WAREHOUSE ,
	 QUANTITY,
	 PURCHASE_TYPE,
	 MODULE,
	 ORDERPREFIX,
	 ORDERNUMBER,
	 ORDERLINE,
	 ORDERSEQ,
	 CREATED_BY,
	 DT_CREATED,
	 CREATED_BY_ID_DEPT,
	 FLG_IMPORTED
	
	 
	 
		 
	)  
	VALUES  
	(  
	 @ID_ITEM ,
	 @ID_ITEM_CATG ,
	 @SUPP_CURRENTNO ,
	 @WAREHOUSE ,
	 @QUANTITY,
	 @PURCHASE_TYPE,
	 @MODULE,
	 @ORDERPREFIX,
	 @ORDERNUMBER,
	 @ORDERLINE,
	 @ORDERSEQ,
	 @USER,
	 GETDATE(),
	 @ID_DEPT,
	 @FLG_IMPORTED
	
	)  

	
	
	

END