/****** Object:  StoredProcedure [dbo].[USP_COPY_APPOINTMENT]    Script Date: 11-06-2021 18:34:56 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_COPY_APPOINTMENT]
GO
/****** Object:  StoredProcedure [dbo].[USP_COPY_APPOINTMENT]    Script Date: 11-06-2021 18:34:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_COPY_APPOINTMENT]
 @APPOINTMENT_ID int 
,@ID_APPOINTMENT_DETAILS INT 
,@START_DATE DateTime 
,@START_TIME DateTime
,@END_DATE DateTime 
,@END_TIME DateTime    
,@RESOURCE_ID varchar(max)
,@CREATED_BY varchar(30)
,@IV_RETVALUE  Varchar(50) output   
AS
BEGIN

DECLARE @NEW_ID_APTMNT_HEADER INT
DECLARE @NEW_ID_APT_DTL INT
DECLARE @ResourceIds NVARCHAR(max)

DECLARE @WORKFROM DATETIME
DECLARE @WORKTO DATETIME
DECLARE @LUNCHFROM DATETIME
DECLARE @LUNCHTO DATETIME
DECLARE @ISOVERTIME BIT =0
DECLARE @DAYOFWEEK VARCHAR(MAX)
DECLARE @STARTTIME AS TIME,@ENDTIME AS TIME,@WORKFROMTIME AS TIME,@WORKTOTIME AS TIME , @LUNCHFROMTIME AS TIME , @LUNCHTOTIME AS TIME


SET @ResourceIds ='<ResourceIds><ResourceId Type="System.String" Value="'+ @RESOURCE_ID   +'"/></ResourceIds>'

IF EXISTS (SELECT * FROM TBL_APPOINTMENTS_HEADER WHERE APPOINTMENT_ID = @APPOINTMENT_ID )
BEGIN
	INSERT INTO TBL_APPOINTMENTS_HEADER(APPOINTMENT_TYPE, START_DATE,END_DATE,SUBJECT,DESCRIPTION,STATUS,LABEL,CUSTOMER_FIRST_NAME,
	CUSTOMER_MIDDLE_NAME,CUSTOMER_LAST_NAME,CUSTOMER_NUMBER,CUSTOMER_FIRM,VEHICLE_REG_NO,VEHICLE_REF_NO,VEHICLE_CH_NO,
	VEHICLE_RENTAL_CAR,VEHICLE_PERIODIC_CHECK,VEHICLE_PERIODIC_SERVICE,CREATED_BY,DT_CREATED,ID_VEH_SEQ_WO,
	WO_VEH_MAK_MOD_MAP,WO_VEH_MOD)
	SELECT APPOINTMENT_TYPE, @START_TIME,@END_TIME,SUBJECT,DESCRIPTION,STATUS,LABEL,CUSTOMER_FIRST_NAME,
	CUSTOMER_MIDDLE_NAME,CUSTOMER_LAST_NAME,CUSTOMER_NUMBER,CUSTOMER_FIRM,VEHICLE_REG_NO,VEHICLE_REF_NO,VEHICLE_CH_NO,
	VEHICLE_RENTAL_CAR,VEHICLE_PERIODIC_CHECK,VEHICLE_PERIODIC_SERVICE,@CREATED_BY,GETDATE(),ID_VEH_SEQ_WO,
	WO_VEH_MAK_MOD_MAP,WO_VEH_MOD 
	FROM TBL_APPOINTMENTS_HEADER H 
	WHERE APPOINTMENT_ID = @APPOINTMENT_ID


	SELECT  @NEW_ID_APTMNT_HEADER = @@IDENTITY

	--INSERT INTO TBL_APPOINTMENT_DETAILS([START_DATE],[END_DATE],[TEXT],[DESCRIPTION],APPOINTMENT_ID,RESOURCE_ID,START_TIME,END_TIME,RESERVATION,
	--SEARCH,MECHANIC,ID_JOB,JOB_STATUS,CREATED_BY,DT_CREATED,RESOURCE_IDs,IS_OVER_TIME)
	--SELECT @START_TIME,@END_TIME,[TEXT],[DESCRIPTION],@NEW_ID_APTMNT_HEADER,@RESOURCE_ID,@START_TIME,@END_TIME,RESERVATION,
	--SEARCH,MECHANIC,ID_JOB,'',@CREATED_BY,GETDATE(),@ResourceIds,IS_OVER_TIME
	--FROM TBL_APPOINTMENT_DETAILS
	--WHERE ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS

	INSERT INTO TBL_APPOINTMENT_DETAILS([START_DATE],[END_DATE],[TEXT],[DESCRIPTION],APPOINTMENT_ID,RESOURCE_ID,START_TIME,END_TIME,RESERVATION,
	SEARCH,MECHANIC,ID_JOB,JOB_STATUS,CREATED_BY,DT_CREATED,RESOURCE_IDs,IS_OVER_TIME,APT_SERIAL_NO,COLOR_ID,COLOR_CODE,TEXT_LINE1,TEXT_LINE2,TEXT_LINE3,TEXT_LINE4,TEXT_LINE5,APT_SAPRE_PART_STATUS)
	SELECT @START_TIME,@END_TIME,[TEXT],[DESCRIPTION],@NEW_ID_APTMNT_HEADER,@RESOURCE_ID,@START_TIME,@END_TIME,RESERVATION,
	SEARCH,MECHANIC,ID_JOB,'',@CREATED_BY,GETDATE(),@ResourceIds,IS_OVER_TIME,1,COLOR_ID,COLOR_CODE,TEXT_LINE1,TEXT_LINE2,TEXT_LINE3,TEXT_LINE4,TEXT_LINE5,APT_SAPRE_PART_STATUS
	FROM TBL_APPOINTMENT_DETAILS
	WHERE ID_APPOINTMENT_DETAILS = @ID_APPOINTMENT_DETAILS


	SELECT  @NEW_ID_APT_DTL = @@IDENTITY

	BEGIN							
			SET @dayOfWeek=DATENAME(WEEKDAY, @START_DATE)
							
			IF @dayOfWeek='Sunday'
					Select @workFrom=SUNDAY_FROM_TIME,@workTo=SUNDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Monday'
					Select @workFrom=MONDAY_FROM_TIME,@workTo=MONDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Tuesday'
					Select @workFrom=TUESDAY_FROM_TIME,@workTo=TUESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Wednesday'
					Select @workFrom=WEDNESDAY_FROM_TIME,@workTo=WEDNESDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Thursday'
					Select @workFrom=THURSDAY_FROM_TIME,@workTo=THURSDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Friday'
					Select @workFrom=FRIDAY_FROM_TIME,@workTo=FRIDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID
				ELSE IF @dayOfWeek='Saturday'
					Select @workFrom=SATURDAY_FROM_TIME,@workTo=SATURDAY_TO_TIME ,@lunchFrom=LUNCH_FROM_TIME,@lunchTo=LUNCH_TO_TIME from TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID=@RESOURCE_ID



			SELECT @STARTTIME = CONVERT(VARCHAR(5), @START_DATE, 108) , @WORKFROMTIME=CONVERT(VARCHAR(5), @WORKFROM, 108), 
			@ENDTIME = CONVERT(VARCHAR(5), @END_DATE, 108) , @WORKTOTIME = CONVERT(VARCHAR(5), @WORKTO, 108) , @LUNCHFROMTIME = CONVERT(VARCHAR(5), @LUNCHFROM, 108),	
			@LUNCHTOTIME = CONVERT(VARCHAR(5), @LUNCHTO, 108)

			SELECT CONVERT(VARCHAR(5), @STARTTIME, 108) STARTTIME,CONVERT(VARCHAR(5), @ENDTIME, 108) ENDTIME,
			CONVERT(VARCHAR(5), @WORKFROMTIME, 108) WORKFROMTIME ,CONVERT(VARCHAR(5), @WORKTOTIME, 108) WORKTOTIME,
			CONVERT(VARCHAR(5), @LUNCHFROMTIME, 108)  LUNCHFROMTIME, CONVERT(VARCHAR(5), @LUNCHTOTIME, 108) LUNCHTOTIME

			IF (CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @workFromTime, 108)) OR (CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @workToTime, 108))
			BEGIN							
				--select 1
				SELECT @isOverTime=1 
			END
			--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) <= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN
			--	--select 2
			--	SELECT @isOverTime=1 
			--END
			--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN
			--	--select 3
			--	SELECT @isOverTime=1 
			--END
			--ELSE IF CONVERT(VARCHAR(5), @startTime, 108) >= CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @startTime, 108) < CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN
			--	--select 4
			--	SELECT @isOverTime=1 
			--END
			--ELSE IF CONVERT(VARCHAR(5), @endTime, 108) > CONVERT(VARCHAR(5), @lunchFromTime, 108) AND CONVERT(VARCHAR(5), @endTime, 108) <= CONVERT(VARCHAR(5), @lunchToTime, 108)
			--BEGIN				
			--	--select 5
			--	SELECT @isOverTime=1 
			--END
	
	END

		UPDATE TBL_APPOINTMENT_DETAILS SET IS_OVER_TIME = @isOverTime  WHERE ID_APPOINTMENT_DETAILS = @NEW_ID_APT_DTL

		
		SET @IV_RETVALUE = 'INS'

END





END
GO
