/****** Object:  StoredProcedure [dbo].[USP_REP_PACKAGE_FETCH_DETAILS]    Script Date: 21-02-2022 10:45:38 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_REP_PACKAGE_FETCH_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_PACKAGE_FETCH_DETAILS]    Script Date: 21-02-2022 10:45:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[USP_REP_PACKAGE_FETCH_DETAILS]
(
	
	@JOB_ID varchar(50)
	
)
AS
BEGIN

SELECT ID_ITEM_JOB, LINE_DESCRIPTION, RP_QTY, LINE_TYPE, SUPP_CURRENTNO, ID_ITEM_CATG, RP_ITEM_PRICE, RP_TOTAL_PRICE ,ID_RP_CODE,ID_SPARE_SEQ
FROM TBL_MAS_REP_SPARE_MAPPING
WHERE ID_RP_CODE = @JOB_ID
ORDER BY ID_SPARE_SEQ ASC

END

GO
