/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_SEARCH_POPUP]    Script Date: 29-03-2022 00:38:40 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPAREPART_SEARCH_POPUP]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPAREPART_SEARCH_POPUP]    Script Date: 29-03-2022 00:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE PROCEDURE [dbo].[USP_SPAREPART_SEARCH_POPUP]   
@ID_SEARCH VARCHAR(255),
@ID_MUSTHAVEQUANTITY AS BIT,
@ID_ISSTOCKITEM AS BIT ,
@ID_ISNOTSTOCKITEM AS BIT,
@LOCATION AS VARCHAR(100)=NULL,
@SUPPLIER AS VARCHAR(50)=NULL,
@ACCURATESEARCH AS BIT

AS  

BEGIN

	DECLARE @MAINQRY AS NVARCHAR(MAX)
	DECLARE @CQRY AS NVARCHAR(MAX)

	SET @MAINQRY = N'SELECT IM.[ID_ITEM]
		  ,IM.[ITEM_DESC]
		  ,IM.[ITEM_DESC_NAME2]
		  ,IM.[ID_UNIT_ITEM]
		  ,IM.[ID_MAKE]
		  ,IM.[ID_ITEM_MODEL]
		  ,IM.[ID_ITEM_CATG]
		  ,IC.[CATG_DESC]
		  ,IM.[ID_SUPPLIER_ITEM]
		  ,IM.[ITEM_AVAIL_QTY]
		  ,IM.[ID_WH_ITEM]
		  ,IM.[ITEM_REORDER_LEVEL]
		  ,IM.[ITEM_DISC_CODE]
		  ,IM.[ITEM_DISC_CODE_BUY]
		  ,IM.[BASIC_PRICE]
		  ,IM.[ITEM_PRICE]
		  ,IM.[COST_PRICE1]
		  ,IM.[NET_PRICE]
		  ,IM.[LOCATION]
		  ,IM.[PACKAGE_QTY]
		  ,IM.[ID_VAT_CODE]
		  ,IM.[ACCOUNT_CODE]
		  ,IM.[FLG_ALLOW_BCKORD]
		  ,IM.[FLG_CALC_PRICE]
		  ,IM.[FLG_CNT_STOCK]
		  ,IM.[FLG_DUTY]
		  ,IM.[CREATED_BY]
		  ,IM.[DT_CREATED]
		  ,IM.[MODIFIED_BY]
		  ,IM.[DT_MODIFIED]
		  ,IM.[Class_Code]
		  ,IM.[ID_SPCATEGORY]
		  ,IM.[AVG_PRICE]
		  ,IM.[QTY_NOT_DELIVERED]
		  ,IM.[QTY_BO_SUPPLIER]
		  ,IM.[LAST_BUY_PRICE]
		  ,IM.[DT_LAST_BUY]
		  ,IM.[MIN_STOCK]
		  ,IM.[MAX_STOCK]
		  ,IM.[MAX_PURCHASE]
		  ,IM.[MIN_PURCHASE]
		  ,IM.[CONSUMPTION_ESTIMATED]
		  ,IM.[FLG_BLOCK_AUTO_ORD]
		  ,IM.[TD_CALC]
		  ,IM.[FLG_STOCKITEM]
		  ,IM.[VA_EXCHANGE_VEH]
		  ,IM.[VA_ORDER_COST]
		  ,IM.[FLG_STOCKITEM_STATUS]
		  ,IM.[ENV_ID_ITEM]
		  ,IM.[ENV_ID_MAKE]
		  ,IM.[ENV_ID_WAREHOUSE]
		  ,IM.[FLG_EFD]
		  ,IM.[ALT_LOCATION]
		  ,IM.[ANNOTATION]
		  ,IM.[FLG_VAT_INCL]
		  ,IM.[FLG_OBTAIN_SPARE]
		  ,IM.[FLG_OBSOLETE_SPARE]
		  ,IM.[FLG_AUTOADJUST_PRICE]
		  ,IM.[FLG_LABELS]
		  ,IM.[FLG_ALLOW_DISCOUNT]
		  ,IM.[DISCOUNT]
		  ,IM.[LAST_COST_PRICE]
		  ,IM.[SUPP_CURRENTNO]
	  FROM [dbo].[TBL_MAS_ITEM_MASTER] IM LEFT JOIN TBL_MAS_ITEM_CATG IC ON IM.ID_ITEM_CATG = IC.ID_ITEM_CATG '
  

    IF @ACCURATESEARCH = 1
		SET @CQRY = 'WHERE (IM.ID_MAKE like ''' + @ID_SEARCH + ''' or ID_ITEM like '''+ @ID_SEARCH + ''' or ITEM_DESC like ''' + @ID_SEARCH + ''' or LOCATION like ''' + @ID_SEARCH + ''' or ID_SUPPLIER_ITEM like ''' + @ID_SEARCH + ''')'
	
	ELSE
		SET @CQRY = 'WHERE (IM.ID_MAKE like ''%' + @ID_SEARCH + '%'' or ID_ITEM like ''%' + @ID_SEARCH + '%'' or ITEM_DESC like ''%' + @ID_SEARCH + '%'' or LOCATION like ''%' + @ID_SEARCH + '%'' or ID_SUPPLIER_ITEM like ''%' + @ID_SEARCH + '%'')'

	IF @ID_MUSTHAVEQUANTITY = 1
		SET @CQRY = @CQRY + ' AND ITEM_AVAIL_QTY > 0'

	IF @ID_ISSTOCKITEM = 1 AND @ID_ISNOTSTOCKITEM = 0
		SET @CQRY = @CQRY + ' AND ISNULL(FLG_STOCKITEM,0) = 1'

	IF @ID_ISNOTSTOCKITEM = 1 AND @ID_ISSTOCKITEM = 0
		SET @CQRY = @CQRY + ' AND ISNULL(FLG_STOCKITEM,0) = 0'


	IF @LOCATION IS NOT NULL AND  @LOCATION <> '' AND  @LOCATION <> '%'
		SET @CQRY = @CQRY + ' AND LOCATION LIKE ''%' + @LOCATION + '%'''

	IF @SUPPLIER IS NOT NULL AND @SUPPLIER <> '' AND @SUPPLIER <> '%'
		SET @CQRY = @CQRY + ' AND IM.SUPP_CURRENTNO LIKE ''%' + @SUPPLIER + '%'''


	SET @MAINQRY = @MAINQRY + @CQRY

	

	PRINT @MAINQRY

	EXEC (@MAINQRY)

END
GO
