/****** Object:  StoredProcedure [dbo].[USP_SPARES_LOCATION_FETCH]    Script Date: 08-09-2021 16:14:07 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPARES_LOCATION_FETCH]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPARES_LOCATION_FETCH]    Script Date: 08-09-2021 16:14:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_SPARES_LOCATION_FETCH]
@IV_WHNAMEFROM   VARCHAR(50) = NULL,  
 @IV_WHNAMETO   VARCHAR(50) = NULL,  
 @IV_CATFROM    VARCHAR(50) = NULL,  
 @IV_CATTO    VARCHAR(50) = NULL,  
 @IV_SPAREIDFROM   VARCHAR(30) = NULL,  
 @IV_SPAREIDTO   VARCHAR(30) = NULL,  
 @IV_CLASSCODEFROM  VARCHAR(50) = NULL,  
 @IV_CLASSCODETO   VARCHAR(50) = NULL,
 @IV_SUPP_CURRENTNO  VARCHAR(50) = NULL
AS
BEGIN
	

  DECLARE @QRYSTR AS VARCHAR(1000)  
 
 DECLARE   
  @CATFROM AS VARCHAR(50),  
  @CATTO  AS VARCHAR(50),  
  @SIDFROM AS VARCHAR(50),  
  @SIDTO  AS VARCHAR(50),  
  @CCFROM  AS VARCHAR(50),  
  @CCTO  AS VARCHAR(50)  
  
 SET @CATFROM = ISNULL(@IV_CATFROM,(SELECT MIN(CATG_DESC) FROM TBL_MAS_ITEM_CATG))   
 SET @CATTO  = ISNULL(@IV_CATTO,(SELECT MAX(CATG_DESC) FROM TBL_MAS_ITEM_CATG))  
 SET @SIDFROM = ISNULL(@IV_SPAREIDFROM,(SELECT MIN(ID_ITEM) FROM TBL_MAS_ITEM_MASTER))  
 SET @SIDTO  = ISNULL(@IV_SPAREIDTO,(SELECT MAX(ID_ITEM) FROM TBL_MAS_ITEM_MASTER))  
 SET @CCFROM  = ISNULL(@IV_CLASSCODEFROM,(SELECT MIN(CLASS_CODE) FROM TBL_MAS_ITEM_MASTER))  
 SET @CCTO  = ISNULL(@IV_CLASSCODETO,(SELECT MAX(CLASS_CODE) FROM TBL_MAS_ITEM_MASTER))   

 IF (@IV_WHNAMEFROM IS NULL AND @IV_WHNAMETO IS NULL AND @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL AND @IV_CLASSCODEFROM IS NULL AND @IV_CLASSCODETO IS NULL)  
	 BEGIN  
		  SELECT DISTINCT LOCATION  
		  FROM  TBL_MAS_ITEM_MASTER  
		  WHERE  LOCATION IS NOT NULL  
		  AND   LOCATION != ''  
		  ORDER BY LOCATION ASC  
	 END  
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL AND @IV_CLASSCODEFROM IS NULL AND @IV_CLASSCODETO IS NULL  
	 BEGIN  
		  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
			 FROM  TBL_MAS_ITEM_MASTER MAS  
			 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
			 ON   MAS.ID_WH_ITEM = WH.ID_WH
			 INNER JOIN TBL_MAS_ITEM_CATG CAT  
			 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
			 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''

			 IF @IV_WHNAMETO IS NULL  
			 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
			 END  
			 ELSE IF @IV_WHNAMETO IS NOT NULL   
			 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
			 END   

			 IF @IV_SUPP_CURRENTNO IS NOT NULL
			 BEGIN
				SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
			 END

			 SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC'  

			 EXEC(@QRYSTR)  
			 PRINT @QRYSTR  

	 END 

 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL) AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL AND @IV_CLASSCODEFROM IS NULL AND @IV_CLASSCODETO IS NULL  
	 BEGIN  
		  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
			 FROM  TBL_MAS_ITEM_MASTER MAS  
			 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
			 ON   MAS.ID_WH_ITEM = WH.ID_WH
			 INNER JOIN TBL_MAS_ITEM_CATG CAT  
			 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
			 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''  
 
			 IF @IV_WHNAMETO IS NULL  
			 BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
			 END  
			 ELSE IF @IV_WHNAMETO IS NOT NULL   
			 BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
			 END   

			 SET @QRYSTR = @QRYSTR + ' AND CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''''  

			 IF @IV_SUPP_CURRENTNO IS NOT NULL
			 BEGIN
				SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
			 END
			   
			 SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC'  
			 			 
			 EXEC(@QRYSTR)  
			 PRINT @QRYSTR  

	 END  

 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL) AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)  AND @IV_CLASSCODEFROM IS NULL AND @IV_CLASSCODETO IS NULL  
	 BEGIN  
	  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
		 FROM  TBL_MAS_ITEM_MASTER MAS  
		 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
		 ON   MAS.ID_WH_ITEM = WH.ID_WH
		 INNER JOIN TBL_MAS_ITEM_CATG CAT  
		 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
		 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''  
 
		 IF @IV_WHNAMETO IS NULL  
		 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
		 END  
		 ELSE IF @IV_WHNAMETO IS NOT NULL   
		 BEGIN  
			   SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
		 END   

		 SET @QRYSTR = @QRYSTR + ' AND CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''''  
				
		 SET @QRYSTR = @QRYSTR + ' AND MAS.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''''  
  
		 IF @IV_SUPP_CURRENTNO IS NOT NULL
		 BEGIN
			SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
		 END		 

			SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC' 
				
			EXEC(@QRYSTR)  
			PRINT @QRYSTR  

	 END   
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL) AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)  AND (@IV_CLASSCODEFROM IS NOT NULL OR @IV_CLASSCODETO IS NOT NULL)  
	 BEGIN  
		  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
			 FROM  TBL_MAS_ITEM_MASTER MAS  
			 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
			 ON   MAS.ID_WH_ITEM = WH.ID_WH   
			 INNER JOIN TBL_MAS_ITEM_CATG CAT  
			 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
			 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''    
  
			 IF @IV_WHNAMETO IS NULL  
			 BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
			 END  
			 ELSE IF @IV_WHNAMETO IS NOT NULL   
			 BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
			 END     

			 SET @QRYSTR = @QRYSTR + ' AND CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''''  

			 SET @QRYSTR = @QRYSTR + ' AND MAS.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''''  

			 SET @QRYSTR = @QRYSTR + 'AND Class_Code BETWEEN '''+@CCFROM+''' AND '''+@CCTO+''''  

			 IF @IV_SUPP_CURRENTNO IS NOT NULL
			 BEGIN
				SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
			 END
  
		     SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC' 
		   
		     EXEC(@QRYSTR)  
		     PRINT @QRYSTR  
	 END   

 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)  AND (@IV_CLASSCODEFROM IS NOT NULL OR @IV_CLASSCODETO IS NOT NULL)  
	 BEGIN  
	  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
		 FROM  TBL_MAS_ITEM_MASTER MAS  
		 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
		 ON   MAS.ID_WH_ITEM = WH.ID_WH   
		 INNER JOIN TBL_MAS_ITEM_CATG CAT  
		 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
		 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''   
  
		 IF @IV_WHNAMETO IS NULL  
		 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
		 END  
		 ELSE IF @IV_WHNAMETO IS NOT NULL   
		 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
		 END   
  

			SET @QRYSTR = @QRYSTR + ' AND MAS.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''''  

			SET @QRYSTR = @QRYSTR + 'AND Class_Code BETWEEN '''+@CCFROM+''' AND '''+@CCTO+''''  

		IF @IV_SUPP_CURRENTNO IS NOT NULL
    	BEGIN
			SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
	    END
  
			SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC'  

			EXEC(@QRYSTR)  
			PRINT @QRYSTR  

	 END   

 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL) AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL  AND (@IV_CLASSCODEFROM IS NOT NULL OR @IV_CLASSCODETO IS NOT NULL)  
	 BEGIN  
		  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
			 FROM  TBL_MAS_ITEM_MASTER MAS  
			 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
			 ON   MAS.ID_WH_ITEM = WH.ID_WH   
			 INNER JOIN TBL_MAS_ITEM_CATG CAT  
			 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
			 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''  
        
  
			 IF @IV_WHNAMETO IS NULL  
			 BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
			 END  
			 ELSE IF @IV_WHNAMETO IS NOT NULL   
			 BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
			 END   
  
			SET @QRYSTR = @QRYSTR + ' AND CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''''  

			SET @QRYSTR = @QRYSTR + 'AND Class_Code BETWEEN '''+@CCFROM+''' AND '''+@CCTO+''''  

			IF @IV_SUPP_CURRENTNO IS NOT NULL
			 BEGIN
				SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
			 END
  
			SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC'  

			EXEC(@QRYSTR)  
			PRINT @QRYSTR  
	 END   
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL AND (@IV_CLASSCODEFROM IS NOT NULL OR @IV_CLASSCODETO IS NOT NULL)  
	 BEGIN  
	  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
		 FROM  TBL_MAS_ITEM_MASTER MAS  
		 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
		 ON   MAS.ID_WH_ITEM = WH.ID_WH   
		 INNER JOIN TBL_MAS_ITEM_CATG CAT  
		 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
		 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''  
  
		 IF @IV_WHNAMETO IS NULL  
		 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
		 END  
		 ELSE IF @IV_WHNAMETO IS NOT NULL   
		 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
		 END 

		 SET @QRYSTR = @QRYSTR + 'AND Class_Code BETWEEN '''+@CCFROM+''' AND '''+@CCTO+''''  

		 IF @IV_SUPP_CURRENTNO IS NOT NULL
		 BEGIN
			 SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
		 END
  
		 SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC'  

		   EXEC(@QRYSTR)  
		   PRINT @QRYSTR  
	 END   
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)  AND @IV_CLASSCODEFROM IS NULL AND @IV_CLASSCODETO IS NULL  
	 BEGIN  
	  SET @QRYSTR = 'SELECT DISTINCT MAS.LOCATION   
		 FROM  TBL_MAS_ITEM_MASTER MAS  
		 INNER JOIN TBL_MAS_ITEM_WAREHOUSE WH  
		 ON   MAS.ID_WH_ITEM = WH.ID_WH   
		 INNER JOIN TBL_MAS_ITEM_CATG CAT  
		 ON   MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG  
		 WHERE  LOCATION IS NOT NULL AND LOCATION != '''''  
  
		 IF @IV_WHNAMETO IS NULL  
		 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name = '''+@IV_WHNAMEFROM+''''  
		 END  
		 ELSE IF @IV_WHNAMETO IS NOT NULL   
		 BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN '''+ @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
		 END   

				SET @QRYSTR = @QRYSTR + ' AND MAS.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''''  

		 IF @IV_SUPP_CURRENTNO IS NOT NULL
		 BEGIN
			 SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
		 END
  
				SET @QRYSTR = @QRYSTR + ' ORDER BY LOCATION ASC'  
		  
		  EXEC(@QRYSTR)  
		   PRINT @QRYSTR  
	 END  


END
GO
