/****** Object:  StoredProcedure [dbo].[USP_SPARES_CATEGORY_FETCH]    Script Date: 08-09-2021 16:10:12 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPARES_CATEGORY_FETCH]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPARES_CATEGORY_FETCH]    Script Date: 08-09-2021 16:10:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_SPARES_CATEGORY_FETCH]
@IV_WHNAMEFROM	VARCHAR(50)	= NULL,
@IV_WHNAMETO	VARCHAR(50)	= NULL,
@IV_SUPP_CURRENTNO  VARCHAR(50)	= NULL
AS
BEGIN
	
	DECLARE @QRYSTR AS VARCHAR(1000)

	IF @IV_WHNAMEFROM IS NULL AND @IV_WHNAMETO IS NULL
	BEGIN 
		SELECT DISTINCT CAT.ID_ITEM_CATG AS ID_SPCATEGORY, CAT.CATG_DESC AS CATEGORY 
		FROM		TBL_MAS_ITEM_MASTER MASTER
		INNER JOIN	TBL_MAS_ITEM_CATG CAT 
		ON			MASTER.ID_ITEM_CATG = CAT.ID_ITEM_CATG 
		AND			MASTER.ID_MAKE=CAT.ID_MAKE
		WHERE		CAT.CATG_DESC IS NOT NULL AND CAT.CATG_DESC != ''
		AND			MASTER.SUPP_CURRENTNO = @IV_SUPP_CURRENTNO
		ORDER BY	CAT.CATG_DESC ASC
	END 

	ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL)
	BEGIN	
		SET @QRYSTR = 'SELECT DISTINCT	TBL_MAS_ITEM_MASTER.ID_ITEM_CATG AS ID_SPCATEGORY, TBL_MAS_ITEM_CATG.CATG_DESC AS CATEGORY 
					FROM		TBL_MAS_ITEM_MASTER 
					INNER JOIN	TBL_MAS_ITEM_WAREHOUSE 
					ON			TBL_MAS_ITEM_MASTER.ID_WH_ITEM = TBL_MAS_ITEM_WAREHOUSE.ID_WH 
					INNER JOIN	TBL_MAS_ITEM_CATG 
					ON			TBL_MAS_ITEM_MASTER.ID_ITEM_CATG = TBL_MAS_ITEM_CATG.ID_ITEM_CATG
					--AND			TBL_MAS_ITEM_MASTER.ID_MAKE=TBL_MAS_ITEM_CATG.ID_MAKE 
					--AND			TBL_MAS_ITEM_MASTER.SUPP_CURRENTNO=TBL_MAS_ITEM_CATG.SUPP_CURRENTNO 
					WHERE		TBL_MAS_ITEM_CATG.CATG_DESC != ''''
					AND			TBL_MAS_ITEM_CATG.CATG_DESC IS NOT NULL'  
					
					IF @IV_WHNAMETO IS NULL 
					BEGIN
						SET @QRYSTR = @QRYSTR + ' AND TBL_MAS_ITEM_WAREHOUSE.WH_Name = '''+ @IV_WHNAMEFROM +''''
					END
					ELSE IF @IV_WHNAMETO IS NOT NULL 
					BEGIN
						SET @QRYSTR = @QRYSTR + ' AND TBL_MAS_ITEM_WAREHOUSE.WH_Name BETWEEN '''+ @IV_WHNAMEFROM + ''' AND ''' + @IV_WHNAMETO +''''
					END 

					IF @IV_SUPP_CURRENTNO IS NOT NULL
					BEGIN
						SET @QRYSTR = @QRYSTR + ' AND TBL_MAS_ITEM_MASTER.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
					END

					SET @QRYSTR	 = @QRYSTR + ' ORDER BY CATG_DESC ASC'

					print(@qrystr)
					EXEC(@QRYSTR)
	END


END
GO
