/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_ADD_POITEM_NEW]    Script Date: 11-02-2022 19:54:34 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPR_PO_ADD_POITEM_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_PO_ADD_POITEM_NEW]    Script Date: 11-02-2022 19:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE PROCEDURE [dbo].[USP_SPR_PO_ADD_POITEM_NEW]  
(  
	
	@USER VARCHAR(50), /*CURRENT USER WHO CREATES*/

	@ID_PO BIGINT,
	@POPREFIX VARCHAR(50),
	@PONUMBER VARCHAR(50),
	@SUPP_CURRENTNO VARCHAR(50),
	@ID_ITEM VARCHAR(30),
	@ITEM_DESC VARCHAR(30),
	@ID_ITEM_CATG VARCHAR(50) = NULL,
	@ITEM_CATG_DESC VARCHAR(50) = NULL,
	@ORDERQTY DECIMAL(13, 2),
	
	@COST_PRICE1 DECIMAL(13, 2),
	@ITEM_PRICE DECIMAL(13, 2),
	@NET_PRICE DECIMAL(13, 2),
	@BASIC_PRICE DECIMAL(13, 2),
	@TOTALCOST DECIMAL(13, 2),
	@BACKORDERQTY DECIMAL(13, 2),
	@CONFIRMQTY DECIMAL(13, 2),               
	@DELIVERED BIT,                         
	@ANNOTATION VARCHAR(150),
	@ID_WOITEM_SEQ INT,

	@REST_FLG BIT,
	 
	@OV_RETVALUE VARCHAR(20) OUTPUT
) 
AS  
  
BEGIN  


	IF(NOT EXISTS(SELECT * FROM TBL_SPR_PO_ITEM WHERE @PONUMBER = PONUMBER AND @ID_ITEM = ID_ITEM AND @ID_WOITEM_SEQ = ID_WOITEM_SEQ))
	BEGIN

		DECLARE @IM_ID_ITEM_CATG AS VARCHAR(50)
		DECLARE @IM_ITEM_CATG_DESC AS VARCHAR(50)

		IF EXISTS (SELECT * FROM TBL_MAS_ITEM_MASTER IM WHERE IM.ID_ITEM = @ID_ITEM AND IM.SUPP_CURRENTNO = @SUPP_CURRENTNO)
		BEGIN
			SELECT  @IM_ID_ITEM_CATG=ISNULL(ID_ITEM_CATG,'') FROM TBL_MAS_ITEM_MASTER IM WHERE IM.ID_ITEM = @ID_ITEM AND IM.SUPP_CURRENTNO = @SUPP_CURRENTNO
		END

		IF EXISTS (SELECT * FROM TBL_MAS_ITEM_CATG IC WHERE IC.ID_ITEM_CATG=@IM_ID_ITEM_CATG)
		BEGIN
			SELECT @IM_ITEM_CATG_DESC=ISNULL(CATG_DESC,'') FROM TBL_MAS_ITEM_CATG IC WHERE IC.ID_ITEM_CATG=@IM_ID_ITEM_CATG
		END

		IF @COST_PRICE1 = NULL OR @COST_PRICE1 = 0
		BEGIN
			SELECT  @COST_PRICE1=ISNULL(COST_PRICE1,0), @TOTALCOST= ISNULL(COST_PRICE1,0) * @ORDERQTY  FROM TBL_MAS_ITEM_MASTER IM WHERE IM.ID_ITEM = @ID_ITEM AND IM.SUPP_CURRENTNO = @SUPP_CURRENTNO
		END

	    INSERT INTO [TBL_SPR_PO_ITEM]  
		(
		 ID_PO,  
	 
		 POPREFIX ,
		 PONUMBER ,
		 SUPP_CURRENTNO,
		 ID_ITEM,
		 ITEM_DESC,
		 ITEM_CATG_DESC ,
		 ID_ITEM_CATG,
		 ORDERQTY,
		 DELIVERED_QTY ,
		 REMAINING_QTY ,
		 COST_PRICE1,
		 ITEM_PRICE,
		 NET_PRICE,
		 BASIC_PRICE,
		 TOTALCOST,
		 BACKORDERQTY,
		 ID_WOITEM_SEQ,
		 CONFIRMQTY,
		 CREATED_BY,
		 MODIFIED_BY,
		 DT_CREATED,
		 DT_MODIFIED,
		 DELIVERED,
		 ANNOTATION,
	 
		 REST_FLG
		 
		)  
		VALUES  
		( 
		@ID_PO,
	 
		@POPREFIX ,
		@PONUMBER ,
		@SUPP_CURRENTNO,
		@ID_ITEM,
		@ITEM_DESC,
		@IM_ITEM_CATG_DESC,
		@IM_ID_ITEM_CATG,--@ID_ITEM_CATG ,
		@ORDERQTY,
		0 ,
		@ORDERQTY ,
		@COST_PRICE1,
		@ITEM_PRICE,
		@NET_PRICE,
		@BASIC_PRICE,
		@TOTALCOST,
		@BACKORDERQTY,
		@ID_WOITEM_SEQ,
		@CONFIRMQTY,
		@USER,
		NULL,
		GETDATE(),
		NULL,
		@DELIVERED ,
		@ANNOTATION,
	
		@REST_FLG
		)  
		IF @@ERROR <> 0 	
			SET @OV_RETVALUE = @@ERROR
		ELSE
			SET @OV_RETVALUE= 'INSFLG'
	END

	ELSE
	BEGIN
		UPDATE TBL_SPR_PO_ITEM
		SET 
		    COST_PRICE1 = @COST_PRICE1,
			TOTALCOST = @TOTALCOST,
			REST_FLG = @REST_FLG,
			ORDERQTY = @ORDERQTY,
			REMAINING_QTY = @ORDERQTY,
			
			DT_MODIFIED = GETDATE(),
			MODIFIED_BY = @USER

		WHERE @PONUMBER = PONUMBER AND @ID_ITEM = ID_ITEM AND @ID_WOITEM_SEQ = ID_WOITEM_SEQ

		IF @@ERROR <> 0 	
			SET @OV_RETVALUE = @@ERROR
		ELSE
		SET @OV_RETVALUE= 'UPDFLG'
	END


END
GO
