/****** Object:  StoredProcedure [dbo].[USP_SPR_IMPORTSUPP_SAVE_GLOBALSPAREPART_NEW]    Script Date: 03-11-2021 11:59:56 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPR_IMPORTSUPP_SAVE_GLOBALSPAREPART_NEW]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPR_IMPORTSUPP_SAVE_GLOBALSPAREPART_NEW]    Script Date: 03-11-2021 11:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*************************************** APPLICATION: MSG *************************************************************
* FILE NAME : USP_SPR_IMPORTSUPP_SAVE_GLOBALSPAREPART_NEW.PRC  
* PURPOSE : TO INSERT OR UPDATE GLOBAL SPARE PARTS DETAILS  
* AUTHOR : 
* DATE  : 
*********************************************************************************************************************/  

  
CREATE PROCEDURE [dbo].[USP_SPR_IMPORTSUPP_SAVE_GLOBALSPAREPART_NEW] (  
 @ID_ITEM				VARCHAR(30),    
 @ITEM_DESC				VARCHAR(100),  
 @ITEM_DESC_NAME2		VARCHAR(100),  
 @ID_UNIT_ITEM			VARCHAR(10),  
 @ID_MAKE				VARCHAR(10),   -- replaced @ID_MAKE with Supp_CurrentNo
 @ID_ITEM_MODEL			VARCHAR(10),  
 @ID_ITEM_CATG			VARCHAR(10),  
 @ITEM_DISC_CODE		INT,  
 @ITEM_DISC_CODE_BUY	VARCHAR(10),  
 @BASIC_PRICE			DECIMAL(13,2),  
 @ITEM_PRICE			DECIMAL(13,2),  
 @COST_PRICE1			DECIMAL(13,2),  
 @COST_PRICE2			DECIMAL(13,2),   -- replaced COST_PRICE2 with NET_PRICE
 @PACKAGE_QTY			INT,  
 @FLG_CALC_PRICE		BIT, 
 @IS_UPDATE_GBL_SP		BIT,  
 @IS_UPDATE_LCL_SP		BIT,  
 @IS_DLT_ADDGBL_SP		BIT,  
 @IS_UPDATE_SP_JOB_PKG  BIT,
 @BARCODE				VARCHAR(100) = NULL,
 @CREATED_BY			VARCHAR(20),  
 @MODIFIED_BY			VARCHAR(20),
 @CURRENCY				INT,  
 @OV_RETVALUE			VARCHAR(20) OUTPUT  
)  
AS  

BEGIN 
	  
		IF @ID_ITEM IS NOT NULL AND @ITEM_DESC IS NOT NULL AND  @ID_MAKE IS NOT NULL
		BEGIN
			IF NOT EXISTS(SELECT * FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @ID_ITEM and ID_MAKE=@ID_MAKE )		
			BEGIN  
				INSERT INTO TBL_SPR_GLOBALSPAREPART    
				(  
				ID_ITEM,  
				ITEM_DESC,  
				ITEM_DESC_NAME2,  
				ID_UNIT_ITEM,  
				ID_MAKE,  
				ID_ITEM_MODEL,  
				ID_ITEM_CATG,  
				ITEM_DISC_CODE,  
				ITEM_DISC_CODE_BUY,  
				BASIC_PRICE,  
				ITEM_PRICE,  
				COST_PRICE1,  
				NET_PRICE , --COST_PRICE2,  
				PACKAGE_QTY,  
				FLG_CALC_PRICE,  
				CREATED_BY,  
				ID_CURRENCY,     
				DT_CREATED,
				ID_SPCATEGORY,
				SUPP_CURRENTNO,
				BARCODE_NUMBER
				)  
				VALUES  
				(  
				@ID_ITEM,  
				@ITEM_DESC,  
				@ITEM_DESC_NAME2,  
				@ID_UNIT_ITEM,  
				@ID_MAKE,  
				@ID_ITEM_MODEL,  
				@ID_ITEM_CATG,  
				@ITEM_DISC_CODE,  
				@ITEM_DISC_CODE_BUY,  
				@BASIC_PRICE,  
				@ITEM_PRICE,  
				@COST_PRICE1,  
				@ITEM_PRICE, --@COST_PRICE2,  
				@PACKAGE_QTY,  
				@FLG_CALC_PRICE,  
				@CREATED_BY,  
				@CURRENCY,  
				GETDATE() ,
				@ID_ITEM_CATG,
				@ID_MAKE,
				@BARCODE
				)  
				SET @OV_RETVALUE = 'INS' 
			END 
			ELSE
			BEGIN
				IF (@IS_UPDATE_GBL_SP = 1) 
					BEGIN
						UPDATE  TBL_SPR_GLOBALSPAREPART  
						SET
							ITEM_DESC = @ITEM_DESC,
							ITEM_DESC_NAME2 = @ITEM_DESC_NAME2,
							ID_UNIT_ITEM = @ID_UNIT_ITEM,
							ID_ITEM_MODEL = @ID_ITEM_MODEL,
							ID_ITEM_CATG = @ID_ITEM_CATG,
							ITEM_DISC_CODE = @ITEM_DISC_CODE,
							ITEM_DISC_CODE_BUY = @ITEM_DISC_CODE_BUY,
							BASIC_PRICE = @BASIC_PRICE,
							ITEM_PRICE = @ITEM_PRICE	,
							COST_PRICE1 = @COST_PRICE1,
							--COST_PRICE2=@COST_PRICE2,
							NET_PRICE = @ITEM_PRICE,--@COST_PRICE2,
							PACKAGE_QTY = @PACKAGE_QTY,
							FLG_CALC_PRICE = @FLG_CALC_PRICE,
							MODIFIED_BY = @MODIFIED_BY,
							ID_CURRENCY = @CURRENCY,			
							DT_MODIFIED = getdate(),
							SUPP_CURRENTNO = @ID_MAKE,
							BARCODE_NUMBER = @BARCODE
						WHERE
							ID_ITEM = @ID_ITEM
							AND ID_MAKE = @ID_MAKE
						
					END

					IF (@IS_UPDATE_LCL_SP = 1)
					BEGIN
						IF EXISTS (SELECT * FROM TBL_MAS_ITEM_MASTER WHERE ID_ITEM = @ID_ITEM AND SUPP_CURRENTNO = @ID_MAKE)
						BEGIN
							UPDATE TBL_MAS_ITEM_MASTER
							SET 
							ITEM_DESC = @ITEM_DESC,
							ID_ITEM_CATG = @ID_ITEM_CATG,
							BASIC_PRICE = @BASIC_PRICE,
							ITEM_PRICE = @ITEM_PRICE,
							COST_PRICE1 = @COST_PRICE1,
							NET_PRICE = @ITEM_PRICE,
							DT_MODIFIED = GETDATE(),
							MODIFIED_BY = @MODIFIED_BY
							WHERE ID_ITEM = @ID_ITEM AND SUPP_CURRENTNO = @ID_MAKE
						END

					END

					SET @OV_RETVALUE = 'UPDATED'
			END 

			-- Spare Part ending without letter 'P' , find the spare part with same number with P and set the flag
			IF EXISTS(SELECT * FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @ID_ITEM )
			BEGIN
				DECLARE @ID_ITEM_P_EXISTS AS VARCHAR(30) = @ID_ITEM +'P'
				IF EXISTS(SELECT * FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @ID_ITEM_P_EXISTS AND SUPP_CURRENTNO = @ID_MAKE)
				BEGIN
					UPDATE TBL_SPR_GLOBALSPAREPART
					SET IS_SPARE_P = 1 , DT_MODIFIED = GETDATE() , MODIFIED_BY = @MODIFIED_BY ,PANT_NO=@ID_ITEM_P_EXISTS
					WHERE ID_ITEM = @ID_ITEM AND SUPP_CURRENTNO = @ID_MAKE
				END
			END
			--declare @iditem varchar(30)='ELKLRA02430P'
			
		
			IF (@ID_ITEM like '%P')  -- Spare Part ending with letter 'P' , find the spare part with same number withoutP and set the flag
			BEGIN
				DECLARE @ID_ITEM_P AS VARCHAR(30) = LEFT(@ID_ITEM, NULLIF(LEN(@ID_ITEM)-1,-1))
				IF EXISTS(SELECT * FROM TBL_SPR_GLOBALSPAREPART WHERE ID_ITEM = @ID_ITEM_P )
				BEGIN
					UPDATE TBL_SPR_GLOBALSPAREPART
					SET IS_SPARE_P = 1 , DT_MODIFIED = GETDATE() , MODIFIED_BY = @MODIFIED_BY,PANT_NO=@ID_ITEM
					WHERE ID_ITEM = @ID_ITEM_P AND SUPP_CURRENTNO = @ID_MAKE

				END

			END
			
			IF @IS_UPDATE_SP_JOB_PKG =1
			BEGIN
				IF EXISTS(SELECT * FROM TBL_MAS_REP_SPARE_MAPPING WHERE ID_ITEM_JOB = @ID_ITEM AND LINE_TYPE ='D' ) -- SUPP_CURRENT_NO - NEED TO CHECK
				BEGIN
					UPDATE TBL_MAS_REP_SPARE_MAPPING
					SET LINE_DESCRIPTION = @ITEM_DESC , RP_ITEM_PRICE = @ITEM_PRICE , RP_TOTAL_PRICE = RP_QTY * @ITEM_PRICE,MODIFIED_BY=@MODIFIED_BY,DT_MODIFIED=GETDATE()
					WHERE ID_ITEM_JOB = @ID_ITEM AND LINE_TYPE ='D'

				END
			END

			IF @@ERROR <> 0    
			BEGIN
			 SET @OV_RETVALUE = @@ERROR     
			END

			

		END 
		ELSE
		BEGIN
			SET @OV_RETVALUE = 'CONFIG' 
		END
END



GO
