/****** Object:  StoredProcedure [dbo].[USP_FETCH_TR_MECHANIC_DETAILS]    Script Date: 25-05-2022 22:57:24 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_TR_MECHANIC_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_TR_MECHANIC_DETAILS]    Script Date: 25-05-2022 22:57:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
        
CREATE proc [dbo].[USP_FETCH_TR_MECHANIC_DETAILS]        
(        
 @IV_FROM_DATE  varchar(30) = NULL,        
 @IV_TO_DATE   varchar(30)= NULL,        
 @IV_MECH_CODE  VARCHAR(20)= Null,        
 @IV_MECH_NAME  VARCHAR(20)= NULL,     
 @IV_ID_MR INT = 0,    
 @IV_ID_DEPT INT = NULL,     
 @IV_ID_WO_NO  VARCHAR(10)=NULL,        
 @IV_ID_JOB   INT =NULL       
)        
        
AS         
BEGIN        
 --set @IV_ID_WO_NO =substring(@IV_ID_WO_NO,3,len(@IV_ID_WO_NO))            
 DECLARE @EXECQUERY1 AS NVARCHAR(MAX)     
 DECLARE @EXECQUERY2 AS NVARCHAR(MAX)     
 DECLARE @EXECQUERY3 AS NVARCHAR(MAX)    
 DECLARE @SUBQUERY AS NVARCHAR(MAX)            
 DECLARE @WHRQRY1 AS NVARCHAR(MAX)            
 DECLARE @WHRQRY2 AS NVARCHAR(MAX)           
 DECLARE @WHRQRY3 AS NVARCHAR(MAX)           
 DECLARE @MAINSQL AS NVARCHAR(MAX)           
 DECLARE @IV_FROM_DATE_NEW AS VARCHAR(10)          
 DECLARE @IV_TO_DATE_NEW AS VARCHAR(10)       
     
 DECLARE @FLG_LUNCHWITHDRAW AS BIT    
     
 SELECT @FLG_LUNCHWITHDRAW = LUNCH_WITHDRAW FROM TBL_MAS_DEPT WHERE ID_DEPT = @IV_ID_DEPT    
 PRINT @FLG_LUNCHWITHDRAW    
     
 DECLARE @START_MIN AS VARCHAR(10)    
 DECLARE @END_MIN AS VARCHAR(10)    
     
 SELECT @START_MIN = FROM_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = @IV_ID_DEPT      
 SELECT @END_MIN = TO_TIME FROM TBL_MAS_DEPT WHERE ID_DEPT = @IV_ID_DEPT     


 /*2022 UPDATE*/
  DECLARE @SHIFTSTART AS DATETIME       
 DECLARE @SHIFTEND  AS DATETIME  
 DECLARE @DayOfWeek INT
 DECLARE @LUNCHSTART AS DATETIME       
 DECLARE @LUNCHEND  AS DATETIME
 DECLARE @CONFIGEXISTS INT 

 SELECT @CONFIGEXISTS = COUNT(ID_MECHANIC_CONFIG_SETTINGS) FROM TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID = @IV_MECH_CODE AND ACTIVE_MEK=1

 SELECT @DayOfWeek = DATEPART(WEEKDAY, GETDATE())

 SELECT @SHIFTSTART = 
	CASE 
	 WHEN @DayOfWeek = 1 THEN CONVERT(VARCHAR(5),SUNDAY_FROM_TIME,108) 
	 WHEN @DayOfWeek = 2 THEN CONVERT(VARCHAR(5),MONDAY_FROM_TIME,108) 
	 WHEN @DayOfWeek = 3 THEN CONVERT(VARCHAR(5),TUESDAY_FROM_TIME,108) 
	 WHEN @DayOfWeek = 4 THEN CONVERT(VARCHAR(5),WEDNESDAY_FROM_TIME,108) 
	 WHEN @DayOfWeek = 5 THEN CONVERT(VARCHAR(5),THURSDAY_FROM_TIME,108) 
	 WHEN @DayOfWeek = 6 THEN CONVERT(VARCHAR(5),FRIDAY_FROM_TIME,108) 
	 WHEN @DayOfWeek = 7 THEN CONVERT(VARCHAR(5),SATURDAY_FROM_TIME,108) 	 
 END
 FROM TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID = @IV_MECH_CODE  AND ACTIVE_MEK=1
 
 SELECT @SHIFTEND = 
	CASE 
	 WHEN @DayOfWeek = 1 THEN CONVERT(VARCHAR(5),SUNDAY_TO_TIME,108) 
	 WHEN @DayOfWeek = 2 THEN CONVERT(VARCHAR(5),MONDAY_TO_TIME,108) 
	 WHEN @DayOfWeek = 3 THEN CONVERT(VARCHAR(5),TUESDAY_TO_TIME,108) 
	 WHEN @DayOfWeek = 4 THEN CONVERT(VARCHAR(5),WEDNESDAY_TO_TIME,108)
	 WHEN @DayOfWeek = 5 THEN CONVERT(VARCHAR(5),THURSDAY_TO_TIME,108)
	 WHEN @DayOfWeek = 6 THEN CONVERT(VARCHAR(5),FRIDAY_TO_TIME,108)
	 WHEN @DayOfWeek = 7 THEN CONVERT(VARCHAR(5),SATURDAY_TO_TIME,108)
 END
 FROM TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID = @IV_MECH_CODE  AND ACTIVE_MEK=1

 SELECT @LUNCHSTART = LUNCH_FROM_TIME FROM TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID = @IV_MECH_CODE
 SELECT @LUNCHEND = LUNCH_TO_TIME FROM TBL_MECHANIC_CONFIG_SETTINGS WHERE MECHANIC_ID = @IV_MECH_CODE

 IF @LUNCHSTART IS NULL
	SET @LUNCHSTART =''

 IF @LUNCHSTART IS NULL
	SET @LUNCHEND =''
     
 IF @START_MIN IS NULL     
  SET @START_MIN = '0'    
     
 IF @END_MIN IS NULL     
  SET @END_MIN = '0'    
      
  --dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT) AS ''CLOCKED TIME'',            
     
 SET @EXECQUERY1 = 'SELECT DISTINCT ID_TR_SEQ AS ''ID_TR'',    
 ID_MEC_TR as ''ID_MEC'',    
 CASE WHEN ID_MEC_TR IS NOT NULL THEN    
  (SELECT FIRST_NAME FROM TBL_MAS_USERS WHERE ID_LOGIN =TBL_TR_JOB_ACTUAL.ID_MEC_TR)     
 ELSE     
  '' ''    
 END AS ''Mech_Name'',    
 ID_WO_PREFIX + ID_WO_NO AS ''ORDER ID'',    
 ID_JOB AS ''JOB ID'',      
 CASE WHEN ID_UNSOLD_TIME IS NOT NULL THEN      
  (SELECT DESCRIPTION FROM TBL_MAS_SETTINGS WHERE ID_SETTINGS = TBL_TR_JOB_ACTUAL.ID_UNSOLD_TIME)            
 ELSE        
  '' ''      
 END AS ''UNSOLD TIME'',    
 CASE WHEN ID_JOB IS NOT NULL THEN    
  (SELECT DESCRIPTION FROM TBL_MAS_SETTINGS INNER JOIN TBL_WO_DETAIL ON ID_SETTINGS = ID_WORK_CODE_WO AND ID_CONFIG = ''RP-WC''    
  WHERE ID_WO_PREFIX + ID_WO_NO = TBL_TR_JOB_ACTUAL.ID_WO_PREFIX + TBL_TR_JOB_ACTUAL.ID_WO_NO     
  AND ID_JOB = TBL_TR_JOB_ACTUAL.ID_JOB)     
 ELSE        
  '' ''      
 END AS ''WORK CODE'',      
 CONVERT (VARCHAR (12), DT_CLOCK_IN , 8) AS ''CLOCK IN TIME'',            
 DT_CLOCK_IN ''CLOCK IN DATE'',            
 CONVERT (VARCHAR(12), DT_CLOCK_OUT, 8) AS ''CLOCK OUT TIME'',            
 DT_CLOCK_OUT AS ''CLOCK OUT DATE'',            
 CASE WHEN ID_JOB IS NOT NULL THEN             
  (SELECT WO_STD_TIME FROM TBL_WO_DETAIL WHERE ID_WO_PREFIX + ID_WO_NO = TBL_TR_JOB_ACTUAL.ID_WO_PREFIX + TBL_TR_JOB_ACTUAL.ID_WO_NO AND ID_JOB = TBL_TR_JOB_ACTUAL.ID_JOB)            
 ELSE            
  '' ''            
 END AS ''STANDARD TIME'',    
 CASE WHEN (ID_JOB IS NOT NULL) AND (SELECT JOB_STATUS FROM TBL_WO_DETAIL WHERE ID_WO_PREFIX + ID_WO_NO = TBL_TR_JOB_ACTUAL.ID_WO_PREFIX + TBL_TR_JOB_ACTUAL.ID_WO_NO AND ID_JOB = TBL_TR_JOB_ACTUAL.ID_JOB) = ''INV'' AND ''1''=''0'' THEN     
  dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT)    
 ELSE    
  CASE WHEN '+ CONVERT(VARCHAR(5),ISNULL(@FLG_LUNCHWITHDRAW,0))+' = 1 THEN       
   CASE WHEN '''+ CONVERT(VARCHAR(5),@CONFIGEXISTS) +''' <> ''0'' THEN        
    CASE WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) < ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+''')) OR     
      ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) > ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+''')))) THEN    
     dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT)      
    ELSE    
     CASE WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) < ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''))     
      AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) > ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''))    
      AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) <= ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+'''))) THEN    
       dbo.[fnTimeDiff-New](DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' '' + ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+''')))      
     WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) > ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''))    
      AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) < ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+'''))) THEN    
       ''00:00'''    
         
  SET @EXECQUERY2 =     
    ' WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) > ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''))    
      AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) > ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+'''))) THEN    
       dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' '' +  ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+''')),DT_CLOCK_OUT)       
     WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) < ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''))     
      AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) > ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+'''))) THEN    
       DBO.[FNADDMINS](dbo.[fnTimeDiff-New](DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' '' +  ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''))) ,   
  
   
       dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' '' +  ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+''')),DT_CLOCK_OUT))       
     ELSE    
      dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT)    
     END      
    END    
   ELSE     
    CASE WHEN '''+ CONVERT(VARCHAR(5),@START_MIN)+'''' + ' <> ''0'' AND  '''+ CONVERT(VARCHAR(5),@END_MIN)+''''+' <> ''0'' THEN     
     CASE WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) < ''' + CONVERT(VARCHAR(5),@START_MIN) + ''') OR     
      ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) > ''' + CONVERT(VARCHAR(5),@END_MIN) + '''))) THEN    
       dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT)    
     ELSE    
      CASE WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) < ''' + CONVERT(VARCHAR(5),@START_MIN) + ''') AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8)) > ''' + CONVERT(VARCHAR(5),@START_MIN) + ''' AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8)) <= ''' + CONVERT(VARCHAR(5),@END_MIN) + ''') THEN    
       dbo.[fnTimeDiff-New](DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' ' + CONVERT(VARCHAR(5),@START_MIN) + '''))      
      WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) > ''' + CONVERT(VARCHAR(5),@START_MIN) + ''') AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) < ''' + CONVERT(VARCHAR(5),@END_MIN) + ''')) THEN    
       ''00:00''    
      WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) > ''' + CONVERT(VARCHAR(5),@START_MIN) + ''') AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) > ''' + CONVERT(VARCHAR(5),@END_MIN) + ''')) THEN    
       dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' ' + CONVERT(VARCHAR(5),@END_MIN) + '''),DT_CLOCK_OUT)       
      WHEN ((CONVERT(VARCHAR(5),DT_CLOCK_IN,8) < ''' + CONVERT(VARCHAR(5),@START_MIN) + ''') AND (CONVERT(VARCHAR(5),DT_CLOCK_OUT,8) > ''' + CONVERT(VARCHAR(5),@END_MIN) + ''')) THEN    
       DBO.[FNADDMINS](dbo.[fnTimeDiff-New](DT_CLOCK_IN,CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' ' + CONVERT(VARCHAR(5),@START_MIN) + ''')) ,      
       dbo.[fnTimeDiff-New](CONVERT(DATETIME,CONVERT(VARCHAR(10),DT_CLOCK_IN,101) + '' ' + CONVERT(VARCHAR(5),@END_MIN) + '''),DT_CLOCK_OUT))       
      ELSE    
       dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT)    
      END     
     END    
    ELSE    
      dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT) '    
SET @EXECQUERY3=    
    ' END        
   END    
  ELSE    
   dbo.[fnTimeDiff-New](DT_CLOCK_IN,DT_CLOCK_OUT)    
  END    
 END AS ''CLOCKED TIME'',    
 ID_SHIFT_NO as ShiftNo,    
  CASE WHEN '''+ CONVERT(VARCHAR(5),@CONFIGEXISTS) +''' <> ''0'' THEN      
  ('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+''' + ''-'' + '''+CONVERT(VARCHAR(5),@LUNCHEND,8)+''')    
 WHEN '''+ CONVERT(VARCHAR(5),@START_MIN)+'''' + ' <> ''0'' AND  '''+ CONVERT(VARCHAR(5),@END_MIN)+''''+' <> ''0'' THEN     
   '''+ CONVERT(VARCHAR(5),@START_MIN) + '-' + CONVERT(VARCHAR(5),@END_MIN) + '''    
 ELSE  '' ''    
 END AS ''LUNCH BREAK'',    
  CASE WHEN '''+ CONVERT(VARCHAR(5),@CONFIGEXISTS) +''' <> ''0'' THEN 
    (SELECT cast(datediff(mi,('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''),    
   ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+''')) /60 as char(2))  +  '':'' +     
   cast(datediff(mi,('''+CONVERT(VARCHAR(5),@LUNCHSTART,8)+'''),    
   ('''+CONVERT(VARCHAR(5),@LUNCHEND,8)+'''))  % 60 as char(2)) )    
 WHEN '''+ CONVERT(VARCHAR(5),@START_MIN)+'''' + ' <> ''0'' AND  '''+ CONVERT(VARCHAR(5),@END_MIN)+''''+' <> ''0'' THEN     
  (SELECT cast(datediff(mi,(''' + CONVERT(VARCHAR(5),@START_MIN)+ '''),    
  ('''+ CONVERT(VARCHAR(5),@END_MIN) + '''))/60 as char(2))  +  '':'' +    
  cast(datediff(mi,(''' + CONVERT(VARCHAR(5),@START_MIN)+ '''),    
  ('''+ CONVERT(VARCHAR(5),@END_MIN) + '''))  % 60 as char(2)))    
 ELSE     
   '' ''    
 END AS ''LUNCH TIME'',   
 STATUS as Status,    
 ID_DAY_SEQ as ID_DAY_SEQ,    
 ID_LOG_SEQ as ID_LOG_SEQ ,    
 CASE WHEN ID_JOB IS NOT NULL THEN     
  (SELECT JOB_STATUS FROM TBL_WO_DETAIL WHERE ID_WO_PREFIX + ID_WO_NO = TBL_TR_JOB_ACTUAL.ID_WO_PREFIX + TBL_TR_JOB_ACTUAL.ID_WO_NO AND ID_JOB = TBL_TR_JOB_ACTUAL.ID_JOB)    
 ELSE    
  '' ''    
 END AS ''JOB_STATUS'',  
 CONVERT (VARCHAR (12), DT_CLOCK_IN , 101) AS ''CLOCKIN_DATE'',   
 CONVERT (VARCHAR (12), DT_CLOCK_OUT , 101) AS ''CLOCKOUT_DATE'',  
 TOTAL_CLOCKED_TIME,  
 ID_WO_LAB_SEQ,  
 WO_LABOUR_DESC,  
 SL_NO AS LINE_NO  
      
 FROM TBL_TR_JOB_ACTUAL   
 LEFT OUTER JOIN TBL_WO_LABOUR_DETAIL ON TBL_WO_LABOUR_DETAIL.ID_WOLAB_SEQ = TBL_TR_JOB_ACTUAL.ID_WO_LAB_SEQ    
 INNER JOIN  TBL_MAS_USERS    
 ON TBL_TR_JOB_ACTUAL.ID_MEC_TR IN (SELECT ID_LOGIN FROM TBL_MAS_USERS WHERE ID_DEPT_USER = '+ CONVERT(VARCHAR(20),@IV_ID_DEPT)+ ')'--+' AND FLG_MECHANIC = 1)'    
     
    
 SET @WHRQRY1  = ''            
 SET @WHRQRY2 = ''            
 set @SUBQUERY = ''           
   
 SET @IV_FROM_DATE_NEW = dbo.FN_DateFormat(getdate())          
 SET @IV_TO_DATE_NEW = dbo.FN_DateFormat(getdate())    
   
         
 IF (@IV_MECH_CODE IS NOT NULL)            
 SET @WHRQRY1 = ' ID_MEC_TR = ''' +  ltrim(rtrim(@IV_MECH_CODE)) + ''''            
       
 IF (@IV_MECH_NAME IS NOT NULL and @IV_MECH_CODE is null)            
 BEGIN    
  SET @WHRQRY2 = ' ID_MEC_TR IN (select ID_LOGIN  from TBL_MAS_USERS where FIRST_NAME LIKE''' + @IV_MECH_NAME + '%'' AND ID_DEPT_USER = '+ CONVERT(VARCHAR(20),@IV_ID_DEPT)+ ')'--+' AND FLG_MECHANIC = 1)'     
 END            
 ELSE IF (@IV_MECH_NAME IS NOT NULL and @IV_MECH_CODE is not null)            
BEGIN    
  SET @WHRQRY2 = '  ID_MEC_TR IN (select ID_LOGIN  from TBL_MAS_USERS where FIRST_NAME =''' + @IV_MECH_NAME + '''AND ID_DEPT_USER = '+ CONVERT(VARCHAR(20),@IV_ID_DEPT)+ ')'    
 END          
 IF (@IV_ID_WO_NO IS NOT NULL AND @IV_ID_JOB IS NOT NULL )          
  SET @WHRQRY3 = 'ID_WO_PREFIX + ID_WO_NO  = ''' + LTRIM(RTRIM(@IV_ID_WO_NO))   + ''' AND ID_JOB = ''' + CONVERT(VARCHAR,@IV_ID_JOB)+''''          
       
 IF (@IV_FROM_DATE_NEW is NULL AND @IV_TO_DATE_NEW IS NULL)            
  SET @SUBQUERY = ''            
       
 IF (@IV_FROM_DATE_NEW is NOT NULL AND @IV_TO_DATE_NEW IS NOT NULL)            
  SET @SUBQUERY = ' CONVERT(DATETIME,convert(char(10),dt_clock_in,101),101)  between ''' + CONVERT(CHAR(10),CAST(@IV_FROM_DATE_NEW AS DATETIME),101) + ''' AND ''' + CONVERT(CHAR(10),CAST(@IV_TO_DATE_NEW AS DATETIME),101) + ''''              
       
 IF (@IV_FROM_DATE_NEW is NOT NULL AND @IV_TO_DATE_NEW IS NULL)            
 BEGIN            
  SET @SUBQUERY  = ' CONVERT(DATETIME,convert(char(10),dt_clock_in,101),101) = ''' +  CONVERT(CHAR(10),CAST(@IV_FROM_DATE_NEW AS DATETIME),101) + ''''            
 END               
 ELSE IF (@IV_TO_DATE_NEW IS NOT NULL AND @IV_FROM_DATE_NEW is NULL)            
 BEGIN            
  SET @SUBQUERY  = ' CONVERT(DATETIME,convert(varchar(10),DT_CLOCK_OUT,101),101) = ''' +  CONVERT(CHAR(10),CAST(@IV_TO_DATE_NEW AS DATETIME),101) + ''''            
 END         
 IF (@IV_ID_MR <> 0)      
 BEGIN        
  SET @SUBQUERY  = 'ID_TR_SEQ =' + CONVERT(VARCHAR(20),@IV_ID_MR) + ''       
 END       
    
 SET @MAINSQL = ''            
 IF @WHRQRY1 <> ''            
  SET @MAINSQL =  @EXECQUERY3 + ' WHERE ' + @WHRQRY1             
 ELSE            
  SET @MAINSQL =  @EXECQUERY3             
 IF @SUBQUERY <> ''            
  IF @WHRQRY1 <> ''            
   SET @MAINSQL = @MAINSQL + 'AND ' + @SUBQUERY                  
  ELSE            
   SET @MAINSQL = @MAINSQL + ' WHERE ' + @SUBQUERY             
     
 IF @WHRQRY2 <> ''            
  IF @WHRQRY1 <> ''  OR @SUBQUERY <>''            
   SET @MAINSQL = @MAINSQL + ' AND ' + @WHRQRY2   --Change OR to AND          
  ELSE            
   SET @MAINSQL = @MAINSQL  + @WHRQRY2           
  IF @WHRQRY3 <>''             
   SET @MAINSQL = @MAINSQL + ' AND ' + @WHRQRY3     
    
 IF @WHRQRY1 = '' AND @SUBQUERY = '' AND @WHRQRY2 = ''       
  SET @MAINSQL = @MAINSQL  + 'WHERE ID_DEPT_USER = '+ CONVERT(VARCHAR(20),@IV_ID_DEPT) --+' AND FLG_MECHANIC = 1'        
 SET @MAINSQL = @MAINSQL  + ' ORDER BY  DT_CLOCK_IN DESC '    

 print @EXECQUERY1    
 print @EXECQUERY2    
 print @MAINSQL    
 EXEC (@EXECQUERY1+@EXECQUERY2+@MAINSQL)            

DECLARE @TEMP TABLE
 (
ID_TR INT,
ID_MEC VARCHAR(50),
MECH_NAME VARCHAR(50),
ORDER_ID VARCHAR(50),
JOB_ID VARCHAR(50),
UNSOLD_TIME VARCHAR(50),
WORK_CODE VARCHAR(50),
CLOCK_IN_TIME VARCHAR(50),
CLOCK_IN_DATE DATETIME,
CLOCK_OUT_TIME VARCHAR(50),
CLOCK_OUT_DATE DATETIME,
STANDARD_TIME VARCHAR(50),
CLOCKED_TIME VARCHAR(50),
SHIFTNO VARCHAR(50),
LUNCH_BREAK VARCHAR(50),
LUNCH_TIME VARCHAR(50),
STATUS VARCHAR(50),
ID_DAY_SEQ VARCHAR(50),
ID_LOG_SEQ VARCHAR(50),
JOB_STATUS VARCHAR(50),
CLOCKIN_DATE VARCHAR(50),
CLOCKOUT_DATE VARCHAR(50),
TOTAL_CLOCKED_TIME VARCHAR(50),
ID_WO_LAB_SEQ VARCHAR(50),
WO_LABOUR_DESC VARCHAR(50),
LINE_NO VARCHAR(50)
)

DECLARE @TOTAL_TIME_ORDER DECIMAL(15,5)
DECLARE @TOTAL_TIME_UNSOLD DECIMAL(15,5)
DECLARE @TOTAL_HOURS_ORDER INT
DECLARE @TOTAL_MIN_ORDER INT
DECLARE @TOTAL_HOURS_UNSOLD INT
DECLARE @TOTAL_MIN_UNSOLD INT
DECLARE @TOTAL_ORDER VARCHAR(10)
DECLARE @TOTAL_UNSOLD VARCHAR(10)

INSERT INTO @TEMP EXEC (@EXECQUERY1+@EXECQUERY2+@MAINSQL)            

UPDATE @TEMP  SET  TOTAL_CLOCKED_TIME=DATEDIFF(SECOND,0,ISNULL(TOTAL_CLOCKED_TIME,'0:00')) / (60.0 * 60.0) 
SELECT @TOTAL_TIME_ORDER=SUM(CONVERT(DECIMAL(10,5),TOTAL_CLOCKED_TIME)) FROM @TEMP WHERE ORDER_ID IS NOT NULL
SELECT @TOTAL_TIME_UNSOLD=SUM(CONVERT(DECIMAL(10,5),TOTAL_CLOCKED_TIME)) FROM @TEMP WHERE ORDER_ID IS NULL

SELECT @TOTAL_HOURS_ORDER = CONVERT(INT,@TOTAL_TIME_ORDER)
--SELECT @TOTAL_MIN_ORDER = CONVERT(INT,(@TOTAL_TIME_ORDER - CONVERT(INT,@TOTAL_TIME_ORDER)) * 60)
SELECT @TOTAL_MIN_ORDER = CONVERT(INT,ROUND(((@TOTAL_TIME_ORDER - CONVERT(INT,@TOTAL_TIME_ORDER)) *60),0))

IF @TOTAL_MIN_ORDER < 10
		SET @TOTAL_ORDER = CONVERT(VARCHAR(10),@TOTAL_HOURS_ORDER) + ':0'+ CONVERT(VARCHAR(10),@TOTAL_MIN_ORDER)
ELSE
		SET @TOTAL_ORDER = CONVERT(VARCHAR(10),@TOTAL_HOURS_ORDER) + ':'+ CONVERT(VARCHAR(10),@TOTAL_MIN_ORDER)

SELECT @TOTAL_HOURS_UNSOLD = CONVERT(INT,@TOTAL_TIME_UNSOLD)
--SELECT @TOTAL_MIN_UNSOLD = CONVERT(INT,(@TOTAL_TIME_UNSOLD - CONVERT(INT,@TOTAL_TIME_UNSOLD)) * 60)
SELECT @TOTAL_MIN_UNSOLD = CONVERT(INT,ROUND(((@TOTAL_TIME_UNSOLD - CONVERT(INT,@TOTAL_TIME_UNSOLD)) *60),0))

IF @TOTAL_MIN_UNSOLD < 10
		SET @TOTAL_UNSOLD = CONVERT(VARCHAR(10),@TOTAL_HOURS_UNSOLD) + ':0'+ CONVERT(VARCHAR(10),@TOTAL_MIN_UNSOLD)
ELSE
		SET @TOTAL_UNSOLD = CONVERT(VARCHAR(10),@TOTAL_HOURS_UNSOLD) + ':'+ CONVERT(VARCHAR(10),@TOTAL_MIN_UNSOLD)

SELECT @TOTAL_ORDER 'TOTAL TIME ON ORDER',@TOTAL_UNSOLD 'TOTAL TIME UNSOLD'
       
END           
          
          
/*          
          
EXEC USP_TR_CTPMECH_FETCH NULL,NULL,NULL,NULL,NULL,0  -- ok            
EXEC USP_TR_CTPMECH_FETCH '06/07/2007','06/07/2007','','','',0            
EXEC USP_TR_CTPMECH_FETCH '07/06/2007','07/06/2007','schoeman','Willi',NULL,0            
EXEC USP_TR_CTPMECH_FETCH '','','',Null,NULL,0            
          
*/ 

GO
