/****** Object:  StoredProcedure [dbo].[USP_SPARES_CLASSCODE_FETCH]    Script Date: 08-09-2021 16:11:50 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_SPARES_CLASSCODE_FETCH]
GO
/****** Object:  StoredProcedure [dbo].[USP_SPARES_CLASSCODE_FETCH]    Script Date: 08-09-2021 16:11:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_SPARES_CLASSCODE_FETCH]  
 @IV_WHNAMEFROM  VARCHAR(50) = NULL,  
 @IV_WHNAMETO  VARCHAR(50) = NULL,
 @IV_CATFROM   VARCHAR(50) = NULL,  
 @IV_CATTO   VARCHAR(50) = NULL,  
 @IV_SPAREIDFROM  VARCHAR(30) = NULL,  
 @IV_SPAREIDTO  VARCHAR(30) = NULL,
 @IV_SUPP_CURRENTNO VARCHAR(50) = NULL
AS
BEGIN	 

 DECLARE @QRYSTR VARCHAR(2000)  

 DECLARE   
  @CATFROM AS VARCHAR(50),  
  @CATTO  AS VARCHAR(50),  
  @SIDFROM AS VARCHAR(50),  
  @SIDTO  AS VARCHAR(50)  
  
 SET @CATFROM = ISNULL(@IV_CATFROM,(SELECT MIN(CATG_DESC) FROM TBL_MAS_ITEM_CATG))   
 SET @CATTO  = ISNULL(@IV_CATTO,(SELECT MAX(CATG_DESC) FROM TBL_MAS_ITEM_CATG))  
 SET @SIDFROM = ISNULL(@IV_SPAREIDFROM,(SELECT MIN(ID_ITEM) FROM TBL_MAS_ITEM_MASTER))  
 SET @SIDTO  = ISNULL(@IV_SPAREIDTO,(SELECT MAX(ID_ITEM) FROM TBL_MAS_ITEM_MASTER))  


 IF (@IV_WHNAMEFROM IS NULL AND @IV_WHNAMETO IS NULL AND @IV_CATFROM IS NULL AND @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL )
	 BEGIN  
		  SELECT DISTINCT Class_Code  
		  FROM   TBL_MAS_ITEM_MASTER  
		  WHERE   Class_Code IS NOT NULL  
		  AND    Class_Code != ''  
		  ORDER BY  Class_Code ASC  
	 END  
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND @IV_CATFROM IS NULL AND @IV_CATTO IS NULL AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL  
	 BEGIN  
	  SET @QRYSTR = 'SELECT DISTINCT MAS.Class_Code  
		  FROM   TBL_MAS_ITEM_MASTER MAS  
		  INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH  
		  ON    MAS.ID_WH_ITEM = WH.ID_WH   
		  --INNER JOIN  TBL_MAS_MAKE MAKE  
		  --ON    MAS.ID_MAKE = MAKE.ID_MAKE   
		  INNER JOIN  TBL_MAS_ITEM_CATG CAT  
		  ON    MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG   
		  WHERE   CLASS_CODE IS NOT NULL   
		  AND    MAS.Class_Code != '''''  
		  
		  IF @IV_WHNAMETO IS NULL  
		  BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name =''' + @IV_WHNAMEFROM + ''''   
		  END  
		  ELSE IF @IV_WHNAMETO is NOT null   
		  BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN ''' + @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
		  END  

		  IF @IV_SUPP_CURRENTNO IS NOT NULL
	      BEGIN
				SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
		  END
		  
		  SET @QRYSTR = @QRYSTR + ' ORDER BY Class_Code ASC'  

		  EXEC(@QRYSTR)  
		  PRINT @QRYSTR  

	 END
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL ) AND @IV_SPAREIDFROM IS NULL AND @IV_SPAREIDTO IS NULL  
	 BEGIN  
		  SET @QRYSTR = 'SELECT DISTINCT MAS.Class_Code  
			  FROM  TBL_MAS_ITEM_MASTER MAS  
			  INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH  
			  ON  MAS.ID_WH_ITEM = WH.ID_WH 
			  INNER JOIN  TBL_MAS_ITEM_CATG CAT  
			  ON  MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG   
			  WHERE   CLASS_CODE IS NOT NULL   
			  AND    MAS.Class_Code != '''''   

			  IF @IV_WHNAMETO IS NULL  
			  BEGIN  
				   SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name =''' + @IV_WHNAMEFROM + ''''   
			  END  
			  ELSE IF @IV_WHNAMETO is NOT NULL   
			  BEGIN  
				   SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN ''' + @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
			  END  
			 
			  SET @QRYSTR = @QRYSTR + ' AND (CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''')'  

			  IF @IV_SUPP_CURRENTNO IS NOT NULL
			  BEGIN
					SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
			  END
		 
			  SET @QRYSTR = @QRYSTR + ' ORDER BY Class_Code ASC'  

			  EXEC(@QRYSTR)  
			  PRINT @QRYSTR  

	 END  
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND (@IV_CATFROM IS NOT NULL OR @IV_CATTO IS NOT NULL ) AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)  
	 BEGIN  
		  SET @QRYSTR = 'SELECT DISTINCT MAS.Class_Code  
			  FROM   TBL_MAS_ITEM_MASTER MAS  
			  INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH  
			  ON    MAS.ID_WH_ITEM = WH.ID_WH 
			  INNER JOIN  TBL_MAS_ITEM_CATG CAT  
			  ON    MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG   
			  WHERE   CLASS_CODE IS NOT NULL   
			  AND    MAS.Class_Code != '''''   
  
			  IF @IV_WHNAMETO IS NULL  
			  BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name =''' + @IV_WHNAMEFROM + ''''   
			  END  
			  ELSE IF @IV_WHNAMETO is NOT null   
			  BEGIN  
					SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN ''' + @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
			  END  
		
		  
			  SET @QRYSTR = @QRYSTR + ' AND (CAT.CATG_DESC BETWEEN '''+ @CATFROM+''' AND '''+@CATTO+''')'  

			  SET @QRYSTR = @QRYSTR + ' AND (MAS.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''')'  


			  IF @IV_SUPP_CURRENTNO IS NOT NULL
			  BEGIN
					SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
			  END

			  SET @QRYSTR = @QRYSTR + ' ORDER BY Class_Code'  
			  
			  EXEC(@QRYSTR)  
			  PRINT @QRYSTR  

	 END   
 ELSE IF (@IV_WHNAMEFROM IS NOT NULL OR @IV_WHNAMETO IS NOT NULL) AND @IV_CATFROM IS NULL AND (@IV_SPAREIDFROM IS NOT NULL OR @IV_SPAREIDTO IS NOT NULL)  
	 BEGIN  
	  SET @QRYSTR = 'SELECT DISTINCT MAS.Class_Code  
		  FROM   TBL_MAS_ITEM_MASTER MAS  
		  INNER JOIN  TBL_MAS_ITEM_WAREHOUSE WH  
		  ON    MAS.ID_WH_ITEM = WH.ID_WH   
		  INNER JOIN  TBL_MAS_ITEM_CATG CAT  
		  ON    MAS.ID_ITEM_CATG = CAT.ID_ITEM_CATG   
		  WHERE   CLASS_CODE IS NOT NULL  
		  AND    MAS.Class_Code != '''''    
        
  
		  IF @IV_WHNAMETO IS NULL  
		  BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name =''' + @IV_WHNAMEFROM + ''''   
		  END  
		  ELSE IF @IV_WHNAMETO is NOT null   
		  BEGIN  
				SET @QRYSTR = @QRYSTR + ' AND WH.WH_Name BETWEEN ''' + @IV_WHNAMEFROM+''' AND '''+ @IV_WHNAMETO+''''  
		  END  
		 
		  SET @QRYSTR = @QRYSTR + ' AND (MAS.ID_ITEM BETWEEN '''+@SIDFROM+''' AND  '''+@SIDTO+''')'  

		  IF @IV_SUPP_CURRENTNO IS NOT NULL
		  BEGIN
				SET @QRYSTR = @QRYSTR + ' AND MAS.SUPP_CURRENTNO= '''+ @IV_SUPP_CURRENTNO  +''''
		  END
	
		  SET @QRYSTR = @QRYSTR + ' ORDER BY Class_Code'  

		  EXEC(@QRYSTR)  
		  PRINT @QRYSTR  

	 END  




END
GO
