/****** Object:  StoredProcedure [dbo].[USP_FETCH_WO_STATUS_COLOR]    Script Date: 27-04-2021 11:56:25 ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCH_WO_STATUS_COLOR]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCH_WO_STATUS_COLOR]    Script Date: 27-04-2021 11:56:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: 04-12-2020
-- Description:	To Fetch all the work order status and their corresponding colors
-- =============================================
CREATE PROCEDURE [dbo].[USP_FETCH_WO_STATUS_COLOR] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID_ORDER_STATUS,ORDER_STATUS_CODE,ORDER_STATUS_DESC,ORDER_STATUS_COLOR FROM TBL_WO_ORDER_STATUS

	SELECT ID_CONFIG_APPOINTMENT,LAST_APPOINTMENT_NUMBER,MINIMUM_APPOINTMENT_TIME,APPOINTMENT_START_TIME_HOUR,
	APPOINTMENT_START_TIME_MINUTES,APPOINTMENT_STOP_TIME_HOUR,APPOINTMENT_STOP_TIME_MINUTES,HISTORY_LIMIT,DISPLAY_SATSUN,ISNULL(MECHANIC_PER_PAGE,1) AS MECHANIC_PER_PAGE,
	ISNULL(CTRL_BY_STANDARD,1) AS CTRL_BY_STANDARD,ISNULL(CTRL_BY_STATUS,0) AS CTRL_BY_STATUS,ISNULL(CTRL_BY_MECHANIC,0) AS CTRL_BY_MECHANIC ,ISNULL(SHOW_ONHOLD_ON_LOAD,0) AS SHOW_ONHOLD_ON_LOAD
	FROM TBL_APPOINTMENT_CONFIG_SETTINGS

	SELECT ID_APPOINTMENT_STATUS,APPOINTMENT_STATUS_CODE,APPOINTMENT_STATUS_COLOR FROM TBL_APPOINTMENT_STATUS

END
GO
