html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: normal;
}
#carsOuterWrapper {
    width: 100%;
    overflow: hidden;    
}
#carsWrapper {
    position: relative;
    min-height: 100vh;
    width: calc(100% + 200px);
    left: -200px;
    transition: all 0.2s ease-in-out;
}
#carsWrapper.on {
    left: 0;
    width: 100%;
}
#carsSideBar {
    position: absolute;
    width: 200px;
    display: inline-block;
    min-height: 100vh;
}
#carsContent {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    left: 200px;
    padding-left:50px;
    padding-right: 25px;
}
#carsSideBar #navigation {
    padding-right: 8px;
    background-color: #fff;
}
.carsPin {
    background-color: #4C6A9E;
    height: 30px;
    font-size: 14px;
    color: #fff;
}
#carsSideBar #navigation > #click {
    position: absolute;
    top: 0;
    right: -40px;
    width: 35px;
    height: 30px;
    z-index: 999;
    font-size: 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #4C6A9E;
    color: #fff;
    cursor: pointer;
}

#carsSideBar #navigation > #on-hover {
    position: absolute;
    right: -5px;
    top: 0;
    min-height: 100vh;
    width: 5px;
    background-color: rgba(0,0,0,0.0);
    z-index: 1000;
}


.loginForm {
    width: 300px;
    margin: 10% auto;
    background-color: #fff;
    padding: 24px;
    box-shadow: 10px 10px 10px #888;
}
.loginForm .brand {
    text-align: center;
}
.sr-only {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}
.static-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 20px;
    background-color: #f0f0f0;
    color: #333;
}
.content-width {
    width: 90%;
    max-width: 90%;
}
#frmVehicleInfo .button {
    width: 125px;
   
}
#systemMessage {
    margin-top: 0;
    -webkit-transition: all  0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#frmDashboard .button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.ui.header {
    height:auto;

}
.ui.block.header {
    background: #cce2ff;
    padding: 0.4em;
    margin-bottom: 0.8em;
}
.ui.attached.header {
    background: #cce2ff;
    padding: 0.4em;
}
.row {
    margin-bottom: 0.8em;
}

.ui.form .inline.fields .wide.field > input, .ui.form .inline.fields .wide.field > select, .ui.form .inline.fields .wide.field > .ui.input, .ui.form input[type="text"], .ui.form input[type="password"] {
    min-height:20px;
    line-height:20px;
    height: 20px;
    padding:0;
    font-size:14px;
    border: solid;
    border-color: gray;
    border-width: 1px;
}
.ui.form input[type="text"]:disabled {
    background-color: #f0f0f0;
    }
.ui.btn, input.ui.btn, input.ui.btn:focus, input.ui.btn:active, input.ui.btn:visited {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.ui.btn.mini, .ui.btn.mini:hover, .ui.btn.mini:active, .ui.btn.mini:visited, .ui.btn.mini:focus {
        min-height: 20px;
        max-height: 20px;
        height: 20px;
        padding: 2px;
        max-width: 50px;
    }


#top-banner {
    background-color: #fff;
            margin-left: 0 !important;
    margin-right: 0 !important;
}
#top-menu {
    background-color: #fff;
            margin-left: 0 !important;
    margin-right: 0 !important;
}
#top-banner .logo {
    position: absolute;
    right:1em;
    /*width: 200px;
    height: auto;*/
}
#BannerTabs_UPMNU {
    font-size: 10px;
}
.top-meta {
    color: #4C6A9E;
    font-size: 10px;
    padding-right: 200px;
    text-align: right;
}
.tcenter {
    text-align: center;
}
.tleft {
    text-align: left;
}
.tright {
    text-align: right;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.overlayHide {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: -webkit-opacity 0.2s ease-out;
    -moz-transition: -moz-opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    background-color: rgb(0,0,0);
    z-index: -9999;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.overlayHide.ohActive {
    background-color: rgb(0,0,0);
    z-index: 5001;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#modVehicle, #modCustomer, #modOrder {
    position: fixed;
    width: 70%;
    height: 70vh;
    top: 15vh;
    bottom: 15vh;
    left: 15%;
    right: 15%;
    background-color: #fff;
    z-index: 9999;
}
#modVehicle #grdVehicle, #modCustomer #grdCustomer, #modOrder #grdOrder {
    display: block;
    height: 45vh;
    overflow-x: auto;
    overflow-y: scroll;

}
.modHeader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding-top: 3px;
    background-color: #3C8DC5;
    color: #fff;

}
.modHeader h2 {
    font-size: 1.2em;
    margin: 0;
    padding-left: 12px;
}
.modClose {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}
.modCloseEquipment {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}
.modClosePrint {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

/*Code for the annotations of the General tab*/
.modCloseGeneralAnnotation, .modCloseGeneralNote {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}


#systemMSG {
    width: 250px;
    height: 150px;
    top: 50vh;
    margin-top: -125px;
    left: 50%;
    margin-left: -75px;
    background-color: rgba(0,0,0,0.50);
    display: block;
    position: fixed;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
    display: none;
}

#LoadingImage{
width:42px;
position: relative;
left: 50%;
margin-left: -21px;
display: inherit;
}



.LoadingImageBlock{
background-color:#30ACFF;
border:1px solid #28B1FA;
float:left;
height:30px;
margin-left:2px;
width:8px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:normal;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s;
animation-delay:0.39s;
}

#blockG_2{
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-o-animation-delay:0.52s;
-ms-animation-delay:0.52s;
animation-delay:0.52s;
}

#blockG_3{
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-o-animation-delay:0.65s;
-ms-animation-delay:0.65s;
animation-delay:0.65s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}
.ui.textarea, .ui.form textarea.textareasmall {
    min-height:6em;
    max-height:0.11em;
}

.tabActive{
      background-color: #dadada !important;
}

#modNewVehicle {
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modNewVehicle > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
@media only screen and (max-width: 1200px) { /* FIXES ISSUE WITH LOW RESOLUTION */
    #modNewVehicle {
        position: fixed;
        width: 90%;
        height: auto;
        max-height: 90vh;
        top: 5vh;
        left: 5%;
        right: 5%;
        background-color: #fff;
        z-index: 9999;
    }
    #modNewVehicle > .modContent {
        height: 80vh;
        overflow-y: auto;
    }
}

#modWebEquipment {
    position: fixed;
    width: 80%;
    height: auto;
    top: 15vh;
    left: 10%;
    right: 10%;
    background-color: #fff;
    z-index: 9999;
}

#modPrintVehicle {
    position: fixed;
    width: 50%;
    height: auto;
    top: 15vh;
    left: 25%;
    right: 25%;
    background-color: #fff;
    z-index: 9999;
}

/*Code for the annotations of the BilXtra control form*/
.modCloseEngineOil, .modClosecFLevel, .modClosecfTemp, .modCloseBrakeFluid, .modCloseBattery, .modCloseVipesFront, .modCloseVipesBack, .modCloseLightsFront, .modCloseLightsBack, 
.modCloseBumperFront, .modCloseBumperBack, .modCloseTiresFront, .modCloseTiresBack, .modCloseSuspensionFront, .modCloseSuspensionBack, .modCloseBrakesFront, .modCloseBrakesBack, 
.modCloseExhaust, .modCloseSealedEngine, .modCloseSealedGearbox {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

#modEngineOil, #modcFLevel, #modcfTemp, #modbrakeFluid, #modBattery, #modVipesFront, #modVipesBack, #modLightsFront, #modLightsBack, #modBumperFront, 
#modBumperBack, #modTiresFront, #modTiresBack, #modSuspensionFront, #modSuspensionBack, #modBrakesFront, #modBrakesBack, #modExhaust, #modSealedEngine, #modSealedGearbox {
    position: fixed;
    width: 40%;
    height: auto;
    top: 15vh;
    left: 30%;
    right: 30%;
    background-color: #fff;
    z-index: 9999;
}

#modGeneralAnnotation, #modGeneralNote {
    position: fixed;
    width: 40%;
    height: auto;
    top: 15vh;
    left: 30%;
    right: 30%;
    background-color: #fff;
    z-index: 9999;
}


.wide{
     width:100% !important;
}

#modNewContact {
    position: fixed;
    width: 30%;
    height: auto;
    top: 20vh;
    left: 50%;
    right: 20%;
    background-color: #fff;
    z-index: 9999;
}
#modNewCustomer {
    position: fixed;
    width: 20%;
    height: auto;
    top: 20vh;
    left: 30%;
    right: 50%;
    background-color: #fff;
    z-index: 9999;
}

#modSMSTexts {
    position: fixed;
    width: 25%;
    height: auto;
    top: 40vh;
    left: 37%;
    right: 38%;
    background-color: #fff;
    z-index: 9999;
}
/*#modNewContact div {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}*/

  

.nothing{

}

.warningAN{
      background-color: red !important;
  color: white !important;
  font-weight: 200 !important;
}

.texttest{
    min-height:30px !important;
    line-height:30px;
    padding:5px !important;
    font-size:14px;
    border: solid !important;
    border-color: gray !important;
    border-width: 1px !important;
}

.ui action input{
    background: url(calendar_icon.gif) no-repeat;
    padding-left: 18px;
    min-height:30px !important;
    line-height:30px;
    padding:5px !important;
    font-size:14px;
    border: solid !important;
    border-color: gray !important;
    border-width: 1px !important;
}
.btncalendar {
    background-image:url(../images/calendar_icon.gif);
    background-repeat: no-repeat;
    background-position:center;
    cursor:pointer;
    display: inline-block;
  min-height: 1em;
  max-height:30px;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  /*background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));*/
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.btntest{
    cursor: pointer;
  display: inline-block;
  min-height: 1em;
  max-height:30px;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.btnconst{
    cursor: pointer;
  display: inline-block;
  min-height: 1em;
  max-height:30px;
  min-width:100px;
  max-width:100px;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.dropdowns{
    max-width:200px;
    max-height:30px;
    line-height:110%;
    padding:5px !important;
    font-size:14px;
    border: solid !important;
    border-color: gray !important;
    border-width: 1px !important;
}

.dropdownList{
    /*max-width:200px;*/
    max-height:300px;
    line-height:30px;
    padding:10px;
    font-size:14px;
}

.centerlabel{
    display:inline-block;
    line-height: 25px;
    font-weight:600;
}

.blanklabel{
    visibility:hidden;
    display:inline-block;
    line-height: 25px;
    font-weight:600;
}
.ui.form .field > label {
    width: auto;
}
#topHeader {
    background-color: #fff;
    margin-bottom: 12px;
}
#topBanner {
    position: relative;
    z-index: 1;
    height: 45px;
    width: 100%;

}
    #topBanner #tbBrand {
        position: absolute;
        right: 10px;
    }
        #topBanner #tbBrand img {
            height: 45px; width: auto;
        }
    #topBanner #tbDepartment {
        position: absolute;
        color: #6880AC;
        font-size: 22px;
        font-weight: 800;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        text-align: center;
        top: 7px;
    }
    #topBanner #tbUserInfo {
        font-size: 12px;
        color: #4C6A9E;
        font-weight: 800;
        position: absolute;
        right: 120px;
        width: 150px;
    }
        #topBanner #tbUserInfo .tbUser, #topBanner #tbUserInfo .tbLanguage, #topBanner #tbUserInfo .tbVersion, #topBanner #tbUserInfo .tbLogOut  {
            width: 150px;
            display: block;
            text-align: right;
        }
        #topBanner #tbUserInfo .tbLanguage{
            display:none;
            visibility:hidden;
        }

/* CARS CUSTOM MENU CSS */
#topNav {
    position: relative;
    z-index: 5000; /* ALWAYS ON TOP */
    background-color: #4C6A9E;
}
    #topNav #Menu1, #topNav .menu_on1, #topNav .menu_sub_over1 {
        position: relative;
        z-index: 5000 !IMPORTANT;/* ALWAYS ON TOP */
    }
/* CARS CUSTOM INPUT WIDTH */
.ui.form .fields > .char.field {
    padding-left: 0;
}
.one.char.field {
    max-width: 2em;
}
.two.char.field {
    max-width: 3em;
}
.three.char.field {
    max-width: 4em;
}
.four.char.field {
    max-width: 5em;
}
.five.char.field {
    max-width: 6em;
}
.six.char.field {
    max-width: 7em;
}
.seven.char.field {
    max-width: 8em;
}
.eight.char.field {
    max-width: 9em;
}
.nine.char.field {
    max-width: 10em;
}
.ten.char.field {
    max-width: 11em;
}
/* TYPE SPECIFIC */
.date.char.field{
    max-width: 7em;
}
.year.char.field {
    max-width: 5em;
}
.regno.char.field {
    max-width: 7em;
}
.mileage.char.field {
    max-width: 6em;
}
.ui {
    min-height: 20px !IMPORTANT;
    font-size: 14px;
}

.fields h3 {
    background-color: #cce2ff;
    font-weight: 800;
    font-size: 16px;
    padding: 3px;
    border-radius: 4px;
}
.ui.modal > .header {
    height: auto;
}
#modNewContactTest {
    width:300px;
    margin-left: -10%;
}

.inHeaderCheckbox {
    position:absolute;
    right:8.0em;
    top: -1.6em;
}
.inHeaderCheckbox2 {
    position:absolute;
    right:0.8em;
    top: -1.6em;
}
.inHeaderCheckbox input {
    margin-top: 0.2em;
}
.inHeaderCheckbox2 input {
    margin-top: 0.2em;
}

.inLblCheckbox {
    right:0.8em;
    top: -1.6em;
}
.inLblCheckbox input {
    margin-top: 0.2em;
}
.inError {
    background-color: #FFF6F6 !IMPORTANT;
    border-color: #E0B4B4 !IMPORTANT;
    color: #9F3A38 !IMPORTANT;
    box-shadow: none !IMPORTANT;
}
@media only screen and (max-width: 1200px) { /* FIXES ISSUE WITH LOW RESOLUTION */
    #modNewVehicle {
        position: fixed;
        width: 90%;
        height: auto;
        max-height: 90vh;
        top: 5vh;
        left: 5%;
        right: 5%;
        background-color: #fff;
        z-index: 9999;
    }
    #modNewVehicle > .modContent {
        height: 80vh;
        overflow-y: auto;
    }
    #modNewContactTest {
        margin-left: -27%;
    }
}
@media only screen and (max-width: 414px) { /* Mobile Specs */

    #modNewContactTest {
    width:90%%;
    margin-left: -37%;
    }
}

/*Enirofunction css*/
#modNewCust { 
    position: fixed; 
    width: 30%; 
    height: auto; 
    top: 15vh; 
    left: 35%; 
    right: 35%; 
    background-color: #fff; 
    z-index: 9999; 
} 
#modNewCust > .modContent { 
    padding-left: 7px; 
    padding-right: 7px; 
    overflow-y: hidden; 
    overflow-x: hidden; 
}   

.modCloseCust { 
    position: absolute; 
    top: 3px; 
    right: 3px; 
    cursor: pointer; 
}

/*Eniro function ends*/

/*Code for TABADVANCED ON CUSTOMER DETAILS*/
#modAdvSalesman{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvSalesman > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvBranch{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvBranch > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvCategory{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvCategory > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modAdvSalesGroup{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvSalesGroup > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvPaymentTerms{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvPaymentTerms > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvCreditCardType{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvCreditCardType > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvCurrencyCode{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvCurrencyCode > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modCustNotes{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modCustNotes > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
