html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: normal;
}
/*#carsOuterWrapper {
    width: 100%;
    overflow: hidden;    
}
#carsWrapper {
   position: relative;
    min-height: 100vh;
    width: calc(100% + 200px);
    left: -200px;
    transition: all 0.2s ease-in-out;
}
#carsWrapper.on {
    left: 0;
    width: 100%;
}*/


.ui.left.visible.sidebar {
    overflow: visible !important; /*so that dropdown works in menu*/
    background: #312f70;
}

form {
    height: 100%;
    overflow: hidden !important;
}

.otherstuff {
    top: 64.56px !important;
    overflow-y: scroll !important;
    height: calc(100vh - 65px) !important
}

.following bar light {
    position: fixed !important;
}


#carsSideBar {
    position: absolute;
    width: 200px;
    display: inline-block;
    min-height: 110vh;
    
}
#carsContent {

  position: relative;
    min-height: 86vh;   /*originally 100*/
    width: 96%;
    left: 50px;
    transition: all 0.2s ease-in-out;
    top: 10px;
    padding-right: 70px;
    /*height: 130vh !important;*/
}
#carsSideBar #navigation {
    padding-right: 8px;
    background-color: #fff;
}
.carsPin {
    background-color: #4C6A9E;
    height: 30px;
    font-size: 14px;
    color: #fff;
}
#carsSideBar #navigation > #click {
    position: absolute;
    top: 0;
    right: -40px;
    width: 35px;
    height: 30px;
    z-index: 999;
    font-size: 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #4C6A9E;
    color: #fff;
    cursor: pointer;
}

#carsSideBar #navigation > #on-hover {
    position: absolute;
    right: -5px;
    top: 0;
    min-height: 100vh;
    width: 5px;
    background-color: rgba(0,0,0,0.0);
    z-index: 1000;
}


.loginForm {
    width: 300px;
    margin: 10% auto;
    background-color: #fff;
    padding: 24px;
    box-shadow: 10px 10px 10px #888;
}
.loginForm .brand {
    text-align: center;
}
.sr-only {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
}
.static-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 20px;
    background-color: #f0f0f0;
    color: #333;
}
input, select {
    position: relative;
    z-index: 5;
}
.content-width {
    width: 90%;
    max-width: 90%;
}
#frmVehicleInfo .button {
    width: 125px;
   
}
#systemMessage {
    margin-top: 0;
    -webkit-transition: all  0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0, -100%,0);
        position: fixed;
    z-index: 9004;
    width: 80%;
    margin-left: -40%;
    left: 50%;
    top: 1em;
    opacity: 0;
}
#systemMessage.fadeIn{
    transform: translate3d(0, 0,0);
    opacity:1;
}
#systemMessage.fadeOut {
    transform: translate3d(0, -100%,0);
    opacity:0;
}
#systemMessage.fadeOut {
    transform: translate3d(0, -100%,0);
    opacity:0;
}
#frmDashboard .button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}
.ui.header {
    height:auto;

}
.ui.block.header {
    background: #cce2ff;
    padding: 0.4em;
    margin-bottom: 0.8em;
}
.ui.attached.header {
    background: #cce2ff;
    padding: 0.4em;
}
.row {
    margin-bottom: 0.8em;
}

.ui.form.CarsBoxes .inline.fields.CarsBoxes .wide.field.CarsBoxes > input, .ui.form.CarsBoxes .inline.fields.CarsBoxes .wide.field.CarsBoxes > select, .ui.form.CarsBoxes .inline.fields.CarsBoxes .wide.field.CarsBoxes > .ui.input, .ui.form input[type="text"].CarsBoxes, .ui.form input[type="password"].CarsBoxes {
    min-height:20px;
    line-height:20px;
    height: 20px;
    padding:0;
    font-size:14px !important;
    border: solid;
    border-color: gray;
    border-width: 1px;
}
.ui.form input[type="text"]:disabled, .ui.form select:disabled {
    background-color: #f0f0f0;
    }
.ui.btn, input.ui.btn, input.ui.btn:focus, input.ui.btn:active, input.ui.btn:visited {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}

.ui.btn.mini, .ui.btn.mini:hover, .ui.btn.mini:active, .ui.btn.mini:visited, .ui.btn.mini:focus {
        min-height: 20px;
        max-height: 20px;
        height: 20px;
        padding: 2px;
        max-width: 50px;
    }
.ui.btn.mini.aw, .ui.btn.mini.aw:hover, .ui.btn.mini.aw:active, .ui.btn.mini.aw:visited, .ui.btn.mini.aw:focus {
    max-width: 100%;
}
#top-banner {
    background-color: #fff;
            margin-left: 0 !important;
    margin-right: 0 !important;
}
#top-menu {
    background-color: #fff;
            margin-left: 0 !important;
    margin-right: 0 !important;
}
#top-banner .logo {
    position: absolute;
    right:1em;
    /*width: 200px;
    height: auto;*/
}
#BannerTabs_UPMNU {
    font-size: 10px;
}
.top-meta {
    color: #4C6A9E;
    font-size: 10px;
    padding-right: 200px;
    text-align: right;
}
.tcenter {
    text-align: center;
}
.tleft {
    text-align: left;
}
.tright {
    text-align: right;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.overlayHide {
    position: fixed;
    top: -50px;
    right: 0;
    bottom: 0;
    left: -40px;
    -webkit-transition: -webkit-opacity 0.2s ease-out;
    -moz-transition: -moz-opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    background-color: rgb(0,0,0);
    z-index: -9999;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.overlayHide.ohActive {
    background-color: rgb(0,0,0);
    z-index: 5001;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.context-menu-item.context-menu-disabled {
    color: #a4a1a1 !important;
}
#modVehicle, #modCustomer, #modOrder {
    position: fixed;
    width: 70%;
    height: 70vh;
    top: 15vh;
    bottom: 15vh;
    left: 15%;
    right: 15%;
    background-color: #fff;
    z-index: 9999;
}
#modVehicle #grdVehicle, #modCustomer #grdCustomer, #modOrder #grdOrder, #grdSpare {
    /*display:block;
    height: 45vh;*/
    overflow-x: auto;
    overflow-y: scroll;
}
.modHeader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    padding-top: 3px;
    background-color: #3C8DC5;
    color: #fff;

}
.modHeader h2 {
    font-size: 1.2em;
    margin: 0;
    padding-left: 12px;
}
.modClose {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}
.modCloseEquipment {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}
.modClosePrint {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

/*Code for the annotations of the General tab*/
.modCloseGeneralAnnotation, .modCloseGeneralNote {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}


#systemMSG {
    width: 250px;
    height: 150px;
    top: 50vh;
    margin-top: -125px;
    left: 50%;
    margin-left: -75px;
    background-color: rgba(0,0,0,0.50);
    display: block;
    position: fixed;
    text-align: center;
    padding-top: 15px;
    border-radius: 15px;
    display: none;
}

#LoadingImage{
width:42px;
position: relative;
left: 50%;
margin-left: -21px;
display: inherit;
}



.LoadingImageBlock{
background-color:#30ACFF;
border:1px solid #28B1FA;
float:left;
height:30px;
margin-left:2px;
width:8px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:normal;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-o-animation-delay:0.39s;
-ms-animation-delay:0.39s;
animation-delay:0.39s;
}

#blockG_2{
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-o-animation-delay:0.52s;
-ms-animation-delay:0.52s;
animation-delay:0.52s;
}

#blockG_3{
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-o-animation-delay:0.65s;
-ms-animation-delay:0.65s;
animation-delay:0.65s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}


@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}
.ui.textarea, .ui.form textarea.textareasmall {
    min-height:6em;
    max-height:0.11em;
}

.tabActive{
      background-color: #dadada !important;
}

#modNewVehicle {
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modNewVehicle > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}


#modWebEquipment {
    position: fixed;
    width: 80%;
    height: auto;
    top: 15vh;
    left: 10%;
    right: 10%;
    background-color: #fff;
    z-index: 9999;
}

#modPrintVehicle {
    position: fixed;
    width: 50%;
    height: auto;
    top: 15vh;
    left: 25%;
    right: 25%;
    background-color: #fff;
    z-index: 9999;
}

/*Code for the annotations of the BilXtra control form*/
.modCloseEngineOil, .modClosecFLevel, .modClosecfTemp, .modCloseBrakeFluid, .modCloseBattery, .modCloseVipesFront, .modCloseVipesBack, .modCloseLightsFront, .modCloseLightsBack, 
.modCloseBumperFront, .modCloseBumperBack, .modCloseTiresFront, .modCloseTiresBack, .modCloseSuspensionFront, .modCloseSuspensionBack, .modCloseBrakesFront, .modCloseBrakesBack, 
.modCloseExhaust, .modCloseSealedEngine, .modCloseSealedGearbox {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

#modEngineOil, #modcFLevel, #modcfTemp, #modbrakeFluid, #modBattery, #modVipesFront, #modVipesBack, #modLightsFront, #modLightsBack, #modBumperFront, 
#modBumperBack, #modTiresFront, #modTiresBack, #modSuspensionFront, #modSuspensionBack, #modBrakesFront, #modBrakesBack, #modExhaust, #modSealedEngine, #modSealedGearbox {
    position: fixed;
    width: 40%;
    height: auto;
    top: 15vh;
    left: 30%;
    right: 30%;
    background-color: #fff;
    z-index: 9999;
}

#modGeneralAnnotation, #modGeneralNote {
    position: fixed;
    width: 40%;
    height: auto;
    top: 15vh;
    left: 30%;
    right: 30%;
    background-color: #fff;
    z-index: 9999;
}


.wide{
     width:100% !important;
}

#modNewContact {
    position: fixed;
    width: 30%;
    height: auto;
    top: 20vh;
    left: 50%;
    right: 20%;
    background-color: #fff;
    z-index: 9999;
}
#modNewCustomer {
    position: fixed;
    width: 20%;
    height: auto;
    top: 20vh;
    left: 30%;
    right: 50%;
    background-color: #fff;
    z-index: 9999;
}


/*#modNewContact div {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}*/

  


.warningAN{
  background-color: red !important;
  color: white !important;
  font-weight: 200 !important;
}

.texttest{
    min-height:20px !important;
    line-height:20px;
    height: 20px;
    padding:0 !important;
    font-size:14px;
    border: solid !important;
    border-color: gray !important;
    border-width: 1px !important;
}

.ui action input{
    background: url(calendar_icon.gif) no-repeat;
    padding-left: 18px;
    min-height:30px !important;
    line-height:30px;
    padding:5px !important;
    font-size:14px;
    border: solid !important;
    border-color: gray !important;
    border-width: 1px !important;
}
.btncalendar {
    background-image:url(../images/calendar_icon.gif);
    background-repeat: no-repeat;
    background-position:center;
    cursor:pointer;
    display: inline-block;
  min-height: 1em;
  max-height:30px;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  /*background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));*/
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.btntest{
    cursor: pointer;
  display: inline-block;
  min-height: 1em;
  max-height:30px;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.btnconst{
    cursor: pointer;
  display: inline-block;
  min-height: 1em;
  max-height:30px;
  min-width:100px;
  max-width:100px;
  outline: none;
  border: none;
  vertical-align: baseline;
  background-color: #fafafa;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.75em 1.15em 0.75em;
  text-transform: none;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
  font-weight: bold;
  line-height: 1;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
  border-radius: 0.2857em;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 0 0 1px rgba(0, 0, 0, 0.13) inset, 0 1px 3px rgba(0, 0, 0, 0.05);
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

.dropdowns{
    max-height:20px;
    height: 20px;
    min-height: 20px;
    line-height:110%;
    padding:0px !important;
    font-size:14px;
    border: solid !important;
    border-color: gray !important;
    border-width: 1px !important;
}

.dropdownList{
    /*max-width:200px;*/
    max-height:300px;
    line-height:30px;
    padding:10px;
    font-size:14px;
}

.centerlabel{
    display:inline-block;
    line-height: 25px;
    font-weight:600;
}

.blanklabel{
    visibility:hidden;
    display:inline-block;
    line-height: 25px;
    font-weight:600;
}
.ui.form .field > label {
    width: auto;
    font-size: 14px !important;
}
#topHeader {
    background-color: #fff;
    margin-bottom: 12px;
}
#topBanner {
    position: relative;
    z-index: 1;
    height: 45px;
    width: 100%;

}
    #topBanner #tbBrand {
        position: absolute;
        right: 10px;
    }
        #topBanner #tbBrand img {
            height: 45px; width: auto;
        }
    #topBanner #tbDepartment {
        position: absolute;
        color: #6880AC;
        font-size: 22px;
        font-weight: 800;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        text-align: center;
        top: 7px;
    }
    #topBanner #tbUserInfo {
        font-size: 12px;
        color: #4C6A9E;
        font-weight: 800;
        position: absolute;
        right: 120px;
        width: 150px;
    }
        #topBanner #tbUserInfo .tbUser, #topBanner #tbUserInfo .tbLanguage, #topBanner #tbUserInfo .tbVersion, #topBanner #tbUserInfo .tbLogOut  {
            width: 150px;
            display: block;
            text-align: right;
        }
        #topBanner #tbUserInfo .tbLanguage{
            display:none;
            visibility:hidden;
        }

/* CARS CUSTOM MENU CSS */
#topNav {
    position: relative;
    z-index: 999; /* ALWAYS ON TOP */
    background-color: #4C6A9E;
    width: 100%;
    height: 16px;
    max-height: 2em;
}
#topNav #Menu1, #topNav .menu_on1, #topNav .menu_sub_over1 {
    position: relative;
    z-index: 5000 !IMPORTANT;/* ALWAYS ON TOP */
}
/* Fixes the flickering on the menu in Chrome */
#topNav ul li ul{ 
    display: none;
}
#topNav ul li {
    position: relative; 
    float: left;
    list-style: none;
}
#topNav  ul li.dynamic {
    float: none;
}
/* End flicker fix */
.ui-autocomplete {
    z-index: 1001;
}
/* CARS CUSTOM INPUT WIDTH */
.mt3 {
     margin-top: 3px !IMPORTANT;
}

.ui.form .fields > .char.field {
    padding-left: 0;
}
.one.char.field {
    max-width: 2em;
}
.two.char.field {
    max-width: 3em;
}
.three.char.field {
    max-width: 4em;
}
.four.char.field {
    max-width: 5em;
}
.five.char.field {
    max-width: 6em;
}
.six.char.field {
    max-width: 7em;
}
.seven.char.field {
    max-width: 8em;
}
.eight.char.field {
    max-width: 9em;
}
.nine.char.field {
    max-width: 10em;
}
.ten.char.field {
    max-width: 11em;
}
/* TYPE SPECIFIC */
.date.char.field{
    max-width: 7em;
}
.year.char.field {
    max-width: 5em;
}
.regno.char.field {
    max-width: 7em;
}
.mileage.char.field {
    max-width: 6em;
}
.ui {
    min-height: 20px !IMPORTANT;
    font-size: 14px;
}

.fields h3 {
    /*background-color: #cce2ff;*/
    font-weight: 800;
    font-size: 16px;
    padding: 3px;
    border-radius: 4px;
}
.ui.modal > .header {
    height: auto;
}
#modNewContactTest {
    width:300px;
    margin-left: -10%;
}

.inHeaderTextField1 {
    position: absolute;
    right:35.8em;
    top: -1.6em;
}

.inHeaderTextField2 {
    position: absolute;
    right:31.8em;
    top: -1.6em;
}

.inHeaderTextField2-5 {
    position: absolute;
    right:29.8em;
    top: -1.6em;
}

.inHeaderTextField3 {
    position: absolute;
    right:17em;
    top: -1.6em;
}
.inHeaderTextField4 {
    position: absolute;
    right:11em;
    top: -1.6em;
}

.inHeaderTextField5 {
    position: absolute;
    right:3em;
    top: -1.6em;
}

.inHeaderCheckbox {
    position: absolute;
    right: 0.8em;
    top: 2.4em;
}
.inHeaderCheckbox .icon {
    margin: 0;
}
.inHeaderCheckbox2 {
    position:absolute;
    right:8.0em;
    top: -1.6em;
}

.inHeaderCheckbox3 {
    position: absolute;
    right: 0.8em;
    top: 0em;
}

.inHeaderCheckbox4 {
    position: absolute;
    right: 0.8em;
    top: 0em;
}
.inHeaderCheckbox input {
    margin-top: 0.2em;
}
.inHeaderCheckbox2 input {
    margin-top: 0.2em;
}

.inHeaderLabel1 input {
    margin-top: 0.2em;
}

.inHeaderLabel1 {
    position:absolute;
    right:17.0em;
    top: -1.6em;
}
.inHeaderLabel2 input {
    margin-top: 0.2em;
}
.inHeaderLabel2 {
    position:absolute;
    right:2.0em;
    top: -1.6em;
}

.inLblCheckbox {
    right:0.8em;
    top: -1.6em;
}
.inLblCheckbox input {
    margin-top: 0.2em;
}
.inError {
    background-color: #FFF6F6 !IMPORTANT;
    border-color: #E0B4B4 !IMPORTANT;
    color: #9F3A38 !IMPORTANT;
    box-shadow: none !IMPORTANT;
}


@media only screen and (max-width: 1200px) { /* FIXES ISSUE WITH LOW RESOLUTION */
    #modNewVehicle {
        position: fixed;
        width: 90%;
        height: auto;
        max-height: 90vh;
        top: 5vh;
        left: 5%;
        right: 5%;
        background-color: #fff;
        z-index: 9999;
    }
    #modNewVehicle > .modContent {
        height: 80vh;
        overflow-y: auto;
    }
    #modNewContactTest {
        margin-left: -27%;
    }
}
@media only screen and (max-width: 414px) { /* Mobile Specs */

    #modNewContactTest {
    width:90%;
    margin-left: -37%;
    }
}

/*Enirofunction css*/
#modNewCust { 
    position: fixed; 
    width: 30%; 
    height: auto; 
    top: 15vh; 
    left: 35%; 
    right: 35%; 
    background-color: #fff; 
    z-index: 9999; 
} 
#modNewCust > .modContent { 
    padding-left: 7px; 
    padding-right: 7px; 
    overflow-y: hidden; 
    overflow-x: hidden; 
}   

.modCloseCust { 
    position: absolute; 
    top: 3px; 
    right: 3px; 
    cursor: pointer; 
}

/*Eniro function ends*/

/*Code for TABADVANCED ON CUSTOMER DETAILS*/
#modAdvSalesman{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvSalesman > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modNewOrdertype {
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}

#modNewOrdertype > .modContent {
        padding-left: 7px;
        padding-right: 7px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

#modNewDiscountCode {
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}

    #modNewDiscountCode > .modContent {
        padding-left: 7px;
        padding-right: 7px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

#modAdvBranch{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvBranch > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvCategory{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvCategory > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modAdvSalesGroup{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvSalesGroup > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvPaymentTerms{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvPaymentTerms > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvCreditCardType{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvCreditCardType > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modAdvCurrencyCode{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modAdvCurrencyCode > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modUpdateCustTemp{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modUpdateCustTemp > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modCustNotes, #modVehNotes, #modOrderNotes{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modMobWarranty{
    position: fixed;
    width: 50%;
    height: auto;
    top: 15vh;
    left: 25%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modCustNotes > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modVehNotes > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#modOrderNotes > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#modMobWarranty > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*SS3\LocalSPDetail.aspx modals*/
#modEditMake, #modStockAdjustments{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modEditMake, #modStockAdjustments > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#customerContactPH .icon {
    color: #1a531b;
    opacity: 0;
}
#customerContactPH .isStandard .icon {
    opacity: 100;
}
span.required:after, label.required:after {
    content: " *";
}
.required-error {
    color: #ff0000;
}

.flag-NO, .flag-LT, .flag-UK  {
    text-indent:-100px;
    width:32px;
    height:32px;
    background-color:transparent;
    border:none;
    position: absolute;
    
}
.flag-NO {
    background-image: url("../Images/NO.png");
    right: 280px;
}
.flag-LT {
    background-image: url("../Images/LT.png");
    right: 200px;
}
.flag-UK {
    background-image: url("../Images/UK.png");
    right: 240px;
}

#priv *[data-type="co"] {
    display: none;
    visibility: hidden;
}
#priv.company *[data-type="po"] {
    display: none;
    visibility: hidden;
}
#priv.company *[data-type="co"] {
    display: block;
    visibility: visible;
}

/*     COMMENTED OUT BECAUSE IN MY OPINION WE SHOULD _NOT_ OVERRIDE SEMANTICS UI'S OWN CLASSES, SUCH AS .UI.MODAL. THIS MIGHT AFFECT MODALS, WE SHOULD INSTEAD ADD OWN CLASSES
.ui.modal .content input:not([type='checkbox']){
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    min-height: 20px;
    line-height: 20px;
    height: 20px;
    padding: 0;
    font-size: 14px;
    border: 1px gray solid;
    width: 100%;
}
.ui.modal .content textarea {
    width: 100%;
    border: 1px gray solid;
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    resize: none;
}
.ui.modal .content label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}

.ui.modal .ui.form .fields .field, ui.modal .ui.form .field {
    clear: both;
    margin: 0;
}

   */



#modContactPerson.ui.modal .inline.field label {
    font-weight: 400;
    width: 30%;
}
#modContactPerson .ui-menu .ui-menu-item a{
    width: 1200px;
}
#modContactPerson.ui.modal .inline.field input {
    width: 60%
}
#modContactPerson.ui.modal .inline.field input.CPDate, #modContactPerson.ui.modal input.CPZip {
    position: relative;
    z-index: 1000;
}
#modContactPerson.ui.modal .inline.field input.CPDate {
    width: 100px;
}
.wosearchpointer { 
    cursor: pointer; 
    font-size:12px;
}
.has-popup.static {
    position: fixed;
}

.container.shift-container {
    margin-left: 0 !important;
}
#insPhone label, #insDamageReferance label, #intPhone label, #claimPhone label, #miscPhone label{
    min-width: 65px;
}
#insPhone, #insPaymentDetails , #intPhone, #intPaymentDetails #claimPaymentDetails, #miscPaymentDetails {
    margin-bottom: 12px;
}
#insPaymentDetails label, #intPaymentDetails label, #claimPaymentDetails label, #miscPaymentDetails label {
    min-width: 100px;
}
#itemHistory-PH .content {
    margin-top: 25px;
}
.ih-year {
    display: none;
}
.ih-year.active {
    display:block;
}
.ui.grid.ih-container > .row {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 4px;
    padding-top: 4px;
}
.ui.grid.ih-container > .row:nth-child(2n+1) {
    background-color: #f0f0f0;
}
.ui.grid.ih-container > .row:hover {
    background-color: #999;
}
.ui.grid.ih-container > .ih-header.row {
    background-color: #fff;
    border-bottom: 2px #000 solid;
    padding-top: 7px;
    font-weight: 800;
}
.ih-quantity, .ih-cost, .ih-amount {
    text-align: right;
}
.ih-m_total, .ui.grid.ih-container > .ih-m_total.row:hover{
    color: #fff;
    background-color: #4C6A9E;
    font-weight: bold;
}

#ihChart{
    max-height: 60vh;
}

#dataSelector {
    text-align: center;
}
#spSelYear {
    font-weight: 800;
}
#itemHistory-PH h3 {
    display: none;
    visibility: hidden;
}
#tabBottom {
    text-align: center;
    /*margin-top: -1rem;*/
}
/* MODAL POPUPS */
.ui-dialog  {
    z-index: 9002 !important;
    padding: 0;
}
.ui-dialog .ui-dialog-content{
    padding: 0;
    margin: 0;
    width: 100% !important;
    overflow: hidden;
}
.ui-dialog iframe {
    width: 100% !important;
    height: 100%;
}
.ui-dialog .ui-dialog-titlebar {
    background-color: #fff;
    background-image: none;
    border: 0;
    border-radius: 0;
    left: 0;
    right: 0;
    font-size: 1.42857143rem;
    display: block;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    margin: 0em;
    padding: 1.25rem 1.5rem;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.ui-dialog .ui-dialog-titlebar-close {
    color: rgba(0,0,0,0);
    top: 25%;
    background: none;
    border: none;
    padding: 0 !important;
    opacity: 0.8;
}
.ui-dialog .ui-dialog-titlebar-close:before {
    content: "\f00d";
    display: inline-block;
    color: rgba(0,0,0,0.8);
    font-family: 'Icons';
    text-align: center;
    speak: none;
    content: "\f00d";
    opacity: inherit; 
}
.ui-dialog .ui-dialog-titlebar-close:hover {
    opacity: 1;
}
.ui-dialog .ui-dialog-titlebar-close span{
    background: none !important;
}
/*#priv {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
}*/
html.hideNav #topBanner, html.hideNav #topNav, html.hideNav #carsSideBar{
    display: none !important;
    visibility: hidden !important; 
}
html.hideNav #carsContent{
    margin-bottom: 75px;
}
html.hideNav #tabBottom {
    position: fixed;
    background: #F9FAFB;
    padding: 1rem 1rem;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    margin-top: 0;
    bottom: 0;
    width: 100%;
    display: block;
    left: 0;
    right: 0;
    z-index: 6;
    text-align: center;
}


/* SEARCH POPUPS */
#searchPanels {
    padding: 0 1rem;
}
.ui.form input[type="text"].popupSearch {
    border: none;
    border-bottom: 2px #ccc solid;
    margin-bottom: 1rem;
    border-radius: 0;
    font-size: 1.2em;
    height: 2rem;
}
.wosearchpointer {
    border-bottom-color: #fff !important;
    text-align: center !important; 
}
.ui-jqgrid .ui-jqgrid-view {
    min-width: 100%;
}
/* Responsive jqGrid */
.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
  height: auto;
}
.ui-jqgrid .ui-pager-control td[id$="_toppager_center"], .ui-jqgrid .ui-pager-control td[id$="pager_center"] {
  width: auto !important;
  white-space: normal !important;
    height: auto;
}
.ui-jqgrid .ui-pager-control td[id$="_toppager_left"], .ui-jqgrid .ui-pager-control td[id$="pager_left"] {
  width: auto !important;
  white-space: normal !important;
    height: auto;

}
.ui-jqgrid .ui-pager-control td[id$="_toppager_right"], .ui-jqgrid .ui-pager-control td[id$="pager_right"] {
  width: auto !important;
  white-space: normal !important;
    height: auto;
}
.ui-jqgrid .ui-jqgrid-bdiv, .ui-jqgrid .ui-jqgrid-view.table-responsive, .ui-jqgrid, .ui-jqgrid-pager,
.ui-jqgrid-toppager, .ui-jqgrid-hdiv {
    border-radius: 0 !important;
    min-width: 100% !important;
}
.ui-jqgrid .ui-pager-control td[id$="_toppager_left"], .ui-jqgrid .ui-pager-control td[id$="pager_left"],
.ui-jqgrid .ui-pager-control td[id$="_toppager_center"], .ui-jqgrid .ui-pager-control td[id$="pager_center"] {
    overflow-x: auto;
    overflow-y: hidden;
}

.ui-widget-overlay {
    opacity: 1;
    background: none;
    background-color: rgba(0,0,0,0.85);
    /*display: block;*/
}

/*success*/
.ui.input.success input {
  background-color: #f4faf4;
  border-color: #a3c293;
  color: #308330;
  box-shadow: none;
}

/* success Placeholder */

.ui.input.success input::-webkit-input-placeholder {
  color: #5e9e5e;
}

.ui.input.success input::-moz-placeholder {
  color: #5e9e5e;
}

.ui.input.success input:-ms-input-placeholder {
  color: #5e9e5e;
}

.backwheel {
    margin-bottom: 140% !important;
    top: 220px !important;
}
#ui-datepicker-div{
             z-index: 1151 !important; 

        }

 .mytabulatorclass {
            background-color: #e4e4e4;           
            border-radius: 10px;
            font-size: 16px;
        }


             .mytabulatorclass .tabulator-row.tabulator-selectable:hover {
                background-color: #7eb3bd !important;
                cursor: pointer;
                }
             
             
             .mytabulatorclass .tabulator-selected{
                 background-color: #00a2d7 !important;
             }
             

            /*Theme the header*/
            .mytabulatorclass .tabulator-header .tabulator-col {
                background: #cce2ff;
                background-color: #cce2ff;
                color: black;
                border-bottom: 1px solid grey;
                text-align: center;
                font-size:16px !important;
            }

                /*Allow column header names to wrap lines*/
                .mytabulatorclass .tabulator-header .tabulator-col,
                .mytabulatorclass .tabulator-header .tabulator-col-row-handle {
                    white-space: normal;
                }

            /*Color the table rows*/
            .mytabulatorclass .tabulator-tableHolder .tabulator-table .tabulator-row {
                color: black;
                background: #fff;
                font-size:14x;
            }

                /*Color even rows*/
                .mytabulatorclass .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
                    background-color: #efefef;
                }

                /*color arrows green*/
        .tabulator .tabulator-row.tabulator-group.tabulator-group-visible .tabulator-arrow {
            
            border-top: 6px solid #666;
            
        }

        .tabulator .tabulator-row.tabulator-group .tabulator-arrow {
            
            border-left: 6px solid #37901b;
            
        }
        /*lets color the calculation row. This way, people see that this is just a row for calculations*/
        .tabulator .tabulator-footer .tabulator-calcs-holder .tabulator-row
        {
            background: #4d4343 !important;
            color: red;
        }
        .mytabulatorclass .tabulator-header .myEditableCell{
            
            background-color:#c1ecc9 !important;
         }

       .signature-move{
            margin-bottom:10px !important
        }

#modListCustVehicles{
    position: fixed;
    width: 30%;
    height: auto;
    top: 15vh;
    left: 35%;
    right: 35%;
    background-color: #fff;
    z-index: 9999;
}
#modListCustVehicles > .modContent {
    padding-left: 7px;
    padding-right: 7px;
    overflow-y: hidden;
    overflow-x: hidden;

}
/*Adding the semantic input mini style with larger font and less border. first added on order head*/
.carsInput{
    padding: 3px !important;
    font-size:14px !important;
}

.ui.divider {
    margin: -8px !important;
}


.carsButtonBlueInverted {
    color: #2185D0 !important;
    background-color: white !important;
    border-color: #2185D0 !important;
    border: 1px solid !important; 
}

    .carsButtonBlueInverted:hover {
        color: white !important;
        background-color: #2185D0 !important;
    }

.inlinelabel {
    padding-top: 25px !important;
}

.inheaderButton {
    position: absolute;
    right: 1.8em;
    top: 0.25em;
    height: 35px !important;
}

.carsButtonBlueNotInverted {
    color: white !important;
    background-color: #2185D0 !important;
}

.ui.tabular.menu {
    border-bottom: 2px solid #2185D0;
}

    .ui.tabular.menu .item {
        font-weight: bold;
    }

    .ui.tabular.menu .active.item {
        color: #ffffff;
        background-color: #2185D0;
        font-weight: bold;
    }


    .ui.tabular.menu .item:hover {
        background-color: rgba(33, 150, 243, 0.22);
    }

    .ui.tabular.menu .active.item:hover {
        background-color: #2185D0;
    }

/*Overstyrer semantic pga bilxtrasjekken skjemaet på kjøretøysiden*/
.ui.table td {
    padding: 0.2em 0em !important;
    text-align: inherit !important;
}


/* SMS layout*/
#btnConfigGreetAfterVisit:hover {
    background-color: #21BA45 !important;
    color: white !important;
}
#btnConfigMobWar:hover {
    background-color: #21BA45 !important;
    color: white !important;
}
#btnConfigFollowupAfterVisit:hover {
    background-color: #21BA45 !important;
    color: white !important;
}

/*------------------------JQGRID THEME--------------------------------*/
.ui-jqgrid .ui-jqgrid-view {
    z-index: auto;
}

.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
    font-size: 13px;
}

.ui-jqgrid .ui-jqgrid-title {
    float: left;
    margin: 8px;
}

.ui-jqgrid .ui-jqgrid-title-rtl {
    float: right;
    margin: 8px;
}

.ui-jqgrid-view > .ui-jqgrid-titlebar {
    height: 40px;
    line-height: 24px;
    color: #FFF;
    background: #307ECC;
    padding: 0;
    font-size: 15px;
}

.ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
    border-right: none;
    border-left: 1px solid #E1E1E1;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    background-color: #EFF3F8;
    border: 1px solid #D3D3D3;
    border-width: 1px 0 0 1px;
    line-height: 15px;
    font-weight: 700;
    color: #777;
    text-shadow: none;
}

.ui-jqgrid .ui-jqgrid-htable thead {
    background-color: #EFF3F8;
}

.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
    height: 45px !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: visible;
}

.ui-jqgrid-hdiv .ui-jqgrid-htable {
    border-top: 1px solid #E1E1E1;
}

.ui-jqgrid-titlebar {
    position: relative;
    top: 1px;
    z-index: 1;
}

.ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr, .ui-jqgrid tr.ui-row-rtl {
    border: none;
    height: auto;
    overflow: hidden;
    padding-right: 4px;
    padding-top: 2px;
    position: relative;
    vertical-align: text-top;
    white-space: normal !important;
}

    .ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
        border-bottom: 1px solid #E1E1E1;
        padding: 6px 4px;
        border-color: #E1E1E1 !important;
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
    border-right-color: #C7D3A9;
}

.ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
    border-left-color: #C7D3A9;
}

.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
    background-image: none;
    background-color: #F9F9F9;
    opacity: 1;
}

.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
    background-image: none;
    background-color: #EFF4F7;
    opacity: 1;
}

.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
    background-color: #E4EFC9;
}

.ui-jqgrid .ui-jqgrid-pager {
    line-height: 15px;
    height: 55px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #EFF3F8 !important;
    border-bottom: 1px solid #E1E1E1 !important;
    border-top: 1px solid #E1E1E1 !important;
}

.ui-jqgrid .ui-pg-input {
    font-size: inherit;
    width: 24px;
    height: 20px;
    line-height: 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ui-jqgrid .ui-pg-selbox {
    display: block;
    height: 24px;
    width: 60px;
    margin: 0;
    padding: 1px;
    line-height: normal;
}

.ui-jqgrid .ui-pager-control {
    height: 50px;
    position: relative;
    padding-left: 9px;
    padding-right: 9px;
}

.ui-jqgrid .ui-jqgrid-toppager {
    height: auto !important;
    background-color: #EFF3F8;
    border-bottom: 1px solid #E1E1E1 !important;
}

.ui-pg-table .navtable .ui-corner-all {
    border-radius: 0;
}

.ui-jqgrid .ui-pg-button .ui-separator {
    margin-left: 4px;
    margin-right: 4px;
    border-color: #C9D4DB;
}

.ui-jqgrid .ui-jqgrid-btable {
    border-left: 1px solid #E1E1E1;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    border-top: 1px solid #E1E1E1;
    overflow-x: hidden;
}

.ui-jqgrid .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    width: auto;
    height: auto;
    z-index: 111;
    padding: 6px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    background-color: #FFF;
    border: 2px solid #8EB8D1;
    color: #E2B018;
}

.ui-jqgrid .ui-jqgrid-labels {
    border-bottom: none;
    background: repeat-x #F2F2F2;
    background-image: -webkit-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
    background-image: -o-linear-gradient(top, #F8F8F8 0, #ECECEC 100%);
    background-image: linear-gradient(to bottom, #F8F8F8 0, #ECECEC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
    padding: 0 !important;
    border-left: 1px solid #E1E1E1 !important;
}

    .ui-jqgrid .ui-jqgrid-labels th {
        border-right: 1px solid #E1E1E1 !important;
        text-align: left !important;
    }

.ui-jqgrid-labels th[id*="_cb"]:first-child > div {
    padding-top: 0;
    text-align: center !important;
}

.ui-jqgrid-sortable {
    padding-left: 4px;
    font-size: 13px;
    color: #777;
    font-weight: 700;
}

    .ui-jqgrid-sortable:hover {
        color: #547EA8;
    }

th[aria-selected=true] {
    background-image: -webkit-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
    background-image: -o-linear-gradient(top, #EFF3F8 0, #E3E7ED 100%);
    background-image: linear-gradient(to bottom, #EFF3F8 0, #E3E7ED 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8', endColorstr='#ffe3e7ed', GradientType=0);
}

    th[aria-selected=true] .ui-jqgrid-sortable {
        color: #307ECC;
    }

.ui-jqgrid .ui-icon {
    text-indent: 0;
    color: #307ECC;
    float: none;
    right: 2px;
}

.rtl .ui-jqgrid .ui-icon {
    right: auto;
    left: 2px;
}

.ui-jqgrid .ui-icon.ui-state-disabled {
    color: #BBB;
}

    .ui-jqgrid .ui-icon.ui-state-disabled:hover {
        padding: 0;
    }

.ui-grid-ico-sort:before {
    display: inline;
    font-size: 12px;
}

.ui-icon-asc:before {
    content: "\f0d8"
}

.ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon {
    display: inline-block;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    position: static;
    float: none;
    margin: 0 2px !important;
    color: grey;
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 100%
}

    .ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon:hover {
        color: #699AB5;
        border-color: #699AB5;
    }

    .ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon:before {
        width: 20px;
        text-align: center;
        display: inline-block;
    }

.ui-pg-table > tbody > tr > .ui-pg-button.ui-state-disabled .ui-icon {
    color: #B0B0B0;
    background-color: #F7F7F7;
    border-color: #DDD;
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

.ui-jqgrid-btable input, .ui-jqgrid-btable select, .ui-jqgrid-btable textarea {
    padding: 2px;
    width: auto;
    max-width: 100%;
    margin-bottom: 0;
}

.ui-jqgrid-btable select {
    padding: 1px;
    height: 25px;
    line-height: 25px;
}

.ui-pg-div .ui-icon {
    display: inline-block;
    width: 18px;
    float: none;
    position: static;
    text-align: center;
    opacity: .85;
    -webkit-transition: all .12s;
    -o-transition: all .12s;
    transition: all .12s;
    margin: 0 1px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 17px;
}

    .ui-pg-div .ui-icon:hover {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
        position: static;
        margin: 0 1px;
    }

    .ui-pg-div .ui-icon:before {
        font-family: FontAwesome;
        display: inline;
    }


.ui-jqgrid .ui-pg-button:hover, .ui-jqgrid .ui-state-disabled:hover {
    padding: 0 1px;
    border-style: none !important;
}

.ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover > .ui-pg-div > .ui-icon, .ui-jqgrid .ui-pg-table .ui-pg-button.ui-state-disabled:hover > .ui-separator {
    margin-left: 4px;
    margin-right: 4px;
}

@media only screen and (max-width:767px) {
    .ui-jqgrid .ui-jqgrid-pager {
        height: 90px;
    }

        .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control {
            height: 85px;
            padding-top: 10px !important;
        }

            .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control > .ui-pg-table > tbody > tr > td {
                vertical-align: top;
            }

                .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control > .ui-pg-table > tbody > tr > td#grid-pager_center {
                    width: 0 !important;
                    position: static;
                }

                    .ui-jqgrid .ui-jqgrid-pager > .ui-pager-control > .ui-pg-table > tbody > tr > td#grid-pager_center > .ui-pg-table {
                        margin: 36px auto 0;
                        position: absolute;
                        right: 0;
                        left: 0;
                        text-align: center;
                    }

        .ui-jqgrid .ui-jqgrid-pager .navtable {
            height: auto;
        }
}
/*.xtrasjekken img {
    box-sizing: border-box;
    padding-left: 10px;
    background: url('../Images/xtraschemeActive.png') no-repeat !important;
    background-size: 20px !important;
}*/
/*.dd*/

.menuMain {
    font-size: 20px;
    padding-left: 32px;
    padding-top: 15px;
    display: flex !important;
    padding-bottom: 10px;
}

.mainMenuPopup {
    max-height: 730px;
    overflow-y: auto;
    font-size: 18px;
    border-radius: 4px;
}

.subMenuItem {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87) !important;
    height: 30px !important;
    padding-left: 8px;
}

.dividerHeader {
    padding-bottom: 0.21428571rem;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
    background-repeat: no-repeat;
    font-family: Arial, Verdana, Sans-Serif;
    padding-left: 8px;
    font-weight: bold;
    font-size: 11px;
    color: #4183C4 !important;
    text-decoration: none;
    height: 25px !important;
}
